-
  var ImportantDate = (function () {
    function ImportantDate($actioninfo) {
      var self = this
      $actioninfo = $actioninfo || {}
      self.name       = $actioninfo.name
      self.startTime  = $actioninfo.startTime
      self.url = ''
    }
    ImportantDate.prototype.setURL = function setURL(url0) {
      this.url = url0
      return this
    }
    ImportantDate.prototype.getURL = function getURL() {
      return this.url
    }
    return ImportantDate
  })()
