-
  var Membership = (function () {
    function Membership(name, is_featured) {
      var self = this
      self.name        = name
      self.is_featured = is_featured
    }
    return Membership
  })()
