-
  var Page = (function () {
    //- CONSTRUCTOR
    function Page($pageinfo) {
      var self = this
      self.name = $pageinfo.name
      self.url  = $pageinfo.url
      self.title;
      self.description;
      self.is_hidden;
      self.icon;
    }

    //- SETTER FUNCTIONS
    Page.prototype.setTitle = function setTitle(text) {
      this.title = text
      return this
    }
    Page.prototype.setDescription = function setDescription(text) {
      this.description = text
      return this
    }
    Page.prototype.hide = function hide(bool) {
      if (bool === undefined) bool = true // NOTE param defaults to true
      this.is_hidden = bool
      return this
    }
    Page.prototype.setIcon = function setIcon(key) {
      this.icon = (key) ? icon_data.find(function (item) { return item.content === key }) : null
      return this
    }

    //- GETTER FUNCTIONS
    Page.prototype.getTitle = function getTitle() {
      return this.title
    }
    Page.prototype.getDescription = function getDescription() {
      return this.description
    }
    Page.prototype.isHidden = function isHidden() {
      return this.is_hidden
    }
    Page.prototype.getIcon = function getIcon() {
      return this.icon
    }

    return Page
  })()
