-
  var PassPeriod = (function () {
    function PassPeriod($periodinfo) {
      var self = this
      self.name        = $periodinfo.name
      self.startDate   = $periodinfo.startDate
      self.endDate     = $periodinfo.endDate
    }
    return PassPeriod
  })()
