-
  var Pass = (function () {
    //- CONSTRUCTOR
    function Pass($passinfo) {
      var self = this
      $passinfo = $passinfo || {}
      self.name         = $passinfo.name
      self.description  = $passinfo.description
      self.attend_types = []
    }

    //- SETTER FUNCTIONS
    Pass.prototype.addAttendeeType = function addAttendeeType(attend_type) {
      this.attend_types.push(attend_type)
      return this
    }
    Pass.prototype.removeAttendeeType = function removeAttendeeType(attend_type_name) {
      spliceFromArray(this.attend_types, this.getAttendeeType(attend_type_name))
      return this
    }

    //- GETTER FUNCTIONS
    Pass.prototype.getAttendeeType = function getAttendeeType(attend_type_name) {
      return this.attend_types.find(function (item) { return item.name === attend_type_name })
    }

    //- STATIC MEMBERS
    Pass.AttendeeType = (function () {
      function AttendeeType(name, is_featured) {
        var self = this
        self.name        = name
        self.is_featured = is_featured
      }
      return AttendeeType
    })()

    return Pass
  })()
