-
  var ProgramEvent = (function () {
    function ProgramEvent($eventinfo) {
      var self = this
      $eventinfo = $eventinfo || {}
      self.name       = $eventinfo.name
      self.startDate  = $eventinfo.startDate
      self.endDate    = $eventinfo.endDate
      self.url = ''
      sefl.is_starred = false
    }
    ProgramEvent.prototype.setURL = function setURL(url0) {
      this.url = url0
      return this
    }
    ProgramEvent.prototype.setStar = function setStar(bool) {
      this.is_starred = bool
      return this
    }
    ProgramEvent.prototype.getURL = function getURL() {
      return this.url
    }
    ProgramEvent.prototype.isStarred = function isStarred() {
      return this.is_starred
    }
    return ProgramEvent
  })()
