-
  var Site = (function () {
    //- CONSTRUCTOR
    function Site($siteinfo) {
      var self = this
      $siteinfo = $siteinfo || {}
      self.name     = $siteinfo.name
      self.tagline  = $siteinfo.tagline
      self.keywords = $siteinfo.keywords
      self.image    = $siteinfo.image
      self.pages = {
        top: [
          new Page({
            name: self.name
          , url:  'index.html'
          }).setIcon('')
            .setTitle(self.name)
            .setDescription(self.tagline)
        , new Page({
            name: 'About'
          , url:  'about.html'
          }).setIcon('info_outline')
            .setTitle(function () { return this.name + ' | ' + self.name })
            .setDescription('About ' + self.name + '.')
        , new Page({
            name: 'Sponsor'
          , url:  'sponsor.html'
          }).setIcon('people')
            .setTitle(function () { return this.name + ' | ' + self.name })
            .setDescription('Sponsors of ' + self.name + '.')
        , new Page({
            name: 'Exhibit'
          , url:  'exhibit.html'
          }).setIcon('work')
            .setTitle(function () { return this.name + ' | ' + self.name })
            .setDescription('Exhibitors at ' + self.name + '.')
        , new Page({
            name: 'Contact'
          , url:  'contact.html'
          }).setIcon('email')
            .setTitle(function () { return this.name + ' | ' + self.name })
            .setDescription('Contact us for questions and comments about ' + self.name + '.')
        ]
      , main: []
      }
      self.conference = {}
      self.conference.current = self.conference.prev = self.conference.next = new Conference()
      self.supporter_levels = []
      self.supporters = []
    }

    //- SETTER FUNCTIONS
    Site.prototype.setConference = function setConference(year, conference0) {
      this.conference[year] = conference0
      return this
    }
    Site.prototype.setCurrentConference = function setCurrentConference(year) {
      this.setConference('current', this.getConference(year))
      this.initializeMainPages()
      return this
    }
    Site.prototype.setPrevConference = function setPrevConference(year) {
      this.setConference('prev', this.getConference(year))
      return this
    }
    Site.prototype.setNextConference = function setNextConference(year) {
      this.setConference('next', this.getConference(year))
      return this
    }
    Site.prototype.addSupporterLevel = function addSupporterLevel(supporter_level) {
      this.supporter_levels.push(supporter_level)
      return this
    }
    Site.prototype.removeSupporterLevel = function removeSupporterLevel(supporter_level_name) {
      spliceFromArray(this.supporter_levels, this.getSupporterLevel(supporter_level_name))
      return this
    }
    Site.prototype.addSupporter = function addSupporter(supporter) {
      this.supporters.push(supporter)
      return this
    }
    Site.prototype.removeSupporter = function removeSupporter(supporter_name) {
      spliceFromArray(this.supporters, this.getSupporter(supporter_name))
      return this
    }

    //- GETTER FUNCTIONS
    Site.prototype.getPage = function getPage(url0) {
      return this.pages.top.find(function (item) { return item.url === url0 })
        || this.pages.main.find(function (item) { return item.url === url0 })
        || this.pages.top.find(function (item) {
          return item.getSubpage(url0)
        }).getSubpage(url0)
        || this.pages.main.find(function (item) {
          return item.getSubpage(url0)
        }).getSubpage(url0)
    }
    Site.prototype.getConference = function getConference(year) {
      return this.conference[year]
    }
    Site.prototype.getCurrentConference = function getCurrentConference() {
      return this.conference.current
    }
    Site.prototype.getPrevConference = function getPrevConference() {
      return this.conference.prev
    }
    Site.prototype.getNextConference = function getNextConference() {
      return this.conference.next
    }
    Site.prototype.getSupporterLevel = function getSupporterLevel(supporter_level_name) {
      return this.supporter_levels.find(function (item) { return item.name === supporter_level_name })
    }
    Site.prototype.getSupporter = function getSupporter(supporter_name) {
      return this.supporters.find(function (item) { return item.name === supporter_name })
    }

    //- MORE PROTO FUNCTIONS
    Site.prototype.initializeMainPages = function initializeMainPages() {
      var self = this
      self.pages.main = [
        new Page({
          name: 'Home'
        , url:  'home.html'
        }).setIcon('home')
          .setTitle(self.getCurrentConference().name)
          .setDescription(self.getCurrentConference().theme)
      , new Page({
          name: 'Registration'
        , url:  'registration.html'
        }).setIcon('shopping_cart')
          .setTitle(function () { return this.name + ' | ' + self.getCurrentConference().name })
          .setDescription('Register for ' + self.getCurrentConference().name + ' here.')
      , new Page({
          name: 'Program'
        , url:  'program.html'
        }).setIcon('event')
          .setTitle(function () { return this.name + ' | ' + self.getCurrentConference().name })
          .setDescription('Program and agenda of ' + self.getCurrentConference().name + '.')
      , new Page({
          name: 'Hotel & Travel'
        , url:  'location.html'
        }).setIcon('flight')
          .setTitle(function () { return this.name + ' | ' + self.getCurrentConference().name })
          .setDescription('Location and where to stay for ' + self.getCurrentConference().name + '.')
      , new Page({
          name: 'Speakers'
        , url:  'speakers.html'
        }).setIcon('account_box')
          .setTitle(function () { return this.name + ' | ' + self.getCurrentConference().name })
          .setDescription('Current and prospective speakers at ' + self.getCurrentConference().name + '.')
      ]
      return this
    }

    //- STATIC FIELDS
    Site.MENU_CLASS = {
      standard: {
        listclasses: 'o-ListBare o-GridFlex c-MenuStandard'
      , itemclasses: 'o-GridFlex__Item c-MenuStandard__Item'
      , linkclasses: 'o-Block c-MenuStandard__Link'
      , sub: {
          listclasses: 'o-ListBare c-MenuSub'
        , itemclasses: 'c-MenuSub__Item'
        , linkclasses: 'o-Block c-MenuSub__Link'
        }
      }
    , sitemap: {
        listclasses: 'o-ListBare o-GridFlex c-Sitemap'
      , itemclasses: 'o-GridFlex__Item c-Sitemap__Item'
      , sub: {
          listclasses: 'o-ListBare c-Sitemap__SubList'
        , itemclasses: 'c-Sitemap__SubItem'
        }
      }
    }

    return Site
  })()
