/*################################*\
    conf  |  default  |  site.less
\*################################*/
.c-Banner--hero {
  background-image: url('../img/cable-car.jpg');
}
.c-Banner--location {
  background-image: url('../img/portland.jpg');
}
.c-Banner--prev::before {
  background-image: url('../img/new-york-city.jpg');
}
.c-Banner--next::before {
  background-image: url('http://2017.asceconvention.org/sites/2017.asceconvention.org/files/theme/images/convention-2017-hero.jpg');
}
.c-Banner--loc::before {
  background-image: url('../img/portland.jpg');
}
._text-plain,
._text-inline,
._text-block,
._text-section {
  outline-style: solid;
}
._text-plain::before,
._text-inline::before,
._text-block::before,
._text-section::before {
  font-weight: 900;
  text-transform: uppercase;
}
._text-plain,
._text-inline {
  outline-width: 2px;
}
._text-block,
._text-section {
  outline-width: 8px;
  border-width: 0 8px;
}
._text-block::before,
._text-section::before {
  display: block;
  margin-bottom: var(--vru);
}
._text-plain {
  outline-color: #28a4c9;
}
._text-plain::before {
  content: 'plain text:\ ';
  color: #28a4c9;
}
._text-inline {
  outline-color: #3e8f3e;
}
._text-inline::before {
  content: 'inline text:\ ';
  color: #3e8f3e;
}
._text-block {
  outline-color: #e38d13;
  border-color: #e38d13;
}
._text-block::before {
  content: 'block text';
  color: #e38d13;
}
._text-section {
  outline-color: #b92c28;
  border-color: #b92c28;
}
._text-section::before {
  content: 'section text';
  color: #b92c28;
}
