mixin dateBlock(all_dates)
  dl.c-DateBlock
    each action in all_dates
      unless action.isHidden()
        dt.c-DateBlock__Date
          time(datetime=action.startTime)
            - var date = Util.toDate(action.startTime)
            = Util.monthDay(date) + ', ' + date.getFullYear()
        dd.c-DateBlock__Desc
          if action.getURL()
            +linkWithIcon({
              classes   : 'c-DateBlock__Link o-Block'
            , href      : action.getURL()
            , link_text : action.name
            , icons     : true
            , icon_text : 'arrow_forward'
            })
          else
            = action.name
