mixin menuUniversal(array1, array2, current_text)
  ul.o-ListBare.o-GridFlex.c-MenuUniversal
    mixin univItem(page0, is_current, text)
      li.o-GridFlex__Item.c-MenuUniversal__Item
        a.c-MenuUniversal__Link.h-Block(class=((is_current) ? 'c-MenuUniversal__Link--current' : '') href=page0.url)
          if page0.icon
            i.material-icons= page0.getIcon()
          span= text
    each page0 in array1
      +univItem(page0, false, page0.name)
    each page0 in array2
      +univItem(page0, true, current_text)
