mixin otherYear(event0, btnclasses)
  div.c-OtherYear(itemscope="" itemtype="http://schema.org/Event")
    h1.c-OtherYear__Name(itemprop="name")= event0.name
    meta(content=event0.startDate itemprop="startDate")
    p.c-OtherYear__Detail(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
      +event-location-name(event0.location)
    p.c-OtherYear__Desc
      block
    +highlightButtons([{text:'Event Details', href:event0.url, attr:{itemprop:'url'}}], btnclasses)
