mixin pass(pass0, current_conference)
  - var current_period = current_conference.getCurrentRegistrationPeriod()
  article.c-Pass
    mixin period-details(reg_period, is_body)
      h1.c-Pass__Period__Hn= reg_period.name
      dl
        each item in pass0.getAttendeeTypesAll()
          - var price = 0;
          dt.c-Pass__Attendee= item.name
          dd.c-Pass__Price(class=(is_body && item.is_featured) ? 'c-Pass__Price--featured' : '')
            = price.toLocaleString('en', {style:'currency', currency:'USD'})
    header.c-Pass__Head
      h1.c-Pass__Hn= pass0.name
      p.c-Pass__Desc
        = pass0.description
        small.o-Block.c-Pass__Fine
    div.c-Pass__Body
      section.c-Pass__Period
        +period-details(current_period, true)
    footer.o-GridFlex.c-Pass__Foot
      each item in current_conference.getRegistrationPeriodsAll()
        unless item === current_period
          section.o-GridFlex__Item.-w-1o2.c-Pass__Period
            +period-details(item, false)
