mixin sponsorBlock(sponsorlevel, sponsor_list, classes)
  section.c-SponsorBlock(class=classes)
    h1.c-SponsorBlock__Hn= sponsorlevel.name
    ul.o-ListBare.o-GridFlex.o-ListStacked
      each item in sponsor_list
        li.o-GridFlex__Item.o-ListStacked__Item
          a.o-Block.c-SponsorBlock__Logo(class=sponsorlevel.getClassname() href=item.url style='background-image: url(\'' + (item.img || '') + '\');')= item.name
