mixin sponsorCarousel(all_supporters)
  ol.o-ListBare.c-SponsorCarousel
    each item in all_supporters
      li.c-SponsorCarousel__Item
        a.o-Block.c-SponsorCarousel__Logo(href=item.getURL() style='background-image: url(\'' + item.getImg() + '\');')= item.name
        small.c-SponsorCarousel__Label= item.getLevel().name
