mixin speaker()
  article.c-Speaker
    div.c-Speaker__Img(style="background-image:url('img/headshot1.jpg');")
      header.c-Speaker__Head
        h1.c-Speaker__Name Donna Fulman, P.ASCE
        p.c-Speaker__JobTitle Interior Engineering Administration
    div.c-Speaker__Body
      div.c-Speaker__Bio.minimal-text
        p Tobias van Schneider is an award-winning, German designer raised in Austria and currently living in New York City.
        p Former Lead Product Designer and Art Director at Spotify, he recently founded Semplice and at the same time serves on the AIGA Board of Directors in New York.
      footer: ul.o-List
        li.o-List__Item.h-Inline: a.c-Speaker__Link(href="#0") Email
        li.o-List__Item.h-Inline: a.c-Speaker__Link(href="#0") LinkedIn
        li.o-List__Item.h-Inline: a.c-Speaker__Link(href="#0") Twitter
