mixin sponsorLogo(sponsor, classes)
  a.c-SponsorLogo(class=classes href=sponsor.getURL() style='background-image: url(\'' + sponsor.getImg() || '' + '\');' itemprop="url")
    span(itemprop="name")= sponsor.name
