mixin speaker(person)
  article.c-Speaker(itemprop="performer" itemscope="" itemtype="http://schema.org/Person")
    div.c-Speaker__Img(style='background-image:url(\'' + (person.img || '') + '\');')
      header.c-Speaker__Head
        h1.c-Speaker__Name: +personEntireName(person)
        p.c-Speaker__JobTitle(itemprop="jobTitle")= person.getJobTitle()
    div.c-Speaker__Body
      div.c-Speaker__Bio(itemprop="description")!= person.getBio(true)
      footer
        ul.o-List
          if person.getEmail()
            li.o-List__Item: a.c-Speaker__Link(href='mailto:'+person.getEmail() title="send email" itemprop="email")= person.getEmail()
          if person.getTel()
            li.o-List__Item: a.c-Speaker__Link(href='tel:'+Util.toURL(person.getTel()) title="call" itemprop="telephone")= person.getTel()
        ul.o-List
          if person.getURL()
            li.o-List__Item.h-Inline: a.c-Speaker__Link(href=person.getURL() title="homepage" itemprop="url") Homepage
          each val,key in person.getSocial()
            li.o-List__Item.h-Inline
              a.c-Speaker__Link(href=val.url title=(val.text || Util.SOCIAL_DATA[key].name) itemprop="sameAs")
                = Util.SOCIAL_DATA[key].name
