mixin sponsorCarousel(sponsor_list)
  ol.o-List.c-SponsorCarousel
    each item in sponsor_list
      li.o-List__Item.c-SponsorCarousel__Item(itemprop="sponsor" itemscope="" itemtype="http://schema.org/Organization")
        include _c-SponsorLogo.jade
        +sponsorLogo(item, 'c-SponsorCarousel__Logo', {itemprop: 'url'}, {itemprop: 'name'})
        small.c-SponsorCarousel__Label= item.getLevel().name
