mixin timeBlock(events, show_all)
  dl.o-GridFlex.c-TimeBlock
    each event0 in events
      if show_all || event0.isStarred()
        dt.o-GridFlex__Item.c-TimeBlock__Times
          time(datetime=event0.startDate)= Util.hourTime12(Util.toDate(event0.startDate))
          | &ndash;
          time(datetime=event0.endDate)= Util.hourTime12(Util.toDate(event0.endDate))
        dd.o-GridFlex__Item.c-TimeBlock__Desc
          if event0.getURL()
            a.o-Block.c-TimeBlock__Link(href=event0.getURL())
              span= event0.name
              i.material-icons arrow_forward
          else
            = event0.name
