mixin timeBlock(events, show_all)
  dl.o-GridFlex.c-TimeBlock
    each event0 in events
      if show_all || event0.is_starred
        dt.o-GridFlex__Item.c-TimeBlock__Times
          time(datetime=event0.startDate)= hourTime12(new Date(event0.startDate))
          | &ndash;
          time(datetime=event0.endDate)= hourTime12(new Date(event0.endDate))
        dd.o-GridFlex__Item.c-TimeBlock__Desc
          if event0.href || event0.href === ''
            a.o-Block.c-TimeBlock__Link(href=event0.href)
              = event0.name
              i.material-icons arrow_forward
          else
            = event0.name
