mixin timeBlock(events, show_all)
  dl.o-Grid.c-TimeBlock
    each event0 in events
      if show_all || event0.isStarred()
        dt.o-Grid__Item.c-TimeBlock__Times
          -
            var start = Util.toDate(event0.startDate)
              , end   = Util.toDate(event0.endDate)
          time(datetime=event0.startDate)= Util.hourTime12(start)
          | &ndash;
          time(datetime=event0.endDate)= Util.hourTime12(end)
        dd.o-Grid__Item.c-TimeBlock__Desc
          if event0.getURL()
            +linkWithIcon({
              classes : 'c-TimeBlock__Link h-Block'
            , url     : event0.getURL()
            , text    : event0.name
            }, {
              is_on : true
            , text  : 'arrow_forward'
            })
          else
            = event0.name
