mixin timeBlock(events, show_all)
  dl.o-GridFlex.c-TimeBlock
    each event0 in events
      if show_all || event0.isStarred()
        dt.o-GridFlex__Item.c-TimeBlock__Times
          -
            var start = Util.toDate(event0.startDate)
              , end   = Util.toDate(event0.endDate)
          time(datetime=event0.startDate)= Util.hourTime12(start)
          | &ndash;
          time(datetime=event0.endDate)= Util.hourTime12(end)
        dd.o-GridFlex__Item.c-TimeBlock__Desc
          if event0.getURL()
            +linkWithIcon({
              classes   : 'c-TimeBlock__Link o-Block'
            , href      : event0.getURL()
            , link_text : event0.name
            , icons     : true
            , icon_text : 'arrow_forward'
            })
          else
            = event0.name
