p.
  The Program Heading is a date that serves as the heading of a
  #[+internalLink(ConfDocs.DOCS.find('comp.html#time-block'))].
  It is of the format #[code.docs-code Ddddddd, Mmm DD].
  The first one is normal, the second one is &ldquo;selected&rdquo;.
figure.docs-figure
  include /_views/_c-Program.view.pug
  p: +programHeading(new Date('2017-10-08'))
  p: +programHeading(new Date('2017-10-08')).c-ProgramHn--selected
  pre.docs-pre.
    &lt;p&gt;
      &lt;time class="#[u c-ProgramHn]" datetime="2017-10-08"&gt;
        Sunday,&lt;br/&gt;
        Oct 8
      &lt;/time&gt;
    &lt;/p&gt;
    &lt;p&gt;
      &lt;time class="#[u c-ProgramHn]  #[u c-ProgramHn--selected]" datetime="2017-10-08"&gt;
        Sunday,&lt;br/&gt;
        Oct 8
      &lt;/time&gt;
    &lt;/p&gt;
p.
  Program Headings inside a #[+internalLink(ConfDocs.DOCS.find('comp.html#banner-component'))]
  have different colors.
figure.docs-figure
  include /_views/_c-Program.view.pug
  div.c-Banner.-mb-1vru
    p: +programHeading(new Date('2017-10-08'))
    p: +programHeading(new Date('2017-10-08')).c-ProgramHn--selected
  pre.docs-pre.
    &lt;div class="c-Banner"&gt;
      &lt;p&gt;
        &lt;time class="#[u c-ProgramHn]" datetime="2017-10-08"&gt;
          Sunday,&lt;br/&gt;
          Oct 8
        &lt;/time&gt;
      &lt;/p&gt;
      &lt;p&gt;
        &lt;time class="#[u c-ProgramHn]  #[u c-ProgramHn--selected]" datetime="2017-10-08"&gt;
          Sunday,&lt;br/&gt;
          Oct 8
        &lt;/time&gt;
      &lt;/p&gt;
    &lt;/div&gt;
