p.
  The Program Heading is a date that serves as the heading of a
  #[+internalLink(ConfDocs.DOCS.find('comp.html#time-block'))].
  It is of the format #[code.docs-code Ddddddd, Mmm DD].
figure.docs-figure
  include /_views/_c-Program.view.pug
  +program(3)#demoprog
  pre.docs-pre.
    &lt;article class="#[u c-Program]"&gt;
      &lt;h1 class="#[u c-Program__Hn]"&gt;heading 0&lt;/h1&gt;
    &lt;/article&gt;
p.
  Program Components inside a #[+internalLink(ConfDocs.DOCS.find('comp.html#banner-component'))]
  have different-colored headings.
figure.docs-figure
  include /_views/_c-Program.view.pug
  div.c-Banner.-z-1.-mb-1vru: +program(3)
  pre.docs-pre.
    &lt;div class="c-Banner&gt;
      &lt;article class="#[u c-Program]"&gt;
        &lt;h1 class="#[u c-Program__Hn]"&gt;heading 0&lt;/h1&gt;
      &lt;/article&gt;
    &lt;/div&gt;
