figure.docs-figure
  div.c-Hero
    h1.c-PageTitle.c-Hero__Name Geo-Risk 2017
    p.c-Hero__Detail
      span.c-Hero__Place.h-Clearfix-nsM Denver, CO
      span.c-Hero__Dates Jun 4&ndash;Jun 7
    p.c-Hero__Blurb.c-Hero__Theme Geotechincal risk from theory to practice.
  pre.docs-pre.
    &lt;div class="#[u c-Hero]"&gt;
      &lt;h1 class="c-PageTitle #[u c-Hero__Name]"&gt;Geo-Risk 2017&lt;/h1&gt;
      &lt;p class="#[u c-Hero__Detail]"&gt;
        &lt;span class="#[u c-Hero__Place]  h-Clearfix-nsM"&gt;Denver, CO&lt;/span&gt;
        &lt;span class="#[u c-Hero__Dates]"&gt;Jun 4&ndash;Jun 7&lt;/span&gt;
      &lt;/p&gt;
      &lt;p class="#[u c-Hero__Blurb]  #[u c-Hero__Theme]"&gt;Geotechincal risk ...&lt;/p&gt;
    &lt;/div&gt;
