p Enable Javascript to experience visual effects.
p.
  Each Program Component must have a unique id for the carousel effect to work properly.
figure.docs-figure
  include /_views/c-Program.view.jade
  +program(3, {id:'demoprog'})
  pre.docs-pre.
    &lt;article class="o-Grid  #[u c-Program]" #[mark id="demoprog"]&gt;
      &lt;h1 class="o-Grid__Item  #[u c-Program__Hn]"&gt;
        &lt;label&gt;
          &lt;input class="#[u c-Program__Check]" type="radio" name="program-demoprog" value="0" checked=""/&gt;
          heading 0
        &lt;/label&gt;
      &lt;/h1&gt;
      &lt;div class="o-Grid__Item  #[u c-Program__Schedule]"&gt;content 0&lt;/div&gt;

      &lt;h1 class="o-Grid__Item  #[u c-Program__Hn]"&gt;... heading 1 ...&lt;/h1&gt;
      &lt;div class="o-Grid__Item  #[u c-Program__Schedule]"&gt;content 1&lt;/div&gt;
      ...
    &lt;/article&gt;
p Program Components inside a #[a(href="#banner-component") Banner] have different-colored headings.
figure.docs-figure
  include /_views/c-Program.view.jade
  div.c-Banner.-z-1.-mb-1vru: +program(3, {id:'demoprog-banner'})
  pre.docs-pre.
    &lt;div class="c-Banner&gt;
      &lt;article class="o-Grid  #[u c-Program]" #[mark id="demoprog-banner"]&gt;...&lt;/article&gt;
    &lt;/div&gt;
p.
  Since the Program Component will be used to display program event information,
  the headings will be dates. Each heading should have the following structure
  and include similar data.
  Elements with class #[code.docs-code .js-*] are required for Javascript.
figure.sg-c-Fig
  h1.c-Program__Hn: label
    include /_views/c-Program.view.jade
    +programHeading('2016-09-28')
  pre.docs-pre.
    &lt;h1 class="#[u c-Program__Hn]"&gt;
      &lt;label&gt;
        &lt;input class="#[u c-Program__Check]" .../&gt;
        &lt;time datetime="2016-09-28"&gt;
          &lt;span class="#[u js-h-Block-sK]"&gt;Wednesday, &lt;/span&gt;
          &lt;span class="#[u js-h-Block-sK]"&gt;Sep 28&lt;/span&gt;
        &lt;/time&gt;
      &lt;/label&gt;
    &lt;/h1&gt;
