
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    conf
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    docs.less
\*================================*/
@import (reference) url('../../node_modules/xmeter/src/__settings.less');
@import (reference) url('../../node_modules/xmeter/src/__fallback.flexbox.less');
@import (reference) url('../../node_modules/xmeter/src/__fallback.transition.less');
@import (reference) url('../../node_modules/xmeter/src/__tool.borders.less');


// This stylesheet is used on all styleguide documentation files.
// NOTE that this style sheet does NOT use any variables, settings, tools, or styles
// of any kind from the Conf stylesheet (conf.less and its partials).
// This is a stand-alone stylesheet.


// HACK copied from conf
@p-color_asce_blue: #0c5fa8;
@p-color_asce_black: #222;
@p-color_asce_white: #fff;
.docs-main {
  margin: 0 1rem @g-vru;
}
.docs-pre,
.docs-code {
  color: #000;
}
.docs-pre {
  padding: (@g-vru*0.50) 1.00rem;
  .border-vert(all; 1px);
  border-color: @p-color_asce_blue;
  border-radius: 4px;
  background-color: lighten(desaturate(@p-color_asce_blue, 25%), 50%);
  small {
    font-size: inherit;
    color: #666;
  }
  u {
    color: #050;
  }
  mark {
    background: none;
    color: #c06;
  }
}
.docs-code {
  padding: 1px 2px;
  border-radius: 3px;
  background-color: desaturate(lighten(@p-color_asce_blue, 40%), 25%);
}
.docs-figure {
  position: relative; // for containing other relative things
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5em;
  .border-vert(all; 1px);
  border-color: #e5eaef;
  border-radius: 8px;
  background-color: #f8fcff;
}


.docs-o-ColorList {
}
.docs-o-ColorList__Item {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding: 0 0.5rem;
}


// A container with togglable content.
// Togglable content may be shown/hidden on command.
.docs-c-Togglable {}
  .docs-c-Togglable__Check {
    margin: 0.25rem;
  }
  .docs-c-Togglable__Text {
    display: inline-block;
    .transition(text-indent 500ms);
  }
  .docs-c-Togglable__Check:not(:checked) ~ * .docs-c-Togglable__Text {
    text-indent: -200%;
  }


.docs-c-ColorBox {
  width: 100%;
  height: 12vw;
  box-shadow: 0 2px 0.5rem 0 fadeout(#222, 50%); // #222 is `currentColor`
}


.docs-t-Xmeter {
  padding: (0.25*@g-vru) 0.5rem;
  background: fadeout(#000, 90%);
}


.docs-_fragid {
  display: inline;
  line-height: 0;
  margin-left: 1rem;
  font-weight: 100;
  &::before {
    content: '\00a7';
  }
}
h1, h2, h3, h4, h5, h6 {
  &:not(:hover) > .docs-_fragid {
    visibility: hidden;
  }
}


//--------------------------------//
//    # Fill
//--------------------------------//
.-f-asce_black { fill: @p-color_asce_black; }
.-f-asce_white { fill: @p-color_asce_white; }
.-f-asce_blue  { fill: @p-color_asce_blue ; }

.-f-primary   { fill: var(--color-primary); }
.-f-secondary { fill: var(--color-secondary); }
.-f-gray_dk   { fill: var(--color-gray_dk); }
.-f-gray_lt   { fill: var(--color-gray_lt); }

.-f-primary-shade1 { fill: var(--color-primary-shade1); }
.-f-primary-shade2 { fill: var(--color-primary-shade2); }
.-f-primary-tint1  { fill: var(--color-primary-tint1); }
.-f-primary-tint2  { fill: var(--color-primary-tint2); }

.-f-secondary-shade1 { fill: var(--color-secondary-shade1); }
.-f-secondary-shade2 { fill: var(--color-secondary-shade2); }
.-f-secondary-tint1  { fill: var(--color-secondary-tint1); }
.-f-secondary-tint2  { fill: var(--color-secondary-tint2); }

.-f-gray_dk-shade1 { fill: var(--color-gray_dk-shade1); }
.-f-gray_dk-shade2 { fill: var(--color-gray_dk-shade2); }
.-f-gray_dk-tint1  { fill: var(--color-gray_dk-tint1); }
.-f-gray_dk-tint2  { fill: var(--color-gray_dk-tint2); }

.-f-gray_lt-shade1 { fill: var(--color-gray_lt-shade1); }
.-f-gray_lt-shade2 { fill: var(--color-gray_lt-shade2); }
.-f-gray_lt-tint1  { fill: var(--color-gray_lt-tint1); }
.-f-gray_lt-tint2  { fill: var(--color-gray_lt-tint2); }

.-bc-primary-fadeout1 { background-color: var(--color-primary-fadeout1); }
//---- end # Fill ----//
