
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    conf
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    docs.less
\*================================*/
@import (reference) url('../../node_modules/xmeter/src/__settings.less');
@import (reference) url('../../node_modules/xmeter/src/__fallback.flexbox.less');
@import (reference) url('../../node_modules/xmeter/src/__fallback.transition.less');
@import (reference) url('../../node_modules/xmeter/src/__tool.borders.less');


// This stylesheet is used on all styleguide documentation files.
// NOTE that this style sheet does NOT use any variables, settings, tools, or styles
// of any kind from the Conf stylesheet (conf.less and its partials).
// This is a stand-alone stylesheet.


@p-color_asce_primary: #0c5fa8; // copied from conf
.docs-main {
  margin: 0 1rem @g-vru;
}
.docs-pre,
.docs-code {
  color: #000;
}
.docs-pre {
  padding: (@g-vru*0.50) 1.00rem;
  .border-vert(all; 1px);
  border-color: @p-color_asce_primary;
  border-radius: 4px;
  background-color: lighten(desaturate(@p-color_asce_primary, 25%), 50%);
  small {
    font-size: inherit;
    color: #666;
  }
  u {
    color: #050;
  }
  mark {
    background: none;
    color: #c06;
  }
}
.docs-code {
  padding: 1px 2px;
  border-radius: 3px;
  background-color: desaturate(lighten(@p-color_asce_primary, 40%), 25%);
}
.docs-figure {
  position: relative; // for containing other relative things
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5em;
  .border-vert(all; 1px);
  border-color: #e5eaef;
  border-radius: 8px;
  background-color: #f8fcff;
}


.docs-o-ColorList {
  .flex-justify-content(flex-start);
}
.docs-o-ColorList__Item {
  .flex(0);
  margin-right: 1rem;
}


// A container with togglable content.
// Togglable content may be shown/hidden on command.
.docs-c-Togglable {}
  .docs-c-Togglable__Check {
    margin: 0.25rem;
  }
  .docs-c-Togglable__Text {
    display: inline-block;
    .transition(text-indent 500ms);
  }
  .docs-c-Togglable__Check:not(:checked) ~ * .docs-c-Togglable__Text {
    text-indent: -200%;
  }


.docs-c-ColorBox {
  text-align: center;
  box-shadow: 0 2px 0.5rem 0 fadeout(#222, 50%); // #222 is `currentColor`
  p {
    position: relative;
    top: 24px;
  }
}


.docs-_fragid {
  display: inline;
  line-height: 0;
  margin-left: 1rem;
  font-weight: 100;
  &::before {
    content: '\00a7';
  }
}
h1, h2, h3, h4, h5, h6 {
  &:not(:hover) > .docs-_fragid {
    visibility: hidden;
  }
}
