section#date-block
  h2 The Date Block
  figure.docs-figure
    include /includes/components/_c-DateBlock.jade
    +dateBlock([
      new ImportantDate({name:'Optional Final Papers Due'     , startTime:'2015-10-12'})
    , new ImportantDate({name:'Early-Bird Registration Closes', startTime:'2015-12-17'}).setURL('#0')
    ])
    pre.docs-pre.
      &lt;dl class="#[u c-DateBlock]"&gt;
        &lt;dt class="#[u c-DateBlock__Date]"&gt;
          &lt;time datetime="2015-10-12"&gt;Oct 12, 2015&lt;/time&gt;
        &lt;/dt&gt;
        &lt;dd class="#[u c-DateBlock__Desc]"&gt;
          Optional Final Papers Due
        &lt;/dd&gt;
        &lt;dt class="#[u c-DateBlock__Date]"&gt;
          &lt;time datetime="2015-12-17"&gt;Dec 17, 2015&lt;/time&gt;
        &lt;/dt&gt;
        &lt;dd class="#[u c-DateBlock__Desc]"&gt;
          &lt;a class="o-Inline  #[u c-DateBlock__Link]"&gt;
            Early-Bird Registration Closes
            &lt;i class="material-icons"&gt;arrow_forward&lt;/i&gt;
          &lt;/a&gt;
        &lt;/dd&gt;
      &lt;/dl&gt;
