section#hero-block
  h2 The Hero Block
  figure.docs-figure
    -
      var demoevent = {
        name      : 'Geo-Risk 2017'
      , theme     : 'Geotechincal risk from theory to practice.'
      , startDate : '2017-06-04'
      , endDate   : '2017-06-07'
      , url       : 'http://2017.georiskconference.org/'
      , location  : {
          addressLocality     : 'Denver'
        , addressRegion       : 'CO'
        , addressRegion_title : 'Colorado'
        }
      }
    div.c-Hero
      h1.c-PageTitle.c-Hero__Name(itemprop="name") Geo-Risk 2017
      meta(content="http://2017.georiskconference.org/" itemprop="url")
      p.c-Hero__Detail
        span.c-Hero__Place(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
          span(itemprop="name")
            span(itemprop="addressLocality") Denver,#{' '}
            abbr(title="Colorado" itemprop="addressRegion") CO
        span.c-Hero__Dates
          time(datetime="2017-06-04" itemprop="startDate") Jun 4
          | &ndash;
          time(datetime="2017-06-07" itemprop="endDate") Jun 7
      p.c-Hero__Theme(itemprop="description") Geotechincal risk from theory to practice.
    div
      input.docs-btn--md#docs-btn--md-hero(type="checkbox" value="hero-md-true")
      label(for="docs-btn--md-hero") show microdata
      pre.docs-pre.docs-pre--has-md.
        &lt;div class="#[u c-Hero]"#[mark  itemscope="" itemtype="http://schema.org/Event"]&gt;
          &lt;h1 class="c-PageTitle #[u c-Hero__Name]"#[mark  itemprop="name"]&gt;Geo-Risk 2017&lt;/h1&gt;
          #[mark!= '&lt;meta content="http://2017.georiskconference.org/" itemprop="url"/&gt;']
          &lt;p class="#[u c-Hero__Detail]"&gt;
            &lt;span class="#[u c-Hero__Place]"#[mark  itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress"]&gt;
              #[mark &lt;span itemprop="name"&gt;]
                #[mark &lt;span itemprop="addressLocality"&gt;]Denver, #[mark!= '&lt;/span&gt;']
                #[mark &lt;abbr title="Colorado" itemprop="addressRegion"&gt;]CO#[mark!= '&lt;/abbr&gt;']
              #[mark!= '&lt;/span&gt;']
            &lt;/span&gt;
            &lt;span class="#[u c-Hero__Dates]"&gt;
              #[mark &lt;time datetime="2017-06-04" itemprop="startDate"&gt;]Jun 4#[mark!= '&lt;/time&gt;']
              &ndash;
              #[mark &lt;time datetime="2017-06-07" itemprop="endDate"&gt;]Jun 7#[mark!= '&lt;/time&gt;']
            &lt;/span&gt;
          &lt;/p&gt;
          &lt;p class="#[u c-Hero__Theme]"#[mark  itemprop="description"]&gt;Geotechincal risk ...&lt;/p&gt;
        &lt;/div&gt;
