section#masthead-mastfoot
  h2 The Masthead and Mastfoot
  figure.docs-figure
    header.c-Mast
      h1 mast heading
      p mast content
      ul
        li: a(href="#0") mast link
        li: a(href="#0")._hover mast link hover
        li: a(href="#0")._active mast link active
        li: a mast link disabled
    pre.docs-pre.
      &lt;header class="#[u c-Mast]"&gt; ... &lt;/header&gt;
  figure.docs-figure
    footer.c-Mast.c-Mast--internal
      ul
        li: a(href="#0") mast link
        li: a(href="#0")._hover mast link hover
        li: a(href="#0")._active mast link active
        li: a mast link disabled
    pre.docs-pre.
      &lt;footer class="#[u c-Mast]  #[u c-Mast--internal]"&gt; ... &lt;/footer&gt;
  figure.docs-figure
    footer.c-Mast.c-Mast--copyright
      p &copy; 1996&ndash;2016 American Society of Civil Engineers
    pre.docs-pre.
      &lt;footer class="#[u c-Mast]  #[u c-Mast--copyright]"&gt;
        &lt;p&gt;&lt;a&gt;&copy; 1996&ndash;2016 American Society of Civil Engineers&lt;/a&gt;&lt;/p&gt;
      &lt;/footer&gt;
