section#sub-menu
  h2 The Sub Menu
  figure.docs-figure
    div(style="height: 100px;")
      include /includes/components/_c-MenuSub.jade
      +menuSub([
        new Page({ name: 'Why Attend'     , url: '#0' })
      , new Page({ name: 'Short Courses'  , url: '#0' })
      , new Page({ name: 'Technical Tours', url: '#0' })
      ])
    div(style="height: 100px;"): ul.o-List.c-MenuSub
      li.o-List__Item.c-MenuSub__Item: a.c-MenuSub__Link.h-Block(href="#0")._hover menu item hover
      li.o-List__Item.c-MenuSub__Item: a.c-MenuSub__Link.h-Block(href="#0")._active menu item active
      li.o-List__Item.c-MenuSub__Item: a.c-MenuSub__Link.h-Block menu item disabled
    pre.docs-pre.
      &lt;ul class="o-List  o-GridFlex  #[u c-MenuSub]"&gt;
        &lt;li class="o-List__Item  o-GridFlex__Item  #[u c-MenuSub__Item]"&gt;
          &lt;a class="#[u c-MenuSub__Link]  h-Block"&gt;Why Attend&lt;/a&gt;
        &lt;/li&gt;
        ...
      &lt;/ul&gt;
