section#masthead-mastfoot
  h2 The Masthead and Mastfoot
  figure.docs-figure
    header.c-Mast
      h1 mast heading
      p mast content
      ul
        li: a(href="") mast link
        li: a(href="")._hover mast link hover
        li: a(href="")._active mast link active
        li: a mast link disabled
    pre.docs-pre.
      &lt;header class="#[u c-Mast]"&gt;
        &lt;h1&gt;mast heading&lt;/h1&gt;
        &lt;p&gt;mast content&lt;/p&gt;
        &lt;p&gt;&lt;a&gt;mast link&lt;/a&gt;&lt;/p&gt;
      &lt;/header&gt;
  figure.docs-figure
    footer.c-Mast.c-Mast--copyright
      ul
        li: a(href="") mast link
        li: a(href="")._hover mast link hover
        li: a(href="")._active mast link active
        li: a mast link disabled
    pre.docs-pre.
      &lt;footer class="#[u c-Mast]  #[u c-Mast--copyright]"&gt;
        &lt;p&gt;&lt;a&gt;&copy; 1996&ndash;2016 American Society of Civil Engineers&lt;/a&gt;&lt;/p&gt;
      &lt;/footer&gt;
  figure.docs-figure
    footer.c-Mast.c-Mast--internal
      ul
        li: a(href="") mast link
        li: a(href="")._hover mast link hover
        li: a(href="")._active mast link active
        li: a mast link disabled
    pre.docs-pre.
      &lt;footer class="#[u c-Mast]  #[u c-Mast--internal]"&gt;
        &lt;p&gt;&lt;a&gt;&copy; 1996&ndash;2016 American Society of Civil Engineers&lt;/a&gt;&lt;/p&gt;
      &lt;/footer&gt;
