section#universal-menu
  h2 The Universal Menu
  p #[strong Note:] Universal Menu will convert to pull-out drawer when screen is smaller than 720px.
  p Current Year menu item will appear exactly the same as Primary Button, but will not have that class.
  figure.docs-figure
    div(style="margin-bottom: 1.5rem;")
      include /includes/components/_c-MenuUniversal.jade
      +menuUniversal([
        new Page({ name: 'About'  , url: '#0' })
      , new Page({ name: 'Sponsor', url: '#0' })
      , new Page({ name: 'Exhibit', url: '#0' })
      , new Page({ name: 'Contact', url: '#0' })
      ], [
        new Page({ name: 'Home', url: '#0' })
      ], 'Current Year')
    ul.o-ListBare.o-GridFlex.c-MenuUniversal(style="margin-bottom: 1.5rem;")
      li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="#0")._hover menu item hover
      li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="#0")._active menu item active
      li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link menu item disabled
      li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link.c-MenuUniversal__Link--current(href="#0")._hover current year hover
      li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link.c-MenuUniversal__Link--current(href="#0")._active current year active
    pre.docs-pre.
      &lt;ul class="o-ListBare  o-GridFlex  #[u c-MenuUniversal]"&gt;
        &lt;li class="o-GridFlex__Item  #[u c-MenuUniversal__Item]"&gt;
          &lt;a class="o-Block  #[u c-MenuUniversal__Link]"&gt;About&lt;/a&gt;
        &lt;/li&gt;
        ...
        &lt;li class="o-GridFlex__Item  #[u c-MenuUniversal__Item]"&gt;
          &lt;a class="o-Block  #[u c-MenuUniversal__Link]  #[u c-MenuUniversal__Link--current]"&gt;Current Year&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
