section#standard-menu
  h2 The Standard Menu
  figure.docs-figure
    +sitetoc({pages: [
      new Page({ name: 'Home'          , url: '#0' })
    , new Page({ name: 'Registration'  , url: '#0' })
    , new Page({ name: 'Program'       , url: '#0' })
    , new Page({ name: 'Hotel & Travel', url: '#0' })
    , new Page({ name: 'Speakers'      , url: '#0' })
    ], class_obj: Site.MENU_CLASS.standard, depth: 0})
    ul.o-List.o-GridFlex.c-MenuStandard(style="margin-bottom: 1.5rem;")
      li.o-List__Item.o-GridFlex__Item.c-MenuStandard__Item._hover: a.c-MenuStandard__Link.h-Block(href="")._hover menu item hover
      li.o-List__Item.o-GridFlex__Item.c-MenuStandard__Item._hover: a.c-MenuStandard__Link.h-Block(href="")._active menu item active
      li.o-List__Item.o-GridFlex__Item.c-MenuStandard__Item: a.c-MenuStandard__Link.h-Block menu item disabled
    pre.docs-pre.
      &lt;ul class="o-List  o-GridFlex  #[u c-MenuStandard]"&gt;
        &lt;li class="o-List__Item  o-GridFlex__Item  #[u c-MenuStandard__Item]"&gt;
          &lt;a class="#[u c-MenuStandard__Link]  h-Block"&gt;Home&lt;/a&gt;
        &lt;/li&gt;
        ...
      &lt;/ul&gt;
