section#speaker-component
  h2 The Speaker Component
  figure.docs-figure
    div(style="margin-bottom: 1.5rem;")
      include /includes/components/_c-Speaker.jade
      +speaker(new Person({
        id  : 'donna-fulman'
      , name: {
          givenName      : 'Donna'
        , familyName     : 'Fulman'
        , honorificSuffix: 'P.ASCE'
        }
      }).setJobTitle('Interior Engineering Administration')
        .setImg('/img/Blue-Geometric-Background-3.jpg')
        .setEmail('example@asce.org')
        .setTel('+1 703-555-5555')
        .setURL('#0')
        .setSocial({
          linkedin: { url: 'https://www.linkedin.com/groups/143956/profile' }
        , twitter : { url: 'https://twitter.com/ASCETweets', text: '@ASCETweets' }
        }))
    pre.docs-pre.
      &lt;article class="#[u c-Speaker]"&gt;
        &lt;div class="#[u c-Speaker__Img]" #[u style="background-image: url('headshot.jpg');"]&gt;
          &lt;header class="#[u c-Speaker__Head]"&gt;
            &lt;h1 class="#[u c-Speaker__Name]"&gt;Donna Fulman, P.ASCE&lt;/h1&gt;
            &lt;p class="#[u c-Speaker__JobTitle]"&gt;Interior Engineering Administration&lt;/p&gt;
          &lt;/header&gt;
        &lt;/div&gt;
        &lt;div class="#[u c-Speaker__Body]"&gt;
          &lt;div class="#[u c-Speaker__Bio]"&gt;
            &lt;p&gt;Donna Fulman is ...&lt;/p&gt;
            &lt;p&gt;Former Lead Product Designer ...&lt;/p&gt;
          &lt;/div&gt;
          &lt;ul class="o-List"&gt;
            &lt;li class="o-List__Item"&gt;&lt;a class="#[u c-Speaker__Link]"&gt;example@asce.org&lt;/a&gt;&lt;/li&gt;
            ...
          &lt;/ul&gt;
          &lt;ul class="o-List"&gt;
            &lt;li class="o-List__Item  h-Inline"&gt;&lt;a class="#[u c-Speaker__Link]"&gt;LinkedIn&lt;/a&gt;&lt;/li&gt;
            &lt;li class="o-List__Item  h-Inline"&gt;&lt;a class="#[u c-Speaker__Link]"&gt;Twitter&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/article&gt;
