section#time-block
  h2 The Time Block
  figure.docs-figure
    include /includes/components/_c-TimeBlock.jade
    +timeBlock([
      new ProgramEvent({startDate:'2016-09-28 10:00', endDate:'2016-09-28 19:00', name:'Registration'             })
    , new ProgramEvent({startDate:'2016-09-28 10:30', endDate:'2016-09-28 16:30', name:'Technical Tours'          }).setURL('#0')
    , new ProgramEvent({startDate:'2016-09-28 13:00', endDate:'2016-09-28 17:00', name:'Short Courses'            }).setURL('#0')
    , new ProgramEvent({startDate:'2016-09-28 12:00', endDate:'2016-09-28 17:00', name:'Optional Tours'           }).setURL('#0')
    , new ProgramEvent({startDate:'2016-09-28 17:30', endDate:'2016-09-28 19:30', name:'Opening Welcome Reception'})
    , new ProgramEvent({startDate:'2016-09-28 13:00', endDate:'2016-09-28 17:00', name:'Community Service Project'})
    ], true)
    pre.docs-pre.
      &lt;dl class="o-GridFlex  #[u c-TimeBlock]"&gt;
        &lt;dt class="o-GridFlex__Item  #[u c-TimeBlock__Times]"&gt;
          &lt;time&gt;10am&lt;/time&gt;&ndash;&lt;time&gt;7pm&lt;/time&gt;
        &lt;/dt&gt;
        &lt;dd class="o-GridFlex__Item  #[u c-TimeBlock__Desc]"&gt;
          Registration
        &lt;/dd&gt;
        &lt;dt class="o-GridFlex__Item  #[u c-TimeBlock__Times]"&gt;
          &lt;time&gt;10:30am&lt;/time&gt;&ndash;&lt;time&gt;4:30pm&lt;/time&gt;
        &lt;/dt&gt;
        &lt;dd class="o-GridFlex__Item  #[u c-TimeBlock__Desc]"&gt;
          &lt;a class="#[u c-TimeBlock__Link]  h-Block"&gt;
            &lt;i class="material-icons"&gt;arrow_forward&lt;/i&gt;
            &lt;span&gt;Technical Tours&lt;/span&gt;
          &lt;/a&gt;
        &lt;/dd&gt;
        &lt;dt class="o-GridFlex__Item  #[u c-TimeBlock__Times]"&gt;...&lt;/dt&gt;
        &lt;dd class="o-GridFlex__Item  #[u c-TimeBlock__Desc]"&gt;...&lt;/dd&gt;
        ...
      &lt;/dl&gt;
