section#runner-object
  h2 The Runner Object
  p.
    The Runner Object is a large, full-width section with padding on all four sides.
    It can be used for headers, footers, heros, highlight blocks, etc.,
    really, anything that looks like a “row” of a page.
    Change the window size and watch what happens to the padding.
  figure.docs-figure
    div.o-Runner
      h1 runner heading
      p runner content
    pre.docs-pre.
      &lt;div class="#[u o-Runner]"&gt;
        &lt;h1&gt;runner heading&lt;/h1&gt;
        &lt;p&gt;runner content&lt;/p&gt;
      &lt;/div&gt;
  p Subclasses of the Runner Object simply vary the padding.
  p.
    Use #[code.docs-code .o-Runner--pageHeader] for headers of pages,
    whether they be generic pages or special pages with hero banner headers.
  figure.docs-figure
    div.o-Runner.o-Runner--pageHeader
      h1.o-Runner--pageHeader__Hn page heading
    pre.docs-pre.
      &lt;div class="#[u o-Runner]  #[u o-Runner--pageHeader]"&gt;
        &lt;h1&gt;page heading&lt;/h1&gt;
      &lt;/div&gt;
  p Use #[code.docs-code .o-Runner--highlight] for highlighted content callouts.
  figure.docs-figure
    div.o-Runner.o-Runner--highlight
      h1 highlight block heading
      p highlight content
    pre.docs-pre.
      &lt;div class="#[u o-Runner]  #[u o-Runner--highlight]"&gt;
        &lt;h1&gt;highlight block heading&lt;/h1&gt;
        &lt;p&gt;highlight content&lt;/p&gt;
      &lt;/div&gt;
  p.
    Use #[code.docs-code .o-Runner--wrappedInner] if you want to override the normal behavior and
    remove all padding on x-small screens. This will make the inner #[code.docs-code :only-child]
    cover the entire Runner.
    Combine with other subclasses if necessary.
  figure.docs-figure
    aside.o-Runner.o-Runner--wrappedInner
      div
        h1 runner with inner wrapper
        p runner content
    pre.docs-pre.
      &lt;div class="#[u o-Runner]  #[u o-Runner--wrappedInner]"&gt;
        #[u &lt;div&gt;]
          &lt;h1&gt;Wrapper&lt;/h1&gt;
          &lt;p&gt;runner content&lt;/p&gt;
        #[u!= '&lt;/div&gt;']
      &lt;/div&gt;
