
//- ///////////////////////////////////////////////////////////////////////////////
//- //
//- // This file holds functions & mixins for the styleguide pattern library.
//- //
//- ///////////////////////////////////////////////////////////////////////////////


-
  function title(arr) {
    return arr.reduceRight(function (a, b) { return a + ' | ' + b })
  }
  function mainH1(arr) {
    return arr.reduce(function (a, b) { return a + ' — ' + b })
  }

mixin libtoc(args)
  - var pages     = args.pages     || []
  - var class_obj = args.class_obj || {}
  - var depth     = +args.depth    || 0
  ol(class=class_obj.listclasses)
    each item in pages
      li(class=class_obj.itemclasses)
        a(class=class_obj.linkclasses href=item.href)= item.name
        if item.sub && depth > 0
          +libtoc({pages: item.sub, class_obj: (class_obj.sub || {}), depth: depth-1})
