section#site-head
  h2 The Site Head
  p.
    Simply a modification for the #[a(href="#flex-grid") Flex Grid Object].
    For now, it is used only inside the site-wide mast head.
    It contains the
    #[a(href="comp.html#site-title") Site Title] and the
    #[a(href="comp.html#universal-menu") Universal Menu] components.
    Some time in the future, this Object may be used for other purposes,
    at which point we must
    reconsider its name.
  figure.docs-figure
    div.o-GridFlex.o-SiteHead
      div.o-SiteHead__Item site title
      div.o-SiteHead__Item universal menu
    pre.docs-pre.
      &lt;div class="o-GridFlex  #[u o-SiteHead]"&gt;
        &lt;div class="#[u o-SiteHead__Item]"&gt;site title&lt;/div&gt;
        &lt;div class="#[u o-SiteHead__Item]"&gt;universal menu&lt;/div&gt;
      &lt;/div&gt;
