extends index.tpl.jade

block vars
  - var authors = ['Chris Harvey', 'Dae Clarke']
  - var description = 'Style guide for all ASCE conference sites.'
  - var keywords = ['style guide','ASCE','conference','convention','congress']

block append main
  p.
    #[strong This is the master styleguide for all conference websites.]
    Here you will find standards for coding, writing, and visual design.
    In addition, this styleguide contains a pattern library for commonly used
    components on conference sites, as well as a sample conference site itself.
