doctype html
html(lang="en")
  - function title(arr) { return arr.reduceRight(function (a, b) { return a + ' | ' + b }) }
  - function mainH1(arr) { return arr.reduce(function (a, b) { return a + ' — ' + b }) }
  head
    - var titles = ['ASCE Conferences Styleguide']
    block vars
    title= title(titles)
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block meta
    block styles
      link(rel="stylesheet" href="bower_components/xmeter/xmeter.min.css")
      link(rel="stylesheet" href="bower_components/bangs/bangs.min.css")
  body
    main
      block main
        header
          block main__header
            h1= mainH1(titles)
    footer
      block footer
        nav
          h1 Sitemap
          ol
            li: a(href="index.html") Home
            li: a(href="lib/index.html") Pattern Library
            li: a(href="sample/index.html") Sample Site
