doctype html
html(lang="en")
  - var titles = ['ASCE Conferences Styleguide']
  head
    title= titles
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content=['Chris Harvey', 'Dae Clarke'])
    meta(name="description" content='Style guide for all ASCE conference sites.')
    meta(name="keywords" content=['style guide','pattern library','sample site','ASCE','conference','convention','congress'])
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/v4.0.0/xmeter.min.css")
  body
    main
      header: h1= titles
      p.
        #[strong This is the master styleguide for all conference websites.]
        Here you will find standards for coding, writing, and visual design.
        In addition, this styleguide contains a pattern library for commonly used
        components on conference sites, as well as a sample conference site itself.
    footer: nav
      h1 Sitemap
      ol
        li: a(href="index.html") Home
        li: a(href="lib/index.html") Pattern Library
        li: a(href="sample/index.html") Sample Site
