doctype html
html(lang="en")
  head
    title ASCE Conferences Sample Site
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="Chris Harvey")
    meta(name="description" content="ASCE Sample conference site.")
    meta(name="keywords" content="sample site, ASCE, conference, convention, congress")
  body
    main
      header: h1 ASCE Conferences Sample Site
      ol
        li Pattern Library (link coming soon)
        li: a(href="sites/all/index.html") Prototype Site &mdash; template only
        li: a(href="sites/default/index.html") Prototype Site &mdash; populated with sample content
