extends index.tpl.jade

block vars
  - titles.push('File Structure')
  - var authors = ['Dae Clarke']
  - var description = 'Standard on Drupal file structure of the "confmultisite" repository.'
  - var keywords = ['style guide','codebase','file structure']
  - var main_itemtype = 'http://schema.org/TechArticle'
  - var docmeta = true
