extends index.tpl.jade

block vars
  - var heading = 'Visual Style'
  - var authors = []
  - var description = 'Visual look-and-feel for conference sites.'
  - var keywords = ['style guide','design']
  - var main_itemtype = 'http://schema.org/Article'
  - var docmeta = true

block append main
  p Follow this visual style guide for use in designing conference websites.
  section
    h2 Typography
  section
    h2 Colors
