doctype html
html(lang="en")
  head
    title Visual Style | ASCE Conferences Styleguide
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="node_modules/xmeter/xmeter.min.css")
    link(rel="stylesheet" href="node_modules/bangs/bangs.min.css")
    link(rel="stylesheet" href="styles/styleguide.css")
  body
    main(itemscope="" itemtype="http://schema.org/Article")
      header
        h1(itemprop="name headline") ASCE Conference Styleguide &mdash; Visual Style
        dl._docmeta
          dt Authors
          dd(itemprop="author") Chris Harvey
          dt Description
          dd(itemprop="description") Visual look-and-feel for conference sites.
          dt Keywords
          dd(itemprop="keywords") style guide
          dd(itemprop="keywords") design
          dt Version History
          dd
            time(datetime="2016-03-07 10:51" itemprop="dateModified") Mar 7, 2016 #[span.tod 10:51 AM]
      p Follow this visual style guide for use in designing conference websites.
      section
        h2 Typography
        figure.sg-c-Fig
          h1 Lorem ipsum dolor aliquam
          p.
            Futura is a geometric sans-serif typeface used for headings
            on the site. Comprised of simple geometric shapes, near-perfect
            circles, triangles, and squares, it has a subtle
            thick/thin transition of weight, virtually no stress, and
            has an appearance of efficiency and forwardness.
            It has quite a low x-height and tall ascenders, which enhance the
            readability of large headings on the web.
          //- blockquote(cite="https://en.wikipedia.org/wiki/Futura_(typeface)#cite_ref-7").
            The design of Futura avoids the decorative, eliminating nonessential
            elements, but makes subtle departures from pure geometric designs
            that allow the letterforms to seem balanced.
          h2 Maecenas risus nibh volutpat
          p.
            Open Sans is another sans-serif typeface. It is used for the body text
            on the site. It has a vertical stress, large x-height, and wide apertures.
            Open Sans, though sans-serif, borrows some elements from serif typefaces.
            For example, it has a true italic and options for
            the use of a double-storey #[i a] and #[i g].
      section
        h2 Colors
    footer
      nav
        h1 Sitemap
        ol
          li: a(href="index.html") Home
          li: a(href="coding.html") Coding Style
          li: a(href="writing.html") Writing Style
          li: a(href="visual.html" rel="this") Visual Style
          li: a(href="lib/index.html") Pattern Library
          li: a(href="struct.html") File Structure
          li: a(href="sample/index.html") Sample Site
