extends index.tpl.jade

block vars
  - titles.push('Visual Style')
  - var authors = []
  - var description = 'Visual look-and-feel for conference sites.'
  - var keywords = ['style guide','design']
  - var main_itemtype = 'http://schema.org/Article'
  - var docmeta = true

block append main
  p Follow this visual style guide for use in designing conference websites.
  section
    h2 Typography
    figure.sg-c-Fig
      h1 Lorem ipsum dolor aliquam
      p.
        Futura is a geometric sans-serif typeface used for headings
        on the site. Comprised of simple geometric shapes, near-perfect
        circles, triangles, and squares, it has a subtle
        thick/thin transition of weight, virtually no stress, and
        has an appearance of efficiency and forwardness.
        It has quite a low x-height and tall ascenders, which enhance the
        readability of large headings on the web.
      //- blockquote(cite="https://en.wikipedia.org/wiki/Futura_(typeface)#cite_ref-7").
        The design of Futura avoids the decorative, eliminating nonessential
        elements, but makes subtle departures from pure geometric designs
        that allow the letterforms to seem balanced.
      h2 Maecenas risus nibh volutpat
      p.
        Open Sans is another sans-serif typeface. It is used for the body text
        on the site. It has a vertical stress, large x-height, and wide apertures.
        Open Sans, though sans-serif, borrows some elements from serif typefaces.
        For example, it has a true italic and options for
        the use of a double-storey #[i a] and #[i g].
  section
    h2 Colors
