extends index.tpl.jade

block vars
  - var heading = 'Writing Style'
  - var authors = []
  - var description = 'Writing style for conference sites.'
  - var keywords = ['style guide','writing']
  - var main_itemtype = 'http://schema.org/TechArticle'
  - var docmeta = true

block append main
  p Follow this writing style guide for use in writing content for conference websites.
