doctype html
html(lang="en")
  head
    title Writing Style | ASCE Conferences Styleguide
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="node_modules/xmeter/xmeter.css")
    link(rel="stylesheet" href="styles/styleguide.css")
  body
    main(itemscope="" itemtype="https://schema.org/Article")
      header
        h1(itemprop="name headline") ASCE Conference Styleguide &mdash; Writing Style
        dl.sg-docmeta
          dt Authors
          dd(itemprop="author") Chris Harvey
          dt Description
          dd(itemprop="description") Writing style for conference sites.
          dt Keywords
          dd(itemprop="keywords") style guide
          dd(itemprop="keywords") writing
          dt Version History
          dd
            time(datetime="2016-02-? 14:34" itemprop="dateModified") Feb ?, 2016 #[span.tod  2:34 PM]
      p Follow this writing style guide for use in writing content for conference websites.
    nav
      h1 Sitemap
      ol
        li: a(href="index.html") Home
        li: a(href="coding.html") Coding Style
        li: a(href="writing.html" rel="this") Writing Style
        li: a(href="visual.html") Visual Style
        li: a(href="lib/index.html") Pattern Library
        li: a(href="struct.html") File Structure
        li: a(href="sample/index.html") Sample Site
