h1#conference-co-chairs Conference Co-Chairs
ul
  each person in site.getCurrentConference().getChairsAll()
    li(itemprop="organizer" itemscope="" itemtype="http://schema.org/Person")
      span(itemprop="name")
        span(itemprop="givenName")= person.name.givenName
        = ' '
        span(itemprop="additionalName")= person.name.additionalName
        = ' '
        span(itemprop="familyName")= person.name.familyName
      = ', '
      span(itemprop="honorificSuffix")= person.name.honorificSuffix
