div.c-Overlay.c-Overlay--callout
  -
    var loc = site.getCurrentConference().location
    var heading = loc.addressLocality + ', ' + loc.addressRegion
  h1(id=Util.toURL(heading))= heading
  p With sweeping views of the surrounding mountains and a bustling downtown full of shopping, locally sourced dining, and entertainment, Portland is a wonderful destination for business and leisure.
  +actionchoices([{text:'Hotel & Travel', href:'location.html'}], 'c-Btn c-Btn--hilite c-Btn--ghost c-Btn--ghost--dark')
