h1#program-highlights Program Highlights
include /includes/components/_c-Program.jade
- var groupings = site.getCurrentConference().groupProgramEvents()
+program(groupings.length, {id:'program-highlights-block', class:'c-Overlay', style:'margin-bottom: 1.5rem;'})
  mixin heading(i)
    +programHeading(groupings[i].date)
  mixin content(i)
    include /includes/components/_c-TimeBlock.jade
    +timeBlock(groupings[i].events, false)
+actionchoices([{text:'Full Program', href:'program.html'}], 'c-Btn c-Btn--hilite')
