h1#registration Registration
ul.o-List.o-ListStacked
  include /includes/components/_c-Pass.jade
  li.o-List__Item.o-ListStacked__Item
    +pass(site.getCurrentConference().getPass('Standard Pass'), site.getCurrentConference())
  li.o-List__Item.o-ListStacked__Item
    +pass(site.getCurrentConference().getPass('Student Pass'), site.getCurrentConference())
  li.o-List__Item.o-ListStacked__Item
    +pass(site.getCurrentConference().getPass('Younger Member'), site.getCurrentConference())
+highlightButtons([{text:'Registration Details', href:'registration.html'}])
