h1#registration Registration
ul.o-ListBare.o-GridFlex.o-ListStacked
  include /includes/components/_c-Pass.jade
  li.o-GridFlex__Item.o-ListStacked__Item
    +pass(site.getCurrentConference().getPass('Standard Pass'), site.getCurrentConference())
  li.o-GridFlex__Item.o-ListStacked__Item
    +pass(site.getCurrentConference().getPass('Student Pass'), site.getCurrentConference())
  li.o-GridFlex__Item.o-ListStacked__Item
    +pass(site.getCurrentConference().getPass('Younger Member'), site.getCurrentConference())
+actionchoices([{text:'Registration Details', href:'registration.html'}], 'c-Btn c-Btn--hilite')
