h1#important-dates Important Dates
include /_views/_c-DateBlock.view.pug
+dateBlock(site.currentConference().getImportantDatesAll().filter(function ($importantDate) { return $importantDate.isStarred() }))
