div.c-Overlay.c-Overlay--callout
  h1#hotel-travel: +promotedLocation(site.currentConference().promoLoc())
  p: block blurb
  +highlightButtons([{text:'Hotel & Travel', href:'location.html'}], 'c-Btn--ghost c-Btn--ghost--dark')
