h1#program-highlights Program Highlights
include /_views/_c-Program.view.pug
- var groupings = site.currentConference().groupProgramEvents('starred')
+program(groupings.length, {id:'program-highlights-block'})
  mixin heading(i)
    +programHeading(groupings[i].date)
  mixin content(i)
    include /_views/_c-TimeBlock.view.pug
    +timeBlock(groupings[i].events)
+highlightButtons([{text:'Full Program', href:'program.html'}])
