h1#join-the-conversation Join the Conversation
p.-ta-c Follow ASCE on social media for real-time conversation.
include /_views/c-SocialList.view.jade
+socialList(site.currentConference().getSocialAll(), { is_dark: false, has_microdata: true, classes: '-w-1o2' })
