h1#speakers Speakers
+speakerList(site.currentConference().getSpeakersAll().filter(function ($person) { return $person.isStarred() }))
+highlightButtons([{text:'All Speakers', href:'speakers.html'}])
