extends /sites/all/_includes/highlights/_location.jade

block blurb
  | With sweeping views of the surrounding mountains and a bustling
  |  downtown full of shopping, locally sourced dining, and entertainment,
  |  Portland is a wonderful destination for business and leisure.
