h1#hotel-travel= site.currentConference().promoLoc.text
p._text-plain.
  With sweeping views of the surrounding mountains and a bustling
  downtown full of shopping, locally sourced dining, and entertainment,
  Portland is a wonderful destination for business and leisure.
+highlightButtons([{text:'Hotel & Travel', href:'location.html'}], 'c-Btn--ghost c-Btn--ghost--dark')
