extends /sites/all/index.jade

block append varsSite
  include includes/_data.jade

block introText
  include includes/_text-block-minimal.jade

block content_otherYearDesc_prev
  | Access the 2015 program to see which sessions qualify for
  |  #[abbr(title="professional development hours") PDH]s and other documentation.

block content_otherYearDesc_next
  | Plan ahead to attend, sponsor, or exhibit at the annual convention for civil engineering professionals.
