extends /sites/all/index.jade

block actionButtons
  +highlightButtons([
    { text: 'Register', href:'registration.html' }
  , { text: 'Sponsor' , href:'sponsor.html' }
  , { text: 'Submit a Paper' }
  ], 'c-Btn c-Btn--hilite c-Btn--primary')

block prepend mainBody
  +highlight()
    include /_includes/colorpickers.jade
    +colorPickers('#3fae2a', '#00a1e1')

block mainMinimal
  include _includes/text-block.jade

block callouts
  +highlight('c-Banner')
    include /sites/all/_includes/highlights/_important-dates.pug
  +highlight()
    include /sites/all/_includes/highlights/_registration.pug
  +highlight('c-Banner')
    include /sites/all/_includes/highlights/_program.pug
  +highlight('c-Banner c-Banner--loc -ta-c')
    include /sites/all/_includes/highlights/_location.pug
  +highlight()
    include /sites/all/_includes/highlights/_speakers.pug
  +highlight('c-Banner')
    include _includes/highlights/_co-chairs.pug
  +highlight()
    include /sites/all/_includes/highlights/_social.pug
  +highlight('c-Banner')
    include _includes/highlights/_volunteer.pug
  +highlight()
    include /sites/all/_includes/highlights/_mobile.pug
  +highlight('c-Banner')
    include /sites/all/_includes/highlights/_contact.pug

block append scripts
  script(src="scripts/home.b.js")
