extends /sites/all/location.jade

block mainRich
  include _includes/text-section.jade

block callouts
  +highlight('c-Banner')
    include /sites/all/_includes/highlights/_important-dates.pug
  +highlight()
    include /sites/all/_includes/highlights/_contact.pug
