extends /sites/all/program.jade

block mainMinimal
  include _includes/text-block.jade

block callouts
  +highlight('c-Banner c-Banner--loc')
    include /sites/all/_includes/highlights/_location.jade
  +highlight('c-Banner')
    include /sites/default/_includes/highlights/_volunteer.jade
