extends /sites/all/program.jade

block append varsSite
  include includes/_data.jade

block mainMinimal
  include includes/_text-block-minimal.jade

block callouts
  +highlight('o-Runner--wrappedInner c-Banner c-Banner--location')
    include includes/highlights/_location.jade
  +highlight('c-Banner')
    include includes/highlights/_volunteer.jade
