extends /sites/all/speakers.jade

block mainMinimal
  include _includes/text-block.jade

block mainRich
  include _includes/text-section.jade

block callouts
  +highlight('c-Banner')
    include /sites/all/_includes/highlights/_social.jade
