doctype html
html(lang="en")
  include /includes/_data.jade
  include includes/_data.jade
  head
    block vars
      -
        var project_name = 'ASCE Conferences Styleguide'
        var page = {}
    title= page.name + ' | ' + project_name
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block styles
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,400italic,700")
      link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
      link(rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")
      //- link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/v4.3.0/xmeter.min.css")
      //- TODO remove on xmeter v5
      link(rel="stylesheet" href="/node_modules/xmeter/xmeter.css")
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.8.0/bangs.min.css")
      link(rel="stylesheet" href="/styles/conf.css")
      link(rel="stylesheet" href="styles/lib.css")
  body
    main.docs-main
      block main
        header
          h1= project_name + ' — ' + page.name
          p= page.description
          nav#table-contents
            h2 Table of Contents
            block toc
              +libtoc({pages: page.sub, depth: Infinity})
    footer
      unless page === Lib.getPage('index.html')
        nav
          h1 Subsitemap
          +libtoc({pages: Lib.PAGES})
      nav
        h1 Sitemap
        ol
          li: a(href="/index.html") Home
          li: a(href="index.html") Pattern Library
          li: a(href="sites/all/index.html") Prototype Site &mdash; template only
          li: a(href="sites/default/index.html") Prototype Site &mdash; populated with sample content
    block scripts
      script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
      script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
      script.
        var Util = (function () {
          // copied from /includes/Util.class
          function Util() {}
          Util.toURL = function toURL(string) {
            return encodeURIComponent(string.toLowerCase().replace(/[\W]+/g, '-'))
          }
          return Util
        })()
        $('h1, h2, h3, h4, h5, h6').each(function () {
          if (!$(this).parents('figure').length) {
            var id = '_' + Util.toURL($(this).text())
            $(this).append($('<a>').addClass('docs-_fragid').attr('id', id).attr('href', '#' + id))
          }
        })
