doctype html
html(lang="en")
  head
    title Base Typography | Pattern Library | ASCE Conferences Styleguide
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../styles/styleguide.css")
    //- link(rel="stylesheet" href="../styles/conf.css")
  body
    main
      h1 ASCE Conferences Styleguide &mdash; Pattern Library &mdash; Base Typography
      section.doc-ss
        h2 Headings and Paragraphs
        figure
          h1 Heading 1 #[code h1]
          p.
            Paragraph #[code p]
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam sagittis suscipit nunc, a cursus libero euismod at.
            Nulla placerat neque massa, quis interdum leo efficitur vel.
            Donec feugiat varius arcu non volutpat.
            Mauris eget mauris ut mauris auctor mattis id vel justo.
            Nulla dictum arcu nec suscipit mollis.
            Maecenas a iaculis nisl, ut pretium est. Nulla facilisi.
          h2 Heading 2 #[code h2]
          p.
            Paragraph #[code p]
            Suspendisse ut auctor enim.
            Aliquam viverra enim vitae ante aliquet venenatis.
            Sed vel nibh sit amet sapien fermentum mattis nec non arcu.
            Praesent dapibus velit quis lectus tempus, ut ullamcorper nibh facilisis.
            Aenean tincidunt ante risus, semper malesuada libero consectetur id.
            Praesent vel ligula ut enim porttitor porta. Aenean eu ullamcorper mi.
            Integer blandit est quam, eget mattis urna scelerisque quis.
            Maecenas sapien sapien, ornare nec lobortis eget, tincidunt sed ligula.
            Maecenas risus nibh, volutpat sed euismod non, semper eget neque.
            Integer varius egestas risus, volutpat sagittis turpis convallis eget.
            Vivamus pulvinar ligula eget mi tincidunt, eget faucibus justo laoreet.
            In sapien lacus, egestas faucibus laoreet eu, tempor sit amet lorem.
            Sed luctus congue tortor a scelerisque.
          h3 Heading 3 #[code h3]
          p.
            Paragraph #[code p]
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Nunc sit amet scelerisque lectus. Cras cursus sed dui quis convallis.
            Quisque id justo elit.
            Fusce ut quam non sem efficitur accumsan sed id neque.
            Mauris finibus dignissim gravida.
            In dignissim mauris ac odio molestie volutpat.
            Nulla tellus justo, finibus sed volutpat sed, tristique ac lacus.
            Suspendisse sit amet fermentum sapien.
            Aliquam luctus laoreet iaculis.
            Proin lacinia orci vitae tellus pellentesque porttitor.
          h4 Heading 4 #[code h4]
          p.
            Paragraph #[code p]
            Aenean consectetur suscipit urna, non vehicula lacus blandit et.
            Integer at lacus et diam tristique suscipit.
            Ut cursus massa sit amet nisl convallis, elementum accumsan sapien mattis.
            Vestibulum vitae magna ac tellus accumsan pharetra vulputate vitae erat.
            Vestibulum est dui, elementum non sagittis ac, sagittis accumsan justo.
            Donec at vestibulum diam. Nam et volutpat dolor, at pulvinar nisi.
            Curabitur aliquam maximus nulla eu venenatis.
            Nam aliquam lorem non felis dignissim dictum.
            Pellentesque sagittis vehicula nisl non luctus.
            Pellentesque eget ligula hendrerit, blandit enim consequat, dictum sem.
            In quis lectus in lectus interdum laoreet eu quis quam.
            Fusce auctor posuere purus, quis semper libero dignissim euismod.
            Curabitur commodo mauris a sapien vulputate, eget pharetra urna facilisis.
          h5 Heading 5 #[code h5]
          p.
            Paragraph #[code p]
            Donec finibus ut lectus finibus pellentesque.
            Nulla euismod feugiat nulla nec posuere.
            Sed ac est id sem sagittis rhoncus eu ac neque.
            Aliquam eu metus sagittis, porta turpis id, scelerisque magna.
            Nulla venenatis elementum est, semper viverra felis tristique sit amet.
            Mauris nec ipsum id orci porttitor auctor sed sit amet sem.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Etiam tellus leo, venenatis sit amet ipsum non, sagittis feugiat ante.
          h6 Heading 6 #[code h6]
          p.
            Paragraph #[code p]
            Donec vel dolor ut felis dapibus ultricies vitae a nibh.
            Ut semper odio est, sed lacinia ligula gravida ut.
            Vestibulum facilisis viverra pulvinar.
            Suspendisse maximus nisl sit amet augue vulputate, vel porta nunc molestie.
            Aliquam mauris diam, pharetra vel consectetur quis, rhoncus in risus.
            Donec ut quam massa.
            Vestibulum sapien justo, commodo a eros in, rhoncus interdum nisl.
            Etiam a porta lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        figure
          h1 Lorem Ipsum #[code h1]
          h2 Lorem Ipsum #[code h2]
          h3 Lorem Ipsum #[code h3]
          h4 Lorem Ipsum #[code h4]
          h5 Lorem Ipsum #[code h5]
          h6 Lorem Ipsum #[code h6]
        figure
          blockquote Donec #[code blockquote] vel dolor ut felis dapibus ultricies vitae a nibh.
            footer: cite Finibus Pellentesque #[code blockquote footer]
        figure
          figure.bare Aenean consectetur #[code figure] suscipit urna, non vehicula lacus blandit et.
            figcaption Integer at lacus et diam tristique #[code figure figcaption] suscipit.
        figure
          p.
            A horizontal rule #[code hr] is shown below. I&rsquo;m honestly not sure when
            you would ever use this instead of a CSS border.
          figure: hr
      section.doc-ss
        h2 Lists
        figure
          figcaption Ordered List #[code ol]
          ol
            li Speaker details
            li Program is now over
              ol
                li Nested list item
                li Nested list item
                  ol
                    li Another nested list item
                    li Another nested list item
        figure
          figcaption Unrdered List #[code ul]
          ul
            li Speaker details
            li Program is now over
              ul
                li Nested list item
                li Nested list item
                  ul
                    li Another nested list item
                    li Another nested list item
        figure
          figcaption.
            Dictionary List (#[code dl]) &mdash; Used for key-value pairs,
            such as a list of dates (or times) and descriptions.
          dl
            dt date
            dd description
            dt date
            dd description
            dt date
            dd description
      section.doc-ss
        h2 Tables
        p An unclassed, unstyled table is shown below.
        p.devnote.
          #[strong Reminder:] in source code, define the #[code &lt;thead&gt;] and
          #[code &lt;tfoot&gt;] #[em before] defining the #[code &lt;tbody&gt;],
          for accessibility reasons.
        figure
          table
            caption Use #[code caption] for the title or heading of the table.
            thead
              tr
                th Header Row 1 Heading 1
                th Header Row 1 Heading 2
                th Header Row 1 Heading 3
              tr
                td Header Row 2 Cell 1
                td Header Row 2 Cell 2
                td Header Row 2 Cell 3
            tfoot
              tr
                th Footer Row 1 Heading 1
                th Footer Row 1 Heading 2
                th Footer Row 1 Heading 3
              tr
                td Footer Row 2 Cell 1
                td Footer Row 2 Cell 2
                td Footer Row 2 Cell 3
            tbody
              tr
                td Body Row 1 Cell 1
                td Body Row 1 Cell 2
                td Body Row 1 Cell 3
              tr
                td Body Row 2 Cell 1
                td Body Row 2 Cell 2
                td Body Row 2 Cell 3
              tr
                td Body Row 3 Cell 1
                td Body Row 3 Cell 2
                td Body Row 3 Cell 3
              tr
                td Body Row 4 Cell 1
                td Body Row 4 Cell 2
                td Body Row 4 Cell 3
              tr
                td Body Row 5 Cell 1
                td Body Row 5 Cell 2
                td Body Row 5 Cell 3
      section.doc-ss
        h2 Text-Level Elements
        section.doc-ss
          h3 Links
          p.
            Some of the #[code a] elements below have #[code href]
            attributes, and some do not. Be sure to use #[code a[href]]
            for clickable hyperlinks.
          figure
            p.
              Lorem ipsum #[a(href="") dolor] sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt #[a(href="") ut labore et dolore] magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. #[a(href="") Lorem ipsum dolor sit]
              amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt #[a(href="") ut labore et dolore magna aliqua].
              Lorem ipsum #[a dolor] sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt #[a ut labore et dolore] magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. #[a Lorem ipsum dolor sit]
              amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt #[a ut labore et dolore magna aliqua].
        section.doc-ss
          h3 Stress
          figure
            p
              span(style="display: inline-block; margin-right: 1rem;"): em             emphasized text #[code em]
              span(style="display: inline-block; margin-right: 1rem;"): strong         important text #[code strong]
              span(style="display: inline-block; margin-right: 1rem;"): i              alternate voice/mood (scare quotes, mentions, foreign expressions) #[code i]
              span(style="display: inline-block; margin-right: 1rem;"): b              keyword or technical term #[code b]
              span(style="display: inline-block; margin-right: 1rem;"): small          side comment #[code small]
              span(style="display: inline-block; margin-right: 1rem;"): s              text explicitly shown to be no longer relevant #[code s]
              span(style="display: inline-block; margin-right: 1rem;"): sup            superscript #[code sup]
              span(style="display: inline-block; margin-right: 1rem;"): sub            subscript #[code sub]
              span(style="display: inline-block; margin-right: 1rem;"): abbr(title="") abbreviation #[code abbr(title="")]
              span(style="display: inline-block; margin-right: 1rem;"): time           a specific date or time #[code time]
          figure
            p.
              This section demonstrates #[em commonly used] inline elements
              in text. Notice #[q commonly used] is emphasized: it&rsquo;s important
              to note that #[strong not all text-level elements are listed here].
              Some might argue that #[code em] and #[code strong] are #[i semantic elements]
              while #[code i] and #[code b] are #[i formatting elements]
              (which should be #[b deprecated] in HTML5), however
              given the flexibility of these, they can be used for other undefined phrasing content,
              such as scare quotes and mentions (for the former), and keywords
              and technical terms (for the latter).
              #[small However, #[s it&rsquo;s okay to use them interchangeably] one should remember not to use #[code i] and #[code b] for the meanings associated with #[code em] and #[code strong], respectively.]
            p.
              Use a #[sup superscript] or a #[sub subscript] for when the presence
              of said elements is semantically required, not just when it looks good there.
              #[abbr(title="exampli gratia") E.g.], don&rsquo;t use superscripts
              for the abbreviation of ordinals. There are two reasons for this:
              1st,
              #[q superscripted ordinals are tiny and hard to read]
              #[cite (Matthew Butterick, #[time 2014])],
              but 2nd, and more importantly,
              the semantics would remain the same even if the superscript were removed.
    nav
      h1 Subsitemap
      ol
        li: a(href="index.html") Pattern Library
        li: a(href="base.html" rel="this") Base
        li: a(href="obj.html") Objects
        li: a(href="comp-typo.html") Typographical Components
        li: a(href="comp-ui.html") UI Components
        li: a(href="helpers.html") Helpers
        li: a(href="atoms.html") Atoms
    nav
      h1 Sitemap
      ol
        li: a(href="../index.html") Home
        li: a(href="../coding.html") Coding Style
        li: a(href="../writing.html") Writing Style
        li: a(href="../visual.html") Visual Style
        li: a(href="index.html") Pattern Library
        li: a(href="../struct.html") File Structure
        li: a(href="../sample/index.html") Sample Site
