extends _lib.tpl.jade

block append vars
  - var page = confdocs.getPage('base.html')

block append main
  div.docs-t-Xmeter
    - var classname = Lib.DOCS_CLASSES
    include includes/_base.docs.jade
