extends lib.tpl.jade

block append vars
  - titles.push('Components')

block append main__header
  nav#table-contents
    h2 Table of Contents
    ol
      li: a(href="#table-contents") Table of Contents
      li: a(href="#masthead-mastfoot") The Masthead and Mastfoot
      li: a(href="#sitemap") The Sitemap
      li: a(href="#universal-menu") The Universal Menu
      li: a(href="#standard-menu") The Standard Menu
      li: a(href="#sub-menu") The Sub Menu
      li: a(href="#social-list") The Social List
      li: a(href="#copyright-line") The Copyright Line
      li: a(href="#page-header") The Page Header
      li: a(href="#banner-component") The Banner Component
      li: a(href="#overlay-component") The Overlay Component
      li: a(href="#sponsor-block") The Sponsor Block
      li: a(href="#date-block") The Date Block
      li: a(href="#speaker-component") The Speaker Component
      li: a(href="#pass-component") The Pass Component

block append main
  section.sg-sect#masthead-mastfoot
    h2 The Masthead and Mastfoot
    p #[strong Note:] #[b 2016 Convention] button will be replaced with #[b Menu] button when screen is smaller than 720px.
    figure.sg-c-Fig
      div.o-GridFlex.o-Runner.c-Mast
        a.o-Block.c-Mast__Title.c-Mast__Link(href="")
          h1 ASCE Convention
          p The Flagship Event of ASCE
        nav.o-GridFlex.c-Mast__Nav
          div.o-GridFlex__Item.c-Mast__Nav__ButtonContainer
            button.c-Mast__MenuButton menu
      pre.
        &lt;div class="o-GridFlex  o-Runner  #[u c-Mast]"&gt;
          &lt;a class="o-Block  #[u c-Mast__Title]  #[u c-Mast__Link]" href="/"&gt;
            &lt;h1&gt;ASCE Convention&lt;/h1&gt;
            &lt;p&gt;The Flagship Event of ASCE&lt;/p&gt;
          &lt;/a&gt;
          &lt;nav class="o-GridFlex  #[u c-Mast__Nav]"&gt;
            #[small &lt;!--ul class="o-GridFlex__Item  o-ListBare  o-GridFlex  c-MenuUniversal"&gt;#[a(href="#universal-menu") UNIVERSAL MENU]&lt;&#x002f;ul--&gt;]
            &lt;div class="o-GridFlex__Item  #[u c-Mast__MenuButtonContainer]"&gt;
              &lt;button class="#[u c-Mast__MenuButtonContainer__Button]"&gt;menu&lt;/span&gt;
            &lt;/div&gt;
          &lt;/nav&gt;
        &lt;/div&gt;
  section.sg-sect#sitemap
    h2 The Sitemap
    figure.sg-c-Fig
      footer.o-Runner.c-Sitemap
        ul.o-ListBare.o-GridFlex.c-Sitemap__List
          li
            a(href="") Home
          li
            a(href="") About
            ul.o-ListBare.c-Sitemap__SubList
              li: a(href="") Cooperating Orgs
              li: a(href="") Partnering Orgs
              li: a(href="") Volunteer
              li: a(href="") Why Attend
          li
            a(href="") Sponsor
          li
            a(href="") Exhibit
            ul.o-ListBare.c-Sitemap__SubList
              li: a(href="") Exhibitor List
          li
            a(href="") Contact
      pre.
        &lt;footer class="o-Runner  #[u c-Sitemap]"&gt;
          &lt;ul class="o-ListBare  o-GridFlex  #[u c-Sitemap__List]"&gt;
            &lt;li&gt;
              &lt;a href="/"&gt;Home&lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
              &lt;a href="/"&gt;About&lt;/a&gt;
              &lt;ul class="o-ListBare  #[u c-Sitemap__SubList]"&gt;
                &lt;li&gt;&lt;a href="/"&gt;Cooperating Orgs&lt;/a&gt;&lt;/li&gt;
                ...
              &lt;/ul&gt;
            &lt;/li&gt;
            ...
          &lt;/ul&gt;
        &lt;/footer&gt;
  section.sg-sect#universal-menu
    h2 The Universal Menu
    p #[strong Note:] Universal Menu will convert to pull-out drawer when screen is smaller than 720px.
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFlex.c-MenuUniversal(style="margin-bottom: 1.5rem;")
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="") About
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="") Sponsor
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="") Exhibit
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="") Contact
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link.c-MenuUniversal__Link--current(href="") ASCE 2016
      pre.
        &lt;ul class="#[small o-GridFlex__Item]  o-ListBare  o-GridFlex  #[u c-MenuUniversal]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-MenuUniversal__Item]"&gt;
            &lt;a class="o-Block  #[small c-Mast__Link]  #[u c-MenuUniversal__Link]"&gt;About&lt;/a&gt;
          &lt;/li&gt;
          ...
          &lt;li class="o-GridFlex__Item  #[u c-MenuUniversal__Item]"&gt;
            &lt;a class="o-Block  #[small c-Mast__Link]  #[u c-MenuUniversal__Link]  #[u c-MenuUniversal__Link--current]"&gt;ASCE 2016&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
  section.sg-sect#standard-menu
    h2 The Standard Menu
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFlex.c-MenuStandard(style="margin-bottom: 1.5rem;")
        li.o-GridFlex__Item.c-MenuStandard__Item: a.o-Block.c-MenuStandard__Link(href="") Home
        li.o-GridFlex__Item.c-MenuStandard__Item: a.o-Block.c-MenuStandard__Link(href="") Register
        li.o-GridFlex__Item.c-MenuStandard__Item: a.o-Block.c-MenuStandard__Link(href="") Program
        li.o-GridFlex__Item.c-MenuStandard__Item: a.o-Block.c-MenuStandard__Link(href="") Hotel &amp; Travel
        li.o-GridFlex__Item.c-MenuStandard__Item: a.o-Block.c-MenuStandard__Link(href="") Speakers
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-MenuStandard]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-MenuStandard__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuStandard__Link]"&gt;Home&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#sub-menu
    h2 The Sub Menu
    figure.sg-c-Fig
      ul.o-ListBare.c-MenuSub(style="position: initial;")
        li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Why Attend
        li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Register Submenu Item 2
        li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Register Submenu Item 3
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-MenuSub]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-MenuSub__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuSub__Link]"&gt;Why Attend&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#social-list
    h2 The Social List
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFlex.c-SocialList
        li.o-GridFlex__Item.c-SocialList__Item: a.c-SocialList__Link(href="") LinkedIn
        li.o-GridFlex__Item.c-SocialList__Item: a.c-SocialList__Link(href="") Facebook
        li.o-GridFlex__Item.c-SocialList__Item: a.c-SocialList__Link(href="") Twitter
        li.o-GridFlex__Item.c-SocialList__Item: a.c-SocialList__Link(href="") YouTube
        li.o-GridFlex__Item.c-SocialList__Item: a.c-SocialList__Link(href="") Google+
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-SocialList]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-SocialList__Item]"&gt;
            &lt;a class="o-Block  #[u c-SocialList__Link]"&gt;LinkedIn&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#copyright-line
    h2 The Copyright Line
    figure.sg-c-Fig
      div.c-Copyright.
        &copy; 1996&ndash;2016 American Society of Civil Engineers
      pre.
        &lt;div class="#[u c-Copyright]"&gt;
          &copy; 1996&ndash;2016 American Society of Civil Engineers
        &lt;/div&gt;
  section.sg-sect#page-header
    h2 The Page Header
    figure.sg-c-Fig
      div.c-PageHeader(style="margin-bottom: 1.5rem;")
        h1 Page Header
      pre.
        &lt;div class="#[u c-PageHeader]"&gt;
          &lt;h1&gt;Page Header&lt;/h1&gt;
        &lt;/div&gt;
  section.sg-sect#banner-component
    h2 The Banner Component
    figure.sg-c-Fig
      div.c-Banner(style="margin-bottom: 1.5rem; z-index:1;")
        h1 banner heading
        p banner content
        br
        br
        br
        br
        br
      div.c-Banner(style="margin-bottom: 1.5rem; z-index:1;")
        h1.c-Banner__Hn special banner heading
        br
        br
        br
        br
        br
        br
        br
      pre.
        &lt;div class="#[u c-Banner]"&gt;
          &lt;h1&gt;banner heading&lt;/h1&gt;
          &lt;p&gt;banner content&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="#[u c-Banner]"&gt;
          &lt;h1 class="#[u c-Banner__Hn]"&gt;special banner heading&lt;/h1&gt;
        &lt;/div&gt;
  section.sg-sect#overlay-component
    h2 The Overlay Component
    p Use the Overlay Component over a Banner.
    figure.sg-c-Fig
      div.c-Overlay(style="margin-bottom: 1.5rem;")
        h1 overlay heading
        p overlay content
      pre.
        &lt;div class="#[u c-Overlay]"&gt;
          &lt;h1&gt;overlay heading&lt;/h1&gt;
          &lt;p&gt;overlay content&lt;/p&gt;
        &lt;/div&gt;
  section.sg-sect#speaker-component
    h2 The Speaker Component
    figure.sg-c-Fig
      div.c-Speaker(style="margin-bottom: 1.5rem;")
        p.c-Speaker__Name Donna Fulman, P.ASCE
        p.c-Speaker__JobTitle Interior Engineering Administration
        a.c-Speaker__Link(href="") example speaker link
        div.c-Speaker__Desc
          p Donna Fulman is an award-winning, German designer raised in Austria and currently living in New York City.
          p Former Lead Product Designer and Art Director at Spotify, he recently founded Semplice and at the same time serves on the AIGA Board of Directors in New York.
          p
            a.c-Speaker__Link(href="") Email
            a.c-Speaker__Link(href="") LinkedIn
            a.c-Speaker__Link(href="") Twitter
      pre.
        &lt;div class="#[u c-Speaker]"&gt;
          &lt;p class="#[u c-Speaker__Name]"&gt;Donna Fulman, P.ASCE&lt;/p&gt;
          &lt;p class="#[u c-Speaker__JobTitle]"&gt;Interior Engineering Administration&lt;/p&gt;
          &lt;a class="#[u c-Speaker__Link]"&gt;example speaker link&lt;/a&gt;
          &lt;div class="#[u c-Speaker__Desc]"&gt;
            &lt;p&gt;Donna Fulman is ...&lt;/p&gt;
            &lt;p&gt;Former Lead Product Designer ...&lt;/p&gt;
            &lt;p&gt;
              &lt;a class="#[u c-Speaker__Link]"&gt;Email&lt;/a&gt;
              ...
            &lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
  section.sg-sect#pass-component
    h2 The Pass Component
    p The Pass Component should be an #[code article] element.
    p.
      Remember that this is not a demonstration of an entire Pass Component.
      This simply demonstrates the Component&rsquo;s styles and the styles
      of its subcomponents. For a full demonstration, see the sample page.
    figure.sg-c-Fig
      article.c-Pass(style="margin-bottom: 1.5rem;")
        h1.c-Pass__Hn Standard Pass
        section.c-Pass__Period.c-Pass__Period--current
          h1.c-Pass__Period__Hn Advance
          dl
            dt.c-Pass__Attendee Non-Member
            dd.c-Pass__Price $945
            dt.c-Pass__Attendee Member
            dd.c-Pass__Price.c-Pass__Price--featured $845
        section.c-Pass__Period
          h1.c-Pass__Period__Hn Early Bird
          dl
            dt.c-Pass__Attendee Non-Member
            dd.c-Pass__Price $795
      pre.
        &lt;article class="#[u c-Pass]"&gt;
          &lt;h1 class="#[u c-Pass__Hn]"&gt;Standard Pass&lt;/h1&gt;
          &lt;section class="#[u c-Pass__Period]"  #[u c-Pass__Period--current]"&gt;
            &lt;h1 class="#[u c-Pass__Period__Hn]"&gt;Advance&lt;/h1&gt;
            &lt;dl&gt;
              &lt;dt class="#[u c-Pass__Attendee]"&gt;Non-Member&lt;/dt&gt;
              &lt;dd class="#[u c-Pass__Price]&gt;$945&lt;/dd&gt;
              &lt;dt class="#[u c-Pass__Attendee]"&gt;Member&lt;/dt&gt;
              &lt;dd class="#[u c-Pass__Price]  #[u c-Pass__Price--featured]&gt;$845&lt;/dd&gt;
            &lt;/dl&gt;
          &lt;/section&gt;
          &lt;section class="#[u c-Pass__Period]"&gt;
            &lt;h1 class="#[u c-Pass__Period__Hn]"&gt;Early Bird&lt;/h1&gt;
            &lt;dl&gt;
              &lt;dt class="#[u c-Pass__Attendee]"&gt;Non-Member&lt;/dt&gt;
              &lt;dd class="#[u c-Pass__Price]&gt;$795&lt;/dd&gt;
            &lt;/dl&gt;
          &lt;/section&gt;
        &lt;/article&gt;
