extends lib.tpl.jade

block append vars
  - titles.push('Components')

block append main__header
  nav#table-contents
    h2 Table of Contents
    ol
      li: a(href="#table-contents") Table of Contents
      li: a(href="#masthead-mastfoot") The Masthead and Mastfoot
      li: a(href="#site-title") The Site Title
      li: a(href="#universal-menu") The Universal Menu
      li: a(href="#social-list") The Social List
      li: a(href="#standard-menu") The Standard Menu
      li: a(href="#sub-menu") The Sub Menu
      li: a(href="#sitemap-component") The Sitemap Component
      li: a(href="#page-header") The Page Header
      li: a(href="#banner-component") The Banner Component
      li: a(href="#overlay-component") The Overlay Component
      li: a(href="#sponsor-block") The Sponsor Block
      li: a(href="#date-block") The Date Block
      li: a(href="#speaker-component") The Speaker Component
      li: a(href="#pass-component") The Pass Component
      li: a(href="#buttons") Buttons

block append main
  section.sg-sect#masthead-mastfoot
    h2 The Masthead and Mastfoot
    p #[strong Note:] #[b Menu] button will be visible when screen is smaller than 720px.
    figure.sg-c-Fig
      header.c-Mast
        h1 mast heading
        p mast content
        p: a(href="") mast link
        nav
          div.c-Mast__MenuButtonContainer
            button.c-Mast__MenuButton menu
      pre.
        &lt;header class="#[u c-Mast]"&gt;
          &lt;h1&gt;mast heading&lt;/h1&gt;
          &lt;p&gt;mast content&lt;/p&gt;
          &lt;p&gt;&lt;a&gt;mast link&lt;/a&gt;&lt;/p&gt;
          &lt;nav class="o-GridFlex"&gt;
            &lt;div class="o-GridFlex__Item  #[u c-Mast__MenuButtonContainer]"&gt;
              &lt;button class="#[u c-Mast__MenuButtonContainer__Button]"&gt;menu&lt;/span&gt;
            &lt;/div&gt;
          &lt;/nav&gt;
        &lt;/header&gt;
    figure.sg-c-Fig
      footer.c-Mast.c-Mast--copyright
        p: a(href="") &copy; 1996&ndash;2016 American Society of Civil Engineers
      pre.
        &lt;footer class="#[u c-Mast]  #[u c-Mast--copyright]"&gt;
          &lt;p&gt;&lt;a&gt;&copy; 1996&ndash;2016 American Society of Civil Engineers&lt;/a&gt;&lt;/p&gt;
        &lt;/footer&gt;
    figure.sg-c-Fig
      footer.c-Mast.c-Mast--internal
        p: a(href="") &copy; 1996&ndash;2016 American Society of Civil Engineers
      pre.
        &lt;footer class="#[u c-Mast]  #[u c-Mast--internal]"&gt;
          &lt;p&gt;&lt;a&gt;&copy; 1996&ndash;2016 American Society of Civil Engineers&lt;/a&gt;&lt;/p&gt;
        &lt;/footer&gt;
  section.sg-sect#site-title
    h2 The Site Title
    figure.sg-c-Fig
      a.o-Block.c-SiteTitle(href="")
        h1 ASCE Convention
        p The Flagship Event of ASCE
      pre.
        &lt;a class="o-Block  #[u c-SiteTitle]" href="/"&gt;
          &lt;h1&gt;ASCE Convention&lt;/h1&gt;
          &lt;p&gt;The Flagship Event of ASCE&lt;/p&gt;
        &lt;/a&gt;
  section.sg-sect#universal-menu
    h2 The Universal Menu
    p #[strong Note:] Universal Menu will convert to pull-out drawer when screen is smaller than 720px.
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFlex.c-MenuUniversal(style="margin-bottom: 1.5rem;")
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="") About
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="") Sponsor
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="") Exhibit
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="") Contact
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link.c-MenuUniversal__Link--current(href="") ASCE 2016
      pre.
        &lt;ul class="#[small o-GridFlex__Item]  o-ListBare  o-GridFlex  #[u c-MenuUniversal]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-MenuUniversal__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuUniversal__Link]"&gt;About&lt;/a&gt;
          &lt;/li&gt;
          ...
          &lt;li class="o-GridFlex__Item  #[u c-MenuUniversal__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuUniversal__Link]  #[u c-MenuUniversal__Link--current]"&gt;ASCE 2016&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
  section.sg-sect#social-list
    h2 The Social List
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFlex.c-SocialList
        li.o-GridFlex__Item.c-SocialList__Item
          a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" title="Follow #ASCE2016 on Twitter")
        li.o-GridFlex__Item.c-SocialList__Item
          a.o-Block.c-SocialList__Link.c-SocialList__Link--google(href="" title="Follow #ASCE2016 on Google+")
        li.o-GridFlex__Item.c-SocialList__Item
          a.o-Block.c-SocialList__Link.c-SocialList__Link--facebook(href="" title="Follow #ASCE2016 on Facebook")
      footer
        ul.o-ListBare.o-GridFlex.c-SocialList
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" itemprop="sameAs" title="Follow ASCE on Twitter")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--google(href="" itemprop="sameAs" title="Follow ASCE on Google+")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--facebook(href="" itemprop="sameAs" title="Follow ASCE on Facebook")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--linkedin(href="" itemprop="sameAs" title="Follow ASCE on LinkedIn")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--youtube(href="" itemprop="sameAs" title="Follow ASCE on YouTube")
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-SocialList]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-SocialList__Item]"&gt;
            &lt;a class="o-Block  #[u c-SocialList__Link]  #[u c-SocialList__Link--twitter]"
              title="Follow #ASCE2016 on Twitter"&gt;&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
        #[small &lt;!-- second social list same structure but inside a #[code footer] element --&gt;]
  section.sg-sect#standard-menu
    h2 The Standard Menu
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFlex.c-MenuStandard(style="margin-bottom: 1.5rem;")
        li.o-GridFlex__Item.c-MenuStandard__Item: a.o-Block.c-MenuStandard__Link(href="") Home
        li.o-GridFlex__Item.c-MenuStandard__Item: a.o-Block.c-MenuStandard__Link(href="") Register
        li.o-GridFlex__Item.c-MenuStandard__Item: a.o-Block.c-MenuStandard__Link(href="") Program
        li.o-GridFlex__Item.c-MenuStandard__Item: a.o-Block.c-MenuStandard__Link(href="") Hotel &amp; Travel
        li.o-GridFlex__Item.c-MenuStandard__Item: a.o-Block.c-MenuStandard__Link(href="") Speakers
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  o-Runner  c-Mast  c-Mast--map  #[u c-MenuStandard]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-MenuStandard__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuStandard__Link]"&gt;Home&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#sub-menu
    h2 The Sub Menu
    figure.sg-c-Fig
      ul.o-ListBare.c-MenuSub(style="position: initial;")
        li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Why Attend
        li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Register Submenu Item 2
        li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Register Submenu Item 3
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-MenuSub]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-MenuSub__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuSub__Link]"&gt;Why Attend&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#sitemap-component
    h2 The Sitemap Component
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFlex.c-Sitemap
        li.o-GridFlex__Item.c-Sitemap__Item
          a(href="") ASCE 2016
        li.o-GridFlex__Item.c-Sitemap__Item
          a(href="") Register
          ul.o-ListBare
            li.c-Sitemap__SubItem: a(href="") Why Attend
        li.o-GridFlex__Item.c-Sitemap__Item
          a(href="") Program
          ul.o-ListBare
            li.c-Sitemap__SubItem: a(href="") Events
        li.o-GridFlex__Item.c-Sitemap__Item
          a(href="") Hotel &amp; Travel
          ul.o-ListBare
            li.c-Sitemap__SubItem: a(href="") International Travel
        li.o-GridFlex__Item.c-Sitemap__Item
          a(href="") Speakers
          ul.o-ListBare
            li.c-Sitemap__SubItem: a(href="") Distinguished Lecture Series
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-Sitemap]"&gt;
          &lt;li class="#[u c-Sitemap__Item]"&gt;
            &lt;a&gt;ASCE 2016&lt;/a&gt;
          &lt;/li&gt;
          &lt;li class="#[u c-Sitemap__Item]"&gt;
            &lt;a&gt;About&lt;/a&gt;
            &lt;ul class="o-ListBare"&gt;
              &lt;li class="#[u c-Sitemap__SubItem]"&gt;
                &lt;a&gt;Cooperating Orgs&lt;/a&gt;
              &lt;/li&gt;
              ...
            &lt;/ul&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#page-header
    h2 The Page Header
    figure.sg-c-Fig
      div.c-PageHeader(style="margin-bottom: 1.5rem;")
        h1 Page Header
      pre.
        &lt;div class="#[u c-PageHeader]"&gt;
          &lt;h1&gt;Page Header&lt;/h1&gt;
        &lt;/div&gt;
  section.sg-sect#banner-component
    h2 The Banner Component
    figure.sg-c-Fig
      div.c-Banner(style="margin-bottom: 1.5rem; z-index:1;")
        h1 banner heading
        p banner content
        br
        br
        br
        br
        br
        br
      pre.
        &lt;div class="#[u c-Banner]"&gt;
          &lt;h1&gt;banner heading&lt;/h1&gt;
          &lt;p&gt;banner content&lt;/p&gt;
        &lt;/div&gt;
  section.sg-sect#overlay-component
    h2 The Overlay Component
    p Use the Overlay Component over a Banner.
    figure.sg-c-Fig
      div.c-Banner(style="margin-bottom: 1.5rem; padding: 1.5rem; z-index:1;")
        div.c-Overlay
          h1 overlay heading
          p overlay content
      //- div.c-Banner(style="margin-bottom: 1.5rem; padding: 1.5rem; z-index:1;")
      //-   a.o-Block.c-Overlay.c-Overlay--link(href="")
      //-     h1 overlay-link heading
      //-     p overlay-link content
      div.c-Banner(style="margin-bottom: 1.5rem; padding: 1.5rem; z-index:1;")
        h1.c-Overlay.c-Overlay--full special banner heading
        br
        br
        br
        br
      pre.
        &lt;div class="c-Banner"&gt;
          &lt;div class="#[u c-Overlay]"&gt;
            &lt;h1&gt;overlay heading&lt;/h1&gt;
            &lt;p&gt;overlay content&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        //- &lt;div class="c-Banner"&gt;
        //-   &lt;a class="o-Block #[u c-Overlay]  #[u c-Overlay--link]"&gt;
        //-     &lt;h1&gt;overlay-link heading&lt;/h1&gt;
        //-     &lt;p&gt;overlay-link content&lt;/p&gt;
        //-   &lt;/a&gt;
        //- &lt;/div&gt;
        &lt;div class="c-Banner"&gt;
          &lt;h1 class="#[u c-Overlay]  #[u c-Overlay--full]"&gt;special banner heading&lt;/h1&gt;
        &lt;/div&gt;
  section.sg-sect#date-block
    h2 The Date Block
    figure.sg-c-Fig
      dl.c-DateBlock
        dt.c-DateBlock__Date
          time(datetime="2015-10-12") Oct 12, 2015
        dd.c-DateBlock__Desc
          | Optional Final Papers Due
        dt.c-DateBlock__Date
          time(datetime="2015-12-17") Dec 17, 2015
        dd.c-DateBlock__Desc
          a.o-Inline.c-DateBlock__Link(href="") Early-Bird Registration Closes
      pre.
        &lt;dl class="#[u c-DateBlock]"&gt;
          &lt;dt class="#[u c-DateBlock__Date]"&gt;
            &lt;time datetime="2015-10-12"&gt;Oct 12, 2015&lt;/time&gt;
          &lt;/dt&gt;
          &lt;dd class="#[u c-DateBlock__Desc]"&gt;
            Optional Final Papers Due
          &lt;/dd&gt;
          &lt;dt class="#[u c-DateBlock__Date]"&gt;
            &lt;time datetime="2015-12-17"&gt;Dec 17, 2015&lt;/time&gt;
          &lt;/dt&gt;
          &lt;dd class="#[u c-DateBlock__Desc]"&gt;
            &lt;a class="o-Inline  #[u c-DateBlock__Link]" href=""&gt;Early-Bird Registration Closes&lt;/a&gt;
          &lt;/dd&gt;
        &lt;/dl&gt;
  section.sg-sect#speaker-component
    h2 The Speaker Component
    figure.sg-c-Fig
      div.c-Speaker(style="margin-bottom: 1.5rem;")
        p.c-Speaker__Name Donna Fulman, P.ASCE
        p.c-Speaker__JobTitle Interior Engineering Administration
        a.c-Speaker__Link(href="") example speaker link
        div.c-Speaker__Desc
          p Donna Fulman is an award-winning, German designer raised in Austria and currently living in New York City.
          p Former Lead Product Designer and Art Director at Spotify, he recently founded Semplice and at the same time serves on the AIGA Board of Directors in New York.
          p
            a.c-Speaker__Link(href="") Email
            a.c-Speaker__Link(href="") LinkedIn
            a.c-Speaker__Link(href="") Twitter
      pre.
        &lt;div class="#[u c-Speaker]"&gt;
          &lt;p class="#[u c-Speaker__Name]"&gt;Donna Fulman, P.ASCE&lt;/p&gt;
          &lt;p class="#[u c-Speaker__JobTitle]"&gt;Interior Engineering Administration&lt;/p&gt;
          &lt;a class="#[u c-Speaker__Link]"&gt;example speaker link&lt;/a&gt;
          &lt;div class="#[u c-Speaker__Desc]"&gt;
            &lt;p&gt;Donna Fulman is ...&lt;/p&gt;
            &lt;p&gt;Former Lead Product Designer ...&lt;/p&gt;
            &lt;p&gt;
              &lt;a class="#[u c-Speaker__Link]"&gt;Email&lt;/a&gt;
              ...
            &lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
  section.sg-sect#pass-component
    h2 The Pass Component
    p The Pass Component should be an #[code article] element.
    p.
      Remember that this is not a demonstration of an entire Pass Component.
      This simply demonstrates the Component&rsquo;s styles and the styles
      of its subcomponents. For a full demonstration, see the sample page.
    figure.sg-c-Fig
      article.c-Pass(style="margin-bottom: 1.5rem;")
        h1.c-Pass__Hn Standard Pass
        section.c-Pass__Period.c-Pass__Period--current
          h1.c-Pass__Period__Hn Advance
          dl
            dt.c-Pass__Attendee Non-Member
            dd.c-Pass__Price $945
            dt.c-Pass__Attendee Member
            dd.c-Pass__Price.c-Pass__Price--featured $845
        section.c-Pass__Period
          h1.c-Pass__Period__Hn Early Bird
          dl
            dt.c-Pass__Attendee Non-Member
            dd.c-Pass__Price $795
      pre.
        &lt;article class="#[u c-Pass]"&gt;
          &lt;h1 class="#[u c-Pass__Hn]"&gt;Standard Pass&lt;/h1&gt;
          &lt;section class="#[u c-Pass__Period]"  #[u c-Pass__Period--current]"&gt;
            &lt;h1 class="#[u c-Pass__Period__Hn]"&gt;Advance&lt;/h1&gt;
            &lt;dl&gt;
              &lt;dt class="#[u c-Pass__Attendee]"&gt;Non-Member&lt;/dt&gt;
              &lt;dd class="#[u c-Pass__Price]&gt;$945&lt;/dd&gt;
              &lt;dt class="#[u c-Pass__Attendee]"&gt;Member&lt;/dt&gt;
              &lt;dd class="#[u c-Pass__Price]  #[u c-Pass__Price--featured]&gt;$845&lt;/dd&gt;
            &lt;/dl&gt;
          &lt;/section&gt;
          &lt;section class="#[u c-Pass__Period]"&gt;
            &lt;h1 class="#[u c-Pass__Period__Hn]"&gt;Early Bird&lt;/h1&gt;
            &lt;dl&gt;
              &lt;dt class="#[u c-Pass__Attendee]"&gt;Non-Member&lt;/dt&gt;
              &lt;dd class="#[u c-Pass__Price]&gt;$795&lt;/dd&gt;
            &lt;/dl&gt;
          &lt;/section&gt;
        &lt;/article&gt;
  section.sg-sect#buttons
    h2 Buttons
    p Generic, general purpose buttons: #[code .c-Btn]
    figure.sg-c-Fig
      div(style="margin-bottom:1.5rem;"): a.c-Btn generic button
      pre.
        &lt;div&gt;
          &lt;a class="#[u c-Btn]"&gt;generic button&lt;/a&gt;
        &lt;/div&gt;
    p Highlight buttons, for singular button in highlight block: #[code .c-Btn.c-Btn--hilite]
    figure.sg-c-Fig
      div(style="margin-bottom:1.5rem;"): a.c-Btn.c-Btn--hilite regular highlight button
      div.o-Highlight.c-Banner(style="margin-bottom:1.5rem; z-index:1;"): a.c-Btn.c-Btn--hilite highlight button inside a banner
      pre.
        &lt;div&gt;
          &lt;a class="#[u c-Btn]  #[u c-Btn--hilite]"&gt;regular highlight button&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="c-Banner"&gt;
          &lt;a class="#[u c-Btn]  #[u c-Btn--hilite]"&gt;highlight button inside a banner&lt;/a&gt;
        &lt;/div&gt;
    p Hero button, for action button(s) in hero section: #[code .c-Btn.c-Btn--hero]
    figure.sg-c-Fig
      div(style="margin-bottom: 1.5rem;")
        a.c-Btn.c-Btn--hero hero button
        a.c-Btn.c-Btn--hilite.c-Btn--hero highlight hero button
      div.o-Highlight.c-Banner(style="margin-bottom:1.5rem; z-index:1;")
        a.c-Btn.c-Btn--hero hero button inside a banner
        a.c-Btn.c-Btn--hilite.c-Btn--hero highlight hero button inside a banner
      pre.
        &lt;div&gt;
          &lt;a class="#[u c-Btn]  #[u c-Btn--hero]"&gt;hero button&lt;/a&gt;
          &lt;a class="#[u c-Btn]  #[u c-Btn--hilite]  #[u c-Btn--hero]"&gt;hilight hero button&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="c-Banner"&gt;
          &lt;a class="#[u c-Btn]  #[u c-Btn--hero]"&gt;hero button inside a banner&lt;/a&gt;
          &lt;a class="#[u c-Btn]  #[u c-Btn--hilite]  #[u c-Btn--hero]"&gt;hilight hero button inside a banner&lt;/a&gt;
        &lt;/div&gt;
    p Inline buttons, for buttons inline with text: #[code .c-Btn.c-Btn--inline]
    figure.sg-c-Fig
      div(style="margin-bottom: 1.5rem;")
        p.
          The following button,
          #[a.c-Btn.c-Btn--inline inline button],
          is inline with the text in this paragraph.
      pre.
        &lt;div&gt;
          &lt;p&gt;The following button,
            &lt;a class="#[u c-Btn]  #[u c-Btn--inline]"&gt;inline button&lt;/a&gt;,
            is inline with the text in this paragraph.&lt;/p&gt;
        &lt;/div&gt;
