extends lib.tpl.jade

block append vars
  - var page_id = lib[4]
  - titles.push(page_id.name)

block append main__header
  nav#table-contents
    h2 Table of Contents
    +libtoc({pages: page_id.sub, depth: Infinity})

block append main
  section.sg-sect#masthead-mastfoot
    h2 The Masthead and Mastfoot
    figure.sg-c-Fig
      header.c-Mast
        h1 mast heading
        p mast content
        ul
          li: a(href="") mast link
          li: a(href="")._hover mast link hover
          li: a(href="")._active mast link active
          li: a mast link disabled
      pre.
        &lt;header class="#[u c-Mast]"&gt;
          &lt;h1&gt;mast heading&lt;/h1&gt;
          &lt;p&gt;mast content&lt;/p&gt;
          &lt;p&gt;&lt;a&gt;mast link&lt;/a&gt;&lt;/p&gt;
        &lt;/header&gt;
    figure.sg-c-Fig
      footer.c-Mast.c-Mast--copyright
        ul
          li: a(href="") mast link
          li: a(href="")._hover mast link hover
          li: a(href="")._active mast link active
          li: a mast link disabled
      pre.
        &lt;footer class="#[u c-Mast]  #[u c-Mast--copyright]"&gt;
          &lt;p&gt;&lt;a&gt;&copy; 1996&ndash;2016 American Society of Civil Engineers&lt;/a&gt;&lt;/p&gt;
        &lt;/footer&gt;
    figure.sg-c-Fig
      footer.c-Mast.c-Mast--internal
        ul
          li: a(href="") mast link
          li: a(href="")._hover mast link hover
          li: a(href="")._active mast link active
          li: a mast link disabled
      pre.
        &lt;footer class="#[u c-Mast]  #[u c-Mast--internal]"&gt;
          &lt;p&gt;&lt;a&gt;&copy; 1996&ndash;2016 American Society of Civil Engineers&lt;/a&gt;&lt;/p&gt;
        &lt;/footer&gt;
  section.sg-sect#site-title
    h2 The Site Title
    p Use with #[code .c-Camo].
    figure.sg-c-Fig
      a.o-Block.o-GridFloat.c-SiteTitle.c-Camo(href="" style="margin-bottom: 1.5rem;")
        span.o-GridFloat__Item.c-SiteTitle__Logo
        h1.o-GridFloat__Item.c-SiteTitle__Name ASCE Convention
        p.o-GridFloat__Item.c-SiteTitle__Tagline The Flagship Event of ASCE
      pre.
        &lt;a class="o-Block  o-GridFloat  #[u c-SiteTitle]  c-Camo"&gt;
          &lt;span class="o-GridFloat__Item  #[u c-SiteTitle__Logo]"&gt;&lt;/span&gt;
          &lt;h1 class="o-GridFloat__Item  #[u c-SiteTitle__Name]"&gt;ASCE Convention&lt;/h1&gt;
          &lt;p class="o-GridFloat__Item  #[u c-SiteTitle__Tagline]"&gt;The Flagship Event of ASCE&lt;/p&gt;
        &lt;/a&gt;
  section.sg-sect#universal-menu
    h2 The Universal Menu
    p #[strong Note:] Universal Menu will convert to pull-out drawer when screen is smaller than 720px.
    p Current Year menu item will appear exactly the same as Hero Button, but will not have that class.
    figure.sg-c-Fig
      -
        var pages1 = [
          { name: 'About'  , href: '' }
        , { name: 'Sponsor', href: '' }
        , { name: 'Exhibit', href: '' }
        , { name: 'Contact', href: '' }
        ]
        var pages2 = [
          { name: 'Home', href: '' }
        ]
      div(style="margin-bottom: 1.5rem;")
        include /includes/components/_c-MenuUniversal.jade
        +menuUniversal(pages1, pages2, 'ASCE 2016')
      ul.o-ListBare.o-GridFlex.c-MenuUniversal(style="margin-bottom: 1.5rem;")
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="")._hover menu item hover
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="")._active menu item active
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link menu item disabled
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link.c-MenuUniversal__Link--current(href="")._hover current year hover
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link.c-MenuUniversal__Link--current(href="")._active current year active
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-MenuUniversal]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-MenuUniversal__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuUniversal__Link]"&gt;About&lt;/a&gt;
          &lt;/li&gt;
          ...
          &lt;li class="o-GridFlex__Item  #[u c-MenuUniversal__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuUniversal__Link]  #[u c-MenuUniversal__Link--current]"&gt;ASCE 2016&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
  section.sg-sect#standard-menu
    h2 The Standard Menu
    figure.sg-c-Fig
      -
        var pages = [
          { name: 'Home'          , href: '' }
        , { name: 'Registration'  , href: '' }
        , { name: 'Program'       , href: '' }
        , { name: 'Hotel & Travel', href: '' }
        , { name: 'Speakers'      , href: '' }
        ]
      +sitemenulist({pages: pages, class_obj: menu_class.standard, depth: 0})
      ul.o-ListBare.o-GridFlex.c-MenuStandard(style="margin-bottom: 1.5rem;")
        li.o-GridFlex__Item.c-MenuStandard__Item._hover: a.o-Block.c-MenuStandard__Link(href="")._hover menu item hover
        li.o-GridFlex__Item.c-MenuStandard__Item._hover: a.o-Block.c-MenuStandard__Link(href="")._active menu item active
        li.o-GridFlex__Item.c-MenuStandard__Item: a.o-Block.c-MenuStandard__Link menu item disabled
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-MenuStandard]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-MenuStandard__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuStandard__Link]"&gt;Home&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#sub-menu
    h2 The Sub Menu
    figure.sg-c-Fig
      -
        var pages = [
          { name: 'Why Attend'                  , href: '' }
        , { name: 'Registration Submenu Item 2' , href: '' }
        , { name: 'Registration Submenu Item 3' , href: '' }
        ]
      div(style="height: 100px;")
        +sitemenulist({pages: pages, class_obj: menu_class.standard.sub, depth: 0})
      div(style="height: 100px;"): ul.o-ListBare.c-MenuSub
        li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="")._hover menu item hover
        li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="")._active menu item active
        li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link menu item disabled
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-MenuSub]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-MenuSub__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuSub__Link]"&gt;Why Attend&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#sitemap-component
    h2 The Sitemap Component
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFlex.c-Sitemap
        li.o-GridFlex__Item.c-Sitemap__Item
          a(href="") Home
        li.o-GridFlex__Item.c-Sitemap__Item
          a(href="") Registration
          ul.o-ListBare.c-Sitemap__SubList
            li.c-Sitemap__SubItem: a(href="") Why Attend
            li.c-Sitemap__SubItem: a(href="") Short Courses
            li.c-Sitemap__SubItem: a(href="") Technical Tours
            li.c-Sitemap__SubItem: a(href="") Optional Tours
        li.o-GridFlex__Item.c-Sitemap__Item
          a(href="") Program
          ul.o-ListBare.c-Sitemap__SubList
            li.c-Sitemap__SubItem: a(href="") Events
        li.o-GridFlex__Item.c-Sitemap__Item
          a(href="") Hotel &amp; Travel
          ul.o-ListBare.c-Sitemap__SubList
            li.c-Sitemap__SubItem: a(href="") International Travel
        li.o-GridFlex__Item.c-Sitemap__Item
          a(href="") Speakers
          ul.o-ListBare.c-Sitemap__SubList
            li.c-Sitemap__SubItem: a(href="") Distinguished Lecture Series
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-Sitemap]"&gt;
          &lt;li class="#[u c-Sitemap__Item]"&gt;
            &lt;a&gt;Home&lt;/a&gt;
          &lt;/li&gt;
          &lt;li class="#[u c-Sitemap__Item]"&gt;
            &lt;a&gt;Registration&lt;/a&gt;
            &lt;ul class="o-ListBare  #[u c-Sitemap__SubList]"&gt;
              &lt;li class="#[u c-Sitemap__SubItem]"&gt;
                &lt;a&gt;Why Attend&lt;/a&gt;
              &lt;/li&gt;
              ...
            &lt;/ul&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#page-title
    h2 The Page Title
    p Use #[code .c-PageTitle] for the top-level heading of a page.
    figure.sg-c-Fig
      h1.c-PageTitle A Page Title
      pre.
        &lt;h1 class="#[u c-PageTitle]"&gt;A Page Title&lt;/h1&gt;
    p Use #[code .c-PageTitle--special] if you want a special page title inside a banner.
    figure.sg-c-Fig
      div.c-Banner(style="height: 13.5rem; margin-bottom: 1.5rem; z-index:1;")
        h1.c-PageTitle.c-PageTitle--special special page title
      pre.
        &lt;div class="c-Banner"&gt;
          &lt;h1 class="#[u c-PageTitle]  #[u c-PageTitle--special]"&gt;special page title&lt;/h1&gt;
        &lt;/div&gt;
  section.sg-sect#banner-component
    h2 The Banner Component
    figure.sg-c-Fig
      div.c-Banner(style="margin-bottom: 1.5rem; z-index:1;")
        h1 banner heading
        p banner content
      pre.
        &lt;div class="#[u c-Banner]"&gt;
          &lt;h1&gt;banner heading&lt;/h1&gt;
          &lt;p&gt;banner content&lt;/p&gt;
        &lt;/div&gt;
  section.sg-sect#hero-block
    h2 The Hero Block
    figure.sg-c-Fig
      div.c-Hero
        h1.c-Hero__Name Geo-Risk 2016
        p.c-Hero__Detail
          span.c-Hero__Place Portland, OR
          span.c-Hero__Dates Sep 28&ndash;Oct 1
        p.c-Hero__Theme Geotechincal Risk From Theory to Practice
      pre.
        &lt;div class="#[u c-Hero]"&gt;
          &lt;h1 class="#[u c-Hero__Name]"&gt;Geo-Risk 2016&lt;/h1&gt;
          &lt;p class="#[u c-Hero__Detail]"&gt;
            &lt;span class="#[u c-Hero__Place]"&gt;Portland, OR&lt;/span&gt;
            &lt;span class="#[u c-Hero__Dates]"&gt;Sep 28&ndash;Oct 1&lt;/span&gt;
          &lt;/p&gt;
          &lt;p class="#[u c-Hero__Theme]"&gt;Geotechincal Risk ...&lt;/p&gt;
        &lt;/div&gt;
  section.sg-sect#other-year-block
    h2 An Other Year Block
    figure.sg-c-Fig
      div.c-OtherYear
        h1.c-OtherYear__Name ASCE 2015
        p.c-OtherYear__Detail New York, NY
        p.c-OtherYear__Desc.
          Access the 2015 program to see which sessions qualify for
          PDHs and other documentation.
      pre.
        &lt;div class="#[u c-OtherYear]"&gt;
          &lt;h1 class="#[u c-OtherYear__Name]"&gt;ASCE 2015&lt;/h1&gt;
          &lt;p class="#[u c-OtherYear__Detail]"&gt;New York, NY&lt;/p&gt;
          &lt;p class="#[u c-OtherYear__Desc]"&gt;Access the 2015 ...&lt;/p&gt;
        &lt;/div&gt;
  section.sg-sect#overlay-component
    h2 The Overlay Component
    p Use the Overlay Component over a Banner.
    figure.sg-c-Fig
      div.c-Banner(style="margin-bottom: 1.5rem; padding: 1.5rem; z-index:1;")
        div.c-Overlay(style="margin-bottom:1.5rem;")
          h1 overlay heading
          p overlay content
        div.c-Overlay.c-Overlay--callout(style="margin-bottom:1.5rem;")
          h1 overlay as callout heading
          p overlay as callout content
        div.c-Overlay.c-Overlay--inv(style="margin-bottom:1.5rem;")
          h1 inverted overlay heading
          p inverted overlay content
      pre.
        &lt;div class="c-Banner"&gt;
          &lt;div class="#[u c-Overlay]"&gt;
            &lt;h1&gt;overlay heading&lt;/h1&gt;
            &lt;p&gt;overlay content&lt;/p&gt;
          &lt;/div&gt;
          &lt;div class="#[u c-Overlay]  #[u c-Overlay--callout]"&gt;
            &lt;h1&gt;overlay as callout heading&lt;/h1&gt;
            &lt;p&gt;overlay as callout content&lt;/p&gt;
          &lt;/div&gt;
          &lt;div class="#[u c-Overlay]  #[u c-Overlay--inv]"&gt;
            &lt;h1&gt;inverted overlay heading&lt;/h1&gt;
            &lt;p&gt;inverted overlay content&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
  section.sg-sect#sponsor-block
    h2 The Sponsor Block
    p A Sponsor Block holds one group of sponsors.
    figure.sg-c-Fig
      section.c-SponsorBlock
        h1.c-SponsorBlock__Hn Large Sponsors
        ul.o-ListBare.o-GridFlex.o-ListStacked
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--lrg(href="" title="Bank of America" style="background-position: center; background-image: url('http://2016.asceconvention.org/sites/default/files/bank-of-america-logo.jpg');")
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--lrg(href="" title="UPS"             style="background-position: center; background-image: url('http://2016.asceconvention.org/sites/default/files/ups-logo.jpg');")
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--lrg(href="" title="Geico"           style="background-position: center; background-image: url('http://2016.asceconvention.org/sites/default/files/geico-logo.gif');")
      section.c-SponsorBlock
        h1.c-SponsorBlock__Hn Medium Sponsors
        ul.o-ListBare.o-GridFlex.o-ListStacked
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--med(href="" title="Bank of America" style="background-position: center; background-image: url('http://2016.asceconvention.org/sites/default/files/bank-of-america-logo.jpg');")
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--med(href="" title="UPS"             style="background-position: center; background-image: url('http://2016.asceconvention.org/sites/default/files/ups-logo.jpg');")
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--med(href="" title="Geico"           style="background-position: center; background-image: url('http://2016.asceconvention.org/sites/default/files/geico-logo.gif');")
      section.c-SponsorBlock
        h1.c-SponsorBlock__Hn Small Sponsors
        ul.o-ListBare.o-GridFlex.o-ListStacked
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--sml(href="" title="Bank of America" style="background-position: center; background-image: url('http://2016.asceconvention.org/sites/default/files/bank-of-america-logo.jpg');")
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--sml(href="" title="UPS"             style="background-position: center; background-image: url('http://2016.asceconvention.org/sites/default/files/ups-logo.jpg');")
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--sml(href="" title="Geico"           style="background-position: center; background-image: url('http://2016.asceconvention.org/sites/default/files/geico-logo.gif');")
      section.c-SponsorBlock
        h1.c-SponsorBlock__Hn Text Sponsors
        ul.o-ListBare.o-GridFlex.o-ListStacked
          li.o-GridFlex__Item.o-ListStacked__Item
            a.c-SponsorBlock__Text(href="") Bank of America
          li.o-GridFlex__Item.o-ListStacked__Item
            a.c-SponsorBlock__Text(href="") UPS
          li.o-GridFlex__Item.o-ListStacked__Item
            a.c-SponsorBlock__Text(href="") Geico
      pre.
        &lt;div class="#[u c-SponsorBlock]"&gt;
          &lt;h1 class="#[u c-SponsorBlock__Hn]"&gt;Large Sponsors&lt;/h1&gt;
          &lt;ul class="o-ListBare  o-GridFlex  o-ListStacked"&gt;
            &lt;li class="o-GridFlex__Item  o-ListStacked__Item"&gt;
              &lt;a class="o-Block  #[u c-SponsorBlock__Logo]  #[u c-SponsorBlock__Logo--lrg]"&gt;&lt;/a&gt;
            &lt;/li&gt;
            ...
          &lt;/ul&gt;
        &lt;/div&gt;
        ...
        &lt;div class="#[u c-SponsorBlock]"&gt;
          &lt;h1 class="#[u c-SponsorBlock__Hn]"&gt;Text Sponsors&lt;/h1&gt;
          &lt;ul class="o-ListBare  o-GridFlex  o-ListStacked"&gt;
            &lt;li class="o-GridFlex__Item  o-ListStacked__Item"&gt;
              &lt;a class="#[u c-SponsorBlock__Text]"&gt;Bank of America&lt;/a&gt;
            &lt;/li&gt;
            ...
          &lt;/ul&gt;
        &lt;/div&gt;
  section.sg-sect#date-block
    h2 The Date Block
    figure.sg-c-Fig
      dl.c-DateBlock
        dt.c-DateBlock__Date
          time(datetime="2015-10-12") Oct 12, 2015
        dd.c-DateBlock__Desc
          | Optional Final Papers Due
        dt.c-DateBlock__Date
          time(datetime="2015-12-17") Dec 17, 2015
        dd.c-DateBlock__Desc
          a.o-Block.c-DateBlock__Link(href="")
            | Early-Bird Registration Closes
            i.material-icons arrow_forward
      pre.
        &lt;dl class="#[u c-DateBlock]"&gt;
          &lt;dt class="#[u c-DateBlock__Date]"&gt;
            &lt;time datetime="2015-10-12"&gt;Oct 12, 2015&lt;/time&gt;
          &lt;/dt&gt;
          &lt;dd class="#[u c-DateBlock__Desc]"&gt;
            Optional Final Papers Due
          &lt;/dd&gt;
          &lt;dt class="#[u c-DateBlock__Date]"&gt;
            &lt;time datetime="2015-12-17"&gt;Dec 17, 2015&lt;/time&gt;
          &lt;/dt&gt;
          &lt;dd class="#[u c-DateBlock__Desc]"&gt;
            &lt;a class="o-Inline  #[u c-DateBlock__Link]"&gt;
              Early-Bird Registration Closes
              #[mark!= '&lt;i class="material-icons"&gt;arrow_forward&lt;/i&gt;']
            &lt;/a&gt;
          &lt;/dd&gt;
        &lt;/dl&gt;
  section.sg-sect#pass-component
    h2 The Pass Component
    p The Pass Component should be an #[code article] element.
    p.
      Remember that this is not a demonstration of an entire Pass Component.
      This simply demonstrates the Component&rsquo;s styles and the styles
      of its subcomponents. For a full demonstration, see the sample page.
    figure.sg-c-Fig
      article.c-Pass(style="margin-bottom: 1.5rem;")
        header.c-Pass__Head
          h1.c-Pass__Hn Speaker Pass
          p.c-Pass__Desc Speakers and Presenters
        section.c-Pass__Body.c-Pass__Period
          h1.c-Pass__Period__Hn Advance
          dl
            dt.c-Pass__Period__Attendee Non-Member
            dd.c-Pass__Period__Price $945
            dt.c-Pass__Period__Attendee Member
            dd.c-Pass__Period__Price.c-Pass__Price--featured $845
        footer.o-GridFlex.c-Pass__Foot
          section.o-GridFlex__Item.-w-1o2.c-Pass__Period
            h1.c-Pass__Period__Hn Advance
            dl
              dt.c-Pass__Period__Attendee Non-Member
              dd.c-Pass__Period__Price $945
              dt.c-Pass__Period__Attendee Member
              dd.c-Pass__Period__Price $845
          section.o-GridFlex__Item.-w-1o2.c-Pass__Period
            h1.c-Pass__Period__Hn Advance
            dl
              dt.c-Pass__Period__Attendee Non-Member
              dd.c-Pass__Period__Price $945
              dt.c-Pass__Period__Attendee Member
              dd.c-Pass__Period__Price $845
      pre.
        &lt;article class="#[u c-Pass]"&gt;
          &lt;header class="#[u c-Pass__Head]"&gt;
            &lt;h1 class="#[u c-Pass__Hn]"&gt;Speaker Pass&lt;/h1&gt;
            &lt;p class="#[u c-Pass__Desc]"&gt;Speakers and Presenters&lt;/p&gt;
          &lt;/header&gt;
          &lt;section class="#[u c-Pass__Body]  #[u c-Pass__Period]"&gt;
            &lt;h1 class="#[u c-Pass__Period__Hn]"&gt;Advance&lt;/h1&gt;
            &lt;dl&gt;
              &lt;dt class="#[u c-Pass__Period__Attendee]"&gt;Non-Member&lt;/dt&gt;
              &lt;dd class="#[u c-Pass__Period__Price]&gt;$945&lt;/dd&gt;
              &lt;dt class="#[u c-Pass__Period__Attendee]"&gt;Member&lt;/dt&gt;
              &lt;dd class="#[u c-Pass__Period__Price]  #[u c-Pass__Price--featured]&gt;$845&lt;/dd&gt;
            &lt;/dl&gt;
          &lt;/section&gt;
          &lt;footer class="o-GridFlex  #[u c-Pass__Foot]"&gt;
            &lt;section class="o-GridFlex__Item  #[u c-Pass__Period]"&gt;
              ...
            &lt;/section&gt;
            &lt;section class="o-GridFlex__Item  #[u c-Pass__Period]"&gt;
              ...
            &lt;/section&gt;
          &lt;/footer&gt;
        &lt;/article&gt;
  section.sg-sect#program-component
    h2 The Program Component
    p Enable Javascript to experience visual effects.
    figure.sg-c-Fig
      section.o-GridFlex.c-Program
        h1.o-GridFlex__Item.c-Program__Hn: label
          input.c-Program__Check(type="radio" name="program" value="2016-09-28" checked="")
          time(datetime="2016-09-28") Wednesday,#[br]Sep 28
        div.o-GridFlex__Item.c-Program__Schedule program schedule content 1
        h1.o-GridFlex__Item.c-Program__Hn: label
          input.c-Program__Check(type="radio" name="program" value="2016-09-29")
          time(datetime="2016-09-29") Thursday,#[br]Sep 29
        div.o-GridFlex__Item.c-Program__Schedule program schedule content 2
        h1.o-GridFlex__Item.c-Program__Hn: label
          input.c-Program__Check(type="radio" name="program" value="2016-09-30")
          time(datetime="2016-09-30") Friday,#[br]Sep 30
        div.o-GridFlex__Item.c-Program__Schedule program schedule content 3
        h1.o-GridFlex__Item.c-Program__Hn: label
          input.c-Program__Check(type="radio" name="program" value="2016-10-01")
          time(datetime="2016-10-01") Saturday,#[br]Oct 1
        div.o-GridFlex__Item.c-Program__Schedule program schedule content 4
      pre.
        &lt;section class="o-GridFlex  #[u c-Program]"&gt;
          &lt;h1 class="o-GridFlex__Item  #[u c-Program__Hn]"&gt;
            &lt;label&gt;
              &lt;input class="#[u c-Program__Check]" type="radio" name="program" value="2016-09-28"/&gt;
              &lt;time datetime="2016-09-28"&gt;Wednesday, Sep 28&lt;/time&gt;
            &lt;/label&gt;
          &lt;/h1&gt;
          &lt;div class="o-GridFlex__Item  #[u c-Program__Schedule]"&gt;program schedule ...&lt;/p&gt;

          &lt;h1 class="o-GridFlex__Item  #[u c-Program__Hn]"&gt;
            ...
            &lt;input class="#[u c-Program__Check]" .../&gt;
            ...
          &lt;/h1&gt;
          &lt;div class="o-GridFlex__Item  #[u c-Program__Schedule]"&gt;...&lt;/p&gt;

          ...
        &lt;/section&gt;
  section.sg-sect#time-block
    h2 The Time Block
    figure.sg-c-Fig
      dl.o-GridFlex.c-TimeBlock
        dt.o-GridFlex__Item.c-TimeBlock__Times
          time= hourTime12(new Date(new Date().setHours(10, 30)))
          | &ndash;
          time= hourTime12(new Date(new Date().setHours(17, 0)))
        dd.o-GridFlex__Item.c-TimeBlock__Desc
          a.o-Block.c-TimeBlock__Link(href="")
            | Technical Tours
            i.material-icons arrow_forward
        dt.o-GridFlex__Item.c-TimeBlock__Times
          time= hourTime12(new Date(new Date().setHours(13, 0)))
          | &ndash;
          time= hourTime12(new Date(new Date().setHours(16, 30)))
        dd.o-GridFlex__Item.c-TimeBlock__Desc Short Courses
      pre.
        &lt;dl class="o-GridFlex  #[u c-TimeBlock]"&gt;
          &lt;dt class="o-GridFlex__Item  #[u c-TimeBlock__Times]"&gt;
            &lt;time&gt;10:30am&lt;/time&gt;&ndash;&lt;time&gt;5pm&lt;/time&gt;
          &lt;/dt&gt;
          &lt;dd class="o-GridFlex__Item  #[u c-TimeBlock__Desc]"&gt;
            &lt;a class="o-Block  #[u c-TimeBlock__Link]"&gt;Technical Tours&lt;/a&gt;
          &lt;/dd&gt;
          &lt;dt class="o-GridFlex__Item  #[u c-TimeBlock__Times]"&gt;...&lt;/dt&gt;
          &lt;dd class="o-GridFlex__Item  #[u c-TimeBlock__Desc]"&gt;...&lt;/dd&gt;
          ...
        &lt;/dl&gt;
  section.sg-sect#speaker-component
    h2 The Speaker Component
    figure.sg-c-Fig
      article.c-Speaker(style="margin-bottom: 1.5rem;")
        div.c-Speaker__Img(style="background-image: url(../sample/img/headshot1.jpg)")
          header.c-Speaker__Head
            h1.c-Speaker__Name Donna Fulman, P.ASCE
            p.c-Speaker__JobTitle Interior Engineering Administration
        div.c-Speaker__Body
          div.c-Speaker__Bio
            p Donna Fulman is an award-winning, German designer raised in Austria and currently living in New York City.
            p Former Lead Product Designer and Art Director at Spotify, she recently founded Semplice and at the same time serves on the AIGA Board of Directors in New York.
          footer: ul.o-ListBare
            li.o-Inline: a.c-Speaker__Link(href="") Email
            li.o-Inline: a.c-Speaker__Link(href="") LinkedIn
            li.o-Inline: a.c-Speaker__Link(href="") Twitter
      pre.
        &lt;article class="#[u c-Speaker]"&gt;
          &lt;div class="#[u c-Speaker__Img]" #[u style="background-image: url('#[var= '/path-to-img-src/']');"]&gt;
            &lt;header class="#[u c-Speaker__Head]"&gt;
              &lt;h1 class="#[u c-Speaker__Name]"&gt;Donna Fulman, P.ASCE&lt;/h1&gt;
              &lt;p class="#[u c-Speaker__JobTitle]"&gt;Interior Engineering Administration&lt;/p&gt;
            &lt;/header&gt;
          &lt;/div&gt;
          &lt;div class="#[u c-Speaker__Body]"&gt;
            &lt;div class="#[u c-Speaker__Bio]"&gt;
              &lt;p&gt;Donna Fulman is ...&lt;/p&gt;
              &lt;p&gt;Former Lead Product Designer ...&lt;/p&gt;
            &lt;/div&gt;
            &lt;ul class="o-ListBare"&gt;
              &lt;li class="o-Inline"&gt;&lt;a class="#[u c-Speaker__Link]"&gt;Email&lt;/a&gt;&lt;/li&gt;
              ...
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/article&gt;
  section.sg-sect#social-list
    h2 The Social List
    p.
      There are two Social List styles: one is a normal list, placeable anywhere,
      and the second is inside a #[code footer] element.
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFlex.c-SocialList
        li.o-GridFlex__Item.c-SocialList__Item
          a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" title="Follow #ASCE2016 on Twitter")
        li.o-GridFlex__Item.c-SocialList__Item
          a.o-Block.c-SocialList__Link.c-SocialList__Link--google(href="" title="Follow #ASCE2016 on Google+")
        li.o-GridFlex__Item.c-SocialList__Item
          a.o-Block.c-SocialList__Link.c-SocialList__Link--facebook(href="" title="Follow #ASCE2016 on Facebook")
      ul.o-ListBare.o-GridFlex.c-SocialList
        li.o-GridFlex__Item.c-SocialList__Item
          span menu item hover:
          a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" title="Follow #ASCE2016 on Twitter")._hover
        li.o-GridFlex__Item.c-SocialList__Item
          span menu item active:
          a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" title="Follow #ASCE2016 on Twitter")._active
      footer
        p This is a #[code footer] element.
        ul.o-ListBare.o-GridFlex.c-SocialList
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" itemprop="sameAs" title="Follow ASCE on Twitter")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--google(href="" itemprop="sameAs" title="Follow ASCE on Google+")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--facebook(href="" itemprop="sameAs" title="Follow ASCE on Facebook")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--linkedin(href="" itemprop="sameAs" title="Follow ASCE on LinkedIn")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--youtube(href="" itemprop="sameAs" title="Follow ASCE on YouTube")
        ul.o-ListBare.o-GridFlex.c-SocialList
          li.o-GridFlex__Item.c-SocialList__Item
            span in footer menu item hover:
            a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" title="Follow #ASCE2016 on Twitter")._hover
          li.o-GridFlex__Item.c-SocialList__Item
            span in footer menu item active:
            a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" title="Follow #ASCE2016 on Twitter")._active
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-SocialList]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-SocialList__Item]"&gt;
            &lt;a class="o-Block  #[u c-SocialList__Link]  #[u c-SocialList__Link--twitter]"&gt;&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
        &lt;footer&gt;
          #[small &lt;!-- second social list exactly the same structure as above --&gt;]
        &lt;/footer&gt;
  section.sg-sect#callout-component
    h2 The Callout Component
    figure.sg-c-Fig
      p.c-Callout A callout! Use whatever the heck element you want, even a #[code &lt;figure&gt;]!
      pre.
        &lt;p class="#[u c-Callout]"&gt;A callout! ...&lt;/p&gt;
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFlex.c-Callout
        li.c-Callout__Item An item in a callout list!
        li.c-Callout__Item Another item in a callout list!
        li.c-Callout__Item Note the padding!
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-Callout]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-Callout__Item]"&gt;...&lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#buttons
    h2 Buttons
    p.
      Buttons are displayed inline-block, so in order to preserve
      vertical rhythm, be sure to contain them in typographical block-level elements
      such as paragraphs or lists.
    p.
      Button Components may be in the form of #[code a] elements (links or anchors) or
      #[code button] elements.
      Keep in mind these button usage guidelines: #[code button]s should
      indicate action and be worded actionably. Use an #[code a] instead of a #[code button]
      if there is a
      meaningful target href or url. Of course, #[code a] elements
      as well as #[code button] elements may be styled
      to look like Button Components.
    p Every Button Component must have styles available for each of the following states:
    dl
      dt.-fw-7 default
      dd the button does something or the link goes somewhere, but the user is not interacting with the component
      dt.-fw-7 hover/focus
      dd the user&rsquo;s cursor is hovering over the component, or the user agent is focusing on the component
      dt.-fw-7 active
      dd the user is in the process of clicking the component
      dt.-fw-7 disabled
      dd.
        the element is a #[code button] with the #[code disabled] attribute or
        is an #[code a] with no #[code href] attribute.
        the component is inaccessable and/or does nothing, and the user
        may not interact with it
    p.
      Each of these states is demonstrated in the sections below, however
      only the code for the default state is shown.
    p.
      #[strong Important:] colors will vary by site. Colors shown here are
      #[a(href="visual.html") ASCE 2016].
    h3 Generic Buttons
    p Generic, general purpose buttons.
    figure.sg-c-Fig
      div(style="margin-bottom:1.5rem;"): a.c-Btn(href="#0") generic button
      div(style="margin-bottom:1.5rem;")
        a.c-Btn(href="#0")._hover generic button hover
        a.c-Btn(href="#0")._active generic button active
        a.c-Btn generic button disabled
      pre.
        &lt;a class="#[u c-Btn]"&gt;generic button&lt;/a&gt;
    h3 Highlight Buttons
    p Highlight buttons, for large buttons in highlight block.
    figure.sg-c-Fig
      div(style="margin-bottom:1.5rem;"): a.c-Btn.c-Btn--hilite(href="#0") highlight button
      div(style="margin-bottom:1.5rem;")
        a.c-Btn.c-Btn--hilite(href="#0")._hover highlight button hover
        a.c-Btn.c-Btn--hilite(href="#0")._active highlight button active
        a.c-Btn.c-Btn--hilite highlight button disabled
      pre.
        &lt;a class="#[u c-Btn]  #[u c-Btn--hilite]"&gt;highlight button&lt;/a&gt;
    h3 Inline Buttons
    p Inline buttons, for buttons in line with text.
    figure.sg-c-Fig
      p.
        The following button,
        #[a.c-Btn.c-Btn--inline(href="#0") inline button],
        is in line with the text in this paragraph.
      p Lorem ipsum #[a.c-Btn.c-Btn--inline(href="#0")._hover inline button hover] dolor.
      p Lorem ipsum #[a.c-Btn.c-Btn--inline(href="#0")._active inline button active] dolor.
      p Lorem ipsum #[a.c-Btn.c-Btn--inline inline button disabled] dolor.
      pre.
        &lt;p&gt;The following button,
          &lt;a class="#[u c-Btn]  #[u c-Btn--inline]"&gt;inline button&lt;/a&gt;,
          is in line with the text in this paragraph.&lt;/p&gt;
    h3 Hero Buttons
    p Hero button, for action button(s) in hero section. Combine with Highlight button to make bigger.
    figure.sg-c-Fig
      div(style="margin-bottom: 1.5rem;"): a.c-Btn.c-Btn--hero(href="#0") hero button
      div(style="margin-bottom: 1.5rem;")
        a.c-Btn.c-Btn--hero(href="#0")._hover hero button hover
        a.c-Btn.c-Btn--hero(href="#0")._active hero button active
        a.c-Btn.c-Btn--hero hero button disabled
      pre.
        &lt;a class="#[u c-Btn]  #[u c-Btn--hero]"&gt;hero button&lt;/a&gt;
    h3 Dominant Buttons
    p Dominant button, for emphasizing a button when it is near other not-as-important buttons.
    figure.sg-c-Fig
      div(style="margin-bottom: 1.5rem;"): a.c-Btn.c-Btn--dominant(href="#0") dominant button
      div(style="margin-bottom: 1.5rem;")
        a.c-Btn.c-Btn--dominant(href="#0")._hover dominant button hover
        a.c-Btn.c-Btn--dominant(href="#0")._active dominant button active
        a.c-Btn.c-Btn--dominant dominant button disabled
      pre.
        &lt;a class="#[u c-Btn]  #[u c-Btn--dominant]"&gt;dominant button!&lt;/a&gt;
    h3 Ghost Buttons
    p.
      Ghost buttons can be used on a colored or image background.
      Obviously, choose a background and a button color that won&rsquo;t clash.
    figure.sg-c-Fig
      div(style="margin-bottom: 1.5rem;"): a.c-Btn.c-Btn--ghost(href="#0") ghost button
      div(style="margin-bottom: 1.5rem;")
        a.c-Btn.c-Btn--ghost(href="#0")._hover ghost button hover
        a.c-Btn.c-Btn--ghost(href="#0")._active ghost button active
        a.c-Btn.c-Btn--ghost ghost button disabled
      div.o-Highlight.c-Banner(style="margin-bottom:1.5rem; z-index:1;")
        a.c-Btn.c-Btn--ghost(href="#0") ghost button inside a banner
        a.c-Btn.c-Btn--ghost(href="#0")._hover ghost button hover inside a banner
        a.c-Btn.c-Btn--ghost(href="#0")._active ghost button active inside a banner
        a.c-Btn.c-Btn--ghost ghost button disabled inside a banner
      pre.
        &lt;a class="#[u c-Btn]  #[u c-Btn--ghost]"&gt;ghost button&lt;/a&gt;
    h3 Flat Buttons
    p Flat, link-ish buttons.
    figure.sg-c-Fig
      div(style="margin-bottom: 1.5rem;"): a.c-Btn.c-Btn--flat(href="#0") flat button
      div(style="margin-bottom: 1.5rem;")
        a.c-Btn.c-Btn--flat(href="#0")._hover flat button hover
        a.c-Btn.c-Btn--flat(href="#0")._active flat button active
        a.c-Btn.c-Btn--flat flat button disabled
      div.o-Highlight.c-Banner(style="margin-bottom:1.5rem; z-index:1;")
        a.c-Btn.c-Btn--flat(href="#0") flat button inside a banner
        a.c-Btn.c-Btn--flat(href="#0")._hover flat button hover inside a banner
        a.c-Btn.c-Btn--flat(href="#0")._active flat button active inside a banner
        a.c-Btn.c-Btn--flat flat button disabled inside a banner
      pre.
        &lt;a class="#[u c-Btn]  #[u c-Btn--flat]"&gt;flat button&lt;/a&gt;
    h3 Drawer Buttons
    p Drawer buttons for pull-out menu.
    p These are actually #[code button] elements. #[i Close] button is fixed to the top right.
    figure.sg-c-Fig
      div(style="margin-bottom: 1.5rem;")
        button.c-Btn.c-Btn--drawer open
        button.c-Btn.c-Btn--drawer.c-Btn--drawer--close close
      pre.
        &lt;button class="#[u c-Btn]  #[u c-Btn--drawer]"&gt;open&lt;/button&gt;
        &lt;button class="#[u c-Btn]  #[u c-Btn--drawer]  #[u c-Btn--drawer--close]"&gt;close&lt;/button&gt;
      button.c-Btn.c-Btn--drawer._hover drawer hover
      button.c-Btn.c-Btn--drawer._active drawer active
      button.c-Btn.c-Btn--drawer(disabled) drawer disabled
  section.sg-sect#text-level-components
    h2 Text-Level Components
    h3 Camo Links
    p.
      A Camo Link is a link that blends with its surrounding text.
      It unsets the default styles assigned to unclassed #[code a] elements
      (also known as anchors).
      Essentially, use it for when you need a link but don&rsquo;t
      want to expose it to the user.
      In fact, this class can be used on any element, not just anchors.
    figure.sg-c-Fig
      p Inside this paragraph is a #[a.c-Camo(href="") camouflaged link]. See where you can find it.
      pre.
        &lt;p&gt;Inside this paragraph is a
          &lt;a class="#[u c-Camo]"&gt;camouflaged link&lt;/a&gt;.
          See where you can find it.&lt;p&gt;
    p.
      #[strong Note to developers:] the #[code .c-Camo] class uses #[code !important] on
      all its styles, so use only when necessary. And if possible, use on the
      innermost element. E.g.:
    pre.
      &lt;span&gt;&lt;a class="c-Camo"&gt;correct&lt;/a&gt;&lt;/span&gt;
      #[small!= '&lt;!-- a class="c-Camo"&gt;&lt;span&gt;incorrect&lt;/span&gt;&lt;/a --&gt;']
