doctype html
html(lang="en")
  head
    title Helpers | Pattern Library | ASCE Conferences Styleguide
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../node_modules/xmeter/xmeter.min.css")
    link(rel="stylesheet" href="../node_modules/bangs/bangs.min.css")
    link(rel="stylesheet" href="../styles/conf.css")
    link(rel="stylesheet" href="../styles/styleguide.css")
  body
    main
      header
        h1 ASCE Conferences Styleguide &mdash; Pattern Library &mdash; Helpers
    footer
      nav
        h1 Subsitemap
        ol
          li: a(href="index.html") Pattern Library
          li: a(href="base.html") Base
          li: a(href="obj.html") Objects
          li: a(href="comp-typo.html") Typographical Components
          li: a(href="comp-ui.html") UI Components
          li: a(href="helpers.html" rel="this") Helpers
          li: a(href="atoms.html") Atoms
      nav
        h1 Sitemap
        ol
          li: a(href="../index.html") Home
          li: a(href="../coding.html") Coding Style
          li: a(href="../writing.html") Writing Style
          li: a(href="../visual.html") Visual Style
          li: a(href="index.html") Pattern Library
          li: a(href="../struct.html") File Structure
          li: a(href="../sample/index.html") Sample Site
