extends _lib.tpl.jade

block append vars
  - var page = Lib.getPage('help.html')

block append main
  div.docs-t-Xmeter
    include /node_modules/xmeter/docs/includes/_h-Block.docs.jade
    +docs_block(Lib.DOCS_CLASSES)
    include /node_modules/xmeter/docs/includes/_h-Inline.docs.jade
    +docs_inline(Lib.DOCS_CLASSES)
    include /node_modules/xmeter/docs/includes/_h-Clearfix.docs.jade
    +docs_clearfix(Lib.DOCS_CLASSES)
