extends lib.tpl.jade

block append vars
  - var is_index_page = true

block append main
  p.
    This pattern library contains demos of components
    that live on conference website pages. These components are shown out of context,
    free from distraction, so you can quickly choose the best one to fit your
    design needs. Each demo also has accompanying example code to show its proper use.
  p.
    #[strong Note:] On these pages, component demos and example code will be
    placed in #[code &lt;figure&gt;] elements to separate them from the surrounding documentation.
  nav
    h2 Table of Contents
    section
      h3: a(href="visual.html") Visual Design
    section
      h3: a(href="base.html") Base Typography
      p Bare, unstyled HTML elements. No classes.
      ol
        li Headings &amp; Paragraphs
        li Lists
        li Tables
        li Text-Level Elements
          ol
            li Links
            li Stress
            li Documentation
            li Data
        li Embedded Elements
        li Interactive Elements
    section
      h3: a(href="obj.html") Objects
      p Patterns of structure that can be reused many times for many different purposes.
      ol
        li The Block Object
        li The Inline Object
        li The Bare List
        li The Flex Grid
        li The Float Grid
        li The Runner Object
        li The Sponsors List
        li The Speakers List
        li The Pass List
    section
      h3: a(href="comp.html") Components
      p Patterns of look-and-feel that are each only used for one purpose.
      ol
        li The Masthead and Mastfoot
        li The Site Title
        li The Universal Menu
        li The Social List
        li The Standard Menu
        li The Sub Menu
        li The Sitemap Component
        li The Page Title
        li The Banner Component
        li The Hero Block
        li The Other Year Block
        li The Overlay Component
        li The Sponsor Block
        li The Date Block
        li The Speaker Component
        li The Pass Component
        li Buttons
        //- li: section
          h4: a(href="comp-typo.html") Typographical Components
          p Static, textual content. No user interaction or functionality.
          ol
            li Headings
            li Paragraphs
              ol
                li Hero Lede
                li Person Name, Title
                li Date Block
                li Session Column
            li Inline Text
              ol
                li Date Text
                li Links
                  ol
                    li Link Arrow
                    li Link to PDF
                    li Link to Email
                    li Link in Banner, Header, Footer, etc.
            li Callouts
              ol
                li Generic Callout
                li Register Callout
                li Dates Callout
                li Sponsors Callout
            li Summary Banner
        //- li: section
          h4: a(href="comp-ui.html") UI (user-interactive) Components
          p Dynamic, user-interactive, visually identifiable, functional, and even pretty.
          ol
            li Year Badge
            li Year Ribbon
            li Conference Logo
            li Speaker Photo
            li Navigation Bars
              ol
                li Generic Navigation Bar
                li Main Navigation Bar
                li Side Navigation Bar
                li Utility Navigation Bar
                li Secondary Navigation Bar
                li Year Tab Bar
            li Speaker Profile
            li Speaker Details
            li Buttons
            li Flags
    section
      h3: a(href="helpers.html") Helpers
      p Somewhat explicit classes used for enhancing default styles.
    section
      h3: a(href="atoms.html") Atoms
      p Very specific classes used for creating anomalies or fixing broken styles.
      ol
        li Floats
        li Widths
