extends lib.tpl.jade

block append vars
  - var page_id = lib[0]
  - titles.pop()
  - titles.push(page_id.name)

block main
  header
    h1= mainH1(titles)
  p.
    This pattern library contains demos of components
    that live on conference website pages. These components are shown out of context,
    free from distraction, so you can quickly choose the best one to fit your
    design needs. Each demo also has accompanying example code to show its proper use.
  p.
    #[strong Note:] On these pages, component demos and example code will be
    placed in #[code &lt;figure&gt;] elements to separate them from the surrounding documentation.
  nav#table-contents
    h2 Table of Contents
    each page in lib.slice(1)
      section
        h3: a(href=page.href)= page.name
        p= page.description
        +libtoc({pages: page.sub, depth: Infinity})
