extends lib.tpl.jade

block append main
  p.
    This pattern library contains demos of components
    that live on conference website pages. These components are shown out of context,
    free from distraction, so you can quickly choose the best one to fit your
    design needs. Each demo also has accompanying example code to show its proper use.
  p.
    #[strong Note:] On these pages, component demos and example code will be
    placed in #[code &lt;figure&gt;] elements to separate them from the surrounding documentation.
  nav
    h2 Table of Contents
    section
      h3: a(href="visual.html") Visual Design
      p Color and font schemes, look-and-feel, overall mood and tone.
    section
      h3: a(href="base.html") Base Typography
      p Bare, unstyled HTML elements. No classes.
      +menulist({pages: lib[2].sub, depth: Infinity})
    section
      h3: a(href="obj.html") Objects
      p Patterns of structure that can be reused many times for many different purposes.
      +menulist({pages: lib[3].sub, depth: Infinity})
    section
      h3: a(href="comp.html") Components
      p Patterns of look-and-feel that are each only used for one purpose.
      +menulist({pages: lib[4].sub, depth: Infinity})
    section
      h3: a(href="helpers.html") Helpers
      p Somewhat explicit classes used for enhancing default styles.
      +menulist({pages: lib[5].sub, depth: Infinity})
    section
      h3: a(href="atoms.html") Atoms
      p Very specific classes used for creating anomalies or fixing broken styles.
      +menulist({pages: lib[6].sub, depth: Infinity})
