doctype html
html(lang="en")
  include ../includes/_data-global.jade
  include includes/_data-lib.jade
  include includes/_mixins-lib.jade
  head
    - var titles = ['ASCE Conferences Styleguide', 'Pattern Library']
    block vars
    title= title(titles)
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,400italic,700")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/v4.1.0/xmeter.min.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.8.0/bangs.min.css")
    link(rel="stylesheet" href="../styles/conf.css")
    link(rel="stylesheet" href="styles/lib.css")
  body
    main
      block main
        header
          block main__header
            h1= mainH1(titles)
    footer
      nav
        h1 Subsitemap
        +menulist({structure: pages})
      nav
        h1 Sitemap
        ol
          li: a(href="../index.html") Home
          li: a(href="index.html") Pattern Library
          li: a(href="../sample/index.html") Sample Site
