extends lib.tpl.jade

block append vars
  - titles.push('Objects')

block append main__header
  nav#table-contents
    h2 Table of Contents
    ol
      li: a(href="#table-contents") Table of Contents
      li: a(href="#block-object") The Block Object
      li: a(href="#inline-object") The Inline Object
      li: a(href="#bare-list") The Bare List
      li: a(href="#flex-grid") The Flex Grid
      li: a(href="#float-grid") The Float Grid
      li: a(href="#highlight-object") The Highlight Object
      li: a(href="#runner-object") The Runner Object
      li: a(href="#sponsors-list") The Sponsors List
      li: a(href="#speakers-list") The Speakers List

block append main
  section.sg-sect#block-object
    h2 The Block Object
    figure.sg-c-Fig
      div.
        A simple block object. Use this class to display an element as a
        #[span.o-Block block element,]
        with an inherited line-height to maintain vertical rhythm.
      pre.
        ... to display an element as a &lt;span class="#[u o-Block]"&gt;block element,&lt;/span&gt; with ...
  section.sg-sect#inline-object
    h2 The Inline Object
    p.
      A simple inline object. Use this class to display an element as an
      inline element,
      with zero line-height to maintain vertical rhythm.
    p.
      This class is useful for creating inline lists, that is,
      lists whose items are each displayed one right after another, inline.
    figure.sg-c-Fig
      ul
        li.o-Inline Burns &amp; McDonnell Engineering
        li.o-Inline DIS-TRAN Steel, LLC
        li.o-Inline EDM International
        li.o-Inline Electrical Consultants, Inc.
        li.o-Inline Fabrimet Inc.
        li.o-Inline Falcon Steel Company
      pre.
        &lt;ul&gt;
          &lt;li class="#[u o-Inline]"&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
          &lt;li class="#[u o-Inline]"&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#bare-list
    h2 The Bare List
    p.
      Use the Bare List object to remove the usual padding and list item markers accompanied by
      (un)ordered lists. The result is a list of items, each on its own line.
      Combine this class with other classes to create a variety of styles.
    figure.sg-c-Fig
      ul.o-ListBare
        li Burns &amp; McDonnell Engineering
        li DIS-TRAN Steel, LLC
        li EDM International
        li Electrical Consultants, Inc.
        li Fabrimet Inc.
        li Falcon Steel Company
      pre.
        &lt;ul class="#[u o-ListBare]"&gt;
          &lt;li&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
          &lt;li&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#flex-grid
    h2 The Flex Grid
    p.
      A Flex Grid is simply a list of items arranged like blocks in a grid.
      It has the structure of a list in that all items share the same container
      (unlike tables where items are in different rows), while at the same time
      appearing like a table with rows and columns.
    p.
      The Flex Grid can be flexible and responsive, adjusting the number of
      columns based on screen size.
      By default, each item has full width.
      #[mark Remember to set the widths of each item in order to achieve a grid-like appearance.]
    p.
      The container must have the #[code .o-GridFlex] class and
      each item must have the #[code .o-GridFlex__Item] class.
      To remove normal list styles (padding, bullets, etc.),
      add class #[code .o-ListBare] to the container.
      If the items are normally inline elements, remember to add class
      #[code .o-Block] to each one.
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFlex
        li.o-GridFlex__Item Burns &amp; McDonnell Engineering
        li.o-GridFlex__Item DIS-TRAN Steel, LLC
        li.o-GridFlex__Item EDM International
        li.o-GridFlex__Item Electrical Consultants, Inc.
        li.o-GridFlex__Item Fabrimet Inc.
        li.o-GridFlex__Item Falcon Steel Company
        li.o-GridFlex__Item Sabre-FWT
        li.o-GridFlex__Item HDR
        li.o-GridFlex__Item Mitas Energy
        li.o-GridFlex__Item Power Consulting Associates, LLC
        li.o-GridFlex__Item Power Line Systems, Inc.
        li.o-GridFlex__Item Quanta Services
        li.o-GridFlex__Item ReliaPOLE Inspection Services
        li.o-GridFlex__Item Sabre-FWT
        li.o-GridFlex__Item SAE Towers
        li.o-GridFlex__Item TAPP Steel Poles
        li.o-GridFlex__Item Trinity Meyer Utility Structures
        li.o-GridFlex__Item TRC Engineers
        li.o-GridFlex__Item Underground Devices
        li.o-GridFlex__Item Valmont Newmark
      pre.
        &lt;ul class="o-ListBare  #[u o-GridFlex]"&gt;
          &lt;li class="#[u o-GridFlex__Item]"&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
          &lt;li class="#[u o-GridFlex__Item]"&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#float-grid
    h2 The Float Grid
    p.
      The Float Grid works just like the Flex Grid object above, except that this object
      is supported by legacy browsers such as #[cite Internet Explorer 9] and below.
    p.
      The container must have the #[code .o-GridFloat] class and
      each item must have the #[code .o-GridFloat__Item] class.
      To remove normal list styles (padding, bullets, etc.),
      add class #[code .o-ListBare] to the container.
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFloat
        li.o-GridFloat__Item Burns &amp; McDonnell Engineering
        li.o-GridFloat__Item DIS-TRAN Steel, LLC
        li.o-GridFloat__Item EDM International
        li.o-GridFloat__Item Electrical Consultants, Inc.
        li.o-GridFloat__Item Fabrimet Inc.
        li.o-GridFloat__Item Falcon Steel Company
        li.o-GridFloat__Item Sabre-FWT
        li.o-GridFloat__Item HDR
        li.o-GridFloat__Item Mitas Energy
        li.o-GridFloat__Item Power Consulting Associates, LLC
        li.o-GridFloat__Item Power Line Systems, Inc.
        li.o-GridFloat__Item Quanta Services
        li.o-GridFloat__Item ReliaPOLE Inspection Services
        li.o-GridFloat__Item Sabre-FWT
        li.o-GridFloat__Item SAE Towers
        li.o-GridFloat__Item TAPP Steel Poles
        li.o-GridFloat__Item Trinity Meyer Utility Structures
        li.o-GridFloat__Item TRC Engineers
        li.o-GridFloat__Item Underground Devices
        li.o-GridFloat__Item Valmont Newmark
      pre.
        &lt;ul class="o-ListBare  #[u o-GridFloat]"&gt;
          &lt;li class="#[u o-GridFloat__Item]"&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
          &lt;li class="#[u o-GridFloat__Item]"&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#highlight-object
    h2 The Highlight Object
    p.
      Callouts on the home page or interior pages are Highlight Objects.
      Use a #[code section.o-Highlight] if the content belongs in a
      #[code &lt;main&gt;] element, or use an #[code aside.o-Highlight]
      if the content is a #[i &ldquo;callout&rdquo;] (not essential to the page content).
      The top-level heading of this Object should be a #[code h1.o-Highlight__Hn].
    figure.sg-c-Fig
      aside.o-Highlight
        h1.o-Highlight__Hn Location
        p Location content goes here.
      pre.
        &lt;aside class="#[u o-Highlight]"&gt;
          &lt;h1 class="#[u o-Highlight__Hn]"&gt;Location&lt;/h1&gt;
          &lt;p&gt;Location content goes here.&lt;/p&gt;
          ...
        &lt;/aside&gt;
  section.sg-sect#runner-object
    h2 The Runner Object
    p.
      The Runner Object is similar to the Highlight Object in style, but used
      for a different purpose. Runners are only used on the header and footer
      of the site.
    figure.sg-c-Fig
      div.o-Runner
      pre.
        &lt;div class="#[u o-Runner]"&gt;
          ...
        &lt;/div&gt;
  section.sg-sect#sponsors-list
    h2 The Sponsors List
    p.
      A Sponsors List is an unordered list of items, each containing one link
      to a sponsor website.
    //- p.
      On the list itself, use #[code .o-ListBare.o-GridFlex.o-ListSponsors].
      On the items within the list, use #[code .o-ListBare__Item.o-GridFlex__Item.o-ListSponsors__Item].
      On the #[em links] within those items, use #[code .o-ListSponsors__Logo].
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFlex.o-ListSponsors
        li.o-GridFlex__Item.o-ListSponsors__Item
          a.o-Block.o-ListSponsors__Logo.o-ListSponsors__Logo--lrg(href="" title="Bank of America" style="background-position: center; background-image: url('../sample/img/logo-bank-america.png');")
        li.o-GridFlex__Item.o-ListSponsors__Item
          a.o-Block.o-ListSponsors__Logo.o-ListSponsors__Logo--lrg(href="" title="UPS"             style="background-position: center; background-image: url('../sample/img/logo-ups.png');")
        li.o-GridFlex__Item.o-ListSponsors__Item
          a.o-Block.o-ListSponsors__Logo.o-ListSponsors__Logo--lrg(href="" title="Geico"           style="background-position: center; background-image: url('../sample/img/logo-geico.png');")
      br
      br
      ul.o-ListBare.o-GridFlex.o-ListSponsors
        li.o-GridFlex__Item.o-ListSponsors__Item
          a.o-Block.o-ListSponsors__Logo.o-ListSponsors__Logo--med(href="" title="Bank of America" style="background-position: center; background-image: url('../sample/img/logo-bank-america.png');")
        li.o-GridFlex__Item.o-ListSponsors__Item
          a.o-Block.o-ListSponsors__Logo.o-ListSponsors__Logo--med(href="" title="UPS"             style="background-position: center; background-image: url('../sample/img/logo-ups.png');")
        li.o-GridFlex__Item.o-ListSponsors__Item
          a.o-Block.o-ListSponsors__Logo.o-ListSponsors__Logo--med(href="" title="Geico"           style="background-position: center; background-image: url('../sample/img/logo-geico.png');")
      br
      br
      ul.o-ListBare.o-GridFlex.o-ListSponsors
        li.o-GridFlex__Item.o-ListSponsors__Item
          a.o-Block.o-ListSponsors__Logo.o-ListSponsors__Logo--sml(href="" title="Bank of America" style="background-position: center; background-image: url('../sample/img/logo-bank-america.png');")
        li.o-GridFlex__Item.o-ListSponsors__Item
          a.o-Block.o-ListSponsors__Logo.o-ListSponsors__Logo--sml(href="" title="UPS"             style="background-position: center; background-image: url('../sample/img/logo-ups.png');")
        li.o-GridFlex__Item.o-ListSponsors__Item
          a.o-Block.o-ListSponsors__Logo.o-ListSponsors__Logo--sml(href="" title="Geico"           style="background-position: center; background-image: url('../sample/img/logo-geico.png');")
      br
      br
      ul.o-ListBare.o-GridFlex.o-ListSponsors
        li.o-GridFlex__Item.o-ListSponsors__Item
          a.o-ListSponsors__Text(href="") Bank of America
        li.o-GridFlex__Item.o-ListSponsors__Item
          a.o-ListSponsors__Text(href="") UPS
        li.o-GridFlex__Item.o-ListSponsors__Item
          a.o-ListSponsors__Text(href="") Geico
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u o-ListSponsors]"&gt;
          &lt;li class="o-GridFlex__Item  #[u o-ListSponsors__Item]"&gt;
            &lt;a class="o-Block  #[u o-ListSponsors__Logo]  #[u o-ListSponsors__Logo--lrg]"&gt;&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
        &lt;ul class="o-ListBare  o-GridFlex  #[u o-ListSponsors]"&gt;
          &lt;li class="o-GridFlex__Item  #[u o-ListSponsors__Item]"&gt;
            &lt;a class="o-Block  #[u o-ListSponsors__Logo]  #[u o-ListSponsors__Logo--med]"&gt;&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
        &lt;ul class="o-ListBare  o-GridFlex  #[u o-ListSponsors]"&gt;
          &lt;li class="o-GridFlex__Item  #[u o-ListSponsors__Item]"&gt;
            &lt;a class="o-Block  #[u o-ListSponsors__Logo]  #[u o-ListSponsors__Logo--sml]"&gt;&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
        &lt;ul class="o-ListBare  o-GridFlex  #[u o-ListSponsors]"&gt;
          &lt;li class="o-GridFlex__Item  #[u o-ListSponsors__Item]"&gt;
            &lt;a class="#[u o-ListSponsors__Text]"&gt;&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#speakers-list
    h2 The Speakers List
    p.
      A Speakers List is an unordered list of items, each containing
      content for a keynote speaker.
    figure.sg-c-Fig
      ul.o-ListBare.o-GridFlex.o-ListSpeakers
        li.o-GridFlex__Item.o-ListSpeakers__Item
          p Donna Fulman, P.ASCE
          p Interior Engineering Administration
          div.o-ListSpeakers__Over
            p Donna Fulman is an award-winning, German designer raised in Austria and currently living in New York City.
            p Former Lead Product Designer and Art Director at Spotify, he recently founded Semplice and at the same time serves on the AIGA Board of Directors in New York.
            p
              a(href="") Email
              a(href="") LinkedIn
              a(href="") Twitter
      pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u o-ListSpeakers]"&gt;
          &lt;li class="o-GridFlex__Item  #[u o-ListSpeakers__Item]"&gt;
            &lt;p&gt;Donna Fulman, P.ASCE&lt;/p&gt;
            &lt;p&gt;Interior Engineering Administration&lt;/p&gt;
            &lt;div class="#[u o-ListSpeakers__Over]"&gt;
              &lt;p&gt;Donna Fulman is ...&lt;/p&gt;
              &lt;p&gt;Former Lead Product Designer ...&lt;/p&gt;
              ...
            &lt;/div&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
