extends _lib.tpl.jade

block append vars
  - var page = Lib.getPage('obj.html')

block append main
  div.docs-t-Xmeter
    include /node_modules/xmeter/docs/includes/_content-obj.jade
  include includes/_lib.obj.flex-grid.jade
  include includes/_lib.obj.float-grid.jade
  include includes/_lib.obj.runner-object.jade
  include includes/_lib.obj.content-wrapper.jade
  include includes/_lib.obj.action-list.jade
  include includes/_lib.obj.stacked-list.jade
  include includes/_lib.obj.site-head.jade
  include includes/_lib.obj.drawer-object.jade
