extends _lib.tpl.jade

block append vars
  - var page = Lib.getPage('visual.html')

block append main
  -
    var scheme = {
      asce: {
        black : { code: '#222222', bg_class: '-bc-asce_black', name: 'ASCE Black' }
      , white : { code: '#ffffff', bg_class: '-bc-asce_white', name: 'ASCE White' }
      , blue  : { code: '#0c5fa8', bg_class: '-bc-asce_blue' , name: 'ASCE Blue' }
      }
    , asce2016: {
        primary   : { code: '#3fae2a', bg_class: '-bc-site_primary'  , name: 'ASCE 2016 Primary' }
      , secondary : { code: '#00a1e1', bg_class: '-bc-site_secondary', name: 'ASCE 2016 Secondary' }
      , gray_dk   : { code: '#373c36', bg_class: '-bc-site_gray_dk'  , name: 'ASCE 2016 Dark Gray' }
      , gray_lt   : { code: '#9fa5a8', bg_class: '-bc-site_gray_lt'  , name: 'ASCE 2016 Light Gray' }
      }
    }
  mixin colorsample(color)
    - var boxwidth = '96px'
    li.o-GridFlex__Item.-mr-1(style={width:boxwidth})
      div.docs-ColorBox(class=color.bg_class style={height:boxwidth})
        p
          each foreground in [scheme.asce.black.code, scheme.asce.white.code]
            code(style={color:foreground})= color.code
            br
      p(style="font-size: 0.8rem; line-height:1.875;")
        span.o-Block= color.name
  section.sg-sect#asce
    h2 ASCE
    h3 Colors
    ul.o-ListBare.o-GridFlex
      +colorsample(scheme.asce.black)
      +colorsample(scheme.asce.white)
      +colorsample(scheme.asce.blue)
  section.sg-sect#asce2016
    h2 ASCE 2016
    h3 Colors
    ul.o-ListBare.o-GridFlex
      +colorsample(scheme.asce2016.primary)
      +colorsample(scheme.asce2016.secondary)
      +colorsample(scheme.asce2016.gray_dk)
      +colorsample(scheme.asce2016.gray_lt)
