extends lib.tpl.jade

block append vars
  - var page_id = lib[1]
  - titles.push(page_id.name)

block append main__header
  nav#table-contents
    h2 Table of Contents
    +menulist({pages: page_id.sub, depth: Infinity})

block append main
  section.sg-sect#color-schemes
    h2 Color Schemes
    - var schemes = {}
    - schemes.asce = {}
    - schemes.asce.black = {name:'ASCE Black',code:'#222222',bg_class:'-bc-asce_black'}
    - schemes.asce.white = {name:'ASCE White',code:'#ffffff',bg_class:'-bc-asce_white'}
    - schemes.asce.blue  = {name:'ASCE Blue' ,code:'#0c5fa8',bg_class:'-bc-asce_blue'}
    - schemes.site = {}
    - schemes.site.primary   = {code:'#3fae2a',bg_class:'-bc-site_primary'  ,name:'ASCE 2016 Primary'}
    - schemes.site.secondary = {code:'#00a1e1',bg_class:'-bc-site_secondary',name:'ASCE 2016 Secondary'}
    - schemes.site.gray_dk   = {code:'#373c36',bg_class:'-bc-site_gray_dk'  ,name:'ASCE 2016 Dark Gray'}
    - schemes.site.gray_lt   = {code:'#9aa7ad',bg_class:'-bc-site_gray_lt'  ,name:'ASCE 2016 Light Gray'}
    //- -
      var schemes = {
        asce: {
          black : {code:'#222222',bg_class:'-bc-asce_black',name:'ASCE Black'}
        , white : {code:'#ffffff',bg_class:'-bc-asce_white',name:'ASCE White'}
        , blue  : {code:'#0c5fa8',bg_class:'-bc-asce_blue' ,name:'ASCE Blue' }
        }
      , site: {
          primary   : {code:'#3fae2a',bg_class:'-bc-site_primary'  ,name:'ASCE 2016 Primary'}
          secondary : {code:'#00a1e1',bg_class:'-bc-site_secondary',name:'ASCE 2016 Secondary'}
          gray_dk   : {code:'#373c36',bg_class:'-bc-site_gray_dk'  ,name:'ASCE 2016 Dark Gray'}
          gray_lt   : {code:'#9fa5a8',bg_class:'-bc-site_gray_lt'  ,name:'ASCE 2016 Light Gray'}
        }
      }
    mixin colorsample(color)
      - var boxwidth = '96px'
      li.o-GridFlex__Item.-mr-1(style={width:boxwidth})
        div.sg-c-ColorBox(class=color.bg_class style={height:boxwidth})
          p
            each foreground in ['#222', '#fff']
              code.o-Block(style={color:foreground})= color.code
        p(style="font-size: 0.8rem; line-height:1.875;")
          span.o-Block= color.name
    section.sg-sect
      h3 Society Colors
      ul.o-ListBare.o-GridFlex
        +colorsample(schemes.asce.black)
        +colorsample(schemes.asce.white)
        +colorsample(schemes.asce.blue)
    section.sg-sect
      h3 ASCE 2016 Convention Colors
      ul.o-ListBare.o-GridFlex
        +colorsample(schemes.site.primary)
        +colorsample(schemes.site.secondary)
        +colorsample(schemes.site.gray_dk)
        +colorsample(schemes.site.gray_lt)
