-
  //- var Page = require('./Page.class.js')
  var ConfPage = (function () {
    //- CONSTRUCTOR
    function ConfPage($obj, name, url) {
      var self = this
      if ($obj) {
        Page.call(self, { name: $obj.name, url: $obj.url })
      } else {
        Page.call(self, { name: name, url: url })
      }
      self.icon = null
    }
    ConfPage.prototype = Object.create(Page.prototype)
    ConfPage.prototype.constructor = ConfPage

    //- SETTER FUNCTIONS
    ConfPage.prototype.setIcon = function setIcon(key) {
      this.icon = Util.ICON_DATA.find(function (item) { return item.content === key })
      return this
    }

    //- GETTER FUNCTIONS
    ConfPage.prototype.getIcon = function getIcon(fallback) {
      return (this.icon) ? Util.iconToString(this.icon, fallback) : ''
    }

    return ConfPage
  })()
