extends universal.tpl.jade

block prepend vars
  - var page_name = 'Contact'
  - var tag_meta_description = 'Contact us for questions and comments about the ASCE Convention.'

block main-body
  form.o-Highlight
    +contact-content()
