extends universal.tpl.jade

block append vars
  - var page_id = site_pages.universal[4]

block main-reference
  section.o-Runner.o-Runner--highlight: div.o-ContentWrapper
    h1.-d-n#contact-us Contact Us
    +contact-form()
