extends sample.tpl.jade

block append vars
  - var page_type = 'home'
  - var page_name = 'Home'
  - var tag_title = conference_name
  - var tag_meta_description = conference_theme

block main-header
  header.o-Highlight.c-PageHeader.c-Banner.c-Banner--home
    h1(itemprop="name")= conference_name
    +date-place()
    p(itemprop="description")= conference_theme
    +action-buttons()

block main-prose
    div.is-editable
      p.
        More prose about this specific year goes here.
        The Geo-Institute and Structural Engineering Institute of the
        American Society of Civil Engineers are coming together to create this
        first-of-its-kind event. By combining&hellip;
      ul
        li 3&frac12; days of premier educational and networking events
        li 15 tracks and 6 plenary sessions focusing on ...
        li Prestigious awards and keynote lecture presentations
        li Lively programs for studdnts and young professionals

block callouts
  aside.o-Highlight.c-Banner
    h1.o-Highlight__Hn Important Dates
    +important-date-content()
  aside.o-Highlight
    h1.o-Highlight__Hn Registration
    +registration-content()
  aside.o-Highlight.c-Banner
    h1.o-Highlight__Hn Speakers
    +speakers-content()
  aside.o-Highlight
    h1.o-Highlight__Hn Conference Co-Chairs
    +cochairs-content()
  aside.o-Highlight.c-Banner
    h1.o-Highlight__Hn Program
    +program-content()
  aside.o-Highlight
    h1.o-Highlight__Hn Location
    +location-content()
  aside.-ta-c
    h1 Sponsors
    +sponsor-content()
