extends internal.tpl.jade

block append vars
  - var page_subtype = 'home'
  - var page_name = 'Home'

block main-header
  header.o-Highlight.c-PageHeader.c-Banner.c-Banner--home
    h1(itemprop="name")= conference_name
    +date-place()
    p(itemprop="description")= conference_theme
    +action-buttons(['Registor Today','Become A Sponsor','Submit Papers'])

block main-prose
  +minimal-text-block()

block callouts
  aside.o-Highlight.c-Banner
    h1.o-Highlight__Hn Important Dates
    +important-date-content()
  aside.o-Highlight
    h1.o-Highlight__Hn Registration
    +registration-content()
  aside.o-Highlight.c-Banner
    h1.o-Highlight__Hn Speakers
    +speakers-content()
  aside.o-Highlight
    h1.o-Highlight__Hn Conference Co-Chairs
    +cochairs-content()
  aside.o-Highlight.c-Banner
    h1.o-Highlight__Hn Program
    +program-content()
  aside.o-Highlight
    h1.o-Highlight__Hn Location
    +location-content()
