extends internal.tpl.jade

block append vars
  - var page = getPage('internal','home.html')

block main-header
  header.o-Runner.o-Runner--pageHeader.c-Banner.c-Banner--home.c-Hero: div.o-ContentWrapper
    include includes/content/_hero.jade
    +actionchoices([{text:'Register', href:'registration.html'}, {text:'Sponsor', href:'sponsor.html'}, {text:'Submit a Paper'}], 'c-Btn c-Btn--hilite c-Btn--hero')

block main-minimal
  +minimal-text-block()

block main-rich

block callouts
  aside.o-Runner.o-Runner--highlight.c-Banner: div.o-ContentWrapper
    include includes/content/_important-dates.jade
  aside.o-Runner.o-Runner--highlight: div.o-ContentWrapper
    include includes/content/_registration.jade
  aside.o-Runner.o-Runner--highlight.c-Banner: div.o-ContentWrapper
    +program-content()
  aside.o-Runner.o-Runner--highlight: div.o-ContentWrapper
    +speakers-content()
  aside.o-Runner.o-Runner--highlight.c-Banner: div.o-ContentWrapper
    +cochairs-content()
  aside.o-Runner.o-Runner--highlight: div.o-ContentWrapper
    +mobile-content()
  aside.o-Runner.o-Runner--highlight.o-Runner--wrappedInner.c-Banner.c-Banner--location: div.o-ContentWrapper
    +location-content()
  aside.o-Runner.o-Runner--highlight: div.o-ContentWrapper
    +social-content()
