extends internal.tpl.jade

block append vars
  - var page_subtype = 'home'
  - var page_name = 'Home'

block main-header
  header.o-Highlight.c-Banner.c-Banner--home
    +hero-content()
    +actionbuttons([{text:'Register', href:'register.html'}, {text:'Sponsor', href:'sponsor.html'}, {text:'Submit a Paper'}], 'c-Btn c-Btn--hilite c-Btn--hero')

block main-minimal
  +minimal-text-block()

block main-rich

block callouts
  aside.o-Highlight.c-Banner
    h1 Important Dates
    +important-date-content()
  aside.o-Highlight
    h1 Registration
    +registration-content()
  aside.o-Highlight.c-Banner
    h1 Speakers
    +speakers-content()
  aside.o-Highlight
    h1 Conference Co-Chairs
    +cochairs-content()
  aside.o-Highlight.c-Banner
    h1 Program Highlights
    +program-content()
  aside.o-Highlight
    h1 Plan, Engage, Connect
    +mobile-content()
  aside.o-Highlight.o-Highlight--wrappedInner.c-Banner.c-Banner--location
    //- heading is moved into inner div
    +location-content('Portland, OR')
  aside.o-Highlight
    h1 Join the Conversation
    +social-content()
