extends sample.tpl.jade

block append vars
  - var page_type = 'home'

block main
  section(itemscope="" itemtype="http://schema.org/Event")
    header.o-BodyChild__Inv.c-Hero
      h1.-d-n(itemprop="name") #{conference_name} Home
      p(itemprop="description")= theme
      +time-place()
    +action-buttons()
    section.this-is-editable
      p: strong(style="color: red;") Editable section.
      p.
        More prose about this specific year goes here.
        The Geo-Institute and Structural Engineering Institute of the
        American Society of Civil Engineers are coming together to create this
        first-of-its-kind event. By combining &hellip;
      ul
        li 3&frac12; days of premier educational and networking events
        li 15 tracks and 6 plenary sessions focusing on ...
        li Prestigious awards and keynote lecture presentations
        li Lively programs for studdnts and young professionals
    div.o-GridFlex
      aside.o-GridFlex__Item.c-Callout
        h1 Important Dates
        +important-date-block()
      aside.o-GridFlex__Item.c-Callout
        h1 Keynote Speakers
        div.o-GridFlex.c-Speaker
          div.o-GridFlex__Item: img(src="/" alt="")
          p.o-GridFlex__Item
            span.o-Block Donald Trump, Ph.D.
            span.o-Block Author, #[cite The Art of the Deal]
        p
          span Opening Plenary, 
          time(datetime="2015-11-16") Monday Nov 16
        p: a(href="") Speaker Details
