extends sample.tpl.jade

block append vars
  - var page_type = 'home'
  - var tag_title = conference_name
  - var tag_meta_description = conference_theme

block highlights_main
  header.o-Highlight.c-Banner.c-Banner--home
    h1(itemprop="name")= conference_name
    +time-place()
    p(itemprop="description")= conference_theme
    +action-buttons()
  section.o-Highlight
    h1.o-Highlight__Hn About
    div.is-editable
      p.
        More prose about this specific year goes here.
        The Geo-Institute and Structural Engineering Institute of the
        American Society of Civil Engineers are coming together to create this
        first-of-its-kind event. By combining &hellip;
      ul
        li 3&frac12; days of premier educational and networking events
        li 15 tracks and 6 plenary sessions focusing on ...
        li Prestigious awards and keynote lecture presentations
        li Lively programs for studdnts and young professionals

block highlights_callouts
  aside.o-Highlight
    h1.o-Highlight__Hn Important Dates
    +important-date-block()
  aside.o-Highlight
    h1.o-Highlight__Hn Speakers
    ul.o-ListBare.o-GridFlex.o-ListStacked
      each val in [1,2,3]
        li.o-GridFlex__Item.o-ListStacked__Item.c-Speaker
          //- img.o-Block(src="/" alt="")
          p.c-Speaker__Name Donald Trump, Ph.D.
          p.c-Speaker__JobTitle Author, #[cite The Art of the Deal]
    p.-ta-c: a(href="") View All Speakers
  aside.o-Highlight
    h1.o-Highlight__Hn Conference Co-Chairs
    ul.o-ListBare.o-GridFlex.o-ListStacked
      each val in [1,2]
        li.o-GridFlex__Item.o-ListStacked__Item.c-Speaker
          //- img.o-Block(src="/" alt="")
          p.c-Speaker__Name Donald Trump, Ph.D.
          p.c-Speaker__JobTitle Author, #[cite The Art of the Deal]
  aside.o-Highlight
    h1.o-Highlight__Hn Program
    div.o-GridFlex
      +program-block(['o-GridFlex__Item','-w-1o2'], 'Wednesday, April 5', [
        { starttime: '7am', endtime: 'Noon', description: 'General Services Contractor Setup' }
      , { starttime: '8am', endtime: '11pm', description: 'Committee Meetings' }
      , { starttime: 'Noon', endtime: '6pm', description: 'Registration & ASCE Bookstore Hours' }
      ])
      +program-block(['o-GridFlex__Item','-w-1o2'], 'Thursday, April 6', [
        { starttime: '07:00', endtime: '08:00', description: 'Continental Breakfast' }
      , { starttime: '09:30', endtime: '10:00', description: 'Morning Refreshment Break' }
      , { starttime: '18:30', endtime: '20:00', description: 'Welcome Reception' }
      ])
    p.-ta-c: a(href="") View Full Program
  aside.o-Highlight
    h1.o-Highlight__Hn Sponsors
    +sponsor-block()
