extends sample.tpl.jade

block append vars
  - var title = 'Home Page'
  - var page_type = 'home'

block main
  section(itemscope="" itemtype="http://schema.org/Event")
    div.c-Hero
      h1.-d-n(itemprop="name") #{conf_name} Home
      p(itemprop="description") Slogan. Mainstremaing green infrastructure.
      p.o-GridFlex
        span.o-GridFlex__Item.o-Block.-w-1o2(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
          span(itemprop="addressLocality") Portland, 
          span(itemprop="addressRegion"): abbr(title="Oregon") OR
        span.o-GridFlex__Item.o-Block.-w-1o2
          time(datetime="2016-09-28" itemprop="startDate") Sep 28
          | &ndash;
          time(datetime="2016-10-01" itemprop="endDate") Oct 1
    +action-buttons()
    section.this-is-editable
      p: strong(style="color: red;") Editable section.
      p.
        More prose about this specific year goes here.
        The Geo-Institute and Structural Engineering Institute of the
        American Society of Civil Engineers are coming together to create this
        first-of-its-kind event. By combining &hellip;
      ul
        li 3&frac12; days of premier educational and networking events
        li 15 tracks and 6 plenary sessions focusing on ...
        li Prestigious awards and keynote lecture presentations
        li Lively programs for studdnts and young professionals
    div.o-GridFlex
      section.o-GridFlex__Item.-w-1o2-sM
        h1 Important Dates
        dl
          dt Oct 12 2015
          dd Optional Final Papers Due
          dt Dec 17 2015
          dd Early-Bird Registration Closes
          dt Jan 12 2016
          dd Advance Registration Closes
      section.o-GridFlex__Item.-w-1o2-sM
        h1 Keynote Speakers
        div
          img
          p Donald Trump, Ph.D.
          p Author, #[cite The Art of the Deal]
        p Nov 16
        p Opening Plenary
        p: a(href="") Speaker Details
