extends sample.tpl.jade

block append vars
  - var title = 'Landing Page'
  - var page_type = 'landing'

block main
  section.c-Hero.o-BodyChild__Inv(itemscope="" itemtype="http://schema.org/Event")
    h1(itemprop="name")= conf_name
    +time-place()
    p(itemprop="description") Slogan. Mainstremaing green infrastructure.
    p: a(href="") Get Details
  +action-buttons()
  p.
    Elevator pitch. One paragraph. Sentence case.
    Join civil engineering professionals from around the world at
    this ASCE flagship event. Network with peers, earn PDHs, and
    expand your knowledge base.
  div.o-GridFlex
    section.o-GridFlex__Item.o-GridFlex.-w-1o2-sM(itemscope="" itemtype="http://schema.org/Event")
      div.o-GridFlex__Item.-w-1o2-sK
        h1(itemprop="name") ASCE Convention 2015
        meta(content="2015-10-11" itemprop="startDate")
        p(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
          span(itemprop="name")
            span(itemprop="addressLocality") New York, 
            abbr(itemprop="addressRegion" title="New York") NY
      p.o-GridFlex__Item.-w-1o2-sK.
        Learn about the impacts of water sustainability and
        the importance of interdisciplinary design approaches.
    section.o-GridFlex__Item.o-GridFlex.-w-1o2-sM(itemscope="" itemtype="http://schema.org/Event")
      div.o-GridFlex__Item.-w-1o2-sK
        h1(itemprop="name") ASCE Convention 2017
        meta(content="2017-10-11" itemprop="startDate")
        p(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
          span(itemprop="name")
            span(itemprop="addressLocality") Chicago, 
            abbr(itemprop="addressRegion" title="Illinois") IL
      p.o-GridFlex__Item.-w-1o2-sK.
        Plan ahead to attend, sponsor, or exhibit at the
        annual convention for civil engineering professionals.
