doctype html
html.no-js(lang="en")
  head
    title Landing Page | Sample ASCE Conference Site
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../styles/conf.css")
  body
    header(style="background-color: #48afd6")
      a(href="landing.html")
        h1.c-ConfName ASCE Convention
        p.c-ConfSlogan The Flagship Event for ASCE
      nav
        a.c-LandingLink--home(href="") 2016 Convention
        ul.o-ListBare.c-LandingLinkList
          li: a.c-LandingLink(href="") About
          li: a.c-LandingLink(href="") Sponsor
          li: a.c-LandingLink(href="") Exhibit
          li: a.c-LandingLink(href="") Contact
    main
      section#current(itemscope="" itemtype="http://schema.org/Event")
        div.c-Hero
          h2.c-ConfNameCurrent(itemprop="name") ASCE 2016
          p.c-ConfLocation(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
            span(itemprop="addressLocality") Portland, 
            span(itemprop="addressRegion"): abbr(title="Oregon") OR
          p.c-ConfDates
            time(datetime="2016-09-28" itemprop="startDate") Sep 28
            | &ndash;
            time(datetime="2016-10-01" itemprop="endDate") Oct 1
          p.c-ConfTagline Mainstremaing green infrastructure.
          p.c-HeroButtonContainer
            a.c-Button.c-Button--hero(href="2016/") Get Details
        ul.o-ListBare.c-ElevatorButtonContainer
          li: a.c-Button(href="") Registor Today
          li: a.c-Button(href="") Become A Sponsor
          li: a.c-Button(href="") Submit Papers
        p.c-ElevatorPitch(itemprop="description").
          Elevator pitch. One paragraph. Sentence case.
          Join civil engineering professionals from around the world at
          this ASCE flagship event. Network with peers, earn PDHs, and
          expand your knowledge base.
      div
        section#past(itemscope="" itemtype="http://schema.org/Event")
          h2(itemprop="name") ASCE Convention 2015
          p(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
            span(itemprop="addressLocality") New York, 
            span(itemprop="addressRegion"): abbr(title="New York") NY
          //- ul
          //-   li lorum ipsum
          //-   li dolor sit amet
          //-   li consectetur adipiscing elit
          p.
            Learn about the impacts of water sustainability and
            the importance of interdisciplinary design approaches.
        section#future(itemscope="" itemtype="http://schema.org/Event")
          h2(itemprop="name") ASCE Convention 2017
          p(data-itemprop="location") TBD
          //- ul
          //-   li curabitur vel
          //-   li augue vel est venenatis
          //-   li mauris blandit
          p.
            Plan ahead to attend, sponsor, or exhibit at the
            annual convention for civil engineering professionals.
    footer(style="background-color: #48afd6; margin-bottom:-1.25rem; color: #fff;")
      p(style="text-align:center; color:red;") #[strong Warning:] footer layout is incomplete.
      h1 ASCE Convention 2016
      section
        p For questions or more information about sponsoring please contact:
        ul.o-ListBare
          li: a(href="mailto:asce@asce.org") Sean Scully (703.295.6154)
          li: a(href="mailto:asce@asce.org") Drew Caracciolo (703.295.6087)
      section
        h1 Contact Us
        ul.o-ListBare
          li: a(href="tel:(800)548-2723") (800) 548-2723
          li: a(href="https://twitter.com/hashtag/asce2016") #asce2016
      section
        h1 Connect With ASCE
        ul.o-ListBare.o-ListInline
          li: a(href="") LinkedIn
          li: a(href="") Facebook
          li: a(href="") Twitter
          li: a(href="") YouTube
          li: a(href="") Google+
    footer.copyright(style="text-align: center;")
      a(href="http://www.asce.org" title="ASCE.org")
      //- img(src="../img/asce-logo-footer.png")
      span &copy; 1996&ndash;2015, American Society of Civil Engineers
