extends sample.tpl.jade

block append vars
  - var page_type = 'landing'
  - var tag_title = site_title
  - var tag_meta_description = site_tagline

block dominant
  main
    section(itemscope="" itemtype="http://schema.org/Event")
      a.o-Block.o-Highlight.c-Banner.c-Banner--landing(href="" itemprop="url")
        h1(itemprop="name")= conference_name
        +date-place()
        p(itemprop="description")= conference_theme
        p: span Get Details
    section.o-Highlight
      h1.o-Highlight__Hn About
      div.is-editable
        p.
          Elevator pitch. One–two paragraphs. Sentence case.
          Join civil engineering professionals from around the world at
          this ASCE flagship event. Network with peers, earn PDHs, and
          expand your knowledge base.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
        ul
          li one
          li two
          li three
    section(itemscope="" itemtype="http://schema.org/Event")
      a.o-GridFlex.o-Highlight.c-Banner.c-Banner--prev(href="" itemprop="url")
        div.o-GridFlex__Item.c-Banner__Overlay.c-Banner__Title
          h1(itemprop="name") ASCE 2015
          meta(content="2015-10-11" itemprop="startDate")
          p(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
            span(itemprop="name")
              span(itemprop="addressLocality") New York, 
              abbr(itemprop="addressRegion" title="New York") NY
        div.o-GridFlex__Item.c-Banner__Overlay.c-Banner__Desc
          p.
            Access the 2015 program to see which sessions qualify for
            PDHs and other documentation.
          p: span Event Details
    section(itemscope="" itemtype="http://schema.org/Event")
      a.o-GridFlex.o-Highlight.c-Banner.c-Banner--next(href="" itemprop="url")
        div.o-GridFlex__Item.c-Banner__Overlay.c-Banner__Title
          h1(itemprop="name") ASCE 2017
          meta(content="2017-10-11" itemprop="startDate")
          p(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
            span(itemprop="name")
              span(itemprop="addressLocality") Chicago, 
              abbr(itemprop="addressRegion" title="Illinois") IL
        div.o-GridFlex__Item.c-Banner__Overlay.c-Banner__Desc
          p.
            Plan ahead to attend, sponsor, or exhibit at the
            annual convention for civil engineering professionals.
          p: span Event Details
  div.t-Callouts
    aside.-ta-c
      h1 Sponsors
      +sponsor-block()
