doctype html
html.no-js(lang="en")
  head
    title Landing Page | Sample ASCE Conference Site
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../node_modules/xmeter/xmeter.min.css")
    link(rel="stylesheet" href="../node_modules/bangs/bangs.min.css")
    link(rel="stylesheet" href="../styles/conf.css")
  body
    header.o-GridFlex(style="background-color: #48afd6; color: #fff;")
      a.o-GridFlex__Item.o-Block.-w-7o10.-w-4o10-sM(href="landing.html")
        h1 ASCE Convention
        p Slogan. The Flagship Event for ASCE
      div.o-GridFlex__Item.-w-3o10.-w-2o10-sM.-xo-1-sM: a(href="") 2016 Convention
      nav.o-GridFlex__Item.-w-4o10-sM: ul.o-ListBare.o-GridFlex
        li.o-GridFlex__Item.-w-1o4: a(href="") About
        li.o-GridFlex__Item.-w-1o4: a(href="") Sponsor
        li.o-GridFlex__Item.-w-1o4: a(href="") Exhibit
        li.o-GridFlex__Item.-w-1o4: a(href="") Contact
    main
      section#current(style="text-align: center;" itemscope="" itemtype="http://schema.org/Event")
        div(style="background-image: none;")
          h2(itemprop="name") ASCE 2016
          p.o-GridFlex
            span.o-GridFlex__Item.o-Block.-w-1o2(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
              span(itemprop="addressLocality") Portland, 
              span(itemprop="addressRegion"): abbr(title="Oregon") OR
            span.o-GridFlex__Item.o-Block.-w-1o2
              time(datetime="2016-09-28" itemprop="startDate") Sep 28
              | &ndash;
              time(datetime="2016-10-01" itemprop="endDate") Oct 1
          p Tagline. Mainstremaing green infrastructure.
          div: a(href="") Get Details
        ul.o-ListBare.o-GridFlex
          li.o-GridFlex__Item.-w-1o3-sM: a(href="") Registor Today
          li.o-GridFlex__Item.-w-1o3-sM: a(href="") Become A Sponsor
          li.o-GridFlex__Item.-w-1o3-sM: a(href="") Submit Papers
        p(itemprop="description").
          Elevator pitch. One paragraph. Sentence case.
          Join civil engineering professionals from around the world at
          this ASCE flagship event. Network with peers, earn PDHs, and
          expand your knowledge base.
      div.o-GridFlex
        section.o-GridFlex__Item.o-GridFlex.-w-1o2-sM#past(itemscope="" itemtype="http://schema.org/Event")
          div.o-GridFlex__Item.-w-1o2-sK
            h2(itemprop="name") ASCE Convention 2015
            p(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
              span(itemprop="addressLocality") New York, 
              span(itemprop="addressRegion"): abbr(title="New York") NY
          p.o-GridFlex__Item.-w-1o2-sK.
            Learn about the impacts of water sustainability and
            the importance of interdisciplinary design approaches.
        section.o-GridFlex__Item.o-GridFlex.-w-1o2-sM#future(itemscope="" itemtype="http://schema.org/Event")
          div.o-GridFlex__Item.-w-1o2-sK
            h2(itemprop="name") ASCE Convention 2017
            p(data-itemprop="location") TBD
          p.o-GridFlex__Item.-w-1o2-sK.
            Plan ahead to attend, sponsor, or exhibit at the
            annual convention for civil engineering professionals.
    footer.o-GridFlex(style="background-color: #48afd6; color: #fff;" itemscope="" itemtype="http://schema.org/NGO")
      section.o-GridFlex__Item.-w-1o2-sM
        h1 Contact Us
        address: ul.o-ListBare
          li: a(href="tel:8005482723" itemprop="telephone") (800) 548-2723
          li: a(href="tel:17032956300" itemprop="telephone") +1 (703) 295-6300
      section.o-GridFlex__Item.-w-1o2-sM
        h1 Connect With ASCE
        ul.o-ListBare
          li.o-Inline: a(href="") LinkedIn
          li.o-Inline: a(href="") Facebook
          li.o-Inline: a(href="") Twitter
          li.o-Inline: a(href="") YouTube
          li.o-Inline: a(href="") Google+
      section.o-GridFlex__Item(style="text-align: center; background-color: #0c5fa8;"): p
        a(title="ASCE.org" style="background-image: none;" href="http://www.asce.org" itemprop="url")
        span
          | &copy; 
          time 1996
          | &ndash;
          time 2015
          | , 
          span(itemprop="name") American Society of Civil Engineers
