extends universal.tpl.jade

block append vars
  - var page = getPage('universal','index.html')

block main-header
  header: h1.-d-n#home Home

block main-body
  section.o-Runner.o-Runner--pageHeader.c-Banner.c-Banner--landing.c-Hero(itemscope="" itemtype="http://schema.org/Event"): div.o-ContentWrapper
    include includes/content/_hero.jade
    +actionchoices([{text:'Find Out More', href:'home.html'}], 'c-Btn c-Btn--hilite c-Btn--hero')
    meta(content="http://2016.asceconvention.org/" itemprop="url")
  +minimal-text-block()
  section.o-Runner.o-Runner--highlight.o-Runner--wrappedInner.c-Banner.c-Banner--prev.c-OtherYear(itemscope="" itemtype="http://schema.org/Event"): div.o-ContentWrapper
    div.c-Overlay.c-Overlay--callout
      +otheryear-content(conference.prev)
      p.c-OtherYear__Desc.
        Access the 2015 program to see which sessions qualify for
        PDHs and other documentation.
      +actionchoices([{text:'Event Details', href:'//2015.asceconvention.org/', attrs:{itemprop:'url'}}], 'c-Btn c-Btn--hilite c-Btn--ghost')
  section.o-Runner.o-Runner--highlight.o-Runner--wrappedInner.c-Banner.c-Banner--next.c-OtherYear(itemscope="" itemtype="http://schema.org/Event"): div.o-ContentWrapper
    div.c-Overlay.c-Overlay--callout
      +otheryear-content(conference.next)
      p.c-OtherYear__Desc.
        Plan ahead to attend, sponsor, or exhibit at the
        annual convention for civil engineering professionals.
      +actionchoices([{text:'Event Details', href:'//2017.asceconvention.org/', attrs:{itemprop:'url'}}], 'c-Btn c-Btn--hilite c-Btn--ghost')
