extends sample.tpl.jade

block append vars
  - var page_type = 'internal'

block title
  title= ((page_subtype === 'home') ? '' : page_id.name + ' | ') + conference.current.name

block append standard-menu
  header.o-Runner.c-Mast.c-Mast--internal: nav.o-ContentWrapper
    h1.-d-n#main-menu Main Menu
    +menulist({pages: sitemap.internal, class_obj: standard_menu_class_obj, depth: 1, icons: true})

block append site-map
  footer.o-Runner.c-Mast.c-Mast--internal: nav.o-ContentWrapper
    h1.-d-n#site-map Site Map
    +menulist({pages: sitemap.internal, class_obj: sitemap_class_obj, depth: 1})
