extends sample.tpl.jade

block append vars
  - var page_type = 'internal'

block title
  title= ((page_subtype === 'home') ? '' : page_id.name + ' | ') + conference.current.name

block append standard-menu
  header.o-Runner.c-Mast.c-Mast--internal: nav.o-ContentWrapper
    h1.-d-n Main Menu
    +menulist(sitemap.internal, standard_menu_class_obj)

block append site-map
  footer.o-Runner.c-Mast.c-Mast--internal: nav.o-ContentWrapper
    h1.-d-n Site Map
    +menulist(sitemap.internal, sitemap_class_obj)
