extends sample.tpl.jade

block append vars
  - var page_type = 'internal'

block title
  title= ((page_subtype === 'home') ? '' : page_name + ' | ') + conference_name

block standard-menu
  header.o-Runner.c-Mast.c-Mast--internal: nav
    h1.-d-n Main Menu
    ul.o-ListBare.o-GridFlex.c-MenuStandard
      li.o-GridFlex__Item.c-MenuStandard__Item
        a.o-Block.c-MenuStandard__Link(href="home.html") Home
      li.o-GridFlex__Item.c-MenuStandard__Item
        a.o-Block.c-MenuStandard__Link(href="registration.html") Registration
        ul.o-ListBare.c-MenuSub(class=(page_name==='Registration' ? 'c-MenuSub--active' : ''))
          li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Why Attend
      li.o-GridFlex__Item.c-MenuStandard__Item
        a.o-Block.c-MenuStandard__Link(href="program.html") Program
        ul.o-ListBare.c-MenuSub(class=(page_name==='Program' ? 'c-MenuSub--active' : ''))
          li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Events
      li.o-GridFlex__Item.c-MenuStandard__Item
        a.o-Block.c-MenuStandard__Link(href="location.html") Hotel &amp; Travel
        ul.o-ListBare.c-MenuSub(class=(page_name==='Hotel & Travel' ? 'c-MenuSub--active' : ''))
          li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") International Travel
      li.o-GridFlex__Item.c-MenuStandard__Item
        a.o-Block.c-MenuStandard__Link(href="speakers.html") Speakers
        ul.o-ListBare.c-MenuSub(class=(page_name==='Speakers' ? 'c-MenuSub--active' : ''))
          li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Distinguished Lecture Series

block site-map
  footer.o-Runner.c-Mast.c-Mast--internal: nav
    h1.-d-n Site Map
    ul.o-ListBare.o-GridFlex.c-Sitemap
      li.o-GridFlex__Item.c-Sitemap__Item
        a(href="home.html") ASCE 2016
      li.o-GridFlex__Item.c-Sitemap__Item
        a(href="registration.html") Registration
        ul.o-ListBare.c-Sitemap__SubList
          li.c-Sitemap__SubItem: a(href="") Why Attend
      li.o-GridFlex__Item.c-Sitemap__Item
        a(href="program.html") Program
        ul.o-ListBare.c-Sitemap__SubList
          li.c-Sitemap__SubItem: a(href="") Events
      li.o-GridFlex__Item.c-Sitemap__Item
        a(href="location.html") Hotel &amp; Travel
        ul.o-ListBare.c-Sitemap__SubList
          li.c-Sitemap__SubItem: a(href="") International Travel
      li.o-GridFlex__Item.c-Sitemap__Item
        a(href="speakers.html") Speakers
        ul.o-ListBare.c-Sitemap__SubList
          li.c-Sitemap__SubItem: a(href="") Distinguished Lecture Series
