extends sample.tpl.jade

block append vars
  - var page_type = 'internal'
  //- -
    var pages_object = {
      home: { name: 'Home', href: 'home.html' }
    , registration: {
        name: 'Registration', href: 'registration.html'
      , sub: {
          'why-attend'     : { name: 'Why Attend'      , href: '' }
        , 'short-courses'  : { name: 'Short Courses'   , href: '' }
        , 'technical-tours': { name: 'Technical Tours' , href: '' }
        , 'optional-tours' : { name: 'Optional Tours'  , href: '' }
        }
      }
    , program: {
        name: 'Program', href: 'program.html'
      , sub: {
          events: { name: 'Events', href: '' }
        }
      }
    , location: {
        name: 'Hotel & Travel', href: 'location.html'
      , sub: {
          'international-travel': { name: 'International Travel', href: '' }
        }
      }
    , speakers: {
        name: 'Speakers', href: 'speakers.html'
      , sub: {
          'distinguished-lecture-series': { name: 'Distinguished Lecture Series', href: '' }
        }
      }
    }
  //- unbuffered block code isn’t fucking supported,
  //- so I have to do this:
  - var pages = {}
  - pages.home         = {name:'Home'          , href:'home.html'}
  - pages.registration = {name:'Registration'  , href:'registration.html'}
  - pages.program      = {name:'Program'       , href:'program.html'}
  - pages.location     = {name:'Hotel & Travel', href:'location.html'}
  - pages.speakers     = {name:'Speakers'      , href:'speakers.html'}
  - pages.registration.sub = {}
  - pages.registration.sub['why-attend']      = {name:'Why Attend'     , href:''}
  - pages.registration.sub['short-courses']   = {name:'Short Courses'  , href:''}
  - pages.registration.sub['technical-tours'] = {name:'Technical Tours', href:''}
  - pages.registration.sub['optional-tours']  = {name:'Optional Tours' , href:''}
  - pages.program.sub =  {events                        : {name:'Events'                      , href:''}}
  - pages.location.sub = {'international-travel'        : {name:'International Travel'        , href:''}}
  - pages.speakers.sub = {'distinguished-lecture-series': {name:'Distinguished Lecture Series', href:''}}

block title
  title= ((page_subtype === 'home') ? '' : page_name + ' | ') + conference.current.name

block append standard-menu
  header.o-Runner.c-Mast.c-Mast--internal: nav
    h1.-d-n Main Menu
    +menulist(pages, standard_menu_class_obj)

block append site-map
  footer.o-Runner.c-Mast.c-Mast--internal: nav
    h1.-d-n Site Map
    +menulist(pages, sitemap_class_obj)
