extends sample-basic.tpl.jade

block prepend vars
  - var page_name = 'Program'
  - var tag_meta_description = 'Register for the ASCE 2016 conference here.'

block main-body
  section.o-Highlight.c-Banner
