extends internal.tpl.jade

block append vars
  - var page_id = sitemap.internal[2]

block main-minimal
  +minimal-text-block()

block main-reference
  section.o-Runner.o-Runner--highlight.c-Banner: div.o-ContentWrapper
    h1.-d-n Full Program
    +programs(program_events, true)
    p: small Program subject to change.
