extends internal.tpl.jade

block append vars
  - var page_id = sitemap.internal.program

block main-minimal
  +minimal-text-block()

block main-reference
  section.o-Runner.o-Runner--highlight.c-Banner: div.o-ContentWrapper
    h1.-d-n Full Program
    section.o-GridFlex.c-Overlay.c-Program
      - var all_events = [[], [], [], []]
      - all_events[0].push({startDate:new Date('2016-09-28 10:00'), endDate:new Date('2016-09-28 19:00'), name:'Registration'})
      - all_events[0].push({startDate:new Date('2016-09-28 10:30'), endDate:new Date('2016-09-28 16:30'), name:'Technical Tours', href:''})
      - all_events[0].push({startDate:new Date('2016-09-28 13:00'), endDate:new Date('2016-09-28 17:00'), name:'Short Courses', href:''})
      - all_events[0].push({startDate:new Date('2016-09-28 12:00'), endDate:new Date('2016-09-28 17:00'), name:'Optional Tours', href:''})
      - all_events[0].push({startDate:new Date('2016-09-28 17:30'), endDate:new Date('2016-09-28 19:30'), name:'Opening Welcome Reception'})
      - all_events[0].push({startDate:new Date('2016-09-28 13:00'), endDate:new Date('2016-09-28 17:00'), name:'Community Service Project'})
      - all_events[1].push({startDate:new Date('2016-09-29 07:00'), endDate:new Date('2016-09-29 16:30'), name:'Registration'})
      - all_events[1].push({startDate:new Date('2016-09-29 07:30'), endDate:new Date('2016-09-29 08:30'), name:'Student & Emerging Leaders Welcome Breakfast and Orientation'})
      - all_events[1].push({startDate:new Date('2016-09-29 08:30'), endDate:new Date('2016-09-29 10:00'), name:'Opening Plenary Session'})
      - all_events[1].push({startDate:new Date('2016-09-29 09:30'), endDate:new Date('2016-09-29 15:30'), name:'Guest Program Orientation & Tour'})
      - all_events[1].push({startDate:new Date('2016-09-29 10:00'), endDate:new Date('2016-09-29 10:30'), name:'Beverage Break'})
      - all_events[1].push({startDate:new Date('2016-09-29 10:30'), endDate:new Date('2016-09-29 11:30'), name:'Concurrent Sessions'})
      - all_events[1].push({startDate:new Date('2016-09-29 11:45'), endDate:new Date('2016-09-29 13:45'), name:'Celebration of Leaders Luncheon'})
      - all_events[1].push({startDate:new Date('2016-09-29 14:00'), endDate:new Date('2016-09-29 15:30'), name:'Concurrent Sessions'})
      - all_events[1].push({startDate:new Date('2016-09-29 14:00'), endDate:new Date('2016-09-29 18:00'), name:'Communities and Pavilion'})
      - all_events[1].push({startDate:new Date('2016-09-29 15:30'), endDate:new Date('2016-09-29 16:00'), name:'Beverage Break'})
      - all_events[1].push({startDate:new Date('2016-09-29 16:00'), endDate:new Date('2016-09-29 17:30'), name:'Concurrent Sessions'})
      - all_events[1].push({startDate:new Date('2016-09-29 18:45'), endDate:new Date('2016-09-29 21:45'), name:'Optional Tour', href:''})
      - all_events[2].push({startDate:new Date('2016-09-30 07:00'), endDate:new Date('2016-09-30 16:30'), name:'Registration'})
      - all_events[2].push({startDate:new Date('2016-09-30 07:30'), endDate:new Date('2016-09-30 08:30'), name:'Leadership & Society Awards Breakfast'})
      - all_events[2].push({startDate:new Date('2016-09-30 08:30'), endDate:new Date('2016-09-30 17:00'), name:'Communities and Pavilion'})
      - all_events[2].push({startDate:new Date('2016-09-30 08:45'), endDate:new Date('2016-09-30 09:45'), name:'ASCE Annual Business Meeting'})
      - all_events[2].push({startDate:new Date('2016-09-30 09:45'), endDate:new Date('2016-09-30 10:15'), name:'Beverage Break'})
      - all_events[2].push({startDate:new Date('2016-09-30 10:15'), endDate:new Date('2016-09-30 11:45'), name:'Concurrent Sessions'})
      - all_events[2].push({startDate:new Date('2016-09-30 11:45'), endDate:new Date('2016-09-30 13:15'), name:'Lunch on Your Own'})
      - all_events[2].push({startDate:new Date('2016-09-30 11:45'), endDate:new Date('2016-09-30 13:15'), name:'International Luncheon (ticketed)'})
      - all_events[2].push({startDate:new Date('2016-09-30 13:15'), endDate:new Date('2016-09-30 14:15'), name:'Concurrent Sessions'})
      - all_events[2].push({startDate:new Date('2016-09-30 13:00'), endDate:new Date('2016-09-30 17:15'), name:'Optional Tour', href:''})
      - all_events[2].push({startDate:new Date('2016-09-30 14:30'), endDate:new Date('2016-09-30 16:00'), name:'Industry Leaders Forum'})
      - all_events[2].push({startDate:new Date('2016-09-30 16:00'), endDate:new Date('2016-09-30 16:30'), name:'Beverage Break'})
      - all_events[2].push({startDate:new Date('2016-09-30 16:30'), endDate:new Date('2016-09-30 17:30'), name:'Concurrent Sessions'})
      - all_events[2].push({startDate:new Date('2016-09-30 18:30'), endDate:new Date('2016-09-30 21:30'), name:'Theater Night Out'})
      - all_events[3].push({startDate:new Date('2016-10-01 07:00'), endDate:new Date('2016-10-01 14:30'), name:'Registration'})
      - all_events[3].push({startDate:new Date('2016-10-01 07:30'), endDate:new Date('2016-10-01 08:15'), name:'Order of the Engineer Ceremony'})
      - all_events[3].push({startDate:new Date('2016-10-01 08:45'), endDate:new Date('2016-10-01 11:45'), name:'Optional Tour', href:''})
      - all_events[3].push({startDate:new Date('2016-10-01 08:30'), endDate:new Date('2016-10-01 10:00'), name:'Concurrent Sessions'})
      - all_events[3].push({startDate:new Date('2016-10-01 08:30'), endDate:new Date('2016-10-01 14:00'), name:'Communities and Pavilion'})
      - all_events[3].push({startDate:new Date('2016-10-01 10:15'), endDate:new Date('2016-10-01 11:45'), name:'Concurrent Sessions'})
      - all_events[3].push({startDate:new Date('2016-10-01 12:00'), endDate:new Date('2016-10-01 14:00'), name:'ASCE Luncheon & Closing General Session'})
      - all_events[3].push({startDate:new Date('2016-10-01 14:30'), endDate:new Date('2016-10-01 17:30'), name:'Technical Tours', href:''})
      each events, index in all_events
        +time-block(events, index)
    p: small Program subject to change.
