extends internal.tpl.jade

block append vars
  - var page = getPage('internal','program.html')

block main-minimal
  +minimal-text-block()

block main-reference
  section.o-Runner.o-Runner--highlight.c-Banner: div.o-ContentWrapper
    h1.-d-n#full-program Full Program
    include /includes/components/_c-Program.jade
    +program(program_events.length, 'full-program-block', 'c-Overlay')
      mixin heading(i)
        +programHeading(i, program_events)
      mixin content(i)
        include /includes/components/_c-TimeBlock.jade
        +timeBlock(program_events[i], true)
    p: small Program subject to change.

block callouts
  aside.o-Runner.o-Runner--highlight.c-Banner: div.o-ContentWrapper
    include includes/highlights/_volunteer.jade
