extends internal.tpl.jade

block append vars
  - var page_id = sitemap.internal.program

block main-minimal
  +minimal-text-block()

block main-reference
  section.o-Runner.o-Runner--highlight.c-Banner: div.o-ContentWrapper
    h1.-d-n Full Program
    section.o-GridFlex.c-Overlay.c-Program
      each events, index in program_events
        +programAgenda(events, index, true)
    p: small Program subject to change.
