doctype html
html(lang="en")
  head
    block vars
      - var site_title = 'ASCE Convention'
      - var site_tagline = 'The Flagship Event of ASCE'
      - var conference_name = 'ASCE 2016'
      - var conference_theme = 'Engineering > Innovating > Leading'
      - var descriptions = {'Index':site_tagline, 'About':'About the ASCE Convention.', 'Sponsor':'Sponsors of the ASCE Convention.', 'Exhibit':'Exhibitors at the ASCE Convention.', 'Contact':'Contact us for questions and comments about the ASCE Convention.', 'Home':conference_theme, 'Register':'Register for the ASCE 2016 conference here.', 'Program':'Program and Agenda of the ASCE 2016 conference.', 'Hotel & Travel':'Get information about the location of the conference and where to stay.', 'Speakers':'Get information about current and prospective speakers at ASCE 2016.'}
    block title
      title
    meta(charset="utf-8")
    block description
      meta(name="description" content=descriptions[page_name])
    meta(name="keywords" content=['ASCE', 'civil engineering', 'convention'])
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet" href="../bower_components/xmeter/xmeter.min.css")
    link(rel="stylesheet" href="../bower_components/bangs/bangs.min.css")
    link(rel="stylesheet" href="../styles/conf.css")
    link(rel="stylesheet" href="styles/this.css")
    block style
      style.
        .is-editable {
          background-color: rgba(219, 255, 64, 0.64);
        }
        .is-editable::before {
          content: 'editable content block (no heading)';
          display: block;
          margin-bottom: 1.5rem;
          font-weight: 900;
          text-transform: uppercase;
          color: red;
        }
        section.is-editable {
          background-color: rgba(255, 219, 64, 0.64);
        }
        section.is-editable::before {
          content: 'editable <section> with heading';
        }
  body
    include include/_mixins.jade
    header.o-GridFlex.o-Runner.c-Mast.-xjc-sb
      a.o-Block.c-SiteTitle.c-Mast__Link(href="index.html")
        h1= site_title
        p= site_tagline
      nav.o-GridFlex
        h1.-d-n Top Menu
        ul.o-GridFlex__Item.o-ListBare.o-GridFlex.c-MenuUniversal
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-Mast__Link.c-MenuUniversal__Link(href="about.html") About
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-Mast__Link.c-MenuUniversal__Link(href="sponsor.html") Sponsor
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-Mast__Link.c-MenuUniversal__Link(href="exhibit.html") Exhibit
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-Mast__Link.c-MenuUniversal__Link(href="contact.html") Contact
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-Mast__Link.c-MenuUniversal__Link.c-MenuUniversal__Link--current(href="home.html") ASCE 2016
        div.o-GridFlex__Item.c-Mast__MenuButtonContainer
          button.c-Mast__MenuButtonContainer__Button menu
    unless page_type === 'universal'
      header: nav
        h1.-d-n Main Menu
        ul.o-ListBare.o-GridFlex.o-Runner.c-Mast.c-Mast--map.c-MenuStandard
          li.o-GridFlex__Item.c-MenuStandard__Item
            a.o-Block.c-Mast__Link.c-MenuStandard__Link(href="home.html") Home
          li.o-GridFlex__Item.c-MenuStandard__Item
            a.o-Block.c-Mast__Link.c-MenuStandard__Link(href="register.html") Register
            ul.o-ListBare.c-MenuSub(class=(page_name==='Register' ? 'c-MenuSub--active' : ''))
              li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Why Attend
          li.o-GridFlex__Item.c-MenuStandard__Item
            a.o-Block.c-Mast__Link.c-MenuStandard__Link(href="program.html") Program
            ul.o-ListBare.c-MenuSub(class=(page_name==='Program' ? 'c-MenuSub--active' : ''))
              li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Events
          li.o-GridFlex__Item.c-MenuStandard__Item
            a.o-Block.c-Mast__Link.c-MenuStandard__Link(href="location.html") Hotel &amp; Travel
            ul.o-ListBare.c-MenuSub(class=(page_name==='Hotel & Travel' ? 'c-MenuSub--active' : ''))
              li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") International Travel
          li.o-GridFlex__Item.c-MenuStandard__Item
            a.o-Block.c-Mast__Link.c-MenuStandard__Link(href="speakers.html") Speakers
            ul.o-ListBare.c-MenuSub(class=(page_name==='Speakers' ? 'c-MenuSub--active' : ''))
              li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Distinguished Lecture Series
    block dominant
      section&attributes((page_type === 'internal') ? {itemscope:'', itemtype:'http://schema.org/Event'} : {})
        main
          block main-header
            header.o-Highlight.c-PageHeader
              h1= page_name
          block main-body
            div.o-Highlight
              block main-prose
                section.is-editable
                  h1 Sample Section Heading
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                  blockquote Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
                  ul
                    li 3&frac12; days of premier educational and networking events
                    li 15 tracks and 6 plenary sessions focusing on ...
                    li Prestigious awards and keynote lecture presentations
                    li Lively programs for studdnts and young professionals
            block main-body-insert
            block main-prose2
        div.t-Callouts
          block callouts
          aside
            h1 Sponsors
            +sponsor-content()
    footer: nav
      h1.-d-n Site Map
      ul.o-ListBare.o-GridFlex.o-Runner.c-Mast.c-Mast--map.-xjc-sa
        if page_type === 'universal'
          li
            a(href="index.html") Home
          li
            a(href="about.html") About
            ul.o-ListBare.-pl-1
              li: a(href="") Cooperating Orgs
              li: a(href="") Partnering Orgs
              li: a(href="") Volunteer
              li: a(href="") Why Attend
          li
            a(href="sponsor.html") Sponsor
          li
            a(href="exhibit.html") Exhibit
            ul.o-ListBare.-pl-1
              li: a(href="") Exhibitor List
          li
            a(href="contact.html") Contact
        else if page_type === 'internal'
          li
            a(href="register.html") Register
            ul.o-ListBare.-pl-1
              li: a(href="") Why Attend
          li
            a(href="program.html") Program
            ul.o-ListBare.-pl-1
              li: a(href="") Events
          li
            a(href="location.html") Hotel &amp; Travel
            ul.o-ListBare.-pl-1
              li: a(href="") International Travel
          li
            a(href="speakers.html") Speakers
            ul.o-ListBare.-pl-1
              li: a(href="") Distinguished Lecture Series
    footer.o-GridFlex.o-Runner.c-Mast.c-Mast--copyright(itemscope="" itemtype="http://schema.org/NGO")
      section.o-GridFlex__Item.-w-1o2-sM
        h1.-d-n Contact Us
        address(itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint")
          ul.o-ListBare
            li: a.c-Mast__Link(href="tel:+1-800-548-2723") (800) 548-2723
            li
              meta(content="customer support" itemprop="contactType")
              meta(content="+1-703-295-6300" itemprop="telephone")
              a.c-Mast__Link(href="tel:+1-703-295-6300") +1 (703) 295-6300
            li: a.c-Mast__Link(href="") Other Contacts
      section.o-GridFlex__Item.-w-1o2-sM
        h1.-d-n Connect With ASCE
        ul.o-ListBare.o-GridFlex.c-SocialList
          li.o-GridFlex__Item.c-SocialList__Item: a.c-Mast__Link.c-SocialList__Link(href="" itemprop="sameAs") LinkedIn
          li.o-GridFlex__Item.c-SocialList__Item: a.c-Mast__Link.c-SocialList__Link(href="" itemprop="sameAs") Facebook
          li.o-GridFlex__Item.c-SocialList__Item: a.c-Mast__Link.c-SocialList__Link(href="" itemprop="sameAs") Twitter
          li.o-GridFlex__Item.c-SocialList__Item: a.c-Mast__Link.c-SocialList__Link(href="" itemprop="sameAs") YouTube
          li.o-GridFlex__Item.c-SocialList__Item: a.c-Mast__Link.c-SocialList__Link(href="" itemprop="sameAs") Google+
      div.o-GridFlex__Item: a.c-Mast__Link(href="http://www.asce.org" itemprop="url").
        &copy; #[time 1996]&ndash;#[time 2016] #[span(itemprop="name") American Society of Civil Engineers]
