doctype html
html(lang="en")
  head
    block vars
      - var site_title = 'ASCE Convention'
      - var site_tagline = 'The Flagship Event of ASCE'
      - var conference_name = 'ASCE 2016'
      - var conference_theme = 'Engineering > Innovating > Leading'
      - var descriptions = {'Index':site_tagline, 'About':'About the ASCE Convention.', 'Sponsor':'Sponsors of the ASCE Convention.', 'Exhibit':'Exhibitors at the ASCE Convention.', 'Contact':'Contact us for questions and comments about the ASCE Convention.', 'Home':conference_theme, 'Registration':'Register for the ASCE 2016 conference here.', 'Program':'Program and Agenda of the ASCE 2016 conference.', 'Hotel & Travel':'Get information about the location of the conference and where to stay.', 'Speakers':'Get information about current and prospective speakers at ASCE 2016.'}
    block title
      title
    meta(charset="utf-8")
    block description
      meta(name="description" content=descriptions[page_name])
    meta(name="keywords" content=['ASCE', 'civil engineering', 'convention'])
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet" href="../bower_components/xmeter/xmeter.min.css")
    link(rel="stylesheet" href="../bower_components/bangs/bangs.min.css")
    link(rel="stylesheet" href="../styles/conf.css")
    link(rel="stylesheet" href="styles/this.css")
    block style
      style.
        .minimal-text {
          border: 8px solid rgba(219, 255, 64, 0.64);
        }
        .minimal-text::before {
          content: 'minimal text block (no headings inside)';
          display: block;
          margin-bottom: 1.5rem;
          font-weight: 900;
          text-transform: uppercase;
          color: red;
        }
        .rich-text {
          border: 8px solid rgba(255, 219, 64, 0.64);
        }
        .rich-text::before {
          content: 'rich text block <div> with optional subheadings';
          display: block;
          margin-bottom: 1.5rem;
          font-weight: 900;
          text-transform: uppercase;
          color: red;
        }
  body
    include include/_mixins.jade
    header.o-GridFlex.o-Runner.c-Mast.-xw-n.-xjc-sb.-xai-c
      a.o-GridFlex__Item.o-Block.c-SiteTitle(href="index.html")
        h1= site_title
        p= site_tagline
      nav.o-GridFlex__Item.-w-a
        h1.-d-n Top Menu
        ul.o-GridFlex__Item.o-ListBare.o-GridFlex.c-MenuUniversal.-d-n.-d-fx-s52em
          // NOTE: need `.-d-n.-d-fx-sM` for javascript
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="about.html") About
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="sponsor.html") Sponsor
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="exhibit.html") Exhibit
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="contact.html") Contact
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link.c-MenuUniversal__Link--current(href="home.html") ASCE 2016
      div.o-GridFlex__Item.-d-n.-d-n-s52em.-w-a.js-hamburgerbutton
        // NOTE: need `.-d-n.-d-n-sM` for javascript
        button(type="button" name="open").c-Btn.c-Btn--drawer menu
        button(type="button" name="close").c-Btn.c-Btn--drawer.c-Btn--drawer--close.-d-n X
    block standard-menu
    block dominant
      article&attributes((page_type === 'internal') ? {itemscope:'', itemtype:'http://schema.org/Event'} : {})
        main
          block main-header
            header.o-Runner.o-Runner--pageHeader
              h1.c-PageTitle= page_name
          block main-body
            block main-minimal
            block main-reference
            block main-rich
              +rich-text-block()
        div.t-Callouts
          block callouts
          aside
            h1 Sponsors
            +sponsor-content()
    block site-map
    footer.o-Runner.c-Mast.c-Mast--copyright: nav
      h1.-d-n Connect With #[abbr(title="American Society of Civil Engineers") ASCE]
      address(itemscope="" itemtype="http://schema.org/NGO")
        p
          span.o-Block(itemprop="name") American Society of Civil Engineers
          span.o-Block(itemprop="location" itemscope itemtype="https://schema.org/PostalAddress")
            span.o-Block(itemprop="streetAddress") 1801 Alexander Bell Drive
            span.o-Block
              span(itemprop="addressLocality") Reston, 
              span(itemprop="addressRegion") VA 
              span(itemprop="postalCode") 22901-4382
          span.o-Block(itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint")
            a(href="tel:+1-800-548-2723") (800) 548-2723
            meta(content="+1-800-548-2723" itemprop="telephone")
            meta(content="customer support" itemprop="contactType")
          span.o-Block(itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint")
            a(href="tel:+1-703-295-6300") +1 (703) 295-6300
            meta(content="+1-703-295-6300" itemprop="telephone")
            meta(content="United States of America" itemprop="areaServed")
            meta(content="customer support" itemprop="contactType")
        p: mark.
          #[strong Note:]
          Each social icon will be a transparent logo in a dark gray background.
          #[code background-color] is white, and secondary color on hover.
          (Use conference color scheme.)
        ul.o-ListBare.o-GridFlex.c-SocialList
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="//twitter.com/ASCE" itemprop="sameAs" title="Follow ASCE on Twitter")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--google(href="//plus.google.com/ASCE" itemprop="sameAs" title="Follow ASCE on Google+")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--facebook(href="//facebook.com/ASCE" itemprop="sameAs" title="Follow ASCE on Facebook")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--linkedin(href="//linkedin.com/ASCE" itemprop="sameAs" title="Follow ASCE on LinkedIn")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--youtube(href="//youtube.com/ASCE" itemprop="sameAs" title="Follow ASCE on YouTube")
        //- p: img(src="ASCE-logo.png" itemprop="image")
        p: a(href="http://www.asce.org" itemprop="url").
          &copy; #[time 1996]&ndash;#[time 2016] American Society of Civil Engineers
    script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
    script.
      $('.js-hamburgerbutton').removeClass('-d-n')
      $('button[name="open"]').click(function () {
        $('.c-MenuUniversal').removeClass('-d-n -d-fx-s52em')
        $('button[name="close"]').removeClass('-d-n')
      })
      $('button[name="close"]').click(function () {
        $('.c-MenuUniversal').addClass('-d-n -d-fx-s52em')
        $('button[name="close"]').addClass('-d-n')
      })
