doctype html
html(lang="en")
  head
    block vars
      - var site_title = 'ASCE Convention'
      - var site_tagline = 'The Flagship Event of ASCE'
      - var conference_name = 'ASCE 2016'
      - var conference_theme = 'Engineering > Innovating > Leading'
      - var descriptions = {'Index':site_tagline, 'About':'About the ASCE Convention.', 'Sponsor':'Sponsors of the ASCE Convention.', 'Exhibit':'Exhibitors at the ASCE Convention.', 'Contact':'Contact us for questions and comments about the ASCE Convention.', 'Home':conference_theme, 'Register':'Register for the ASCE 2016 conference here.', 'Program':'Program and Agenda of the ASCE 2016 conference.', 'Hotel & Travel':'Get information about the location of the conference and where to stay.', 'Speakers':'Get information about current and prospective speakers at ASCE 2016.'}
    block title
      title
    meta(charset="utf-8")
    block description
      meta(name="description" content=descriptions[page_name])
    meta(name="keywords" content=['ASCE', 'civil engineering', 'convention'])
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet" href="../bower_components/xmeter/xmeter.min.css")
    link(rel="stylesheet" href="../bower_components/bangs/bangs.min.css")
    link(rel="stylesheet" href="../styles/conf.css")
    link(rel="stylesheet" href="styles/this.css")
    block style
      style.
        .minimal-text {
          background-color: rgba(219, 255, 64, 0.64);
        }
        .minimal-text::before {
          content: 'minimal text block (no headings inside)';
          display: block;
          margin-bottom: 1.5rem;
          font-weight: 900;
          text-transform: uppercase;
          color: red;
        }
        .rich-text {
          background-color: rgba(255, 219, 64, 0.64);
        }
        .rich-text::before {
          content: 'rich text block <div> with optional subheadings';
          display: block;
          margin-bottom: 1.5rem;
          font-weight: 900;
          text-transform: uppercase;
          color: red;
        }
  body
    include include/_mixins.jade
    header.o-GridFlex.o-Runner.c-Mast.-xjc-sb
      a.o-Block.c-SiteTitle.c-Mast__Link(href="index.html")
        h1= site_title
        p= site_tagline
      nav.o-GridFlex
        h1.-d-n Top Menu
        ul.o-GridFlex__Item.o-ListBare.o-GridFlex.c-MenuUniversal
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-Mast__Link.c-MenuUniversal__Link(href="about.html") About
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-Mast__Link.c-MenuUniversal__Link(href="sponsor.html") Sponsor
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-Mast__Link.c-MenuUniversal__Link(href="exhibit.html") Exhibit
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-Mast__Link.c-MenuUniversal__Link(href="contact.html") Contact
          li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-Mast__Link.c-MenuUniversal__Link.c-MenuUniversal__Link--current(href="home.html") ASCE 2016
        div.o-GridFlex__Item.c-Mast__MenuButtonContainer
          button.c-Mast__MenuButtonContainer__Button menu
    block standard-menu
    block dominant
      article&attributes((page_type === 'internal') ? {itemscope:'', itemtype:'http://schema.org/Event'} : {})
        main
          block main-header
            header.o-Highlight.c-PageHeader
              h1= page_name
          block main-body
            block main-minimal
            block main-reference
            block main-rich
              +rich-text-block()
        div.t-Callouts
          block callouts
          block sponsors
            aside
              h1 Sponsors
              +sponsor-content()
    footer: nav
      h1.-d-n Site Map
      ul.o-ListBare.o-GridFlex.o-Runner.c-Mast.c-Mast--map.-xjc-sa
        block sitemap-items
    footer.o-GridFlex.o-Runner.c-Mast.c-Mast--copyright(itemscope="" itemtype="http://schema.org/NGO")
      section.o-GridFlex__Item.-w-1o2-sM
        h1.-d-n Contact Us
        address(itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint")
          ul.o-ListBare
            li: a.c-Mast__Link(href="tel:+1-800-548-2723") (800) 548-2723
            li
              meta(content="customer support" itemprop="contactType")
              meta(content="+1-703-295-6300" itemprop="telephone")
              a.c-Mast__Link(href="tel:+1-703-295-6300") +1 (703) 295-6300
            li: a.c-Mast__Link(href="") Other Contacts
      section.o-GridFlex__Item.-w-1o2-sM
        h1.-d-n Connect With ASCE
        ul.o-ListBare.o-GridFlex.c-SocialList
          li.o-GridFlex__Item.c-SocialList__Item: a.c-Mast__Link.c-SocialList__Link(href="" itemprop="sameAs") LinkedIn
          li.o-GridFlex__Item.c-SocialList__Item: a.c-Mast__Link.c-SocialList__Link(href="" itemprop="sameAs") Facebook
          li.o-GridFlex__Item.c-SocialList__Item: a.c-Mast__Link.c-SocialList__Link(href="" itemprop="sameAs") Twitter
          li.o-GridFlex__Item.c-SocialList__Item: a.c-Mast__Link.c-SocialList__Link(href="" itemprop="sameAs") YouTube
          li.o-GridFlex__Item.c-SocialList__Item: a.c-Mast__Link.c-SocialList__Link(href="" itemprop="sameAs") Google+
      div.o-GridFlex__Item: a.c-Mast__Link(href="http://www.asce.org" itemprop="url").
        &copy; #[time 1996]&ndash;#[time 2016] #[span(itemprop="name") American Society of Civil Engineers]
