extends internal.tpl.jade

block append vars
  - var page_name = 'Speakers'

block main-prose
  +section-block('Call for Submissions')

block append main-body
  div.o-Highlight.c-Banner
    +num-speakers(6)
