extends universal.tpl.jade

block append vars
  - var page_id = site_pages.universal[2]

block append main-body
  section.o-Runner.o-Runner--highlight: div.o-ContentWrapper
    h1#thank-you-sponsors Thank You to Our Sponsors
    +sponsor-block(sponsorlevel.platinum , 'c-SponsorBlock--separate')
    +sponsor-block(sponsorlevel.corporate, 'c-SponsorBlock--separate')
    +sponsor-block(sponsorlevel.silver   , 'c-SponsorBlock--separate')
    +sponsor-block(sponsorlevel.bronze   , 'c-SponsorBlock--separate')
    +sponsor-block(sponsorlevel.copper   , ''                        )

block sponsors
