extends universal.tpl.jade

block append vars
  - var page_id = sitemap.universal.sponsor

block append main-body
  section.o-Runner.o-Runner--highlight: div.o-ContentWrapper
    h1 Thank You to Our Sponsors
    +sponsor-content-full()

block sponsors
