extends universal.tpl.jade

block append vars
  - var page = getPage('universal','sponsor.html')

block append main-body
  section.o-Runner.o-Runner--highlight: div.o-ContentWrapper
    h1#thank-you-sponsors Thank You to Our Sponsors
    include includes/_c-SponsorBlock.jade
    +sponsorBlock(sponsorlevel.platinum , 'c-SponsorBlock--separate')
    +sponsorBlock(sponsorlevel.corporate, 'c-SponsorBlock--separate')
    +sponsorBlock(sponsorlevel.silver   , 'c-SponsorBlock--separate')
    +sponsorBlock(sponsorlevel.bronze   , 'c-SponsorBlock--separate')
    +sponsorBlock(sponsorlevel.copper   , ''                        )

block sponsors
