extends sample.tpl.jade

block append vars
  - var page_type = 'universal'

block title
  title= ((page_subtype === 'landing') ? '' : page_id.name + ' | ') + site.title

block site-map
  footer.o-Runner.c-Mast: nav.o-ContentWrapper
    h1.-d-n#site-map Site Map
    +menulist({pages: site_pages.universal, class_obj: sitemap_class_obj, depth: 1})
