extends sample.tpl.jade

block append vars
  - var page_type = 'universal'

block title
  title= ((page_subtype === 'landing') ? '' : page_name + ' | ') + site_title

block sitemap-items
  li
    a(href="index.html") ASCE Convention
  li
    a(href="about.html") About
    ul.o-ListBare(style="text-indent: 1rem;")
      li: a(href="") Cooperating Orgs
      li: a(href="") Partnering Orgs
      li: a(href="") Volunteer
      li: a(href="") Why Attend
  li
    a(href="sponsor.html") Sponsor
  li
    a(href="exhibit.html") Exhibit
    ul.o-ListBare(style="text-indent: 1rem;")
      li: a(href="") Exhibitor List
  li
    a(href="contact.html") Contact
