- var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

- var site = {}
- site.title = 'ASCE Convention'
- site.tagline = 'Engineering > Innovating > Leading'
- site.tagline_old = 'The Flagship Event of ASCE'

- var conference = {}
- conference.current = {}
- conference.prev = {}
- conference.next = {}

- conference.current.name = 'ASCE 2016'
- conference.current.theme = ''
- conference.current.addressLocality = 'Portland'
- conference.current.addressRegion = {name: 'Oregon', abbr: 'OR'}
- conference.current.startDate = new Date('2016-09-28')
- conference.current.endDate = new Date('2016-10-01')
- conference.prev.name = 'ASCE 2015'
- conference.prev.addressLocality = 'New York'
- conference.prev.addressRegion = {name: 'New York', abbr: 'NY'}
- conference.prev.startDate = new Date('2015-10-11')
- conference.next.name = 'ASCE 2017'
- conference.next.addressLocality = 'Chicago'
- conference.next.addressRegion = {name: 'Illinois', abbr: 'IL'}
- conference.next.startDate = new Date('2017-10-04')

- var page_description = {}
- page_description['Index']          = site.tagline
- page_description['About']          = 'About the ASCE Convention.'
- page_description['Sponsor']        = 'Sponsors of the ASCE Convention.'
- page_description['Exhibit']        = 'Exhibitors at the ASCE Convention.'
- page_description['Contact']        = 'Contact us for questions and comments about the ASCE Convention.'
- page_description['Home']           = conference.theme
- page_description['Registration']   = 'Register for the ASCE 2016 conference here.'
- page_description['Program']        = 'Program and Agenda of the ASCE 2016 conference.'
- page_description['Hotel & Travel'] = 'Get information about the location of the conference and where to stay.'
- page_description['Speakers']       = 'Get information about current and prospective speakers at ASCE 2016.'
