figure.docs-figure
  div.c-Banner(style="margin-bottom: 1.5rem; z-index:1;")
    h1 banner heading
    p banner content
  pre.docs-pre.
    &lt;div class="#[u c-Banner]"&gt;
      &lt;h1&gt;banner heading&lt;/h1&gt;
      &lt;p&gt;banner content&lt;/p&gt;
    &lt;/div&gt;
p Subclasses of Banner:
ul
  li #[code.docs-code .c-Banner--home] &mdash; hero image on home page
  li #[code.docs-code .c-Banner--location] &mdash; location page title image, and location highlight block (blurred)
  li #[code.docs-code .c-Banner--prev] &mdash; previous year highlight (blurred)
  li #[code.docs-code .c-Banner--next] &mdash; next year highlight (blurred)
