section#hero-block
  h2 The Hero Block
  figure.docs-figure
    include /_views/c-Hero.view.jade
    +hero(new Conference({
      name      : 'Geo-Risk 2017'
    , theme     : 'Geotechincal risk from theory to practice.'
    , startDate : '2017-06-04'
    , endDate   : '2017-06-07'
    , url       : 'http://2017.georiskconference.org/'
    , city     : 'Denver'
    , state    : 'CO'
    }), {itemscope:'', itemtype:'http://schema.org/Event'})
    +microdataCheckbox('hero')
      pre.docs-pre.
        &lt;div class="#[u c-Hero]"#[mark.docs-c-Togglable__Text  itemscope="" itemtype="http://schema.org/Event"]&gt;
          &lt;h1 class="c-PageTitle #[u c-Hero__Name]"#[mark.docs-c-Togglable__Text  itemprop="name"]&gt;Geo-Risk 2017&lt;/h1&gt;
          #[mark.docs-c-Togglable__Text!= '&lt;meta content="http://2017.georiskconference.org/" itemprop="url"/&gt;']
          &lt;p class="#[u c-Hero__Detail]"&gt;
            &lt;span class="#[u c-Hero__Place]"#[mark.docs-c-Togglable__Text  itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress"]&gt;
              #[mark.docs-c-Togglable__Text &lt;span itemprop="name"&gt;]
                #[mark.docs-c-Togglable__Text &lt;span itemprop="addressLocality"&gt;]Denver, #[mark.docs-c-Togglable__Text!= '&lt;/span&gt;']
                #[mark.docs-c-Togglable__Text &lt;abbr title="Colorado" itemprop="addressRegion"&gt;]CO#[mark.docs-c-Togglable__Text!= '&lt;/abbr&gt;']
              #[mark.docs-c-Togglable__Text!= '&lt;/span&gt;']
            &lt;/span&gt;
            &lt;span class="#[u c-Hero__Dates]"&gt;
              #[mark.docs-c-Togglable__Text &lt;time datetime="2017-06-04" itemprop="startDate"&gt;]Jun 4#[mark.docs-c-Togglable__Text!= '&lt;/time&gt;']
              &ndash;
              #[mark.docs-c-Togglable__Text &lt;time datetime="2017-06-07" itemprop="endDate"&gt;]Jun 7#[mark.docs-c-Togglable__Text!= '&lt;/time&gt;']
            &lt;/span&gt;
          &lt;/p&gt;
          &lt;p class="#[u c-Hero__Theme]"#[mark.docs-c-Togglable__Text  itemprop="description"]&gt;Geotechincal risk ...&lt;/p&gt;
        &lt;/div&gt;
