figure.docs-figure
  div.c-Hero
    h1.c-PageTitle.c-Hero__Name(itemprop="name") Geo-Risk 2017
    meta(content="http://2017.georiskconference.org/" itemprop="url")
    p.c-Hero__Detail
      span.c-Hero__Place.h-Clearfix-nsM(itemprop="location")
        abbr(title="Denver, Colorado") Denver, CO
      span.c-Hero__Dates
        time(datetime="2017-06-04" itemprop="startDate") Jun 4
        | &ndash;
        time(datetime="2017-06-07" itemprop="endDate") Jun 7
    p.c-Hero__Blurb.c-Hero__Theme(itemprop="description") Geotechincal risk from theory to practice.
  +microdataCheckbox('hero')
    pre.docs-pre.
      &lt;div class="#[u c-Hero]"&gt;
        &lt;h1 class="c-PageTitle #[u c-Hero__Name]"#[mark.docs-c-Togglable__Text  itemprop="name"]&gt;Geo-Risk 2017&lt;/h1&gt;
        #[mark.docs-c-Togglable__Text!= '&lt;meta content="http://2017.georiskconference.org/" itemprop="url"/&gt;']
        &lt;p class="#[u c-Hero__Detail]"&gt;
          &lt;span class="#[u c-Hero__Place]  h-Clearfix-nsM"#[mark.docs-c-Togglable__Text  itemprop="location"]&gt;
            #[mark.docs-c-Togglable__Text &lt;abbr title="Denver, Colorado"&gt;]Denver, CO#[mark.docs-c-Togglable__Text!= '&lt;/abbr&gt;']
          &lt;/span&gt;
          &lt;span class="#[u c-Hero__Dates]"&gt;
            #[mark.docs-c-Togglable__Text &lt;time datetime="2017-06-04" itemprop="startDate"&gt;]Jun 4#[mark.docs-c-Togglable__Text!= '&lt;/time&gt;']
            &ndash;
            #[mark.docs-c-Togglable__Text &lt;time datetime="2017-06-07" itemprop="endDate"&gt;]Jun 7#[mark.docs-c-Togglable__Text!= '&lt;/time&gt;']
          &lt;/span&gt;
        &lt;/p&gt;
        &lt;p class="#[u c-Hero__Blurb]  #[u c-Hero__Theme]"#[mark.docs-c-Togglable__Text  itemprop="description"]&gt;Geotechincal risk ...&lt;/p&gt;
      &lt;/div&gt;
