p.
  A Caps Link is a link styled slightly bolder and with all caps.
  It is a similar style to links shown in the menus.
  You can use it in place of a button, for example, in a dialogue box.
  This class can be used on any element, not just anchors.
figure.docs-figure
  p You are about to cancel your subscription. Are you sure you want to continue?
  p(style="text-align:center;")
    a.c-LinkCaps(href="#0" style="margin-right:2rem;") Cancel
    a.c-LinkCaps(href="#0") Yes
  pre.docs-pre.
    &lt;p&gt;... Are you sure you want to continue?&lt;p&gt;
    &lt;p&gt;
      &lt;a class="#[u c-LinkCaps]"&gt;Cancel&lt;/a&gt;
      &lt;a class="#[u c-LinkCaps]"&gt;Yes&lt;/a&gt;
    &lt;p&gt;
