figure.docs-figure
  div(style="height: 100px;")
    include /_views/c-MenuSub.view.jade
    +menuSub([
      new ConfPage('Why Attend'     ,'#0')
    , new ConfPage('Short Courses'  ,'#0')
    , new ConfPage('Technical Tours','#0')
    ])
  div(style="height: 100px;"): ul.o-List.c-MenuBar__Sub
    li.o-List__Item.c-MenuBar__Sub__Item: a.c-MenuBar__Sub__Link.h-Block(href="#0")._hover menu item hover
    li.o-List__Item.c-MenuBar__Sub__Item: a.c-MenuBar__Sub__Link.h-Block(href="#0")._active menu item active
    li.o-List__Item.c-MenuBar__Sub__Item: a.c-MenuBar__Sub__Link.h-Block menu item disabled
  pre.docs-pre.
    &lt;ul class="o-List  #[u c-MenuBar__Sub]"&gt;
      &lt;li class="o-List__Item  #[u c-MenuBar__Sub__Item]"&gt;
        &lt;a class="#[u c-MenuBar__Sub__Link]  h-Block"&gt;
          &lt;span&gt;Why Attend&lt;/span&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      ...
    &lt;/ul&gt;
