figure.docs-figure
  include /_views/c-OtherYear.view.jade
  +otherYear(new Conference({
    name      : 'Geo-Chicago 2016'
  , theme     : 'Sustainability, energy, and the geoenvironment.'
  , start_date: '2016-08-14'
  , end_date  : '2016-08-18'
  , url       : 'http://2016.geoenvironmentconference.org/'
  , promo_loc : {
      text : 'Chicago, IL'
    , title: 'Chicago, Illinois'
    }
  }).setOtherYearBlurb('Access the 2016 program to see which sessions qualify for PDHs and other documentation.'))
  +microdataCheckbox('otheryear')
    pre.docs-pre.
      &lt;div class="#[u c-Hero]"&gt;
        &lt;h1 class="#[u c-Hero__Name]"#[mark.docs-c-Togglable__Text  itemprop="name"]&gt;Geo-Chicago 2016&lt;/h1&gt;
        #[mark.docs-c-Togglable__Text!= '&lt;meta content="2016-08-14" itemprop="startDate"/&gt;']
        &lt;p class="#[u c-Hero__Detail]  -fz-el-kilo"#[mark.docs-c-Togglable__Text  itemprop="location"]&gt;
          #[mark.docs-c-Togglable__Text &lt;abbr title="Chicago, Illinois"&gt;]Chicago, IL#[mark.docs-c-Togglable__Text!= '&lt;/abbr&gt;']
        &lt;/p&gt;
        &lt;p class="#[u c-Hero__Blurb]"&gt;Access the ...&lt;/p&gt;
        &lt;a#[mark.docs-c-Togglable__Text  itemprop="url"]&gt;Event Details&lt;/a&gt;
      &lt;/div&gt;
