section#other-year-block
  h2 The Other Year Block
  figure.docs-figure
    include /_views/c-OtherYear.view.jade
    +otherYear(new Conference({
      name      : 'Geo-Chicago 2016'
    , theme     : 'Sustainability, energy, and the geoenvironment.'
    , startDate : '2016-08-14'
    , endDate   : '2016-08-18'
    , url       : 'http://2016.geoenvironmentconference.org/'
    , promo_loc : ''
    , promo_loc : {
        text : 'Chicago, IL'
      , title: 'Chicago, Illinois'
      }
    }))
      | Access the 2016 program to see which sessions qualify for PDHs and other documentation.
    +microdataCheckbox('otheryear')
      pre.docs-pre.
        &lt;div class="#[u c-OtherYear]"#[mark.docs-c-Togglable__Text  itemscope="" itemtype="http://schema.org/Event"]&gt;
          &lt;h1 class="#[u c-OtherYear__Name]"#[mark.docs-c-Togglable__Text  itemprop="name"]&gt;Geo-Chicago 2016&lt;/h1&gt;
          #[mark.docs-c-Togglable__Text!= '&lt;meta content="2016-08-14" itemprop="startDate"/&gt;']
          &lt;p class="#[u c-OtherYear__Detail]"#[mark.docs-c-Togglable__Text  itemprop="location"]&gt;
            #[mark.docs-c-Togglable__Text &lt;abbr title="Chicago, Illinois"&gt;]Chicago, IL#[mark.docs-c-Togglable__Text!= '&lt;/abbr&gt;']
          &lt;/p&gt;
          &lt;p class="#[u c-OtherYear__Desc]"&gt;Access the ...&lt;/p&gt;
          &lt;a#[mark.docs-c-Togglable__Text  itemprop="url"]&gt;Event Details&lt;/a&gt;
        &lt;/div&gt;
