section#program-component
  h2 The Program Component
  p Enable Javascript to experience visual effects.
  figure.docs-figure
    include /includes/components/_c-Program.jade
    +program(3, {id:'demoprog'})
    pre.docs-pre.
      &lt;section class="o-Grid  #[u c-Program]" id="demoprog"&gt;
        &lt;h1 class="o-Grid__Item  #[u c-Program__Hn]"&gt;
          &lt;label&gt;
            &lt;input class="#[u c-Program__Check]" type="radio" name="program-demoprog" value="0" checked=""/&gt;
            heading 0
          &lt;/label&gt;
        &lt;/h1&gt;
        &lt;div class="o-Grid__Item  #[u c-Program__Schedule]"&gt;content 0&lt;/div&gt;

        &lt;h1 class="o-Grid__Item  #[u c-Program__Hn]"&gt;... heading 1 ...&lt;/h1&gt;
        &lt;div class="o-Grid__Item  #[u c-Program__Schedule]"&gt;content 1&lt;/div&gt;
        ...
      &lt;/section&gt;
  p.
    Since the Program Component will be used to display program event information,
    the headings will be dates. Each heading should have the following structure
    and include similar data.
    Elements with class #[code.docs-code .js-*] are required for Javascript.
  figure.sg-c-Fig
    h1.c-Program__Hn: label
      include /includes/components/_c-Program.jade
      +programHeading('2016-09-28')
    pre.docs-pre.
      &lt;h1 class="#[u c-Program__Hn]"&gt;
        &lt;label&gt;
          &lt;input class="#[u c-Program__Check]" .../&gt;
          &lt;time datetime="2016-09-28"&gt;
            &lt;span class="#[u js-h-Block-sK]"&gt;Wednesday, &lt;/span&gt;
            &lt;span class="#[u js-h-Block-sK]"&gt;Sep 28&lt;/span&gt;
          &lt;/time&gt;
        &lt;/label&gt;
      &lt;/h1&gt;
