p.
  A Supporter Logo is a logo for a sponsoring or supporting organization.
  Typically, it is a link with a background image.
  This Component defines only visual and graphical styles, not structural styles such as
  width, height, padding, or margin.
  Those styles are set in the #[a(href="#sponsor-block") Supporter Block],
  of which this Component can be a child (though it may not always be).
figure.docs-figure
  include /_views/c-SupporterLogo.view.jade
  div(style="margin-bottom:1.5rem;"): +supporterLogo(new Supporter('Bank of America')
    .url('#0')
    .img('http://www.asceconvention.org/sites/asceconvention.org/files/sponsors/bank-of-america-logo.jpg')
    .level('Titanium')
  )
  pre.docs-pre.
    &lt;a class="#[u c-SupporterLogo]" #[u style="background-image: url('logo.png');"]&gt;
      &lt;span&gt;Bank of America&lt;/span&gt;
    &lt;/a&gt;
