section#sponsor-block
  h2 The Sponsor Block
  p A Sponsor Block holds one group of sponsors.
  p.
    On the Sponsor page, each Sponsor Block corresponds to one level,
    e.g., Platinum, Gold, or Corporate.
    This block is a #[code.docs-code section] containing a heading
    (the name of the sponsor level)
    followed by an unordered list of sponsor logo items.
  p.
    To separate multiple sponsor blocks, add class #[code.docs-code .c-SponsorBlock--separate]
    for a thin bottom border.
  figure.docs-figure
    -
      var levels = [
        new SupporterLevel('Titanium').setClassname('c-SponsorBlock__Logo--lrg')
      , new SupporterLevel('Platinum').setClassname('c-SponsorBlock__Logo--med')
      , new SupporterLevel('Silver').setClassname('c-SponsorBlock__Logo--sml')
      ]
      var sponsor_list = [
        new Supporter('Bank of America')
          .setImg('http://www.asceconvention.org/sites/asceconvention.org/files/sponsors/bank-of-america-logo.jpg')
          .setURL('#0')
      , new Supporter('UPS')
          .setImg('http://www.asceconvention.org/sites/asceconvention.org/files/sponsors/ups-logo.jpg')
          .setURL('#0')
      , new Supporter('Geico')
          .setImg('http://www.asceconvention.org/sites/asceconvention.org/files/sponsors/geico-asce-convention-logo.png')
          .setURL('#0')
      ]
    include /_views/c-SponsorBlock.view.jade
    +sponsorBlock(levels[0], sponsor_list, 'c-SponsorBlock--separate')
    +sponsorBlock(levels[1], sponsor_list, 'c-SponsorBlock--separate')
    +sponsorBlock(levels[2], sponsor_list)
    +microdataCheckbox('sponsorblock')
      pre.docs-pre.
        &lt;section class="#[u c-SponsorBlock]  #[u c-SponsorBlock--separate]"&gt;
          &lt;h1 class="#[u c-SponsorBlock__Hn]"&gt;Titanium&lt;/h1&gt;
          &lt;ul class="o-List  o-ListStacked"&gt;
            &lt;li class="o-List__Item  o-ListStacked__Item"#[mark.docs-c-Togglable__Text  itemprop="sponsor" itemscope="" itemtype="http://schema.org/Organization"]&gt;
              &lt;a class="c-SponsorLogo  #[u c-SponsorBlock__Logo]  #[u c-SponsorBlock__Logo--lrg]"#[mark.docs-c-Togglable__Text  itemprop="url"]&gt;
                #[mark.docs-c-Togglable__Text &lt;span itemprop="name"&gt;]Bank of America#[mark.docs-c-Togglable__Text!= '&lt;/span&gt;']
              &lt;/a&gt;
            &lt;/li&gt;
            ...
          &lt;/ul&gt;
        &lt;/section&gt;

        &lt;section class="#[u c-SponsorBlock]"&gt;
          &lt;h1 class="#[u c-SponsorBlock__Hn]"&gt;Silver&lt;/h1&gt;
          ...
        &lt;/section&gt;
        ...
