p.
  There are two Social List styles. The first is meant for a light background. The logos are
  each encompassed in a dark gray circle.
figure.docs-figure
  include /_views/c-SocialList.view.jade
  +socialList({
    twitter : { url: '#0', text: 'example Twitter link' }
  , google  : { url: '#0', text: 'example Google+ link' }
  , facebook: { url: '#0', text: 'example Facebook link' }
  }, { is_dark: false, has_microdata: false })
  ul.o-List.o-Flex.c-SocialList
    li.o-List__Item.o-Flex__Item.c-SocialList__Item
      span hover:
      a.c-SocialList__Link.c-SocialList__Link--twitter.h-Block(href="#0")._hover
    li.o-List__Item.o-Flex__Item.c-SocialList__Item
      span active:
      a.c-SocialList__Link.c-SocialList__Link--twitter.h-Block(href="#0")._active
  pre.docs-pre.
    &lt;ul class="o-List  o-Flex  #[u c-SocialList]"&gt;
      &lt;li class="o-List__Item  o-Flex__Item  #[u c-SocialList__Item]"&gt;
        &lt;a class="#[u c-SocialList__Link]  #[u c-SocialList__Link--twitter]  h-Block"&gt;&lt;/a&gt;
      &lt;/li&gt;
      ...
    &lt;/ul&gt;
p.
  The second type of Social List is meant for a dark background or banner.
  It also uses smaller logos, so it may hold more of them.
figure.docs-figure
  div.c-Banner(style="z-index:1;")
    include /_views/c-SocialList.view.jade
    +socialList({
      twitter : { url: '#0', text: 'example Twitter link' }
    , google  : { url: '#0', text: 'example Google+ link' }
    , facebook: { url: '#0', text: 'example Facebook link' }
    , linkedin: { url: '#0', text: 'example LinkedIn link' }
    , youtube : { url: '#0', text: 'example YouTube link' }
    }, { is_dark: true, has_microdata: false })
    ul.o-List.o-Flex.c-SocialList.c-SocialList--dark
      li.o-List__Item.o-Flex__Item.c-SocialList__Item
        span in banner hover:
        a.c-SocialList__Link.c-SocialList__Link--twitter.h-Block(href="#0")._hover
      li.o-List__Item.o-Flex__Item.c-SocialList__Item
        span in banner active:
        a.c-SocialList__Link.c-SocialList__Link--twitter.h-Block(href="#0")._active
  pre.docs-pre.
    &lt;ul class="o-List  o-Flex  #[u c-SocialList]  #[u c-SocialList--dark]"&gt;
      &lt;li class="o-List__Item  o-Flex__Item  #[u c-SocialList__Item]"&gt;
        &lt;a class="#[u c-SocialList__Link]  #[u c-SocialList__Link--twitter]  h-Block"&gt;&lt;/a&gt;
      &lt;/li&gt;
      ...
    &lt;/ul&gt;
