section#speaker-component
  h2 The Speaker Component
  figure.docs-figure
    div(style="margin-bottom: 1.5rem;")
      include /_views/c-Speaker.view.jade
      +speaker(new Person({
        id  : 'donna-fulman'
      , name: {
          givenName      : 'Donna'
        , additionalName : 'A.'
        , familyName     : 'Fulman'
        , honorificSuffix: 'P.ASCE'
        }
      }).setJobTitle('Administrator of Interior Engineering')
        .setAffiliation('German Chamber of Architects')
        .setImg('/img/Blue-Geometric-Background-3.jpg')
        .setEmail('example@asce.org')
        .setTel('+1 703-555-5555')
        .setURL('#0')
        .setSocial({
          linkedin: { url: 'https://www.linkedin.com/groups/143956/profile' }
        , twitter : { text: '@ASCETweets' }
        })
        .setBio('<p>Donna Fulman is an award-winning, German designer raised in Austria\
          and currently living in New York City.</p>\
          <p>Former Lead Product Designer and Art Director at Spotify, she recently founded\
          Semplice and at the same time serves on the AIGA Board of Directors in New York.</p>')
      )
    +microdataCheckbox('speaker')
      pre.docs-pre.
        &lt;article class="#[u c-Speaker]"#[mark.docs-c-Togglable__Text  itemprop="performer" itemscope="" itemtype="http://schema.org/Person"]&gt;
          &lt;div class="#[u c-Speaker__Img]" #[u style="background-image: url('headshot.jpg');"]&gt;
            &lt;header class="#[u c-Speaker__Head]"&gt;
              &lt;h1 class="#[u c-Speaker__Name]"&gt;
                #[mark.docs-c-Togglable__Text &lt;span itemprop="name"&gt;]
                  #[mark.docs-c-Togglable__Text &lt;span itemprop="givenName"&gt;]Donna#[mark.docs-c-Togglable__Text!= '&lt;/span&gt;']#{' '}
                  #[mark.docs-c-Togglable__Text &lt;span itemprop="additionalName"&gt;]A.#[mark.docs-c-Togglable__Text!= '&lt;/span&gt;']#{' '}
                  #[mark.docs-c-Togglable__Text &lt;span itemprop="familyName"&gt;]Fulman#[mark.docs-c-Togglable__Text!= '&lt;/span&gt;']
                #[mark.docs-c-Togglable__Text!= '&lt;/span&gt;']
                #{', '}
                #[mark.docs-c-Togglable__Text &lt;span itemprop="honorificSuffix"&gt;]P.ASCE#[mark.docs-c-Togglable__Text!= '&lt;/span&gt;']
              &lt;/h1&gt;
              &lt;p class="#[u c-Speaker__JobTitle]"#[mark.docs-c-Togglable__Text  itemprop="jobTitle"]&gt;Interior Engineering Administration&lt;/p&gt;
            &lt;/header&gt;
          &lt;/div&gt;
          &lt;div class="#[u c-Speaker__Body]"&gt;
            &lt;div class="#[u c-Speaker__Bio]"#[mark.docs-c-Togglable__Text  itemprop="description"]&gt;
              &lt;p&gt;Donna Fulman is ...&lt;/p&gt;
              &lt;p&gt;Former Lead Product Designer ...&lt;/p&gt;
            &lt;/div&gt;
            &lt;ul class="o-List"&gt;
              &lt;li class="o-List__Item"&gt;&lt;a class="#[u c-Speaker__Link]"#[mark.docs-c-Togglable__Text  itemprop="email"]&gt;example@asce.org&lt;/a&gt;&lt;/li&gt;
              &lt;li class="o-List__Item"&gt;&lt;a class="#[u c-Speaker__Link]"#[mark.docs-c-Togglable__Text  itemprop="telephone"]&gt;+1 703-555-5555&lt;/a&gt;&lt;/li&gt;
              &lt;li class="o-List__Item"&gt;&lt;a class="#[u c-Speaker__Link]"#[mark.docs-c-Togglable__Text  itemprop="url"]&gt;Homepage&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
            &lt;ul class="o-List"&gt;
              &lt;li class="o-List__Item  h-Inline"&gt;&lt;a class="#[u c-Speaker__Link]#[mark.docs-c-Togglable__Text  itemprop="sameAs"]"&gt;LinkedIn&lt;/a&gt;&lt;/li&gt;
              &lt;li class="o-List__Item  h-Inline"&gt;&lt;a class="#[u c-Speaker__Link]#[mark.docs-c-Togglable__Text  itemprop="sameAs"]"&gt;Twitter&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/article&gt;
