p.
  A place with a name, physical address, telephone, or url.
  Wrap with #[code.docs-code &lt;address&gt;] only if the place represents
  contact information for the article or document author.
figure.docs-figure
  +place(new Place({
    name           : 'ASCE World Headquarters'
  , streetAddress  : '1801 Alexander Bell Drive'
  , addressLocality: 'Reston'
  , addressRegion  : 'VA'
  , postalCode     : '22901-4382'
  , telephone      : '+1-800-548-2723'
  , url            : 'http://www.asce.org/'
  }), {
    class: 'classes_self'
  }, {
    name     : 'classes_name'
  , address  : 'classes_address'
  , telephone: 'classes_telephone'
  , url      : 'classes_url'
  })
  pre.docs-pre.
    &lt;p itemscope="" itemtype="http://schema.org/Place"&gt;
      &lt;span class="h-Block" itemprop="name"&gt;ASCE World Headquarters&lt;/span&gt;
      &lt;span class="h-Block" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"&gt;
        &lt;span class="h-Block" itemprop="streetAddress"&gt;1801 Alexander Bell Drive&lt;/span&gt;
        &lt;span class="h-Block"&gt;
          &lt;span itemprop="addressLocality"&gt;Reston&lt;/span&gt;,
          &lt;span itemprop="addressRegion"&gt;VA&lt;/span&gt;
          &lt;span itemprop="postalCode"&gt;22901-4382&lt;/span&gt;
        &lt;/span&gt;
      &lt;/span&gt;
      &lt;span class="h-Block" itemprop="telephone"&gt;+1-800-548-2723&lt;/span&gt;
      &lt;a class="h-Block" href="http://www.asce.org/" itemprop="url"&gt;http://www.asce.org/&lt;/a&gt;
    &lt;/p&gt;
//- p.
  Use the following CSS selectors to add styling.
//- pre.docs-pre.
  [itemtype="http://schema.org/Place"]                               { /* for the place */ }
  [itemtype="http://schema.org/Place"] [itemprop*="name"]            { /* for the place name */ }
  [itemtype="http://schema.org/Place"] [itemprop*="address"]         { /* for the place address */ }
  [itemtype="http://schema.org/Place"] [itemprop*="streetAddress"]   { /* for the place address&rsquo;s street */ }
  [itemtype="http://schema.org/Place"] [itemprop*="addressLocality"] { /* for the place address&rsquo;s city */ }
  [itemtype="http://schema.org/Place"] [itemprop*="addressRegion"]   { /* for the place address&rsquo;s state */ }
  [itemtype="http://schema.org/Place"] [itemprop*="postalCode"]      { /* for the place address&rsquo;s zip */ }
  [itemtype="http://schema.org/Place"] [itemprop*="telephone"]       { /* for the place telephone*/ }
  [itemtype="http://schema.org/Place"] a                             { /* for the place url */ }
