mixin mainMenu(arg)
  //- NOTE parameter validation
  -
    arg.pages   = arg.pages   || []
    arg.classes = arg.classes || {}
    arg.depth   = +arg.depth  || 0
    arg.icons   = !!arg.icons
  ul(class=arg.classes.listclasses)
    each $confPage in arg.pages
      li(class=arg.classes.itemclasses)
        a(class=arg.classes.linkclasses href=$confPage.url() title=$confPage.name())
          if $confPage.getIcon()
            i.material-icons.c-MenuMobile__Icon.-d-n-sM= $confPage.getIcon()
          span= $confPage.name()
          if $confPage.findAll().length && arg.depth > 0
            i.material-icons.c-MenuBar__Icon.-d-n-nsM expand_more
        if $confPage.findAll().length && arg.depth > 0
          +sitetoc({pages: $confPage.findAll(), classes: arg.classes.sub, depth: arg.depth-1})
