mixin mainMenu(arg)
  //- WHERE +mainMenu() is used:
  //- - _sites.tpl.jade
  //- - _comp.mobile-menu.pug
  //- - _comp.menu-bar.pug
  //- - _temp.site-header.pug
  //- NOTE parameter validation
  -
    var pages   = arg.pages   || []
    var classes = arg.classes || {}
  +sitetoc({
    pages: pages
  , depth: 1
  , icons: true
  , classes: {
      listclasses: 'o-Flex ' + classes.listclasses
    , itemclasses: 'o-Flex__Item ' + classes.itemclasses
    , linkclasses: classes.linkclasses
    , sub: classes.sub
    }
  })
