mixin mainMenu(arg)
  //- WHERE +mainMenu() is used:
  //- - _sites.tpl.jade
  //- - _comp.mobile-menu.pug
  //- - _comp.menu-bar.pug
  //- - _temp.site-header.pug
  //- NOTE parameter validation
  -
    arg.pages   = arg.pages   || []
    arg.classes = arg.classes || {}
    arg.depth   = +arg.depth  || 0
  ul(class=arg.classes.listclasses)
    each $confPage in arg.pages
      li(class=arg.classes.itemclasses)
        a(class=arg.classes.linkclasses href=$confPage.url())
          if $confPage.getIcon()
            i.material-icons.c-MenuMobile__Icon.-d-n-sM(role="none")= $confPage.getIcon()
          span= $confPage.name()
          if $confPage.findAll().length && arg.depth > 0
            i.material-icons.c-MenuBar__Icon.-d-n-nsM(role="none") expand_more
        if $confPage.findAll().length && arg.depth > 0
          +sitetoc({pages: $confPage.findAll(), classes: arg.classes.sub, depth: arg.depth-1})
