mixin mainMenu(arg)
  //- WHERE +mainMenu() is used:
  //- - _sites.tpl.jade
  //- - _comp.mobile-menu.pug
  //- - _comp.menu-bar.pug
  //- - _temp.site-header.pug
  //- NOTE parameter validation
  -
    var pages   = arg.pages   || []
    var classes = arg.classes || {}
  +sitetoc({
    pages: pages
  , depth: 1
  , icons: true
  , classes: {
      listclasses: 'o-List o-Flex ' + classes.listclasses
    , itemclasses: 'o-List__Item o-Flex__Item ' + classes.itemclasses
    , linkclasses: classes.linkclasses
    , sub: {
        listclasses: 'o-List ' + classes.sub.listclasses
      , itemclasses: 'o-List__Item ' + classes.sub.itemclasses
      , linkclasses: classes.sub.linkclasses
      }
    }
  })
