mixin personFullName($person)
  span(itemprop="name")
    span(itemprop="givenName")= $person.name().given_name
    = ' '
    if $person.name().additional_name
      span(itemprop="additionalName")= $person.name().additional_name
      = ' '
    span(itemprop="familyName")= $person.name().family_name

mixin personEntireName($person)
  if $person.name().honorific_prefix
    span(itemprop="honorificPrefix")= $person.name().honorific_prefix
    = ' '
  +personFullName($person)
  if $person.name().honorific_suffix
    = ', '
    span(itemprop="honorificSuffix")= $person.name().honorific_suffix

mixin personAffiliation($person)
  +personEntireName($person)
  if $person.affiliation()
    = ', '
    span.-fs-t(itemprop="affiliation" itemscope="" itemtype="http://schema.org/Organization")
      span(itemprop="name")= $person.affiliation()

mixin personContact($person)
  a(href=`mailto:${$person.email()}` itemprop="email")
    +personFullName($person)
  if $person.jobTitle()
    = ', '
    span(itemprop="jobTitle")= $person.jobTitle()
  if $person.phone()
    = ' | '
    span(itemprop="telephone")= $person.phone()
