mixin hero($conference, attrs)
  div.c-Hero&attributes(attrs || {})
    h1.c-PageTitle.c-Hero__Name(itemprop="name")= $conference.name()
    meta(content=$conference.url() itemprop="url")
    p.c-Hero__Detail
      span.c-Hero__Place(itemprop="location"): +promotedLocation($conference.promoLoc())
      span.c-Hero__Dates
        time(datetime=$conference.startDate() itemprop="startDate")
          - var start = ($conference.startDate()) ? new Date($conference.startDate()) : new Date()
          = Util.monthDay(start)
        | &ndash;
        time(datetime=$conference.endDate() itemprop="endDate")
          - var end = ($conference.endDate()) ? new Date($conference.endDate()) : new Date()
          = Util.monthDay(end)
    p.c-Hero__Theme(itemprop="description")
      if $conference.theme()
        = $conference.theme()
      else
        | &nbsp;
    block
