mixin hero(event0, attrs)
  div.c-Hero&attributes(attrs || {})
    h1.c-PageTitle.c-Hero__Name(itemprop="name")= event0.name
    meta(content=event0.url itemprop="url")
    p.c-Hero__Detail
      span.c-Hero__Place(itemprop="location"): +promotedLocation(event0.promo_loc)
      span.c-Hero__Dates
        time(datetime=event0.startDate itemprop="startDate")
          - var start = (event0.startDate) ? new Date(event0.startDate) : new Date()
          = Util.monthDay(start)
        | &ndash;
        time(datetime=event0.endDate itemprop="endDate")
          - var end = (event0.endDate) ? new Date(event0.endDate) : new Date()
          = Util.monthDay(end)
    p.c-Hero__Theme(itemprop="description")
      if event0.theme
        = event0.theme
      else
        | &nbsp;
    block
