mixin menuSub(pages)
  +sitetoc({pages: pages, classes: {
    listclasses: 'o-List c-MenuBar__Sub'
  , itemclasses: 'o-List__Item c-MenuBar__Sub__Item'
  , linkclasses: 'c-MenuBar__Sub__Link h-Block'
  }, depth: 0, icons: false})
