mixin menuSub(pages)
  +sitetoc({pages: pages, classes: {
    listclasses: 'o-List c-MenuSub'
  , itemclasses: 'o-List__Item c-MenuSub__Item'
  , linkclasses: 'c-MenuSub__Link h-Block'
  }, depth: 0})
