mixin menuMain(pages)
  +sitetoc({pages: pages, classes: {
    listclasses: 'o-List o-Flex c-MenuBar'
  , itemclasses: 'o-List__Item o-Flex__Item c-MenuBar__Item'
  , linkclasses: 'c-MenuBar__Link h-Block'
  , sub: {
      listclasses: 'o-List c-MenuBar__Sub'
    , itemclasses: 'o-List__Item c-MenuBar__Sub__Item'
    , linkclasses: 'c-MenuBar__Sub__Link h-Block'
    }
  }, depth: 1, icons: true})
