mixin menuTop(array1, array2, current_text)
  ul.o-List.o-Flex.c-MenuTop
    mixin menuItem($confPage, is_current, text)
      li.o-List__Item.o-Flex__Item.c-MenuTop__Item
        +linkWithIcon({
          classes: 'c-MenuTop__Link h-Block' + ((is_current) ? ' c-MenuTop__Link--current' : '')
        , url    : $confPage.url()
        , text   : text
        }, {
          is_on: $confPage.getIcon()
        , text : $confPage.getIcon()
        })
    each $confPage in array1
      +menuItem($confPage, false, $confPage.name())
    each $confPage in array2
      +menuItem($confPage, true, current_text)
