mixin otherYear($conference, btnclasses)
  div.c-Hero(itemscope="" itemtype="http://schema.org/Event")
    h1.c-Hero__Name(itemprop="name")= $conference.name()
    meta(content=$conference.startDate() itemprop="startDate")
    p.c-Hero__Detail.-fz-el-kilo(itemprop="location")
      - var loc = $conference.promoLoc()
      if loc.title && loc.text
        abbr(title=loc.title)= loc.text
      else
        = loc.text || loc
    p.c-Hero__Blurb!= $conference.getOtherYearBlurb(true)
    +highlightButtons([{text:'Event Details', href:$conference.url(), attr:{itemprop:'url'}}], btnclasses)
