mixin otherYear($conference, btnclasses)
  div.c-OtherYear(itemscope="" itemtype="http://schema.org/Event")
    h1.c-OtherYear__Name(itemprop="name")= $conference.name()
    meta(content=$conference.startDate() itemprop="startDate")
    p.c-OtherYear__Detail(itemprop="location"): +promotedLocation($conference.promoLoc())
    p.c-OtherYear__Blurb
      block
    +highlightButtons([{text:'Event Details', href:$conference.url(), attr:{itemprop:'url'}}], btnclasses)
