mixin sponsorLogo($supporter, classes, attr_link, attr_name)
  a.c-SponsorLogo(class=classes href=$supporter.getURL() style='background-image: url(\'' + ($supporter.getImg() || '') + '\');')&attributes(attr_link|| {})
    span&attributes(attr_name|| {})= $supporter.name()
