mixin sponsorLogo($supporter, classes, attr_link, attr_name)
  a.c-SupporterLogo(class=classes href=$supporter.url() style='background-image: url(\'' + ($supporter.img() || '') + '\');')&attributes(attr_link|| {})
    span&attributes(attr_name|| {})= $supporter.name()
