mixin speaker($person)
  article.c-Speaker(itemprop="performer" itemscope="" itemtype="http://schema.org/Person")
    div.c-Speaker__Img(style='background-image:url(\'' + ($person.img() || '') + '\');')
    header.c-Speaker__Head
      h1.c-Speaker__Name(id=$person.id()): +personEntireName($person)
      p.c-Speaker__JobTitle(itemprop="jobTitle")= $person.jobTitle()
      p.c-Speaker__Affiliation(itemprop="affiliation" itemscope="" itemtype="http://schema.org/Organization")
        span(itemprop="name")= $person.affiliation()
    div.c-Speaker__Body
      div.c-Speaker__Bio(itemprop="description")!= $person.getBio(true)
    footer.c-Speaker__Foot
      ul.o-List
        if $person.email()
          li.o-List__Item: a.c-Speaker__Link(href='mailto:'+$person.email() title="send email" itemprop="email")= $person.email()
        if $person.phone()
          li.o-List__Item: a.c-Speaker__Link(href='tel:'+Util.toURL($person.phone()) title="call" itemprop="telephone")= $person.phone()
        if $person.url()
          li.o-List__Item: a.c-Speaker__Link(href=$person.url() title="homepage" itemprop="url") Homepage
      ul.o-List.o-Flex.c-SocialList.c-SocialList--dark
        each $val,key in $person.getSocialAll()
          li.o-List__Item.o-Flex__Item.c-SocialList__Item
            a.c-SocialList__Link.h-Block(class='c-SocialList__Link--'+key href=$val.url itemprop="sameAs")
              = $val.text || Util.SOCIAL_DATA[key].name
