mixin speaker($person)
  article.c-Speaker(itemprop="performer" itemscope="" itemtype="http://schema.org/Person")
    div.c-Speaker__Img(style='background-image:url(\'' + ($person.img() || '') + '\');')
    header.c-Speaker__Head
      h1.c-Speaker__Name(id=$person.id()): +personEntireName($person)
      p.c-Speaker__JobTitle(itemprop="jobTitle")= $person.jobTitle()
      p.c-Speaker__Affiliation(itemprop="affiliation" itemscope="" itemtype="http://schema.org/Organization")
        span(itemprop="name")= $person.affiliation()
    div.c-Speaker__Body(itemprop="description")!= $person.getBio(true)
    footer.c-Speaker__Foot
      include /_views/c-SocialList.view.jade
      +socialList($person.getSocialAll(), { classes: 'c-SocialList--speaker', has_microdata: true })
        if $person.email()
          li.o-List__Item.o-Flex__Item.c-SocialList__Item
            a.c-SocialList__Link.c-SocialList__Link--email.h-Block(href='mailto:'+$person.email() title=$person.email() itemprop="email") send email
              i.material-icons email
        if $person.phone()
          li.o-List__Item.o-Flex__Item.c-SocialList__Item
            a.c-SocialList__Link.c-SocialList__Link--phone.h-Block(href='tel:'+Util.toURL($person.phone()) title=$person.phone() itemprop="telephone") call
              i.material-icons phone
        if $person.url()
          li.o-List__Item.o-Flex__Item.c-SocialList__Item
            a.c-SocialList__Link.c-SocialList__Link--explore.h-Block(href=$person.url() title="visit homepage" itemprop="url") visit homepage
              i.material-icons explore
