mixin timeBlock(events, show_all)
  dl.o-List.c-TimeBlock
    each $programEvent,index in events
      if show_all || $programEvent.isStarred()
        li.o-List__Item.o-Grid.c-TimeBlock__Item(itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event")
          dt.o-Grid__Item.c-TimeBlock__Times
            time(datetime=$programEvent.startDate() itemprop="startDate")= Util.hourTime12(Util.toDate($programEvent.startDate()))
            | &ndash;
            time(datetime=$programEvent.endDate() itemprop="endDate")= Util.hourTime12(Util.toDate($programEvent.endDate()))
          dd.o-Grid__Item.c-TimeBlock__Desc(class={'c-TimeBlock__Desc--last':index===events.length-1} itemprop="name")
            if $programEvent.url()
              +linkWithIcon({
                classes: 'c-TimeBlock__Link h-Block'
              , url    : $programEvent.url()
              , text   : $programEvent.name()
              , attr   : { itemprop: 'url' }
              }, {
                is_on: true
              , text : 'arrow_forward'
              })
            else
              = $programEvent.name()
