mixin timeBlock($events, show_all)
  dl.o-Grid.c-TimeBlock
    each $programEvent in $events
      if show_all || $programEvent.isStarred()
        dt.o-Grid__Item.c-TimeBlock__Times
          time(datetime=$programEvent.startDate())= Util.hourTime12(Util.toDate($programEvent.startDate()))
          | &ndash;
          time(datetime=$programEvent.endDate())= Util.hourTime12(Util.toDate($programEvent.endDate()))
        dd.o-Grid__Item.c-TimeBlock__Desc
          if $programEvent.url()
            +linkWithIcon({
              classes : 'c-TimeBlock__Link h-Block'
            , url     : $programEvent.url()
            , text    : $programEvent.name()
            }, {
              is_on : true
            , text  : 'arrow_forward'
            })
          else
            = $programEvent.name()
