mixin personEntireName($person)
  if $person.name().honorific_prefix
    span(itemprop="honorificPrefix")= $person.name().honorific_prefix
    = ' '
  span(itemprop="name")
    span(itemprop="givenName")= $person.name().given_name
    = ' '
    if $person.name().additional_name
      span(itemprop="additionalName")= $person.name().additional_name
      = ' '
    span(itemprop="familyName")= $person.name().family_name
  if $person.name().honorific_suffix
    = ', '
    span(itemprop="honorificSuffix")= $person.name().honorific_suffix
