div.c-Overlay.c-Overlay--callout
  - var city  = conference.current.addressLocality
  - var state = conference.current.addressRegion.abbr || conference.current.addressRegion.name || conference.current.addressRegion
  - var heading = city + ', ' + state
  h1(id=urlify(heading))= heading
  p: +location_callout_description()
  +actionchoices([{text:'Hotel & Travel', href:'location.html'}], 'c-Btn c-Btn--hilite c-Btn--ghost')
