h1#program-highlights Program Highlights
include /includes/components/_c-Program.jade
+program(program_events, false, 'c-Overlay')
+actionchoices([{text:'Full Program', href:'program.html'}], 'c-Btn c-Btn--hilite')
