h1#program-highlights Program Highlights
include /includes/components/_c-Program.jade
+program(program_events.length, 'program-highlights-block', 'c-Overlay')
  mixin heading(i)
    +programHeading(program_events[i][0])
  mixin content(i)
    include /includes/components/_c-TimeBlock.jade
    +timeBlock(program_events[i], false)
+actionchoices([{text:'Full Program', href:'program.html'}], 'c-Btn c-Btn--hilite')
