h1#speakers Speakers
ul.o-ListBare.o-GridFlex.o-ListStacked
  include ../components/_c-Speaker.jade
  li.o-GridFlex__Item.o-ListStacked__Item
    +speaker()
  li.o-GridFlex__Item.o-ListStacked__Item
    +speaker()
  li.o-GridFlex__Item.o-ListStacked__Item
    +speaker()
+actionchoices([{text:'All Speakers', href:'speakers.html'}], 'c-Btn c-Btn--hilite')
