
/*################################*\
    conf  |  sample  |  this.less
\*################################*/
@import (reference) url('https://cdn.rawgit.com/chharvey/xmeter/v4.1.0/src/__tool.fallback.filter.less');
// @import (reference) url('../../styles/conf.less');


///////////////////////////////////////////////////////////////////////////////
//
// overrides for conf.less
//
///////////////////////////////////////////////////////////////////////////////


.c-SiteTitle__Name {
  // padding-bottom -> margin-bottom for background-image
  // padding-bottom: (14/16 * @g-vru); // .c-Mast vru
  // margin-bottom: 0 !important; // override `.c-Mast >> h1`
  // color: transparent !important; // override `.c-Mast >> h1`
  // background-image: url('../img/site-title-2016.png');
  // background-position: left;
  // background-size: contain;
  // background-repeat: no-repeat;
}


// need the `::before` pseudo for the blur effect
.c-Banner--landing::before  { background-image: url('http://img04.deviantart.net/e300/i/2006/277/b/c/portland_skyline_ii_by_hottoku.jpg'); }
.c-Banner--home::before     { background-image: url('../img/cable-car.jpg'); }
.c-Banner--location::before { background-image: url('../img/portland.jpg'); }
.c-Banner--prev::before     { background-image: url('../img/new-york-city.jpg'); }
.c-Banner--next::before     { background-image: url('../img/cable-stayed-bridge.jpg'); }

.c-Banner--landing::before { .filter(saturate(200%) brightness(80%) blur(2px)); }
.c-Banner--home::before    { .filter(saturate(150%) brightness(80%)); }
