
/*################################*\
    conf  |  sample  |  this.less
\*################################*/


///////////////////////////////////////////////////////////////////////////////
//
// overrides for conf.less
//
///////////////////////////////////////////////////////////////////////////////


.c-Banner--landing::before  { background-image: url('../img/cable-car.jpg'); }
.c-Banner--prev::before     { background-image: url('../img/new-york-city.jpg'); }
.c-Banner--next::before     { background-image: url('../img/cable-stayed-bridge.jpg'); }
.c-Banner--home::before     { background-image: url('../img/cable-car.jpg'); }
.c-Banner--location::before { background-image: url('../img/portland.jpg'); }
