extends _sites.tpl.jade

block append vars
  - var page = site.find('about.html')

block mainReference
  section.o-Runner.o-Runner--highlight.o-Runner--wrappedInner.c-Banner.c-Banner--prev: div.o-Constrain
    div.c-Overlay.-w-3o4-sM
      include /_views/c-OtherYear.view.jade
      +otherYear(site.prevConference(), 'c-Btn--ghost c-Btn--ghost--dark')
  section.o-Runner.o-Runner--highlight.o-Runner--wrappedInner.c-Banner.c-Banner--next: div.o-Constrain
    div.c-Overlay.-w-3o4-sM
      include /_views/c-OtherYear.view.jade
      +otherYear(site.nextConference(), 'c-Btn--ghost c-Btn--ghost--dark')
