extends _sites.tpl.jade

block append varsPage
  - var page = site.findPage('contact.html')

block mainReference
  section.o-Runner.o-Runner--highlight: div.o-Constrain
    h1.-d-n#contact-us Contact Us
    form
      label
        | name
        input(type="text")
      label
        | email
        input(type="email")
      label
        | message
        textarea
      button submit
