extends _sites.tpl.jade

block append varsPage
  - var page = site.getPage('contact.html')

block main-reference
  section.o-Runner.o-Runner--highlight: div.o-ContentWrapper
    h1.-d-n#contact-us Contact Us
    include /includes/components/_contact-form.jade
