extends _sites.tpl.jade

block append varsPage
  - var page = site.findPage('home.html')

block mainHeader
  header.o-Runner.o-Runner--pageHeader.c-Banner.c-Banner--home: div.o-Constrain
    include /_views/c-Hero.view.jade
    +hero(site.getCurrentConference())
      block actionButtons
