extends _sites.tpl.jade

block append varsPage
  - var page = site.getPage('index.html')

block mainHeader
  header.-d-n: h1 #{site.name} Homepage

block mainBody
  mixin otherYearBlock(event0, classes)
    section.o-Runner.o-Runner--highlight.o-Runner--wrappedInner.c-Banner(class=classes): div.o-Constrain
      div.c-Overlay.c-Overlay--callout
        include /includes/components/_c-OtherYear.jade
        +otherYear(event0, 'c-Btn--ghost c-Btn--ghost--dark')
          block
  section.o-Runner.o-Runner--pageHeader.c-Banner.c-Banner--landing: div.o-Constrain
    include /includes/components/_c-Hero.jade
    +hero(site.getCurrentConference(), {itemscope:'', itemtype:'http://schema.org/Event'})
      +highlightButtons([{text:'Find Out More', href:'home.html'}], 'c-Btn--primary')
  block introText
  +otherYearBlock(site.getPrevConference(), 'c-Banner--prev')
    block otherYearDesc_prev
  +otherYearBlock(site.getNextConference(), 'c-Banner--next')
    block otherYearDesc_next
