extends all.tpl.jade

block standard-menu
  header.o-Runner.c-Mast.c-Mast--internal: nav.o-ContentWrapper
    h1.-d-n#main-menu Main Menu
    +sitemenulist({pages: site_pages.internal, class_obj: Conf.MENU_CLASS.standard, depth: 1, icons: true})

block site-map
  footer.o-Runner.c-Mast.c-Mast--internal: nav.o-ContentWrapper
    h1.-d-n#site-map Site Map
    +sitemenulist({pages: site_pages.internal, class_obj: Conf.MENU_CLASS.sitemap, depth: Infinity})
