extends _sites.tpl.jade

block append varsPage
  - var page = site.findPage('program.html')

block mainReference
  section.o-Runner.o-Runner--highlight.c-Banner: div.o-Constrain
    h1.-d-n#full-program Full Program
    - var groupings = site.getCurrentConference().groupProgramEvents()
    include /_views/c-Program.view.jade
    +program(groupings.length, {id:'full-program-block', class:'c-Overlay'})
      mixin heading(i)
        +programHeading(groupings[i].date)
      mixin content(i)
        include /_views/c-TimeBlock.view.jade
        +timeBlock(groupings[i].events, true)
    p: small Program subject to change.
