extends _sites.tpl.jade

block append varsPage
  - var page = site.getPage('registration.html')

block main-heading
  //- soft hyphen (U+00ad, `&shy;`)
  h1.c-PageTitle Registra&shy;tion

block main-reference
  section.o-Runner.o-Runner--highlight.c-Banner: div.o-ContentWrapper
    h1.-d-n#full-registration Full Registration
    ul.o-ListBare.o-GridFlex.o-ListStacked
      include /includes/components/_c-Pass.jade
      each pass0 in site.getCurrentConference().getPassesAll()
        li.o-GridFlex__Item.o-ListStacked__Item
          +pass(pass0, 0)
    ul.o-ListBare.o-GridFlex.o-ListAction.c-Callout
      each pass_period,index in site.getCurrentConference().getPassPeriodsAll()
        li.o-GridFlex__Item.o-ListAction__Item.c-Callout__Item
          i.material-icons(style="display: block; font-size: 2.25em;")
            if index < site.getCurrentConference().length-1
              | [stars|date_range]
            else
              | account_balance
          small
            if index < site.getCurrentConference().length-1
              = pass_period.name + ' ends '   + pass_period.endDate
            else
              = pass_period.name + ' begins ' + pass_period.startDate
    block actionButtons
    block additionalInfo
