extends _sites.tpl.jade

block append varsPage
  - var page = site.getPage('registration.html')

block mainHeader
  header.o-Runner.o-Runner--pageHeader: div.o-ContentWrapper
    //- soft hyphen (U+00ad, `&shy;`)
    h1.c-PageTitle Registra&shy;tion

block mainReference
  section.o-Runner.o-Runner--highlight.c-Banner: div.o-ContentWrapper
    h1.-d-n#full-registration Full Registration
    ul.o-List.o-GridFlex.o-ListStacked
      include /includes/components/_c-Pass.jade
      each pass0 in site.getCurrentConference().getPassesAll()
        li.o-List__Item.o-GridFlex__Item.o-ListStacked__Item
          +pass(pass0)
    ul.o-List.o-GridFlex.o-ListAction.c-Callout
      each item,index in site.getCurrentConference().getRegistrationPeriodsAll()
        li.o-List__Item.o-GridFlex__Item.o-ListAction__Item.c-Callout__Item.c-RegPeriodLegendItem
          i.material-icons= item.getIcon()
          small
            - var start = Util.toDate(item.startDate)
            - var end   = Util.toDate(item.endDate)
            if item.startDate && item.endDate
              = item.name + ': ' + Util.monthDay(start) + '–' + Util.monthDay(end)
            else if item.startDate
              = item.name + ' begins ' + Util.monthDay(start)
            else if item.endDate
              = item.name + ' ends '   + Util.monthDay(end)
    +actionchoices([{text:'Register Today!', href:'#0'}], 'c-Btn c-Btn--hilite c-Btn--secondary')
    block additionalInfo
