extends _sites.tpl.jade

block append varsPage
  - var page = site.getPage('speakers.html')

block mainReference
  section.o-Runner.o-Runner--highlight.c-Banner: div.o-ContentWrapper
    h1.-d-n#all-speakers All Speakers
    +speakerList(6)
