extends _sites.tpl.jade

block append varsPage
  - var page = site.findPage('speakers.html')

block mainReference
  section.o-Runner.o-Runner--highlight.c-Banner: div.o-Constrain
    h1.-d-n#all-speakers All Speakers
    +speakerList(site.getCurrentConference().getSpeakersAll())
