extends internal.tpl.jade

block append varsPage
  - var page = site.getPage('main','speakers.html')

block main-minimal
  +minimal-text-block()

block main-reference
  section.o-Runner.o-Runner--highlight.c-Banner: div.o-ContentWrapper
    h1.-d-n#all-speakers All Speakers
    ul.o-ListBare.o-GridFlex.o-ListStacked
      include /includes/components/_c-Speaker.jade
      each speaker in new Array(6)
        li.o-GridFlex__Item.o-ListStacked__Item
          +speaker()

//- block main-rich
  div.o-Runner.o-Runner--highlight.rich-text: div.o-ContentWrapper
    h2 Call for Submissions
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    blockquote Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
    h3 inside heading
    ul
      li 3&frac12; days of premier educational and networking events
      li 15 tracks and 6 plenary sessions focusing on ...
      li Prestigious awards and keynote lecture presentations
      li Lively programs for studdnts and young professionals

//- block callouts
  aside.o-Runner.o-Runner--highlight.c-Banner: div.o-ContentWrapper
    include includes/highlights/_social.jade
