extends _sites.tpl.jade

block append vars
  - var page = site.find('sponsor.html')

block sponsors
  section.o-Runner.o-Runner--highlight#thank-you-sponsors: div.o-Constrain
    h1 Thank You to Our Sponsors
    include /_views/_SupporterLevel.view.pug
    each $supporterLevel,index in site.getSupporterLevelList('Sponsors')
      +supporterBlock($supporterLevel, site, { 'c-SupporterBlock--separate': index < site.getSupporterLevelList('Sponsors').length-1 })
