extends _sites.tpl.jade

block append vars
  - var page = site.find('sponsor.html')

block sponsors
  section.o-Runner.o-Runner--highlight: div.o-Constrain
    h1#thank-you-sponsors Thank You to Our Sponsors
    include /_views/c-SponsorBlock.view.jade
    each $sponsorLevel,index in site.getSupporterLevelsAll()
      +sponsorBlock($sponsorLevel
      , site.getSupportersAll().filter(function ($supporter) { return $supporter.level() === $sponsorLevel })
      , (index < site.getSupporterLevelsAll().length-1) ? 'c-SponsorBlock--separate' : ''
      )
