extends _sites.tpl.jade

block append varsPage
  - var page = site.getPage('sponsor.html')

block sponsors
  if site.getSupporterLevelsAll().length
    section.o-Runner.o-Runner--highlight: div.o-ContentWrapper
      h1#thank-you-sponsors Thank You to Our Sponsors
      include /includes/components/_c-SponsorBlock.jade
      each sponsorlevel,index in site.getSupporterLevelsAll()
        +sponsorBlock(sponsorlevel, (index < site.getSupporterLevelsAll().length-1) ? 'c-SponsorBlock--separate' : '')
