extends _sites.tpl.jade

block append varsPage
  - var page = site.findPage('sponsor.html')

block sponsors
  section.o-Runner.o-Runner--highlight: div.o-Constrain
    h1#thank-you-sponsors Thank You to Our Sponsors
    include /includes/components/_c-SponsorBlock.jade
    each sponsorlevel,index in site.getSupporterLevelsAll()
      +sponsorBlock(sponsorlevel
      , site.getSupportersAll().filter(function (item) { return item.getLevel() === sponsorlevel })
      , (index < site.getSupporterLevelsAll().length-1) ? 'c-SponsorBlock--separate' : ''
      )
