extends all.tpl.jade

block site-map
  footer.o-Runner.c-Mast: nav.o-ContentWrapper
    h1.-d-n#site-map Site Map
    +sitemenulist({pages: site.pages.top, class_obj: Site.MENU_CLASS.sitemap, depth: Infinity})
