mixin program(all_events, show_all)
  section.o-GridFlex.c-Overlay.c-Program
    each events,index in all_events
      h1.o-GridFlex__Item.c-Program__Hn: label
        input.c-Program__Check(type="radio" name="program" value=events[0].startDate)&attributes((index===0) ? {checked:''} : {})
        time(datetime=events[0].startDate)
          - var date = new Date(events[0].startDate)
          span= day_names[date.getUTCDay()] + ', '
          span= month_names[date.getUTCMonth()].slice(0,3) + ' ' + date.getUTCDate()
      include _c-TimeBlock.jade
      +timeBlock(events, show_all)
