
//- ///////////////////////////////////////////////////////////////////////////////
//- //
//- // This file holds all data for the sample site.
//- //
//- ///////////////////////////////////////////////////////////////////////////////


- var site         = {}
- site.title       = 'An ASCE Event'
- site.tagline     = 'Optional Brand Tagline'
- site.keywords    = ['ASCE', 'civil engineering', 'convention']

- var conference = {}
- conference.current = {}
- conference.prev = {}
- conference.next = {}
- conference.current.name            = 'A 2016 Event'
- conference.current.theme           = 'Theme for the conference is optional.'
- conference.current.addressLocality = 'Portland'
- conference.current.addressRegion   = {name: 'Oregon', abbr: 'OR'}
- conference.current.startDate       = '2016-09-28'
- conference.current.endDate         = '2016-10-01'
- conference.prev.name            = 'A 2015 Event'
- conference.prev.addressLocality = 'New York'
- conference.prev.addressRegion   = {name: 'New York', abbr: 'NY'}
- conference.prev.startDate       = '2015-10-11'
- conference.next.name            = 'A 2017 Event'
- conference.next.addressLocality = 'Chicago'
- conference.next.addressRegion   = {name: 'Illinois', abbr: 'IL'}
- conference.next.startDate       = '2017-10-04'

- var site_pages = {}
- site_pages.universal = []
- site_pages.universal.push({name:''       , href:'index.html'  })
- site_pages.universal.push({name:'About'  , href:'about.html'  })
- site_pages.universal.push({name:'Sponsor', href:'sponsor.html'})
- site_pages.universal.push({name:'Exhibit', href:'exhibit.html'})
- site_pages.universal.push({name:'Contact', href:'contact.html'})
- site_pages.universal[1].icon = {content:'info_outline', fallback:'&#xE88F;'}
- site_pages.universal[2].icon = {content:'people'      , fallback:'&#xE7FB;'}
- site_pages.universal[3].icon = {content:'work'        , fallback:'&#xE8F9;'}
- site_pages.universal[4].icon = {content:'email'       , fallback:'&#xE0BE;'}
- site_pages.universal[1].sub = []
- site_pages.universal[1].sub.push({name:'Cooperating Orgs', href:''})
- site_pages.universal[1].sub.push({name:'Partnering Orgs' , href:''})
- site_pages.universal[1].sub.push({name:'Volunteer'       , href:''})
- site_pages.universal[1].sub.push({name:'Why Attend'      , href:''})
- site_pages.universal[3].sub = [{name:'Exhibitor List', href:''}]
- site_pages.internal = []
- site_pages.internal.push({name:'Home'          , href:'home.html'        })
- site_pages.internal.push({name:'Registration'  , href:'registration.html'})
- site_pages.internal.push({name:'Program'       , href:'program.html'     })
- site_pages.internal.push({name:'Hotel & Travel', href:'location.html'    })
- site_pages.internal.push({name:'Speakers'      , href:'speakers.html'    })
- site_pages.internal[0].icon = {content:'home'         , fallback:'&#xE88A;'}
- site_pages.internal[1].icon = {content:'shopping_cart', fallback:'&#xE8CC;'}
- site_pages.internal[2].icon = {content:'event'        , fallback:'&#xE878;'}
- site_pages.internal[3].icon = {content:'flight'       , fallback:'&#xE539;'}
- site_pages.internal[4].icon = {content:'account_box'  , fallback:'&#xE851;'}
- site_pages.internal[1].sub = []
- site_pages.internal[1].sub.push({name:'Why Attend'     , href:''})
- site_pages.internal[1].sub.push({name:'Short Courses'  , href:''})
- site_pages.internal[1].sub.push({name:'Technical Tours', href:''})
- site_pages.internal[1].sub.push({name:'Optional Tours' , href:''})
- site_pages.internal[2].sub = [{name:'Events'                      , href:''}]
- site_pages.internal[3].sub = [{name:'International Travel'        , href:''}]
- site_pages.internal[4].sub = [{name:'Distinguished Lecture Series', href:''}]



- var sitemap_class_obj = {}
- sitemap_class_obj.listclasses = 'o-ListBare o-GridFlex c-Sitemap'
- sitemap_class_obj.itemclasses = 'o-GridFlex__Item c-Sitemap__Item'
- sitemap_class_obj.sub = {}
- sitemap_class_obj.sub.listclasses = 'o-ListBare c-Sitemap__SubList'
- sitemap_class_obj.sub.itemclasses = 'c-Sitemap__SubItem'


//- -
  var standard_menu_class_obj = {
    listclasses : 'o-ListBare o-GridFlex c-MenuStandard'
  , itemclasses : 'o-GridFlex__Item c-MenuStandard__Item'
  , linkclasses : 'o-Block c-MenuStandard__Link'
  , sub: {
      listclasses : 'o-ListBare c-MenuSub'
    , itemclasses : 'c-MenuSub__Item'
    , linkclasses : 'o-Block c-MenuSub__Link'
    }
  }
//- unbuffered block code isn’t fucking supported,
//- so I have to do this:
- var standard_menu_class_obj = {}
- standard_menu_class_obj.listclasses = 'o-ListBare o-GridFlex c-MenuStandard'
- standard_menu_class_obj.itemclasses = 'o-GridFlex__Item c-MenuStandard__Item'
- standard_menu_class_obj.linkclasses = 'o-Block c-MenuStandard__Link'
- standard_menu_class_obj.sub = {}
- standard_menu_class_obj.sub.listclasses = 'o-ListBare c-MenuSub'
- standard_menu_class_obj.sub.itemclasses = 'c-MenuSub__Item'
- standard_menu_class_obj.sub.linkclasses = 'o-Block c-MenuSub__Link'


- var pass = {}
- pass.standard  = {name:'Standard Pass' , periods:[]}
- pass.speaker   = {name:'Speaker Pass'  , periods:[]}
- pass.moderator = {name:'Moderator Pass', periods:[]}
- pass.ym        = {name:'Younger Member', periods:[]}
- pass.student   = {name:'Student Pass'  , periods:[]}
- pass.guest     = {name:'Guest Pass'    , periods:[]}
- pass.daily     = {name:'Daily Pass'    , periods:[]}

- pass.standard.description  = 'Members & Non-Members'
- pass.speaker.description   = 'Speakers and Presenters'
- pass.moderator.description = 'Moderators'
- pass.ym.description        = 'Members 18–35'
- pass.student.description   = 'Undergraduates 18–24'
- pass.guest.description     = 'Speaker and Moderator Guests'
- pass.daily.description     = 'For One Day Only'

- pass.student.fineprint = 'Full-time students must show valid ID onsite at the registration desk when picking up name badge.'

- pass.standard.periods.push({name:'Early Bird', memberships:[]})
- pass.standard.periods.push({name:'Advance'   , memberships:[]})
- pass.standard.periods.push({name:'Onsite'    , memberships:[]})

- pass.speaker.periods.push({name:'Early Bird', memberships:[]})
- pass.speaker.periods.push({name:'Advance'   , memberships:[]})
- pass.speaker.periods.push({name:'Onsite'    , memberships:[]})

- pass.moderator.periods.push({name:'Early Bird', memberships:[]})
- pass.moderator.periods.push({name:'Advance'   , memberships:[]})
- pass.moderator.periods.push({name:'Onsite'    , memberships:[]})

- pass.ym.periods.push({name:'Early Bird', memberships:[]})
- pass.ym.periods.push({name:'Advance'   , memberships:[]})
- pass.ym.periods.push({name:'Onsite'    , memberships:[]})

- pass.student.periods.push({name:'Early Bird', memberships:[]})
- pass.student.periods.push({name:'Advance'   , memberships:[]})
- pass.student.periods.push({name:'Onsite'    , memberships:[]})

- pass.guest.periods.push({name:'Early Bird', memberships:[]})
- pass.guest.periods.push({name:'Advance'   , memberships:[]})
- pass.guest.periods.push({name:'Onsite'    , memberships:[]})

- pass.daily.periods.push({name:'Early Bird', memberships:[]})
- pass.daily.periods.push({name:'Advance'   , memberships:[]})
- pass.daily.periods.push({name:'Onsite'    , memberships:[]})


- pass.standard.periods[0].memberships.push({name:'Member'    , price:745, is_featured:true})
- pass.standard.periods[0].memberships.push({name:'Non-Member', price:845})
- pass.standard.periods[1].memberships.push({name:'Member'    , price:845, is_featured:true})
- pass.standard.periods[1].memberships.push({name:'Non-Member', price:945})
- pass.standard.periods[2].memberships.push({name:'Member'    , price:945, is_featured:true})
- pass.standard.periods[2].memberships.push({name:'Non-Member', price:1045})

- pass.speaker.periods[0].memberships.push({name:'Member'    , price:645, is_featured:true})
- pass.speaker.periods[0].memberships.push({name:'Non-Member', price:745})
- pass.speaker.periods[1].memberships.push({name:'Member'    , price:745, is_featured:true})
- pass.speaker.periods[1].memberships.push({name:'Non-Member', price:845})
- pass.speaker.periods[2].memberships.push({name:'Member'    , price:945, is_featured:true})
- pass.speaker.periods[2].memberships.push({name:'Non-Member', price:945})

- pass.moderator.periods[0].memberships.push({name:'Member'    , price:645, is_featured:true})
- pass.moderator.periods[0].memberships.push({name:'Non-Member', price:745})
- pass.moderator.periods[1].memberships.push({name:'Member'    , price:745, is_featured:true})
- pass.moderator.periods[1].memberships.push({name:'Non-Member', price:845})
- pass.moderator.periods[2].memberships.push({name:'Member'    , price:845, is_featured:true})
- pass.moderator.periods[2].memberships.push({name:'Non-Member', price:945})

- pass.ym.periods[0].memberships.push({name:'Member/Non-Member', price:645, is_featured:true})
- pass.ym.periods[1].memberships.push({name:'Member/Non-Member', price:745, is_featured:true})
- pass.ym.periods[2].memberships.push({name:'Member/Non-Member', price:845, is_featured:true})

- pass.student.periods[0].memberships.push({name:'Member/Non-Member', price:295, is_featured:true})
- pass.student.periods[1].memberships.push({name:'Member/Non-Member', price:295, is_featured:true})
- pass.student.periods[2].memberships.push({name:'Member/Non-Member', price:395, is_featured:true})

- pass.guest.periods[0].memberships.push({name:'Member/Non-Member', price:295, is_featured:true})
- pass.guest.periods[1].memberships.push({name:'Member/Non-Member', price:320, is_featured:true})
- pass.guest.periods[2].memberships.push({name:'Member/Non-Member', price:395, is_featured:true})

- pass.daily.periods[0].memberships.push({name:'Member'    , price:495, is_featured:true})
- pass.daily.periods[0].memberships.push({name:'Non-Member', price:595})
- pass.daily.periods[1].memberships.push({name:'Member'    , price:545, is_featured:true})
- pass.daily.periods[1].memberships.push({name:'Non-Member', price:645})
- pass.daily.periods[2].memberships.push({name:'Member'    , price:645, is_featured:true})
- pass.daily.periods[2].memberships.push({name:'Non-Member', price:745})


- var program_events = [[], [], [], []]
- program_events[0].push({startDate:'2016-09-28 10:00', endDate:'2016-09-28 19:00', name:'Registration'})
- program_events[0].push({startDate:'2016-09-28 10:30', endDate:'2016-09-28 16:30', name:'Technical Tours', href:'', is_starred:true})
- program_events[0].push({startDate:'2016-09-28 13:00', endDate:'2016-09-28 17:00', name:'Short Courses', href:'', is_starred:true})
- program_events[0].push({startDate:'2016-09-28 12:00', endDate:'2016-09-28 17:00', name:'Optional Tours', href:'', is_starred:true})
- program_events[0].push({startDate:'2016-09-28 17:30', endDate:'2016-09-28 19:30', name:'Opening Welcome Reception'})
- program_events[0].push({startDate:'2016-09-28 13:00', endDate:'2016-09-28 17:00', name:'Community Service Project', is_starred:true})
- program_events[1].push({startDate:'2016-09-29 07:00', endDate:'2016-09-29 16:30', name:'Registration'})
- program_events[1].push({startDate:'2016-09-29 07:30', endDate:'2016-09-29 08:30', name:'Student & Emerging Leaders Welcome Breakfast and Orientation'})
- program_events[1].push({startDate:'2016-09-29 08:30', endDate:'2016-09-29 10:00', name:'Opening Plenary Session', is_starred:true})
- program_events[1].push({startDate:'2016-09-29 09:30', endDate:'2016-09-29 15:30', name:'Guest Program Orientation & Tour', is_starred:true})
- program_events[1].push({startDate:'2016-09-29 10:00', endDate:'2016-09-29 10:30', name:'Beverage Break'})
- program_events[1].push({startDate:'2016-09-29 10:30', endDate:'2016-09-29 11:30', name:'Concurrent Sessions'})
- program_events[1].push({startDate:'2016-09-29 11:45', endDate:'2016-09-29 13:45', name:'Celebration of Leaders Luncheon', is_starred:true})
- program_events[1].push({startDate:'2016-09-29 14:00', endDate:'2016-09-29 15:30', name:'Concurrent Sessions'})
- program_events[1].push({startDate:'2016-09-29 14:00', endDate:'2016-09-29 18:00', name:'Communities and Pavilion'})
- program_events[1].push({startDate:'2016-09-29 15:30', endDate:'2016-09-29 16:00', name:'Beverage Break'})
- program_events[1].push({startDate:'2016-09-29 16:00', endDate:'2016-09-29 17:30', name:'Concurrent Sessions'})
- program_events[1].push({startDate:'2016-09-29 18:45', endDate:'2016-09-29 21:45', name:'Optional Tour', href:'', is_starred:true})
- program_events[2].push({startDate:'2016-09-30 07:00', endDate:'2016-09-30 16:30', name:'Registration'})
- program_events[2].push({startDate:'2016-09-30 07:30', endDate:'2016-09-30 08:30', name:'Leadership & Society Awards Breakfast'})
- program_events[2].push({startDate:'2016-09-30 08:30', endDate:'2016-09-30 17:00', name:'Communities and Pavilion'})
- program_events[2].push({startDate:'2016-09-30 08:45', endDate:'2016-09-30 09:45', name:'ASCE Annual Business Meeting', is_starred:true})
- program_events[2].push({startDate:'2016-09-30 09:45', endDate:'2016-09-30 10:15', name:'Beverage Break'})
- program_events[2].push({startDate:'2016-09-30 10:15', endDate:'2016-09-30 11:45', name:'Concurrent Sessions'})
- program_events[2].push({startDate:'2016-09-30 11:45', endDate:'2016-09-30 13:15', name:'Lunch on Your Own'})
- program_events[2].push({startDate:'2016-09-30 11:45', endDate:'2016-09-30 13:15', name:'International Luncheon (ticketed)'})
- program_events[2].push({startDate:'2016-09-30 13:15', endDate:'2016-09-30 14:15', name:'Concurrent Sessions'})
- program_events[2].push({startDate:'2016-09-30 13:00', endDate:'2016-09-30 17:15', name:'Optional Tour', href:'', is_starred:true})
- program_events[2].push({startDate:'2016-09-30 14:30', endDate:'2016-09-30 16:00', name:'Industry Leaders Forum', is_starred:true})
- program_events[2].push({startDate:'2016-09-30 16:00', endDate:'2016-09-30 16:30', name:'Beverage Break'})
- program_events[2].push({startDate:'2016-09-30 16:30', endDate:'2016-09-30 17:30', name:'Concurrent Sessions'})
- program_events[2].push({startDate:'2016-09-30 18:30', endDate:'2016-09-30 21:30', name:'Theater Night Out', is_starred:true})
- program_events[3].push({startDate:'2016-10-01 07:00', endDate:'2016-10-01 14:30', name:'Registration'})
- program_events[3].push({startDate:'2016-10-01 07:30', endDate:'2016-10-01 08:15', name:'Order of the Engineer Ceremony', is_starred:true})
- program_events[3].push({startDate:'2016-10-01 08:45', endDate:'2016-10-01 11:45', name:'Optional Tour', href:''})
- program_events[3].push({startDate:'2016-10-01 08:30', endDate:'2016-10-01 10:00', name:'Concurrent Sessions'})
- program_events[3].push({startDate:'2016-10-01 08:30', endDate:'2016-10-01 14:00', name:'Communities and Pavilion'})
- program_events[3].push({startDate:'2016-10-01 10:15', endDate:'2016-10-01 11:45', name:'Concurrent Sessions'})
- program_events[3].push({startDate:'2016-10-01 12:00', endDate:'2016-10-01 14:00', name:'ASCE Luncheon & Closing General Session', is_starred:true})
- program_events[3].push({startDate:'2016-10-01 14:30', endDate:'2016-10-01 17:30', name:'Technical Tours', href:''})



- var sponsorlevel = {}
- sponsorlevel.premier   = {name:'Premier'            , size:'lrg'}
- sponsorlevel.platinum  = {name:'Platinum'           , size:'lrg'}
- sponsorlevel.gold      = {name:'Gold'               , size:'med'}
- sponsorlevel.corporate = {name:'Corporate Sponsors' , size:'sml'}
- sponsorlevel.silver    = {name:'Silver'             , size:'sml'}
- sponsorlevel.bronze    = {name:'Bronze'             , size:''}
- sponsorlevel.copper    = {name:'Copper'             , size:''}

- var sponsors = []
- sponsors.push({})
- sponsors[0].name  = 'ASCE Foundation'
- sponsors[0].src   = 'http://2016.asceconvention.org/sites/default/files/asce-foundation-logo.png'
- sponsors[0].href  = 'http://www.ascefoundation.org/'
- sponsors[0].level = 'platinum'

- sponsors.push({})
- sponsors[1].name  = 'Bentley'
- sponsors[1].src   = 'http://2016.asceconvention.org/sites/default/files/bentley-logo.png'
- sponsors[1].href  = 'https://www.bentley.com/'
- sponsors[1].level = 'platinum'

- sponsors.push({})
- sponsors[2].name  = 'Pennoni'
- sponsors[2].src   = 'http://2016.asceconvention.org/sites/default/files/pennoni-50th-anniversary-logo.png'
- sponsors[2].href  = 'https://www.pennoni.com/'
- sponsors[2].level = 'silver'

- sponsors.push({})
- sponsors[3].name  = 'Innovyze'
- sponsors[3].src   = 'http://2016.asceconvention.org/sites/default/files/innovyze-logo.png'
- sponsors[3].href  = 'http://www.innovyze.com/'
- sponsors[3].level = 'silver'

- sponsors.push({})
- sponsors[4].name  = 'Fasten Group'
- sponsors[4].src   = 'http://2016.asceconvention.org/sites/default/files/fasten-group-logo.png'
- sponsors[4].href  = 'http://www.chinafasten.com/'
- sponsors[4].level = 'bronze'

- sponsors.push({})
- sponsors[5].name  = 'David Evans and Associates, Inc.'
- sponsors[5].src   = 'http://2016.asceconvention.org/sites/default/files/david-evans-associates-logo.png'
- sponsors[5].href  = 'http://www.deainc.com/'
- sponsors[5].level = 'bronze'

- sponsors.push({})
- sponsors[6].name  = 'KCI Technologies'
- sponsors[6].src   = 'http://2016.asceconvention.org/sites/default/files/kci-technologies-logo.png'
- sponsors[6].href  = 'http://www.kci.com/'
- sponsors[6].level = 'bronze'

- sponsors.push({})
- sponsors[7].name  = 'McCormick & Taylor'
- sponsors[7].src   = 'http://2016.asceconvention.org/sites/default/files/mccormick-taylor-logo.png'
- sponsors[7].href  = 'http://www.mccormicktaylor.com/'
- sponsors[7].level = 'bronze'

- sponsors.push({})
- sponsors[8].name  = 'Rutgers Center for Advanced Infrastructure and Transportation'
- sponsors[8].src   = 'http://2016.asceconvention.org/sites/default/files/rutgers-cait-logo.png'
- sponsors[8].href  = 'http://cait.rutgers.edu/'
- sponsors[8].level = 'copper'

- sponsors.push({})
- sponsors[9].name  = 'Kimley-Horn'
- sponsors[9].src   = 'http://2016.asceconvention.org/sites/default/files/kimley-horn-logo.png'
- sponsors[9].href  = 'http://www.kimley-horn.com/'
- sponsors[9].level = 'copper'

- sponsors.push({})
- sponsors[10].name  = 'Christopher B. Burke Engineering, Ltd.'
- sponsors[10].src   = 'http://2016.asceconvention.org/sites/default/files/christopher-b-burke-engineering-logo.png'
- sponsors[10].href  = 'http://cbbel.com/'
- sponsors[10].level = 'copper'

- sponsors.push({})
- sponsors[11].name  = 'Bank of America'
- sponsors[11].src   = 'http://2016.asceconvention.org/sites/default/files/bank-of-america-logo.jpg'
- sponsors[11].href  = 'http://www.asce.org/member_advantages/#b'
- sponsors[11].level = 'corporate'

- sponsors.push({})
- sponsors[12].name  = 'Geico'
- sponsors[12].src   = 'http://2016.asceconvention.org/sites/default/files/geico-logo.gif'
- sponsors[12].href  = 'https://www.geico.com/landingpage/member-discount/?logo=00774'
- sponsors[12].level = 'corporate'

- sponsors.push({})
- sponsors[13].name  = 'Pearl Insurance'
- sponsors[13].src   = 'http://2016.asceconvention.org/sites/default/files/pearl-insurance-logo.jpg'
- sponsors[13].href  = 'http://asceinsurance.com/'
- sponsors[13].level = 'corporate'

- sponsors.push({})
- sponsors[14].name  = 'UPS'
- sponsors[14].src   = 'http://2016.asceconvention.org/sites/default/files/ups-logo.jpg'
- sponsors[14].href  = 'http://savewithups.com/asce/'
- sponsors[14].level = 'corporate'

- sponsors.push({})
- sponsors[15].name  = 'Keller North America'
- sponsors[15].src   = 'http://2016.asceconvention.org/sites/default/files/keller-na-logo.png'
- sponsors[15].href  = 'http://www.keller.co.uk/'
- sponsors[15].level = 'corporate'
