- var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

//- -
  var site = {
    title       : 'ASCE Convention'
  , tagline     : 'Engineering > Innovating > Leading'
  , tagline_old : 'The Flagship Event of ASCE'
  }
//- unbuffered block code isn’t fucking supported,
//- so I have to do this:
- var site = {}
- site.title = 'ASCE Convention'
- site.tagline = 'Engineering > Innovating > Leading'
- site.tagline_old = 'The Flagship Event of ASCE'

//- -
  var conference = {
    current: {
      name            : 'ASCE 2016'
    , theme           : ''
    , addressLocality : 'Portland'
    , addressRegion   : {name: 'Oregon', abbr: 'OR'}
    , startDate       : new Date('2016-09-28')
    , endDate         : new Date('2016-10-01')
    }
  , prev: {
      name            : 'ASCE 2015'
    , addressLocality : 'New York'
    , addressRegion   : {name: 'New York', abbr: 'NY'}
    , startDate       : new Date('2015-10-11')
    }
  , next: {
      name            : 'ASCE 2017'
    , addressLocality : 'Chicago'
    , addressRegion   : {name: 'Illinois', abbr: 'IL'}
    , startDate       : new Date('2017-10-04')
    }
  }
- var conference = {}
- conference.current = {}
- conference.prev = {}
- conference.next = {}
- conference.current.name = 'ASCE 2016'
- conference.current.theme = ''
- conference.current.addressLocality = 'Portland'
- conference.current.addressRegion = {name: 'Oregon', abbr: 'OR'}
- conference.current.startDate = new Date('2016-09-28')
- conference.current.endDate = new Date('2016-10-01')
- conference.prev.name = 'ASCE 2015'
- conference.prev.addressLocality = 'New York'
- conference.prev.addressRegion = {name: 'New York', abbr: 'NY'}
- conference.prev.startDate = new Date('2015-10-11')
- conference.next.name = 'ASCE 2017'
- conference.next.addressLocality = 'Chicago'
- conference.next.addressRegion = {name: 'Illinois', abbr: 'IL'}
- conference.next.startDate = new Date('2017-10-04')

//- -
  var sitemap = {
    universal: {
      index: {
        name: 'ASCE Convention', href: 'index.html'
      , description: site.tagline
      }
    , about: {
        name: 'About', href: 'about.html'
      , description: 'About the ASCE Convention.'
      , icon: { content: 'info_outline', fallback: '&#xE88F;' }
      , sub: {
          'coop-orgs' : { name: 'Cooperating Orgs' , href: '' }
        , 'part-orgs' : { name: 'Partnering Orgs'  , href: '' }
        , 'volunteer' : { name: 'Volunteer'        , href: '' }
        , 'why-attend': { name: 'Why Attend'       , href: '' }
        }
      }
    , sponsor: {
        name: 'Sponsor', href: 'sponsor.html'
      , description: 'Sponsors of the ASCE Convention.'
      , icon: { content: 'people', fallback: '&#xE7FB;' }
      }
    , exhibit: {
        name: 'Exhibit', href: 'exhibit.html'
      , description: 'Exhibitors at the ASCE Convention.'
      , icon: { content: 'work', fallback: '&#xE8F9;' }
      , sub: {
          'exhibitor-list': { name:'Exhibitor List', href:'' }
        }
      }
    , contact: {
        name: 'Contact', href: 'contact.html'
      , description: 'Contact us for questions and comments about the ASCE Convention.'
      , icon: { content: 'email', fallback: '&#xE0BE;' }
      }
    }
  , internal: {
      home: {
        name: 'Home', href: 'home.html'
      , description: conference.current.theme
      , icon: { content: 'home', fallback: '&#xE88A;' }
      }
    , registration: {
        name: 'Registration', href: 'registration.html'
      , description: 'Register for the ASCE 2016 conference here.'
      , icon: { content: 'shopping_cart', fallback: '&#xE8CC;' }
      , sub: {
          'why-attend'     : { name: 'Why Attend'      , href: '' }
        , 'short-courses'  : { name: 'Short Courses'   , href: '' }
        , 'technical-tours': { name: 'Technical Tours' , href: '' }
        , 'optional-tours' : { name: 'Optional Tours'  , href: '' }
        }
      }
    , program: {
        name: 'Program', href: 'program.html'
      , description: 'Program and Agenda of the ASCE 2016 conference.'
      , icon: { content: 'event', fallback: '&#xE878;' }
      , sub: {
          events: { name: 'Events', href: '' }
        }
      }
    , location: {
        name: 'Hotel & Travel', href: 'location.html'
      , description: 'Get information about the location of the conference and where to stay.'
      , icon: { content: 'flight', fallback: '&#xE539;' }
      , sub: {
          'international-travel': { name: 'International Travel', href: '' }
        }
      }
    , speakers: {
        name: 'Speakers', href: 'speakers.html'
      , description: 'Get information about current and prospective speakers at ASCE 2016.'
      , icon: { content: 'account_box', fallback: '&#xE851;' }
      , sub: {
          'distinguished-lecture-series': { name: 'Distinguished Lecture Series', href: '' }
        }
      }
    }
  }
- var sitemap = {}
- sitemap.universal = {}
- sitemap.universal.index   = {name:'ASCE Convention', href:'index.html'  , description:site.tagline}
- sitemap.universal.about   = {name:'About'          , href:'about.html'  , description:'About the ASCE Convention.'}
- sitemap.universal.sponsor = {name:'Sponsor'        , href:'sponsor.html', description:'Sponsors of the ASCE Convention.'}
- sitemap.universal.exhibit = {name:'Exhibit'        , href:'exhibit.html', description:'Exhibitors at the ASCE Convention.'}
- sitemap.universal.contact = {name:'Contact'        , href:'contact.html', description:'Contact us for questions and comments about the ASCE Convention.'}
- sitemap.universal.about.icon   = { content: 'info_outline' , fallback: '&#xE88F;'}
- sitemap.universal.sponsor.icon = { content: 'people'       , fallback: '&#xE7FB;'}
- sitemap.universal.exhibit.icon = { content: 'work'         , fallback: '&#xE8F9;'}
- sitemap.universal.contact.icon = { content: 'email'        , fallback: '&#xE0BE;'}
- sitemap.universal.about.sub = {}
- sitemap.universal.about.sub['coop-orgs']  = {name:'Cooperating Orgs', href:''}
- sitemap.universal.about.sub['part-orgs']  = {name:'Partnering Orgs' , href:''}
- sitemap.universal.about.sub['volunteer']  = {name:'Volunteer'       , href:''}
- sitemap.universal.about.sub['why-attend'] = {name:'Why Attend'      , href:''}
- sitemap.universal.exhibit.sub = {'exhibitor-list': {name:'Exhibitor List', href:''}}
- sitemap.internal = {}
- sitemap.internal.home         = {name:'Home'          , href:'home.html'        , description:conference.current.theme}
- sitemap.internal.registration = {name:'Registration'  , href:'registration.html', description:'Register for the ASCE 2016 conference here.'}
- sitemap.internal.program      = {name:'Program'       , href:'program.html'     , description:'Program and Agenda of the ASCE 2016 conference.'}
- sitemap.internal.location     = {name:'Hotel & Travel', href:'location.html'    , description:'Get information about the location of the conference and where to stay.'}
- sitemap.internal.speakers     = {name:'Speakers'      , href:'speakers.html'    , description:'Get information about current and prospective speakers at ASCE 2016.'}
- sitemap.internal.home.icon         = { content: 'home'         , fallback: '&#xE88A;'}
- sitemap.internal.registration.icon = { content: 'shopping_cart', fallback: '&#xE8CC;'}
- sitemap.internal.program.icon      = { content: 'event'        , fallback: '&#xE878;'}
- sitemap.internal.location.icon     = { content: 'flight'       , fallback: '&#xE539;'}
- sitemap.internal.speakers.icon     = { content: 'account_box'  , fallback: '&#xE851;'}
- sitemap.internal.registration.sub = {}
- sitemap.internal.registration.sub['why-attend']      = {name:'Why Attend'     , href:''}
- sitemap.internal.registration.sub['short-courses']   = {name:'Short Courses'  , href:''}
- sitemap.internal.registration.sub['technical-tours'] = {name:'Technical Tours', href:''}
- sitemap.internal.registration.sub['optional-tours']  = {name:'Optional Tours' , href:''}
- sitemap.internal.program.sub =  {events                        : {name:'Events'                      , href:''}}
- sitemap.internal.location.sub = {'international-travel'        : {name:'International Travel'        , href:''}}
- sitemap.internal.speakers.sub = {'distinguished-lecture-series': {name:'Distinguished Lecture Series', href:''}}


- var global_period = {}
- global_period.earlybird = {name:'Early Bird', membership:{}}
- global_period.advance   = {name:'Advance'   , membership:{}}
- global_period.onsite    = {name:'Onsite'    , membership:{}}

- var pass = {}
- pass.student   = {name:'Student Pass'  , period:global_period, description:'Undergraduates 18–24'}
- pass.standard  = {name:'Standard Pass' , period:global_period, description:'Members & Non-Members'}
- pass.ym        = {name:'Younger Member', period:global_period, description:'Members 18–35'}
- pass.speaker   = {name:'Speaker Pass'  , period:global_period, description:'Speakers and Presenters'}
- pass.guest     = {name:'Guest Pass'    , period:global_period, description:'Speaker and Moderator Guests'}
- pass.moderator = {name:'Moderator Pass', period:global_period, description:'Moderators'}
- pass.daily     = {name:'Daily Pass'    , period:global_period, description:'For One Day Only'}

- pass.student.period.earlybird.membership.nonmember = {name:'Non-Member', price:795}
- pass.student.period.earlybird.membership.member    = {name:'Member'    , price:745}
- pass.student.period.advance.membership.nonmember   = {name:'Non-Member', price:945}
- pass.student.period.advance.membership.member      = {name:'Member'    , price:845}
- pass.student.period.onsite.membership.nonmember    = {name:'Non-Member', price:1045}
- pass.student.period.onsite.membership.member       = {name:'Member'    , price:945}

//- HACK for quick duplication
- pass.standard.period  = pass.student.period
- pass.ym.period        = pass.student.period
- pass.speaker.period   = pass.student.period
- pass.guest.period     = pass.student.period
- pass.moderator.period = pass.student.period
- pass.daily.period     = pass.student.period



//- -
  var sponsorlevel = {
    premier   : { name: 'Premier'            , size: 'lrg' }
  , platinum  : { name: 'Platinum'           , size: 'lrg' }
  , gold      : { name: 'Gold'               , size: 'med' }
  , corporate : { name: 'Corporate Sponsors' , size: 'sml' }
  , silver    : { name: 'Silver'             , size: 'sml' }
  , bronze    : { name: 'Bronze'             , size: ''    }
  , copper    : { name: 'Copper'             , size: ''    }
  }
- var sponsorlevel = {}
- sponsorlevel.premier   = { name: 'Premier'            , size: 'lrg' }
- sponsorlevel.platinum  = { name: 'Platinum'           , size: 'lrg' }
- sponsorlevel.gold      = { name: 'Gold'               , size: 'med' }
- sponsorlevel.corporate = { name: 'Corporate Sponsors' , size: 'sml' }
- sponsorlevel.silver    = { name: 'Silver'             , size: 'sml' }
- sponsorlevel.bronze    = { name: 'Bronze'             , size: ''    }
- sponsorlevel.copper    = { name: 'Copper'             , size: ''    }

//- -
  var sponsor = {
    asce_foundation: {
      name  : 'ASCE Foundation'
    , src   : 'http://2016.asceconvention.org/sites/default/files/asce-foundation-logo.png'
    , href  : 'http://www.ascefoundation.org/'
    , level : sponsorlevel.platinum
    }
  , bentley: {
      name  : 'Bentley'
    , src   : 'http://2016.asceconvention.org/sites/default/files/bentley-logo.png'
    , href  : 'https://www.bentley.com/'
    , level : sponsorlevel.platinum
    }
  , pennoni: {
      name  : 'Pennoni'
    , src   : 'http://2016.asceconvention.org/sites/default/files/pennoni-50th-anniversary-logo.png'
    , href  : 'https://www.pennoni.com/'
    , level : sponsorlevel.silver
    }
  , innovyze: {
      name  : 'Innovyze'
    , src   : 'http://2016.asceconvention.org/sites/default/files/innovyze-logo.png'
    , href  : 'http://www.innovyze.com/'
    , level : sponsorlevel.silver
    }
  , fasten: {
      name  : 'Fasten Group'
    , src   : 'http://2016.asceconvention.org/sites/default/files/fasten-group-logo.png'
    , href  : 'http://www.chinafasten.com/'
    , level : sponsorlevel.bronze
    }
  , david_evans: {
      name  : 'David Evans and Associates, Inc.'
    , src   : 'http://2016.asceconvention.org/sites/default/files/david-evans-associates-logo.png'
    , href  : 'http://www.deainc.com/'
    , level : sponsorlevel.bronze
    }
  , kci: {
      name  : 'KCI Technologies'
    , src   : 'http://2016.asceconvention.org/sites/default/files/kci-technologies-logo.png'
    , href  : 'http://www.kci.com/'
    , level : sponsorlevel.bronze
    }
  , mccormick_taylor: {
      name  : 'McCormick & Taylor'
    , src   : 'http://2016.asceconvention.org/sites/default/files/mccormick-taylor-logo.png'
    , href  : 'http://www.mccormicktaylor.com/'
    , level : sponsorlevel.bronze
    }
  , rutgers: {
      name  : 'Rutgers Center for Advanced Infrastructure and Transportation'
    , src   : 'http://2016.asceconvention.org/sites/default/files/rutgers-cait-logo.png'
    , href  : 'http://cait.rutgers.edu/'
    , level : sponsorlevel.copper
    }
  , kimley_horn: {
      name  : 'Kimley-Horn'
    , src   : 'http://2016.asceconvention.org/sites/default/files/kimley-horn-logo.png'
    , href  : 'http://www.kimley-horn.com/'
    , level : sponsorlevel.copper
    }
  , cbb: {
      name  : 'Christopher B. Burke Engineering, Ltd.'
    , src   : 'http://2016.asceconvention.org/sites/default/files/christopher-b-burke-engineering-logo.png'
    , href  : 'http://cbbel.com/'
    , level : sponsorlevel.copper
    }
  , bank_america: {
      name  : 'Bank of America'
    , src   : 'http://2016.asceconvention.org/sites/default/files/bank-of-america-logo.jpg'
    , href  : 'http://www.asce.org/member_advantages/#b'
    , level : sponsorlevel.corporate
    }
  , geico: {
      name  : 'Geico'
    , src   : 'http://2016.asceconvention.org/sites/default/files/geico-logo.gif'
    , href  : 'https://www.geico.com/landingpage/member-discount/?logo=00774'
    , level : sponsorlevel.corporate
    }
  , pearl: {
      name  : 'Pearl Insurance'
    , src   : 'http://2016.asceconvention.org/sites/default/files/pearl-insurance-logo.jpg'
    , href  : 'http://asceinsurance.com/'
    , level : sponsorlevel.corporate
    }
  , ups: {
      name  : 'UPS'
    , src   : 'http://2016.asceconvention.org/sites/default/files/ups-logo.jpg'
    , href  : 'http://savewithups.com/asce/'
    , level : sponsorlevel.corporate
    }
  , keller: {
      name  : 'Keller North America'
    , src   : 'http://2016.asceconvention.org/sites/default/files/keller-na-logo.png'
    , href  : 'http://www.keller.co.uk/'
    , level : sponsorlevel.corporate
    }
  }
- var sponsor = {}
- sponsor.asce_foundation = {}
- sponsor.asce_foundation.name  = 'ASCE Foundation'
- sponsor.asce_foundation.src   = 'http://2016.asceconvention.org/sites/default/files/asce-foundation-logo.png'
- sponsor.asce_foundation.href  = 'http://www.ascefoundation.org/'
- sponsor.asce_foundation.level = sponsorlevel.platinum

- sponsor.bentley = {}
- sponsor.bentley.name  = 'Bentley'
- sponsor.bentley.src   = 'http://2016.asceconvention.org/sites/default/files/bentley-logo.png'
- sponsor.bentley.href  = 'https://www.bentley.com/'
- sponsor.bentley.level = sponsorlevel.platinum

- sponsor.pennoni = {}
- sponsor.pennoni.name  = 'Pennoni'
- sponsor.pennoni.src   = 'http://2016.asceconvention.org/sites/default/files/pennoni-50th-anniversary-logo.png'
- sponsor.pennoni.href  = 'https://www.pennoni.com/'
- sponsor.pennoni.level = sponsorlevel.silver

- sponsor.innovyze = {}
- sponsor.innovyze.name  = 'Innovyze'
- sponsor.innovyze.src   = 'http://2016.asceconvention.org/sites/default/files/innovyze-logo.png'
- sponsor.innovyze.href  = 'http://www.innovyze.com/'
- sponsor.innovyze.level = sponsorlevel.silver

- sponsor.fasten = {}
- sponsor.fasten.name  = 'Fasten Group'
- sponsor.fasten.src   = 'http://2016.asceconvention.org/sites/default/files/fasten-group-logo.png'
- sponsor.fasten.href  = 'http://www.chinafasten.com/'
- sponsor.fasten.level = sponsorlevel.bronze

- sponsor.david_evans = {}
- sponsor.david_evans.name  = 'David Evans and Associates, Inc.'
- sponsor.david_evans.src   = 'http://2016.asceconvention.org/sites/default/files/david-evans-associates-logo.png'
- sponsor.david_evans.href  = 'http://www.deainc.com/'
- sponsor.david_evans.level = sponsorlevel.bronze

- sponsor.kci = {}
- sponsor.kci.name  = 'KCI Technologies'
- sponsor.kci.src   = 'http://2016.asceconvention.org/sites/default/files/kci-technologies-logo.png'
- sponsor.kci.href  = 'http://www.kci.com/'
- sponsor.kci.level = sponsorlevel.bronze

- sponsor.mccormick_taylor = {}
- sponsor.mccormick_taylor.name  = 'McCormick & Taylor'
- sponsor.mccormick_taylor.src   = 'http://2016.asceconvention.org/sites/default/files/mccormick-taylor-logo.png'
- sponsor.mccormick_taylor.href  = 'http://www.mccormicktaylor.com/'
- sponsor.mccormick_taylor.level = sponsorlevel.bronze

- sponsor.rutgers = {}
- sponsor.rutgers.name  = 'Rutgers Center for Advanced Infrastructure and Transportation'
- sponsor.rutgers.src   = 'http://2016.asceconvention.org/sites/default/files/rutgers-cait-logo.png'
- sponsor.rutgers.href  = 'http://cait.rutgers.edu/'
- sponsor.rutgers.level = sponsorlevel.copper

- sponsor.kimley_horn = {}
- sponsor.kimley_horn.name  = 'Kimley-Horn'
- sponsor.kimley_horn.src   = 'http://2016.asceconvention.org/sites/default/files/kimley-horn-logo.png'
- sponsor.kimley_horn.href  = 'http://www.kimley-horn.com/'
- sponsor.kimley_horn.level = sponsorlevel.copper

- sponsor.cbb = {}
- sponsor.cbb.name  = 'Christopher B. Burke Engineering, Ltd.'
- sponsor.cbb.src   = 'http://2016.asceconvention.org/sites/default/files/christopher-b-burke-engineering-logo.png'
- sponsor.cbb.href  = 'http://cbbel.com/'
- sponsor.cbb.level = sponsorlevel.copper

- sponsor.bank_america = {}
- sponsor.bank_america.name  = 'Bank of America'
- sponsor.bank_america.src   = 'http://2016.asceconvention.org/sites/default/files/bank-of-america-logo.jpg'
- sponsor.bank_america.href  = 'http://www.asce.org/member_advantages/#b'
- sponsor.bank_america.level = sponsorlevel.corporate

- sponsor.geico = {}
- sponsor.geico.name  = 'Geico'
- sponsor.geico.src   = 'http://2016.asceconvention.org/sites/default/files/geico-logo.gif'
- sponsor.geico.href  = 'https://www.geico.com/landingpage/member-discount/?logo=00774'
- sponsor.geico.level = sponsorlevel.corporate

- sponsor.pearl = {}
- sponsor.pearl.name  = 'Pearl Insurance'
- sponsor.pearl.src   = 'http://2016.asceconvention.org/sites/default/files/pearl-insurance-logo.jpg'
- sponsor.pearl.href  = 'http://asceinsurance.com/'
- sponsor.pearl.level = sponsorlevel.corporate

- sponsor.ups = {}
- sponsor.ups.name  = 'UPS'
- sponsor.ups.src   = 'http://2016.asceconvention.org/sites/default/files/ups-logo.jpg'
- sponsor.ups.href  = 'http://savewithups.com/asce/'
- sponsor.ups.level = sponsorlevel.corporate

- sponsor.keller = {}
- sponsor.keller.name  = 'Keller North America'
- sponsor.keller.src   = 'http://2016.asceconvention.org/sites/default/files/keller-na-logo.png'
- sponsor.keller.href  = 'http://www.keller.co.uk/'
- sponsor.keller.level = sponsorlevel.corporate
