
//- ///////////////////////////////////////////////////////////////////////////////
//- //
//- // This file holds all data reusable from site to site.
//- //
//- ///////////////////////////////////////////////////////////////////////////////


-
  var month_names = [
    'January'
  , 'February'
  , 'March'
  , 'April'
  , 'May'
  , 'June'
  , 'July'
  , 'August'
  , 'September'
  , 'October'
  , 'November'
  , 'December'
  ]
  var day_names = [
    'Sunday'
  , 'Monday'
  , 'Tuesday'
  , 'Wednesday'
  , 'Thursday'
  , 'Friday'
  , 'Saturday'
  ]
