
//- ///////////////////////////////////////////////////////////////////////////////
//- //
//- // This file holds all data reusable from site to site.
//- //
//- ///////////////////////////////////////////////////////////////////////////////


-
  var month_names = [
    'January'
  , 'February'
  , 'March'
  , 'April'
  , 'May'
  , 'June'
  , 'July'
  , 'August'
  , 'September'
  , 'October'
  , 'November'
  , 'December'
  ]
  var day_names = [
    'Sunday'
  , 'Monday'
  , 'Tuesday'
  , 'Wednesday'
  , 'Thursday'
  , 'Friday'
  , 'Saturday'
  ]
  var menu_class = {
    standard: {
      listclasses : 'o-ListBare o-GridFlex c-MenuStandard'
    , itemclasses : 'o-GridFlex__Item c-MenuStandard__Item'
    , linkclasses : 'o-Block c-MenuStandard__Link'
    , sub: {
        listclasses : 'o-ListBare c-MenuSub'
      , itemclasses : 'c-MenuSub__Item'
      , linkclasses : 'o-Block c-MenuSub__Link'
      }
    }
  , sitemap: {
      listclasses : 'o-ListBare o-GridFlex c-Sitemap'
    , itemclasses : 'o-GridFlex__Item c-Sitemap__Item'
    , sub: {
        listclasses : 'o-ListBare c-Sitemap__SubList'
      , itemclasses : 'c-Sitemap__SubItem'
      }
    }
  }
