
//- ///////////////////////////////////////////////////////////////////////////////
//- //
//- // This file holds all functions & mixins reusable from site to site.
//- //
//- ///////////////////////////////////////////////////////////////////////////////


//- -
  function hourTime12(date) {
    var hour = '' + ((date.getHours() - 1)%12 + 1)
    var minute = ((date.getMinutes() < 10) ? '0' : '') + date.getMinutes()
    var meridiem = (date.getHours() < 12) ? 'am' : 'pm'
    return hour + ':' + minute + ' ' + meridiem
  }
  function hourTime24(date) {
    var hour =   ((date.getHours()   < 10) ? '0' : '') + date.getHours()
    var minute = ((date.getMinutes() < 10) ? '0' : '') + date.getMinutes()
    return hour + ':' + minute
  }

- function hourTime12(date) {var hour = '' + ((date.getHours() - 1)%12 + 1); var minute = ((date.getMinutes() < 10) ? '0' : '') + date.getMinutes(); var meridiem = (date.getHours() < 12) ? 'am' : 'pm'; return hour + ':' + minute + ' ' + meridiem; }
- function hourTime24(date) {var hour =   ((date.getHours()   < 10) ? '0' : '') + date.getHours(); var minute = ((date.getMinutes() < 10) ? '0' : '') + date.getMinutes(); return hour + ':' + minute; }
