extends _docs.tpl.jade

block append vars
  - var page = ConfDocs.DOCS.find('comp.html')

block append main
  +newSection(2, ConfDocs.DOCS.find('comp.html#masthead-mastfoot'))
    include includes/_c-Mast.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#site-title'))
    include includes/_c-SiteTitle.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#top-menu'))
    include includes/_c-MenuTop.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#main-menu'))
    include includes/_c-MenuMain.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#sub-menu'))
    include includes/_c-MenuSub.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#sitemap-component'))
    include includes/_c-Sitemap.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#page-title'))
    include includes/_c-PageTitle.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#banner-component'))
    include includes/_c-Banner.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#hero-block'))
    include includes/_c-Hero.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#other-year-block'))
    include includes/_c-OtherYear.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#overlay-component'))
    include includes/_c-Overlay.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#supporter-logo'))
    include includes/_c-SupporterLogo.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#supporter-block'))
    include includes/_c-SupporterBlock.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#date-block'))
    include includes/_c-DateBlock.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#pass-component'))
    include includes/_c-Pass.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#program-component'))
    include includes/_c-Program.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#time-block'))
    include includes/_c-TimeBlock.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#speaker-component'))
    include includes/_c-Speaker.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#social-list'))
    include includes/_c-SocialList.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#callout-component'))
    include includes/_c-Callout.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#buttons'))
    include includes/_c-Btn.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#toggle-button'))
    include includes/_c-Toggle.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#camo-link'))
    include includes/_c-Camo.docs.jade
  section
    h2 Non-CSS Component Displays
    section
      h3 Place
      include includes/_place.docs.jade

block append scripts
  script(src="/scripts/c-Program.js")
