extends _docs.tpl.jade

block append vars
  - var page = ConfDocs.DOCS.find('comp.html')

block append main
  +newSection(2, ConfDocs.DOCS.find('comp.html#mast-component'))
    include _includes/c-Mast.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#site-title'))
    include _includes/c-SiteTitle.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#mobile-menu'))
    include _includes/c-MenuMobile.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#menu-bar'))
    include _includes/c-MenuBar.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#sitemap-component'))
    include _includes/c-Sitemap.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#page-title'))
    include _includes/c-PageTitle.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#banner-component'))
    include _includes/c-Banner.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#conference-header'))
    include _includes/c-Hero.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#supporter-block'))
    include _includes/c-SupporterBlock.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#date-block'))
    include _includes/c-DateBlock.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#pass-component'))
    include _includes/c-Pass.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#program-component'))
    include _includes/c-Program.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#time-block'))
    include _includes/c-TimeBlock.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#speaker-component'))
    include _includes/c-Speaker.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#social-list'))
    include _includes/c-SocialList.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#callout-component'))
    include _includes/c-Callout.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#buttons'))
    include _includes/c-Btn.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#toggle-button'))
    include _includes/c-Toggle.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#camo-link'))
    include _includes/c-LinkCamo.docs.jade
  +newSection(2, ConfDocs.DOCS.find('comp.html#caps-link'))
    include _includes/c-LinkCaps.docs.jade

block append scripts
  script(src="/scripts/c-Program.js")
