extends _docs.tpl.jade

block append vars
  - var page = ConfDocs.DOCS.find('visual.html')

block append main
  mixin siteColorBlocks(sitename, primary_hex, secondary_hex)
    - var site_colors = ConfSite.colorStyles(Color.fromHex(primary_hex), Color.fromHex(secondary_hex))
    +colorsamples([
      { name: 'Primary'      , color: Color.fromRGB(site_colors['--color-primary']) }
    , { name: 'Primary 01'   , color: Color.fromRGB(site_colors['--color-primary-darken1']) }
    , { name: 'Primary 02'   , color: Color.fromRGB(site_colors['--color-primary-darken2']) }
    , { name: 'Primary 1'    , color: Color.fromRGB(site_colors['--color-primary-lighten1']) }
    , { name: 'Primary 2'    , color: Color.fromRGB(site_colors['--color-primary-lighten2']) }
    , { name: 'Secondary'    , color: Color.fromRGB(site_colors['--color-secondary']) }
    , { name: 'Secondary 01' , color: Color.fromRGB(site_colors['--color-secondary-darken1']) }
    , { name: 'Secondary 02' , color: Color.fromRGB(site_colors['--color-secondary-darken2']) }
    , { name: 'Secondary 1'  , color: Color.fromRGB(site_colors['--color-secondary-lighten1']) }
    , { name: 'Secondary 2'  , color: Color.fromRGB(site_colors['--color-secondary-lighten2']) }
    , { name: 'Dark Gray'    , color: Color.fromRGB(site_colors['--color-gray-dk']) }
    , { name: 'Dark Gray 01' , color: Color.fromRGB(site_colors['--color-gray-dk-darken1']) }
    , { name: 'Dark Gray 02' , color: Color.fromRGB(site_colors['--color-gray-dk-darken2']) }
    , { name: 'Dark Gray 1'  , color: Color.fromRGB(site_colors['--color-gray-dk-lighten1']) }
    , { name: 'Dark Gray 2'  , color: Color.fromRGB(site_colors['--color-gray-dk-lighten2']) }
    , { name: 'Light Gray'   , color: Color.fromRGB(site_colors['--color-gray-lt']) }
    , { name: 'Light Gray 01', color: Color.fromRGB(site_colors['--color-gray-lt-darken1']) }
    , { name: 'Light Gray 02', color: Color.fromRGB(site_colors['--color-gray-lt-darken2']) }
    , { name: 'Light Gray 1' , color: Color.fromRGB(site_colors['--color-gray-lt-lighten1']) }
    , { name: 'Light Gray 2' , color: Color.fromRGB(site_colors['--color-gray-lt-lighten2']) }
    ])
  mixin colorsamples(colors)
    ul.o-List.docs-o-ColorList
      each $item in colors
        li.o-List__Item.docs-o-ColorList__Item
          figure
            - var side = 96
            svg.docs-c-ColorBox(viewbox=`0 0 ${side} ${side}`)
              rect(width=side height=side fill=$item.color.toString())
            p
              b= $item.name
              br
              code= $item.color.toString('hex')
  section#asce
    h2 ASCE
    h3 Colors
    +colorsamples([
      { name: 'ASCE Black', color: Color.fromHex('#222222') }
    , { name: 'ASCE White', color: Color.fromHex('#ffffff') }
    , { name: 'ASCE Blue' , color: Color.fromHex('#0c5fa8') }
    ])
  section#docs
    h2 Docs
    p (this style guide)
    h3 Colors
    +siteColorBlocks('Docs', '#660000', '#ff6600')
  section#asce2016
    h2 ASCE 2016
    h3 Colors
    +siteColorBlocks('ASCE 2016', '#3fae2a', '#00a1e1')
