extends _docs.tpl.jade

block append vars
  - var page = ConfDocs.DOCS.find('visual.html')

block append main
  section#fonts
    h2 Fonts
    h3 Font Sizes
    p.
      Please use only the font sizes listed below.
      Sticking with a pre-determined set of font sizes will ensure a consistent look-and-feel,
      while at the same time providing a sense of even vertical rhythm.
    figure.docs-figure
      ul.o-List(style="overflow:auto;white-space:nowrap;")
        li.o-List__Item.-fz-el-peta universe / peta / 6.00
        li.o-List__Item.-fz-el-tera galaxy   / tera / 4.00
        li.o-List__Item.-fz-el-giga star     / giga / 3.00
        li.o-List__Item.-fz-el-mega planet   / mega / 2.00
        li.o-List__Item.-fz-el-kilo asteroid / kilo / 1.50
        li.o-List__Item.-fz-el-norm molecule / norm / 1.00
        li.o-List__Item.-fz-el-mill atom     / mill / 0.75
        li.o-List__Item.-fz-el-micr quark    / micr / 0.50
    h3 Font Families
    h4 Body Copy
    p.
      Body copy use the #[b Open Sans] typeface, designed by Steve Matteson.
      There are 10 fonts available: 5 weights, with 2 styles each.
    blockquote.
      #[b Open Sans] is a humanist sans-serif typeface used for the body text on the site.
      It has a vertical upright stress, large x-height, and wide apertures.
      Open Sans has a #[q neutral, yet friendly appearance.]
      Though sans-serif, it borrows some elements from serif typefaces.
      For example, it has a true italic and options for the use of a
      double-storey #[i a] and #[i g].
    figure.docs-figure(style="font-family:'Open Sans',sans-serif;")
      p
        | The five boxing wizards jump quickly.
        br
        span.-fs-t Oh, sphinx of black quartz, judge my vow.
      ul.o-List.o-Grid
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-300       Open Sans 300
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-300.-fs-t Open Sans 300 italic
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400       Open Sans 400
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400.-fs-t Open Sans 400 italic
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-600       Open Sans 600
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-600.-fs-t Open Sans 600 italic
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700       Open Sans 700
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700.-fs-t Open Sans 700 italic
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-800       Open Sans 800
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-800.-fs-t Open Sans 800 italic
    h4 Headings
    p.
      Headings use the #[b Bitter] typeface, designed at Huerta Tipogr&aacute;fica.
      Only four fonts are available: normal and bold weights, with normal and italic style.
      The italic style is a #[i true italic].
    blockquote.
      #[i= '[description pending]']
    figure.docs-figure(style="font-family:'Bitter',serif;")
      p
        | Sixty zippers were quickly picked from the woven jute bag.
        br
        span.-fs-t Heavy boxes perform quick waltzes and jigs.
      ul.o-List.o-Grid.-fz-el-giga
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400       Bitter 400
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400.-fs-t Bitter 400 italic
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700       Bitter 700
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700.-fs-t Bitter 700 italic
    h4 Futura (not used)
    blockquote
      p.
        #[b Futura] is a geometric sans-serif typeface not used on the site.
        Comprised of simple geometric shapes, near-perfect circles, triangles, and squares,
        it has a subtle thick/thin transition of weight, virtually no stress, and has an appearance
        of efficiency and forwardness. It has quite a low x-height and tall ascenders,
        which enhance the readability of large headings on the web.
      p: q.
        The design of Futura avoids the decorative, eliminating nonessential elements,
        but makes subtle departures from pure geometric designs that allow
        the letterforms to seem balanced.
    figure.docs-figure(style="font-family:'Futura',sans-serif;")
      p
        | The quick brown fox jumps over the lazy dog.
        br
        span.-fs-t The quick brown fox jumps over the lazy dog.

block append main
  -
    var scheme = {
      asce: {
        black : { code: '#222222', bg_class: '-bc-asce_black', name: 'ASCE Black' }
      , white : { code: '#ffffff', bg_class: '-bc-asce_white', name: 'ASCE White' }
      , blue  : { code: '#0c5fa8', bg_class: '-bc-asce_blue' , name: 'ASCE Blue' }
      }
    , asce2016: {
        primary   : { code: '#3fae2a', bg_class: '-bc-site_primary'  , name: 'ASCE 2016 Primary' }
      , secondary : { code: '#00a1e1', bg_class: '-bc-site_secondary', name: 'ASCE 2016 Secondary' }
      , gray_dk   : { code: '#373c36', bg_class: '-bc-site_gray_dk'  , name: 'ASCE 2016 Dark Gray' }
      , gray_lt   : { code: '#9fa5a8', bg_class: '-bc-site_gray_lt'  , name: 'ASCE 2016 Light Gray' }
      }
    }
  mixin colorsamples(colors)
    - var boxwidth = '96px'
    ul.o-List.o-Flex.docs-o-ColorList
      each color in colors
        li.o-List__Item.o-Flex__Item.docs-o-ColorList__Item
          div.docs-c-ColorBox(class=color.bg_class style={ width:boxwidth, height:boxwidth })
            p
              each foreground,index in [scheme.asce.black.code, scheme.asce.white.code]
                code(style={color:foreground})= color.code
                unless index == 1
                  br
          p(style="font-size: 0.8rem; line-height:1.875;")
            span.h-Block= color.name
  section#asce
    h2 ASCE
    h3 Colors
    +colorsamples([
      scheme.asce.black
    , scheme.asce.white
    , scheme.asce.blue
    ])
  section#asce2016
    h2 ASCE 2016
    h3 Colors
    +colorsamples([
      scheme.asce2016.primary
    , scheme.asce2016.secondary
    , scheme.asce2016.gray_dk
    , scheme.asce2016.gray_lt
    ])
