
/*################################*\
    conf  |  __settings.conf-colors.less
\*################################*/


// This stylesheet contains conference site-specific colors.

// Sample site
@color_site_primary:   #26a1d7;
@color_site_secondary: #79bb6d;
@color_site_accent:    #128d47;

// CI Summit 2016
@color_ci_primary:   #21a0f2;
@color_ci_secondary: #5e6167;
@color_ci_accent:    #ffc72a;

// Pipelines 2016
// id: #pipelinesconference
@color_pl_primary:   #006c67;
@color_pl_secondary: #717073;
@color_pl_accent:    #c1d8c5;

// ICSI 2016
// id: #icsiconference
@color_icsi_primary:   #0b2f69;
@color_icsi_secondary: #a6044d;
@color_icsi_accent:    #a3446d;

// EWRI LID 2016
// id: #lidconference
@color_lid_primary:   #354e71;
@color_lid_secondary: #841f27;
@color_lid_accent:    #7d98ab;

// SEI Structures 2017
// id: #structurescongress
@color_struct_primary:   #571c1f;
@color_struct_secondary: #14284b;
@color_struct_accent:    #8b8c8e;

// Geo Risk 2017
// id: #georiskconference
@color_georisk_primary:   #00535e;
@color_georisk_secondary: #5f504e; // alternate: #6e6259
@color_georisk_accent:    #82b2ba;
