
/*################################*\
    conf  |  __settings.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__settings.less');


//++++++++++++++++++++++++++++++++//
//    # TYPOGRAPHY
//++++++++++++++++++++++++++++++++//
//++++ end # TYPOGRAPHY ++++ //


//++++++++++++++++++++++++++++++++//
//    # BOX PADDING
//++++++++++++++++++++++++++++++++//
@g-boxpadd_micr_h: (1rem*0.25); //   4px
@g-boxpadd_mill_h: (1rem*0.50); //   8px
@g-boxpadd_norm_h: (1rem*1.00); //  16px
@g-boxpadd_kilo_h: (1rem*2.00); //  32px
@g-boxpadd_mega_h: (1rem*3.00); //  48px
@g-boxpadd_giga_h: (1rem*4.00); //  64px
@g-boxpadd_tera_h: (1rem*6.00); //  96px
@g-boxpadd_peta_h: (1rem*8.00); // 128px

@g-boxpadd_micr_v: (@g-vru/8)   ; //  3px
@g-boxpadd_mill_v: (@g-vru*0.25); //  6px
@g-boxpadd_norm_v: (@g-vru*0.50); // 12px
@g-boxpadd_kilo_v: (@g-vru*1.00); // 24px
@g-boxpadd_mega_v: (@g-vru*1.50); // 36px
@g-boxpadd_giga_v: (@g-vru*2.00); // 48px
@g-boxpadd_tera_v: (@g-vru*3.00); // 72px
@g-boxpadd_peta_v: (@g-vru*4.00); // 96px

@g-boxpadd_micr: @g-boxpadd_micr_v @g-boxpadd_micr_h; //  3px   4px
@g-boxpadd_mill: @g-boxpadd_mill_v @g-boxpadd_mill_h; //  6px   8px
@g-boxpadd_norm: @g-boxpadd_norm_v @g-boxpadd_norm_h; // 12px  16px
@g-boxpadd_kilo: @g-boxpadd_kilo_v @g-boxpadd_kilo_h; // 24px  32px
@g-boxpadd_mega: @g-boxpadd_mega_v @g-boxpadd_mega_h; // 36px  48px
@g-boxpadd_giga: @g-boxpadd_giga_v @g-boxpadd_giga_h; // 48px  64px
@g-boxpadd_tera: @g-boxpadd_tera_v @g-boxpadd_tera_h; // 72px  96px
@g-boxpadd_peta: @g-boxpadd_peta_v @g-boxpadd_peta_h; // 96px 128px
//++++ end # BOX PADDING ++++ //


//++++++++++++++++++++++++++++++++//
//    # ASCE COMPANY COLORS
//++++++++++++++++++++++++++++++++//
@g-color_asce_primary: #0c5fa8;
@g-color_asce_body_bg: #fff;
@g-color_asce_body_txt: #333;
@g-color_asce_header_txt: #fff;

// ASCE table colors
@g-color_asce_table_border:  #e8e8e8;
@g-color_asce_table_bground: #f4f4f4;

// ASCE form colors
@g-color_asce_form_bground: #f4f4f5;

// ASCE button colors
@g-color_asce_btn_bg: @g-color_asce_primary;
@g-color_asce_btn_txt: #fff;
@g-color_asce_btn_sw: #cdcdcd;

// ASCE label colors --- see Label.less
@g-color_asce_label_bg: @g-color_asce_primary;
@g-color_asce_label_txt: @g-color_asce_header_txt;

// ASCE inline hyperlink colors
@g-color_asce_link: @g-color_asce_primary;
@g-color_asce_link_hover: #19a1cf;
//++++ end # ASCE COMPANY COLORS ++++ //


//++++++++++++++++++++++++++++++++//
//    # SPONSOR COLORS
//++++++++++++++++++++++++++++++++//
@g-color_platinum:  #cde1ec;
@g-color_gold:      #f8cd79;
@g-color_corporate: #9ed8f9;
@g-color_silver:    #dbddde;
@g-color_bronze:    #d9c5ac;
@g-color_copper:    #d6a985; // CH chose this; may be changed at any time <charvey@asce.org>
@g-color_coop_bg:   #e8eaeb; // bgcolor for coop orgs
//++++ end # SPONSOR COLORS ++++ //


//++++++++++++++++++++++++++++++++//
//    # COMPONENT COLORS
//++++++++++++++++++++++++++++++++//
//++++ end # COMPONENT COLORS ++++ //




// -------------------- DRAFT BELOW ------------------------

// flag colors
@g-color_flag: #ed1c24; // default
@g-color_note_bg: #fef0c1;
@g-color_note_br: #fdcd2f;


// other colors
@g-color_livechat: #62b840; // okay random

// UI fonts
@g-font_ui: 'futura-pt', 'Open Sans', 'Arial', sans-serif;
@g-highdpi: ~'(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)';
