
/*################################*\
    conf  |  __settings.conf-colors.less
\*################################*/


//Table Of Contents
//# CONFERENCE SITE-SPECIFIC COLORS
//# MIXINS

//++++++++++++++++++++++++++++++++//
//    # CONFERENCE SITE-SPECIFIC COLORS
//++++++++++++++++++++++++++++++++//

// Sample site
// very old
// @g-color_site_primary:   #6a9556; // old
// @g-color_site_secondary: #6fc2c4; // old
// @g-color_site_accent:    #714509; // old
// old
@g-color_site_primary:   #26a1d7;
@g-color_site_secondary: #79bb6d;
@g-color_site_accent:    #128d47;
// new
@g-color_site_primary:   #3fae2a;
@g-color_site_secondary: #00a1e1;

@p-site_gray1_dk:  darken(desaturate(@g-color_site_primary,   90%, relative), 20%);
@p-site_gray1_lt: lighten(desaturate(@g-color_site_primary,   90%, relative), 20%);
@p-site_gray2_dk:  darken(desaturate(@g-color_site_secondary, 90%, relative), 20%);
@p-site_gray2_lt: lighten(desaturate(@g-color_site_secondary, 90%, relative), 20%);

@g-color_site_gray_dk: @p-site_gray1_dk;
@g-color_site_gray_lt: @p-site_gray2_lt;


// CI Summit 2016 // not equipped with chewie
@g-color_ci_primary:   #21a0f2;
@g-color_ci_secondary: #5e6167;
@g-color_ci_accent:    #ffc72a;

// Pipelines 2016 // equipped with a local copy of chewie (not cdn)
// class: .pipelinesconference
@g-color_pl_primary:   #006c67;
@g-color_pl_secondary: #717073;
@g-color_pl_accent:    #c1d8c5;

// ICSI 2016
// class: .icsiconference
@g-color_icsi_primary:   #0b2f69;
@g-color_icsi_secondary: #a6044d;
@g-color_icsi_accent:    #a3446d;

// EWRI LID 2016
// class: .lidconference
@g-color_lid_primary:   #354e71;
@g-color_lid_secondary: #841f27;
@g-color_lid_accent:    #7d98ab;

// SEI Structures 2017
// class: .structurescongress
@g-color_struct_primary:   #571c1f;
@g-color_struct_secondary: #14284b;
@g-color_struct_accent:    #8b8c8e;

// Geo Risk 2017
// class: .georiskconference
@g-color_georisk_primary:   #00535e;
@g-color_georisk_secondary: #6e6259; // old: #5f504e
@g-color_georisk_accent:    #82b2ba;

// AEI 2017
// class: .aei-conference
@g-color_aei_primary:   #00548e;
@g-color_aei_secondary: #7f7f73;
@g-color_aei_accent:    #aba9a0;
//++++ end # CONFERENCE SITE-SPECIFIC COLORS ++++//


//++++++++++++++++++++++++++++++++//
//    # MIXINS
//++++++++++++++++++++++++++++++++//
.mx-bc-primary() {
  background-color: @color_site_primary;
  .t-pipelinesconference & { background-color: @g-color_pl_primary; }
  .t-icsiconference      & { background-color: @g-color_icsi_primary; }
  .t-lidconference       & { background-color: @g-color_lid_primary; }
  .t-structurescongress  & { background-color: @g-color_struct_primary; }
  .t-georiskconference   & { background-color: @g-color_georisk_primary; }
  .t-aei-conference      & { background-color: @g-color_aei_primary; }
}
.mx-bc-secondary() {
  background-color: @color_site_secondary;
  .t-pipelinesconference & { background-color: @g-color_pl_secondary; }
  .t-icsiconference      & { background-color: @g-color_icsi_secondary; }
  .t-lidconference       & { background-color: @g-color_lid_secondary; }
  .t-structurescongress  & { background-color: @g-color_struct_secondary; }
  .t-georiskconference   & { background-color: @g-color_georisk_secondary; }
  .t-aei-conference      & { background-color: @g-color_aei_secondary; }
}
.mx-bc-accent() {
  background-color: @color_site_accent;
  .t-pipelinesconference & { background-color: @g-color_pl_accent; }
  .t-icsiconference      & { background-color: @g-color_icsi_accent; }
  .t-lidconference       & { background-color: @g-color_lid_accent; }
  .t-structurescongress  & { background-color: @g-color_struct_accent; }
  .t-georiskconference   & { background-color: @g-color_georisk_accent; }
  .t-aei-conference      & { background-color: @g-color_aei_accent; }
}
.mx-c-primary() {
  color: @color_site_primary;
  .t-pipelinesconference & { color: @g-color_pl_primary; }
  .t-icsiconference      & { color: @g-color_icsi_primary; }
  .t-lidconference       & { color: @g-color_lid_primary; }
  .t-structurescongress  & { color: @g-color_struct_primary; }
  .t-georiskconference   & { color: @g-color_georisk_primary; }
  .t-aei-conference      & { color: @g-color_aei_primary; }
}
.mx-c-secondary() {
  color: @color_site_secondary;
  .t-pipelinesconference & { color: @g-color_pl_secondary; }
  .t-icsiconference      & { color: @g-color_icsi_secondary; }
  .t-lidconference       & { color: @g-color_lid_secondary; }
  .t-structurescongress  & { color: @g-color_struct_secondary; }
  .t-georiskconference   & { color: @g-color_georisk_secondary; }
  .t-aei-conference      & { color: @g-color_aei_secondary; }
}
.mx-c-accent() {
  color: @color_site_accent;
  .t-pipelinesconference & { color: @g-color_pl_accent; }
  .t-icsiconference      & { color: @g-color_icsi_accent; }
  .t-lidconference       & { color: @g-color_lid_accent; }
  .t-structurescongress  & { color: @g-color_struct_accent; }
  .t-georiskconference   & { color: @g-color_georisk_accent; }
  .t-aei-conference      & { color: @g-color_aei_accent; }
}
.mx-btc-accent() {
  border-top-color: @color_site_accent;
  .t-pipelinesconference & { border-top-color: @g-color_pl_accent; }
  .t-icsiconference      & { border-top-color: @g-color_icsi_accent; }
  .t-lidconference       & { border-top-color: @g-color_lid_accent; }
  .t-structurescongress  & { border-top-color: @g-color_struct_accent; }
  .t-georiskconference   & { border-top-color: @g-color_georisk_accent; }
  .t-aei-conference      & { border-top-color: @g-color_aei_accent; }
}
//++++ end # MIXINS ++++//
