
/*################################*\
    conf  |  __tool.site-colors.less
\*################################*/


.defineSiteColors(@primary; @secondary) {
  @gray_dk1:  darken(desaturate(mix(@primary, @secondary, 80%), 90%, relative), 20%);
  @gray_lt1: lighten(desaturate(mix(@primary, @secondary, 80%), 90%, relative), 20%);
  @gray_dk2:  darken(desaturate(mix(@secondary, @primary, 80%), 90%, relative), 20%);
  @gray_lt2: lighten(desaturate(mix(@secondary, @primary, 80%), 90%, relative), 20%);
  --color-primary:   @primary;
  --color-secondary: @secondary;
  --color-gray_dk:   @gray_dk1;
  --color-gray_lt:   @gray_lt2;

  --color-primary-shade1: darken(@primary, 25%, relative);
  --color-primary-shade2: darken(@primary, 50%, relative);
  --color-primary-tint1: lighten(@primary, 25%, relative);
  --color-primary-tint2: lighten(@primary, 50%, relative);

  --color-secondary-shade1: darken(@secondary, 25%, relative);
  --color-secondary-shade2: darken(@secondary, 50%, relative);
  --color-secondary-tint1: lighten(@secondary, 25%, relative);
  --color-secondary-tint2: lighten(@secondary, 50%, relative);

  --color-gray_dk-shade1: darken(@gray_dk1, 25%, relative);
  --color-gray_dk-shade2: darken(@gray_dk1, 50%, relative);
  --color-gray_dk-tint1: lighten(@gray_dk1, 25%, relative);
  --color-gray_dk-tint2: lighten(@gray_dk1, 50%, relative);

  --color-gray_lt-shade1: darken(@gray_lt2, 25%, relative);
  --color-gray_lt-shade2: darken(@gray_lt2, 50%, relative);
  --color-gray_lt-tint1: lighten(@gray_lt2, 25%, relative);
  --color-gray_lt-tint2: lighten(@gray_lt2, 50%, relative);

  --color-primary-fadeout1:   fadeout(@primary, 25%);
}
