
/*################################*\
    conf  |  __tool.ticket.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.borders.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fontsize.less');
@import (reference) url('__settings.less');


// Structural styles used for Pass and Speaker components.
//
// ^author
// Chris Harvey
// ^updated
// 2016-09-22

.ticket() {
  .font-size-mod(0.75);
  .border-vert(all; 1px);
  border-style: solid;
  border-color: @g-color-gray_dk; // HACK fallback
  border-color: var(--color-gray_dk);
  h1 {
    font-family: inherit;
    color: inherit;
  }
}
