
/*################################*\
    conf  |  _atom.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__fallback.flexbox.less');


//++++++++++++++++++++++++++++++++//
//    # COLORS
//++++++++++++++++++++++++++++++++//
  //--------------------------------//
  //    # Display
  //--------------------------------//
  //---- end # Display ----//
  //--------------------------------//
  //    # Flex
  //--------------------------------//
  // .-x-0 { .flex(0 1 auto) !important; .flex(initial); }
  // .-x-i {                             .flex(inherit); }
  // .-x-a {                             .flex(auto)   ; }
  // .-x-c {                             .flex(content); }
  // .-x-h {                             .flex(0.5)    ; }
  // .-x-1 {                             .flex(1)      ; }
  // .-x-2 {                             .flex(2)      ; }
  // .-x-1o1  {                          .flex(100%)   ; }
  //---- end # Flex ----//
  //--------------------------------//
  //    # Background colors
  //--------------------------------//
  .-bc-asce_black { background-color: @g-color_asce_black; }
  .-bc-asce_white { background-color: @g-color_asce_white; }
  .-bc-asce_blue  { background-color: @g-color_asce_blue ; }
  // .-bc-primary   { background-color: var(--color-primary); }
  // .-bc-secondary { background-color: var(--color-secondary); }
  // .-bc-gray_dk   { background-color: var(--color-gray_dk); }
  // .-bc-gray_lt   { background-color: var(--color-gray_lt); }
  //---- end # Background colors ----//
//++++ end # COLORS ++++//
