
/*################################*\
    conf  |  _atom.less
\*################################*/


//++++++++++++++++++++++++++++++++//
//    # COLORS
//++++++++++++++++++++++++++++++++//
  //--------------------------------//
  //    # Background colors
  //--------------------------------//
  .-bc-asce_black { background-color: @g-color_asce_black; }
  .-bc-asce_white { background-color: @g-color_asce_white; }
  .-bc-asce_blue  { background-color: @g-color_asce_blue ; }
  .-bc-site_primary   { background-color: @g-color_site_primary  ; }
  .-bc-site_secondary { background-color: @g-color_site_secondary; }
  //---- end # Background colors ----//
//++++ end # COLORS ++++//
