
/*################################*\
    conf  |  _atom.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__fallback.flexbox.less');
@import (reference) url('__settings.less');


//++++++++++++++++++++++++++++++++//
//    # COLORS
//++++++++++++++++++++++++++++++++//
  //--------------------------------//
  //    # Display
  //--------------------------------//
  //---- end # Display ----//
  //--------------------------------//
  //    # Flex
  //--------------------------------//
  // .-x-0 { .flex(0 1 auto) !important; .flex(initial); }
  // .-x-i {                             .flex(inherit); }
  // .-x-a {                             .flex(auto)   ; }
  // .-x-c {                             .flex(content); }
  // .-x-h {                             .flex(0.5)    ; }
  // .-x-1 {                             .flex(1)      ; }
  // .-x-2 {                             .flex(2)      ; }
  // .-x-1o1  {                          .flex(100%)   ; }
  //---- end # Flex ----//
  //--------------------------------//
  //    # Background colors
  //--------------------------------//
  .-bc-asce_black { background-color: @g-color_asce_black; }
  .-bc-asce_white { background-color: @g-color_asce_white; }
  .-bc-asce_blue  { background-color: @g-color_asce_blue ; }

  .-bc-primary   { background-color: var(--color-primary); }
  .-bc-secondary { background-color: var(--color-secondary); }
  .-bc-gray_dk   { background-color: var(--color-gray_dk); }
  .-bc-gray_lt   { background-color: var(--color-gray_lt); }

  .-bc-primary-shade1 { background-color: var(--color-primary-shade1); }
  .-bc-primary-shade2 { background-color: var(--color-primary-shade2); }
  .-bc-primary-tint1  { background-color: var(--color-primary-tint1); }
  .-bc-primary-tint2  { background-color: var(--color-primary-tint2); }

  .-bc-secondary-shade1 { background-color: var(--color-secondary-shade1); }
  .-bc-secondary-shade2 { background-color: var(--color-secondary-shade2); }
  .-bc-secondary-tint1  { background-color: var(--color-secondary-tint1); }
  .-bc-secondary-tint2  { background-color: var(--color-secondary-tint2); }

  .-bc-gray_dk-shade1 { background-color: var(--color-gray_dk-shade1); }
  .-bc-gray_dk-shade2 { background-color: var(--color-gray_dk-shade2); }
  .-bc-gray_dk-tint1  { background-color: var(--color-gray_dk-tint1); }
  .-bc-gray_dk-tint2  { background-color: var(--color-gray_dk-tint2); }

  .-bc-gray_lt-shade1 { background-color: var(--color-gray_lt-shade1); }
  .-bc-gray_lt-shade2 { background-color: var(--color-gray_lt-shade2); }
  .-bc-gray_lt-tint1  { background-color: var(--color-gray_lt-tint1); }
  .-bc-gray_lt-tint2  { background-color: var(--color-gray_lt-tint2); }

  .-bc-primary-fadeout1 { background-color: var(--color-primary-fadeout1); }
  //---- end # Background colors ----//
//++++ end # COLORS ++++//
