
/*################################*\
    conf  |  _atom.width.less
\*################################*/


// Sets the width of an element.
// Percentage-based widths are fractions with denominators 1–6, and 10.
// Pixel-based widths are multiples of 16px, up to 960px.
// Em-based widths are multiples of 15em, up to 90em.
// If you need more, you better just use inline styles.
//
// ^author
// : Chris Harvey
// ^updated
// : 2016-02-10
.a-w-z { width: 0; }

//++++++++++++++++++++++++++++++++//
//    # PERCENTAGE-BASED WIDTHS
//++++++++++++++++++++++++++++++++//
// Generates a class `.a-w-‹a›o‹b›` (e.g. `.a-w-3o5`), where
// ‹a› is the numerator,
// ‹b› is the denominator,
// and the width is ‹a› divided by ‹b› as a percent.
// ^params
// @b  - the denominator of the fraction. required.
// @bp - the breakpoint suffix, if any
// .gen-w-frac(@b; @bp: ~''; @a: 1) when (@a =< @b) {
//   .mixin() when (@b % @a = 1)
//   .a-w-@{a}o@{b}@{bp} { width: (@a/@b * 100%); }
//   .gen-w-frac(@b; @bp; (@a + 1));
// }
// .gen-w-frac(1);
// .gen-w-frac(2);
// .gen-w-frac(3);
// .gen-w-frac(4);
// .gen-w-frac(5);
// .gen-w-frac(6);
// .gen-w-frac(8);
// .gen-w-frac(10);
.a-w-10o10,
.a-w-8o8,
.a-w-6o6,
.a-w-5o5,
.a-w-4o4,
.a-w-3o3,
.a-w-2o2,
.a-w-1o1  { width: (1/1 ) * 100%; }
.a-w-5o10,
.a-w-3o6,
.a-w-2o4,
.a-w-4o8,
.a-w-1o2  { width: (1/2 ) * 100%; }
.a-w-2o6,
.a-w-1o3  { width: (1/3 ) * 100%; }
.a-w-4o6,
.a-w-2o3  { width: (2/3 ) * 100%; }
.a-w-2o8,
.a-w-1o4  { width: (1/4 ) * 100%; }
.a-w-6o8,
.a-w-3o4  { width: (3/4 ) * 100%; }
.a-w-2o10,
.a-w-1o5  { width: (1/5 ) * 100%; }
.a-w-4o10,
.a-w-2o5  { width: (2/5 ) * 100%; }
.a-w-6o10,
.a-w-3o5  { width: (3/5 ) * 100%; }
.a-w-8o10,
.a-w-4o5  { width: (4/5 ) * 100%; }
.a-w-1o6  { width: (1/6 ) * 100%; }
.a-w-5o6  { width: (5/6 ) * 100%; }
.a-w-1o8  { width: (1/8 ) * 100%; }
.a-w-3o8  { width: (3/8 ) * 100%; }
.a-w-5o8  { width: (5/8 ) * 100%; }
.a-w-7o8  { width: (7/8 ) * 100%; }
.a-w-1o10 { width: (1/10) * 100%; }
.a-w-3o10 { width: (3/10) * 100%; }
.a-w-7o10 { width: (7/10) * 100%; }
.a-w-9o10 { width: (9/10) * 100%; }
//++++ end # PERCENTAGE-BASED WIDTHS ++++//


//++++++++++++++++++++++++++++++++//
//    # PIXEL-BASED WIDTHS
//++++++++++++++++++++++++++++++++//
@px_per_it: 96;
@max_px: 1440;
// Generates a class `.a-w-‹i›px` (e.g. `.a-w-288px`), where
// ‹i› is the integer argument, the width in pixels.
// The mixin is recursive, starting at ‹i›==96,
// incrementing by 96 each time it is called,
// stopping when ‹i›==1440.
// ^params
// @bp - the breakpoint suffix, if any
.gen-w-px(@bp: ~''; @i: @px_per_it) when (@i =< @max_px) {
  .a-w-@{i}px@{bp} { width: (@i * 1px); }
  .gen-w-px(@bp; @i + @px_per_it);
}
.gen-w-px();
//++++ end # PIXEL-BASED WIDTHS ++++//


//++++++++++++++++++++++++++++++++//
//    # EM-BASED WIDTHS
//++++++++++++++++++++++++++++++++//
@em_per_it: 5;
@max_em: 90;
// Generates a class `.a-w-‹i›em` (e.g. `.a-w-30em`), where
// ‹i› is the integer argument, the width in ems.
// The mixin is recursive, starting at ‹i›==5,
// incrementing by 5 each time it is called,
// stopping when ‹i›==90.
// ^params
// @bp - the breakpoint suffix, if any
.gen-w-em(@bp: ~''; @i: @em_per_it) when (@i =< @max_em) {
  .a-w-@{i}em@{bp} { width: (@i * 1em); }
  .gen-w-em(@bp; @i+@em_per_it);
}
.gen-w-em();
//++++ end # EM-BASED WIDTHS ++++//


@media screen and (min-width: 30em) {
  .a-w-z-sK { .a-w-z; }

  // .gen-w-frac( 1; ~'-sK');
  // .gen-w-frac( 2; ~'-sK');
  // .gen-w-frac( 3; ~'-sK');
  // .gen-w-frac( 4; ~'-sK');
  // .gen-w-frac( 5; ~'-sK');
  // .gen-w-frac( 6; ~'-sK');
  // .gen-w-frac( 8; ~'-sK');
  // .gen-w-frac(10; ~'-sK');

  .a-w-10o10-sK,
  .a-w-8o8-sMK,
  .a-w-6o6-sK,
  .a-w-5o5-sK,
  .a-w-4o4-sK,
  .a-w-3o3-sK,
  .a-w-2o2-sK,
  .a-w-1o1-sK  { .a-w-1o1; }
  .a-w-5o10-sK,
  .a-w-3o6-sK,
  .a-w-2o4-sK,
  .a-w-4o8-sK,
  .a-w-1o2-sK  { .a-w-1o2; }
  .a-w-2o6-sK,
  .a-w-1o3-sK  { .a-w-1o3; }
  .a-w-4o6-sK,
  .a-w-2o3-sK  { .a-w-2o3; }
  .a-w-2o8-sK,
  .a-w-1o4-sK  { .a-w-1o4; }
  .a-w-6o8-sK,
  .a-w-3o4-sK  { .a-w-3o4; }
  .a-w-2o10-sK,
  .a-w-1o5-sK  { .a-w-1o5; }
  .a-w-4o10-sK,
  .a-w-2o5-sK  { .a-w-2o5; }
  .a-w-6o10-sK,
  .a-w-3o5-sK  { .a-w-3o5; }
  .a-w-8o10-sK,
  .a-w-4o5-sK  { .a-w-4o5; }
  .a-w-1o6-sK  { .a-w-1o6; }
  .a-w-5o6-sK  { .a-w-5o6; }
  .a-w-1o8-sK  { .a-w-1o8; }
  .a-w-3o8-sK  { .a-w-3o8; }
  .a-w-5o8-sK  { .a-w-5o8; }
  .a-w-7o8-sK  { .a-w-7o8; }
  .a-w-1o10-sK { .a-w-1o10; }
  .a-w-3o10-sK { .a-w-3o10; }
  .a-w-7o10-sK { .a-w-7o10; }
  .a-w-9o10-sK { .a-w-9o10; }

  .gen-w-px(~'-sK');
  .gen-w-em(~'-sK');
}
@media screen and (min-width: 45em) {
  .a-w-z-sM { .a-w-z; }

  // .gen-w-frac( 1; ~'-sM');
  // .gen-w-frac( 2; ~'-sM');
  // .gen-w-frac( 3; ~'-sM');
  // .gen-w-frac( 4; ~'-sM');
  // .gen-w-frac( 5; ~'-sM');
  // .gen-w-frac( 6; ~'-sM');
  // .gen-w-frac( 8; ~'-sM');
  // .gen-w-frac(10; ~'-sM');

  .a-w-10o10-sM,
  .a-w-8o8-sM,
  .a-w-6o6-sM,
  .a-w-5o5-sM,
  .a-w-4o4-sM,
  .a-w-3o3-sM,
  .a-w-2o2-sM,
  .a-w-1o1-sM  { .a-w-1o1; }
  .a-w-5o10-sM,
  .a-w-3o6-sM,
  .a-w-2o4-sM,
  .a-w-4o8-sM,
  .a-w-1o2-sM  { .a-w-1o2; }
  .a-w-2o6-sM,
  .a-w-1o3-sM  { .a-w-1o3; }
  .a-w-4o6-sM,
  .a-w-2o3-sM  { .a-w-2o3; }
  .a-w-2o8-sM,
  .a-w-1o4-sM  { .a-w-1o4; }
  .a-w-6o8-sM,
  .a-w-3o4-sM  { .a-w-3o4; }
  .a-w-2o10-sM,
  .a-w-1o5-sM  { .a-w-1o5; }
  .a-w-4o10-sM,
  .a-w-2o5-sM  { .a-w-2o5; }
  .a-w-6o10-sM,
  .a-w-3o5-sM  { .a-w-3o5; }
  .a-w-8o10-sM,
  .a-w-4o5-sM  { .a-w-4o5; }
  .a-w-1o6-sM  { .a-w-1o6; }
  .a-w-5o6-sM  { .a-w-5o6; }
  .a-w-1o8-sM  { .a-w-1o8; }
  .a-w-3o8-sM  { .a-w-3o8; }
  .a-w-5o8-sM  { .a-w-5o8; }
  .a-w-7o8-sM  { .a-w-7o8; }
  .a-w-1o10-sM { .a-w-1o10; }
  .a-w-3o10-sM { .a-w-3o10; }
  .a-w-7o10-sM { .a-w-7o10; }
  .a-w-9o10-sM { .a-w-9o10; }

  .gen-w-px(~'-sM');
  .gen-w-em(~'-sM');
}
@media screen and (min-width: 60em) {
  .a-w-z-sG { .a-w-z; }

  // .gen-w-frac( 1; ~'-sG');
  // .gen-w-frac( 2; ~'-sG');
  // .gen-w-frac( 3; ~'-sG');
  // .gen-w-frac( 4; ~'-sG');
  // .gen-w-frac( 5; ~'-sG');
  // .gen-w-frac( 6; ~'-sG');
  // .gen-w-frac( 8; ~'-sG');
  // .gen-w-frac(10; ~'-sG');

  .a-w-10o10-sG,
  .a-w-8o8-sG,
  .a-w-6o6-sG,
  .a-w-5o5-sG,
  .a-w-4o4-sG,
  .a-w-3o3-sG,
  .a-w-2o2-sG,
  .a-w-1o1-sG  { .a-w-1o1; }
  .a-w-5o10-sG,
  .a-w-3o6-sG,
  .a-w-2o4-sG,
  .a-w-4o8-sG,
  .a-w-1o2-sG  { .a-w-1o2; }
  .a-w-2o6-sG,
  .a-w-1o3-sG  { .a-w-1o3; }
  .a-w-4o6-sG,
  .a-w-2o3-sG  { .a-w-2o3; }
  .a-w-2o8-sG,
  .a-w-1o4-sG  { .a-w-1o4; }
  .a-w-6o8-sG,
  .a-w-3o4-sG  { .a-w-3o4; }
  .a-w-2o10-sG,
  .a-w-1o5-sG  { .a-w-1o5; }
  .a-w-4o10-sG,
  .a-w-2o5-sG  { .a-w-2o5; }
  .a-w-6o10-sG,
  .a-w-3o5-sG  { .a-w-3o5; }
  .a-w-8o10-sG,
  .a-w-4o5-sG  { .a-w-4o5; }
  .a-w-1o6-sG  { .a-w-1o6; }
  .a-w-5o6-sG  { .a-w-5o6; }
  .a-w-1o8-sG  { .a-w-1o8; }
  .a-w-3o8-sG  { .a-w-3o8; }
  .a-w-5o8-sG  { .a-w-5o8; }
  .a-w-7o8-sG  { .a-w-7o8; }
  .a-w-1o10-sG { .a-w-1o10; }
  .a-w-3o10-sG { .a-w-3o10; }
  .a-w-7o10-sG { .a-w-7o10; }
  .a-w-9o10-sG { .a-w-9o10; }

  .gen-w-px(~'-sG');
  .gen-w-em(~'-sG');
}
@media screen and (min-width: 75em) {
  .a-w-z-sT { .a-w-z; }

  // .gen-w-frac( 1; ~'-sT');
  // .gen-w-frac( 2; ~'-sT');
  // .gen-w-frac( 3; ~'-sT');
  // .gen-w-frac( 4; ~'-sT');
  // .gen-w-frac( 5; ~'-sT');
  // .gen-w-frac( 6; ~'-sT');
  // .gen-w-frac( 8; ~'-sT');
  // .gen-w-frac(10; ~'-sT');

  .a-w-10o10-sT,
  .a-w-8o8-sT,
  .a-w-6o6-sT,
  .a-w-5o5-sT,
  .a-w-4o4-sT,
  .a-w-3o3-sT,
  .a-w-2o2-sT,
  .a-w-1o1-sT  { .a-w-1o1; }
  .a-w-5o10-sT,
  .a-w-3o6-sT,
  .a-w-2o4-sT,
  .a-w-4o8-sT,
  .a-w-1o2-sT  { .a-w-1o2; }
  .a-w-2o6-sT,
  .a-w-1o3-sT  { .a-w-1o3; }
  .a-w-4o6-sT,
  .a-w-2o3-sT  { .a-w-2o3; }
  .a-w-2o8-sT,
  .a-w-1o4-sT  { .a-w-1o4; }
  .a-w-6o8-sT,
  .a-w-3o4-sT  { .a-w-3o4; }
  .a-w-2o10-sT,
  .a-w-1o5-sT  { .a-w-1o5; }
  .a-w-4o10-sT,
  .a-w-2o5-sT  { .a-w-2o5; }
  .a-w-6o10-sT,
  .a-w-3o5-sT  { .a-w-3o5; }
  .a-w-8o10-sT,
  .a-w-4o5-sT  { .a-w-4o5; }
  .a-w-1o6-sT  { .a-w-1o6; }
  .a-w-5o6-sT  { .a-w-5o6; }
  .a-w-1o8-sT  { .a-w-1o8; }
  .a-w-3o8-sT  { .a-w-3o8; }
  .a-w-5o8-sT  { .a-w-5o8; }
  .a-w-7o8-sT  { .a-w-7o8; }
  .a-w-1o10-sT { .a-w-1o10; }
  .a-w-3o10-sT { .a-w-3o10; }
  .a-w-7o10-sT { .a-w-7o10; }
  .a-w-9o10-sT { .a-w-9o10; }

  .gen-w-px(~'-sT');
  .gen-w-em(~'-sT');
}
