
/*################################*\
    conf  |  _base.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.module.fontsize.less');
@import (reference) url('../node_modules/xmeter/src/__tool.module.borders.less');
@import (reference) url('__settings.less');


/**
 * # CONTENTS
 *
 * GENERIC........................far-reaching page-wide selectors
 * SECTIONS.......................sections, articles, headers, footers, headings
 * GROUPING.......................paragraphs, lists, tables
 * TEXT...........................phrasing (inline) content and links
 * FORMS..........................form elements
 * EMBEDDED.......................images, videos
 * INTERACTIVE....................user-interactive HTML elements
 */


//++++++++++++++++++++++++++++++++//
//    # GENERIC
//++++++++++++++++++++++++++++++++//
//++++ end # GENERIC ++++//
//++++++++++++++++++++++++++++++++//
//    # SECTIONS
//++++++++++++++++++++++++++++++++//
body {
  font-family: @g-fontfam_body;
  background: @g-color_asce_white;
  color: @g-color_asce_black;
}
h1, h2, h3, h4, h5, h6 {
  font-family: @g-fontfam_hn;
  font-weight: 900;
  color: @g-color_site_primary;
}
h1 {
  text-align: center;
}
//++++ end # SECTIONS ++++//


//++++++++++++++++++++++++++++++++//
//    # GROUPING
//++++++++++++++++++++++++++++++++//
  //--------------------------------//
  //    # Paragraphs
  //--------------------------------//
  //---- end # Paragraphs ----//

  //--------------------------------//
  //    # Lists
  //--------------------------------//
  ul {
    list-style-type: circle;
    li & {
      list-style-type: disc;
    }
  }
  //---- end # Lists ----//

  //--------------------------------//
  //    # Tables
  //--------------------------------//
  table {
    width: 100%;
    .font-size-block(0.75);
  }
  thead,
  tfoot {
    background-color: @g-color_asce_table_bground;
    font-weight: 600;
    .font-size-block(0.875);
  }
  th,
  td {
    padding: (0.5 * @g-vru) 0.5rem;
    border: 0 solid @g-color_asce_table_border;
    border-width: 0 0 1px;
  }
  //---- end # Tables ----//
//++++ end # GROUPING ++++//


//++++++++++++++++++++++++++++++++//
//    # TEXT
//++++++++++++++++++++++++++++++++//
  //--------------------------------//
  //    # Links
  //--------------------------------//
  a {
    color: @g-color_site_secondary;
    &:hover,
    &:focus {
      color: @g-color_site_gray_lt;
    }
    &:active {
      color: inherit;
    }
  }
  //---- end # Links ----//

  //--------------------------------//
  //    # Stress
  //--------------------------------//
  //---- end # Stress ----//

  //--------------------------------//
  //    # Doc
  //--------------------------------//
  //---- end # Doc ----//

  //--------------------------------//
  //    # Data
  //--------------------------------//
  //---- end # Data ----//

//++++ end # TEXT ++++//


//++++++++++++++++++++++++++++++++//
//    # FORMS
//++++++++++++++++++++++++++++++++//
// TODO REDO ALL OF THIS SHIT
form {
  display: inline-block;
  width: 100%;
  background-color: @g-color_asce_form_bground;
  padding: 20px 20px 0;
  margin-bottom: 20px;
}
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
  border-radius: 1px;
  border: 1px solid #b3b8bc;  // okay random color
  box-shadow: inset 0px 1px 2px #e8eaeb;  // okay random color
  outline: none;
  padding: 8px;
  background: #fff;
  margin-bottom: 20px;
  width: 100%;
  height: 38px;
  &:focus {
    border-color: #97d5e9; // okay random color CAN WE PLEASE USE VARIABLES
  }
}
label {
  display: block;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
}
button {
  font-family: @g-font_ui;
}
//++++ end # FORMS ++++//


//++++++++++++++++++++++++++++++++//
//    # EMBEDDED
//++++++++++++++++++++++++++++++++//
//++++ end # EMBEDDED ++++//


//++++++++++++++++++++++++++++++++//
//    # INTERACTIVE
//++++++++++++++++++++++++++++++++//
//++++ end # INTERACTIVE ++++//
