
/*################################*\
    conf  |  _c-Hero.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fontsize.less');


// Promo for any year’s conference.
// May appear on front page or as an aside for other year conference.
//
// ^subcomponents
// __Name   - conference name
// __Detail - contains place and/or dates of conference
// __Place  - place of conference
// __Dates  - dates of conference
// __Blurb  - paragraph containing add’l text and/or Theme
// __Theme  - conference theme
// ^author
// Chris Harvey
// ^updated
// 2016-10-21
.c-ConfHed {
  text-align: center;
}

.c-ConfHed__Name {
}

.c-ConfHed__Detail {
  font-weight: 600;
  .font-size-el(@g-font_size_mega; 2);
  white-space: nowrap;
}

.c-ConfHed__Place {
  @media screen and (min-width: 45em) {
    padding-right: 2rem;
    // border-right: 1px solid;
    margin-right: 2rem;
  }
}
.c-ConfHed__Dates {
}

.c-ConfHed__Blurb {
  // FIXME use .-d-n-nsM on Element instead?
  @media screen and (max-width: 44.999em) {
    display: none;
  }
}

.c-ConfHed__Theme {
  .font-size-el(1.5; 2);
  font-style: italic;
}
