
/*################################*\
    conf  |  _c-MenuBar.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__fallback.flexbox.less');
@import (reference) url('../node_modules/xmeter/src/__fallback.transform.less');
@import (reference) url('../node_modules/xmeter/src/__fallback.transform-origin.less');
@import (reference) url('../node_modules/xmeter/src/__fallback.transition.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fontsize.less');
@import (reference) url('__settings.less');
@import (reference) url('__tool.menubar.less');


// Main-level navigation for current year site.
//
// ^subcomponents
// __Item - each item in the list
// __Link - each link inside an __Item in the menu
// ^author
// Chris Harvey
// ^updated
// 2016-10-13
.c-MenuBar {
  --link-color-hover: var(--color-secondary);
  .flex-justify-content(flex-start); // override .o-Flex `space-between`
  .menubar();
  @media screen and (max-width: (@g-bp_menu_main_normaltext - 1)) {
    .flex-justify-content(space-around);
    text-align: center;
  }
}

.c-MenuBar__Item {
  @trans_dura: 250ms;
  .flex(0 0 auto);
  .transition(background-color @trans_dura);
  &:hover,
  &._hover {
    color: @g-color-gray_dk; // HACK fallback
    color: var(--color-gray_dk);
  }
  &:hover,
  &._hover,
  .c-MenuBar__Sub {
    background-color: @g-color-gray_lt-tint2; // HACK fallback
    background-color: var(--color-gray_lt-tint2);
  }
  .c-MenuBar__Sub {
    .transform-origin(left top);
    .transitions(@g-prefix_transform, opacity; @trans_dura);
  }
  &:not(:hover) .c-MenuBar__Sub {
    .transform(scale(0));
    opacity: 0;
  }
}

.c-MenuBar__Link {
  padding: @g-boxpadd_mill;
}
