
/*################################*\
    conf  |  _c-Mast.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.borders.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fontsize.less');
@import (reference) url('__settings.less');


// Masthead header and footer banners across entire site.
//
// ^subclasses
// --copyright - the copyright footline
// --internal  - masthead for internal pages
// ^subcomponents
// __MenuButtonContainer - hamburger menu button
// ^author
// Chris Harvey
// ^updated
// 2016-04-27
.c-Mast {
  .font-size-mod(14/16);
  background-color: @g-color_site_gray_dk;
  color: @g-color_asce_white;
  border-color: @g-color_site_primary;
  h1,
  a:not(:hover):not(:focus):not(._hover) {
    color: inherit;
  }
  .c-MenuTop,
  .c-MenuMain,
  .c-MenuSub,
  .c-Sitemap,
  .c-Sitemap__SubList {
    margin-bottom: 0; // override `.font-size-mod() >> h1` and `.font-size-mod() >> ul`
  }
}

// Masthead for internal pages
//
// ^author
// Chris Harvey
// ^updated
// 2016-04-24
.c-Mast--internal {
  background-color: @g-color_site_primary;
  a:not(:active):not(._active) {
    &:hover,
    &:focus,
    &._hover {
      color: @g-color_site_gray_dk;
    }
  }
}

// Copyright footline.
//
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-Mast--copyright {
  .border-vert(top; 2px);
  text-align: center;
  background-image: none; // this is the ASCE logo
}
// .asce-logo {
//   display: inline-block;
//   width: 73px;  // magic nummmmmmmbers
//   height: 23px; // magic nummmmmmmbers
//   margin-right: 10px;
//   vertical-align: middle;
//   background-image: url('../img/asce-logo-footer-small.png');
//   @media screen and (min-width: 45em) {
//     width: 233px; // magic numberrrrrrrrrs
//     height: 30px; // magic numberrrrrrrrrs
//     background-image: url('../img/asce-logo-footer.png');
//   }
// }
