
/*################################*\
    conf  |  _c-MenuUniversal.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__fallback.flexbox.less');
@import (reference) url('__settings.less');
@import (reference) url('__tool.menubar.less');


// Site-wide navigation menu (both mobile and desktop)
// This is not a "universal menu;" this is simply
// a menu whose name happens to be "Universal."
// This component is dependent on the Flex Object.
//
// ^subcomponents
// __Item - each item in the list
// __Link - each link inside an __Item in the menu
// __Link--current - link to the current convention (home) page
// ^author
// Chris Harvey
// ^updated
// 2016-07-14
.c-MenuUniversal {
  .flex-justify-content(flex-end);
  .menubar();
  @media screen and (max-width: 44.999em) {
    .flex-direction(column);
    a {
      &:hover,
      &:focus,
      &:active {
        color: @g-color_site_gray_lt;
        background-color: @g-color_asce_white;
      }
    }
  }
  @media screen and (min-width: 45em) {
    .flex-align-items(center); // vertical alignment
  }
}

.c-MenuUniversal__Item {
  .flex(0 0 auto);
}

.c-MenuUniversal__Link {
  padding: @g-boxpadd_norm;
  @media screen and (min-width: 45em) {
    padding: @g-boxpadd_mill;
  }
}

.c-MenuUniversal__Link--current {
  // colors copied directly from `.c-Btn.c-Btn--primary`
  // HACK (can’t use that component because of padding and display issues)
  @media screen and (min-width: 45em) {
    border-radius: 0.25rem; // same as `.c-Btn`
  }
  background-color: @g-color_site_primary;
  &,
  &:hover,
  &:focus,
  &:active,
  &._hover,
  &._active {
    color: @g-color_asce_white;
  }
  &:hover,
  &:focus,
  &._hover {
    background-color: darken(@g-color_site_primary, 25%, relative);
  }
  &:active,
  &._active {
    background-color: darken(@g-color_site_primary, 50%, relative);
  }
}
