
/*################################*\
    conf  |  _c-Overlay.less
\*################################*/
@import (reference) url('__settings.less');


// Adds a background dark translucency to a group of elements.
// Useful for when this group has text and is a child of
// another element that has a background image (e.g. a banner).
//
// ^subclasses
// --callout - as a callout (just narrower)
// --inv - opposite color backgorund
// ^author
// Chris Harvey
// ^updated
// 2016-05-06
@p-color-bg-dark: fadeout(#000, 37.5%);
@p-color-bg-lite: fadeout(#fff, 37.5%);
@p-color-txt-dark: fadeout(#000, 12.5%);
@p-color-txt-lite: fadeout(#fff, 12.5%);
.c-Overlay {
  padding: @g-boxpadd_micr;
  margin-left:  auto;
  margin-right: auto;
  background-color: @p-color-bg-dark;
  color: @p-color-txt-lite;
  @media screen and (min-width: 30em) { padding: @g-boxpadd_mill; }
  @media screen and (min-width: 45em) { padding: @g-boxpadd_norm; }
  @media screen and (min-width: 60em) { padding: @g-boxpadd_kilo; }
}

// .c-Overlay--callout {
//   // use `.-w-3o4-sM` instead
//   @media screen and (min-width: 45em) {
//     width: 75%;
//   }
// }

.c-Overlay--inv {
  background-color: @p-color-bg-lite;
  color: @p-color-txt-dark;
}

// An overlay that is a link.
// Semantically equivalent to `a.c-Overlay`, but with lower specificity.
//
// ^author
// Chris Harvey
// ^updated
// 2016-04-22
// .c-Overlay--link {
//   &,
//   &:hover,
//   &:focus {
//     color: inherit;
//   }
// }
// .c-Overlay--link {
//   border-width: 2px;
//   border-color: transparent;
//   &:hover,
//   &:focus {
//     border-color: @g-color-secondary; // HACK fallback
//     border-color: var(--color-secondary);
//   }
// }
// .c-Btn--hilite,
// .c-Overlay--link {
//   box-shadow: 0 0 1rem 0 @g-color-secondary; // HACK fallback
//   box-shadow: 0 0 1rem 0 var(--color-secondary);
//   &:hover,
//   &:focus {
//     box-shadow: 0 0 1rem 0.5rem @g-color-secondary; // HACK fallback
//     box-shadow: 0 0 1rem 0.5rem var(--color-secondary);
//   }
//   &.c-Btn--hero {
//     box-shadow: 0 0 1rem 0 var(--color-primary);
//     &:hover,
//     &:focus {
//       box-shadow: 0 0 1rem 0.5rem @g-color-primary; // HACK fallback
//       box-shadow: 0 0 1rem 0.5rem var(--color-primary);
//     }
//   }
// }
