
/*################################*\
    conf  |  _c-Program.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__fallback.flexbox.less');
@import (reference) url('../node_modules/xmeter/src/__fallback.transform.less');
@import (reference) url('../node_modules/xmeter/src/__fallback.transition.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fontsize.less');


// A block containing the entire program.
//
// ^subcomponents
// __Hn       - heading for a date
// __Schedule - schedule for a date
// __Check    - a radio button selecting the desired date to view
// ^author
// Chris Harvey
// ^updated
// 2016-05-05
@p-transdura: 500ms;
.c-Program {
  position: relative;
  .flex-justify-content(center);
  .flex-align-content(flex-start); // push flex items to top
  .flex-align-items(flex-start); // minimize height of flex items
  .font-size-mod(14/16); // NOTE this value is used in `TimeBlock.less`
  overflow: hidden;
  .transition(height @p-transdura);
  h1 {
    font-family: inherit;
    color: inherit;
  }
}

.c-Program__Hn,
.c-Program__Schedule {
  .transitions(@g-prefix_transform; @p-transdura);
}
.c-Program__Hn {
  .font-size-el(1);
  cursor: pointer;
  &:not(.c-Program__Hn--selected) {
    color: @g-color-gray_lt; // HACK fallback
    color: var(--color-gray_lt);
  }
  @media screen and (min-width: 30em) {
    .flex(1);
  }
  @media screen and (min-width: 45em) {
    .font-size-el(1.25);
  }
  label {
    cursor: inherit; // override browser default `default`
  }
}
.c-Program__Hn--selected {
  .transform(scale(1.2));
}

// A schedule for events in a date.
//
// ^subclasses
// --js           - use when JS is enabled (for animation)
// --hiddenBefore - the schedule before the one selected
// --hiddenAfter  - the schedule after the one selected
// --shown        - the selected schedule
// ^author
// Chris Harvey
// ^updated
// 2016-05-05
.c-Program__Schedule {
}
.c-Program__Schedule--js {
  position: absolute;
  left: 0; right: 0;
  .flex-order(1);
}
.c-Program__Schedule--hiddenBefore {
  .transform(translateX(-100%) scale(0));
}
.c-Program__Schedule--hiddenAfter {
  .transform(translateX(100%) scale(0));
}
.c-Program__Schedule--shown {
}

.c-Program__Check {
  // can’t use `display:none` due to keyboard selection
  position: absolute;
  opacity: 0;
}
