
/*################################*\
    conf  |  _c-Program.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fontsize.less');
@import (reference) url('__settings.less');


body {
  --heading-color-unselected: var(--color-gray_dk-tint2);
}
.c-Banner {
  --heading-color-unselected: var(--color-gray_lt-shade2);
}
// A heading for a program time block.
// Contains the common date of the sessions.
//
// ^author
// Chris Harvey
// ^updated
// 2017-02-10
.c-ProgramHn {
  // some styles from h1
  font-weight: 900;
  text-align: center;
  color: var(--heading-color);
  @media screen and (min-width: 45em) {
    .font-size-el(1.25);
  }
  &:not(.c-ProgramHn--selected) {
    --heading-color: var(--heading-color-unselected);
    color: @g-color-gray_dk-tint2; // HACK fallback
    color: var(--heading-color); // HACK override
    .c-Banner & {
      color: @g-color-gray_lt-shade2; // HACK fallback
      color: var(--heading-color); // HACK override
    }
  }
}
