
/*################################*\
    conf  |  _c-SponsorBlock.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__fallback.flexbox.less');
@import (reference) url('../node_modules/xmeter/src/__tool.borders.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fontsize.less');
@import (reference) url('__settings.less');


// mixin for setting the `max-width` and `height` of sponsor logos.
// `width` should be intrinsically `auto`
.p-dimensions(@x; @y) {
  max-width: @x;
  height: @y;
}

// A section containing one level of sponsor.
//
// ^subclasses
// --separate - separates this block from a subsequent one
// ^subcomponents
// __Hn       - name of sponsor level ("Platinum", etc.)
// __Logo     - structural styles for sponsor logo. should also be .c-SponsorLogo.
// ^author
// : Chris Harvey
// ^updated
// 2016-04-29

// @p-color_premier:   #b0bbcb; // CH chose this; may be changed at any time <charvey@asce.org>
// @p-color_platinum:  #cde1ec;
// @p-color_gold:      #f8cd79;
// @p-color_corporate: #9ed8f9;
// @p-color_silver:    #dbddde;
// @p-color_bronze:    #d9c5ac;
// @p-color_copper:    #d6a985; // CH chose this; may be changed at any time <charvey@asce.org>
// @p-color_coop_bg:   #e8eaeb; // bgcolor for coop orgs

.c-SponsorBlock {
  text-align: center;
}
.c-SponsorBlock--separate {
  .border-vert(bottom; 1px);
  border-style: solid;
  border-color: @g-color-gray_lt; // HACK fallback
  border-color: var(--color-gray_lt);
}

.c-SponsorBlock__Hn {
  .font-size-el(@g-font_size_h2);
  font-family: inherit;
  color: @g-color-gray_dk; // HACK fallback
  color: var(--color-gray_dk);
}

.c-SponsorBlock__Logo {
  margin: auto;
}
.c-SponsorBlock__Logo--sml {
  .p-dimensions(68px; 36px);
  @media screen and (min-width: 45em) {
    .p-dimensions(140px; 62px);
  }
  @media screen and (min-width: 60em) {
    .p-dimensions(202px; 90px);
  }
}
.c-SponsorBlock__Logo--med {
  .p-dimensions(90px; 48px);
  @media screen and (min-width: 45em) {
    .p-dimensions(188px; 82px);
  }
  @media screen and (min-width: 60em) {
    .p-dimensions(270px; 120px);
  }
}
.c-SponsorBlock__Logo--lrg {
  .p-dimensions(120px; 65px);
  @media screen and (min-width: 45em) {
    .p-dimensions(250px; 110px);
  }
  @media screen and (min-width: 60em) {
    .p-dimensions(360px; 160px);
  }
}
