
/*################################*\
    conf  |  _c-SponsorCarousel.less
\*################################*/
@import (reference) url('__settings.less');


// A section containing one level of sponsor.
//
// ^subcomponents
// __Item  - item in list of sponsors
// __Logo  - sponsor logo image (used on link)
// __Label - label for sponsor level ("Platinum", etc.)
// ^author
// : Chris Harvey
// ^updated
// 2016-06-28

.c-SponsorCarousel {
  text-align: center; // for the small labels
}

.c-SponsorCarousel__Item {
  padding: 0 0.5rem;
  @media screen and (min-width: 45em) {
    padding: 0 1rem;
  }
}

.c-SponsorCarousel__Logo {
  width: auto;
  height: (6*@g-vru);
  text-indent: -999999px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.c-SponsorCarousel__Label {
  font-weight: 800;
  color: @g-color_site_gray_lt;
}


.slick-arrow::before { color: @g-color_asce_black; }
