
/*################################*\
    conf  |  _c-TimeBlock.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__fallback.flexbox.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fontsize.less');


// A list of program events for a single day.
//
// ^subcomponents
// __Times - contains start and end times
// __Desc  - the description
// __Item - (optional) contains both times and description,
//          in case TimeBlock has a list-like structure
// __Link  - link in the description, if any
// ^author
// Chris Harvey
// ^updated
// 2016-05-18
@p-font_size_mod: (14/16); // NOTE taken from `Program.less`
@l-mem: @p-font_size_mod * 1rem; // module em (like root em if the module were the root)
@l-vru: @p-font_size_mod * @g-vru; // module vru
.c-TimeBlock {
  padding: @l-vru @g-boxpadd_kilo_h 0;
}

.c-TimeBlock__Item {
}
.c-TimeBlock__Times,
.c-TimeBlock__Desc {
  padding: 0 @g-boxpadd_kilo_h (2*@l-vru);
  @media screen and (min-width: 30em) {
    .flex(50%);
    max-width: 50%;
  }
}
.c-TimeBlock__Times {
  @media screen and (max-width: 29.999em) {
    font-weight: 300;
    padding-bottom: 0;
  }
  @media screen and (min-width: 30em) {
    text-align: right;
  }
}
.c-TimeBlock__Desc {
  @media screen and (max-width: 29.999em) {
    .font-size-el(1.25);
    font-weight: 600;
  }
}

// Timeline Visualization
@media screen {
  .c-TimeBlock__Times,
  .c-TimeBlock__Desc {
    position: relative; // for psuedo-elements in viz
  }
  .c-TimeBlock__Times::before,
  .c-TimeBlock__Desc:not(.c-TimeBlock__Desc--last)::before {
    content: '';
    display: block;
    position: absolute;
    box-shadow: 0 0 0 1em currentColor inset, 0 0 1em 0 currentColor;
    color: @g-color_site_primary;
  }
  .c-TimeBlock__Times::before {
    // This is the disc on the viz
    @width: @l-mem;
    left: (-0.5 * @width);
    top: (-0.5*@width + 0.5*@l-vru);
    width:  @width;
    height: @width;
    border-radius: 100%;
    @media (min-width: 30em) {
      left: auto;
      right: (-0.5 * @width);
    }
  }
  .c-TimeBlock__Desc:not(.c-TimeBlock__Desc--last)::before {
    // This is the line on the viz
    left: 0;
    top: (-0.5 * @l-vru);
    bottom: (-0.5 * @l-vru);
    border-left: 1px solid;
    @media (min-width: 30em) {
      top: (0.5 * @l-vru);
    }
  }
}

.c-TimeBlock__Link {
  // REVIEW put this with material icon styles?
  position: relative; // for icon in link
}
