
/*################################*\
    conf  |  _comp.SiteTitle.less
\*################################*/
// @import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('__settings.less');


// Area containing the site logo, title, and tagline.
//
// ^subcomponents
// ^author
// Chris Harvey
// ^updated
// 2016-04-19
.c-SiteTitle {
  width: auto;
  padding-left: 0;        // change this on a site-to-site basis for the logo size
  background-image: none; // change this on a site-to-site basis
  background-size: auto 100%;
  background-repeat: no-repeat;
  a&:hover,
  a&:focus {
    color: inherit; // override `.c-Mast >> a`
  }
}
