
/*################################*\
    conf  |  _comp.Copyright.less
\*################################*/


// Copyright footline.
//
// ^subcomponents
// __Link - entire thing with ASCE logo background image
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-Copyright {
  text-align: center;
  background-color: @color_asce_primary;
  color: @color_asce_header_txt;
}
.c-Copyright__Link {
  margin: @conf_vru 1rem;
  background-image: none; // this is the ASCE logo
}
