
/*################################*\
    conf  |  _comp.DateBlock.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.module.borders.less');
@import (reference) url('../node_modules/xmeter/src/__tool.module.fontsize.less');


// A block containing rows of important dates.
// The first column is the date,
// the second column is the description.
//
// ^subcomponents
// __Date - the date
// __Desc - the description
// __Link - link in the description, if any
// ^author
// Chris Harvey
// ^updated
// 2016-04-22
.c-DateBlock {
  width: 75%;
  margin: auto;
  color: @g-color_asce_black;
}

@p-rw: 1px;
.c-DateBlock__Date,
.c-DateBlock__Desc {
  background-color: lighten(@g-color_site_gray_lt, 50%, relative);
  padding: 0 @g-boxpadd_micr_h;
  border-width: 0 @p-rw;
  border-style: solid;
  border-color: @g-color_asce_black;
  @media screen and (min-width: 30em) {
    padding: 0 @g-boxpadd_mill_h;
  }
  @media screen and (min-width: 45em) {
    padding: 0 @g-boxpadd_norm_h;
  }
}

.c-DateBlock__Date {
  padding-top: @g-boxpadd_micr_v;
  white-space: nowrap;
  .border-vert(top, @p-rw);
  @media screen and (min-width: 30em) {
    padding-top: @g-boxpadd_mill_v;
  }
  @media screen and (min-width: 45em) {
    padding-top: @g-boxpadd_norm_v;
  }
}

.c-DateBlock__Desc {
  padding-bottom: @g-boxpadd_micr_v;
  .border-vert(bottom, @p-rw);
  .font-size-block(1.25);
  font-weight: 600;
  margin-bottom: @g-vru;
  @media screen and (min-width: 30em) {
    padding-bottom: @g-boxpadd_mill_v;
  }
  @media screen and (min-width: 45em) {
    padding-bottom: @g-boxpadd_norm_v;
  }
}

.c-DateBlock__Link {
  position: relative; // for icon in link
  .material-icons {
    position: absolute;
    right: 0; top: -0.5em;
  }
}
