
/*################################*\
    conf  |  _comp.MenuStandard.less
\*################################*/
@import (reference) url('__settings.less');


// Top-level navigation for current year site.
//
// ^subcomponents
// __Item - each item in the list
// __Link - each link inside an __Item in the menu
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-MenuStandard {
  position: relative; // for the NavSubmenu positioning
  margin-bottom: 0;
  background-color: @g-color_site_secondary;
}
.c-MenuStandard__Item {
  width: auto;
  margin: @g-boxpadd_mill;
}
.c-MenuStandard__Link {
  padding: @g-boxpadd_micr;
  border: 1px outset transparent;
  @media screen and (min-width: 45em) {
    .c-MenuStandard__Item:hover & {
      border-color: @g-color_site_accent;
      background-color: #fff;
    }
  }
}
