
/*################################*\
    conf  |  _comp.Banner.less
\*################################*/
@import (reference) url('__settings.less');


// Any major section on any page with a full-width background image.
//
// ^subclasses
// --landing  - Hero section on the Landing page
// --home     - 〃 Home page
// --location - 〃 Hotel & Travel page
// --prev     - banner for previous year’s conference
// --next     - banner for next year’s conference
// ^subcomponents
// ^author
// Chris Harvey
// ^updated
// 2016-04-04
.c-Banner {
  position: relative;
  color: @g-color_asce_header_txt;
  &::before {
    content: '\00a0';
    display: block;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    @filter: blur(2px);
    -webkit-filter: @filter;
       -moz-filter: @filter;
         -o-filter: @filter;
        -ms-filter: @filter;
            filter: @filter;
  }
}
// set background-images in site-specific stylesheet
.c-Banner--landing::before {}
.c-Banner--prev::before {}
.c-Banner--next::before {}
.c-Banner--home::before {}
.c-Banner--location::before {}
