
/*################################*\
    conf  |  _comp.Btn.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.filter.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.transition.less');
@import (reference) url('__settings.less');
@import (reference) url('__tool.module.menubar.less');


// A mixin for link-like buttons.
// used on ghost buttons and flat buttons.
.p-linklike() {
  &,
  &:hover,
  &:focus,
  &:active,
  &._hover,
  &._active {
    background: none;
  }
  &:hover,
  &:focus,
  &._hover {
    color: @g-color_site_gray_lt; // same as normal link
  }
  &:active,
  &._active {
    color: inherit; // same as normal link
  }
}

// Buttons.
//
// ^subclasses
// --hilite   - singular button in highlight block
// --inline   - buttons inline with text
// --hero     - for action button(s) in hero section
// --dominant - button for some other primary use
// --ghost    - ghost button (border and text only)
// --flat     - button element to look like a regular link
// --drawer   - structural styles for menu buttons in site masthead
// ^enhancement classes
// : subclasses used only in the styleguide (not on the conference sites)
// : ._hover  - indicates hover/focus state
// : ._active - indicates active/pressed state
// ^author
// Chris Harvey
// ^updated
// 2016-05-13
.c-Btn {
  // all button styles
  display: inline-block;
  vertical-align: middle;
  padding: @g-boxpadd_mill;
  margin-top: 0; // FIXME override negative margin-top from xmeter
  font-weight: 700;
  border-radius: 0.25rem;
  cursor: pointer;
  .transition-duration(250ms);
  a&:not([href]),
  button&:disabled {
    opacity: 0.75; // override xmeter
    cursor: not-allowed;
  }
  // resets
  &,
  &:hover,
  &:focus,
  &:active,
  &._hover,
  &._active {
    &:not(.c-Btn--flat) {
      .filter();
    }
  }
}
.c-Btn {
  // generic button color styles
  background-color: lighten(@g-color_site_gray_lt, 25%, relative);
  &,
  &:hover,
  &:focus,
  &:active,
  &._hover,
  &._active {
    color: #000;
  }
  &:hover,
  &:focus,
  &._hover {
    background-color: @g-color_site_gray_lt;
  }
  &:active,
  &._active {
    background-color: darken(@g-color_site_gray_lt, 25%, relative);
  }
  a&:not([href]),
  button&:disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: #eee;
      color: #bbb;
    }
  }
}

.c-Btn--hilite {
  padding: @g-boxpadd_mill_v @g-boxpadd_kilo_h;
  border-width: 2px;
  font-size: 1.5em;
}

.c-Btn--inline {
  display: inline;
  padding: 0 @g-boxpadd_micr_h;
  font-size: 0.75em;
  line-height: 0;
  white-space: nowrap;
  border-radius: 0.25em;
}

.c-Btn--dark {
  background-color: darken(@g-color_site_gray_dk, 25%, relative);
  &,
  &:hover,
  &:focus,
  &:active,
  &._hover,
  &._active {
    color: #fff;
  }
  &:hover,
  &:focus,
  &._hover {
    background-color: @g-color_site_gray_dk;
  }
  &:active,
  &._active {
    background-color: lighten(@g-color_site_gray_dk, 25%, relative);
  }
}

.c-Btn--primary,
.c-Btn--secondary {
  &,
  &:hover,
  &:focus,
  &:active,
  &._hover,
  &._active {
    color: #fff;
  }
  &:active,
  &._active {
    background-color: @g-color_site_gray_dk;
  }
}

.c-Btn--primary {
  background-color: @g-color_site_primary;
}

.c-Btn--secondary {
  background-color: @g-color_site_secondary;
}


.l-ghost(@color; @hovercolor; @hoverbgcolor) {
  color: @color;
  border: 2px solid @color;
  &:hover,
  &:focus,
  &:active,
  &._hover,
  &._active {
    color: @hovercolor;
    background-color: @hoverbgcolor;
  }
}

.c-Btn--ghost,
.c-Btn--ghostDark {
  background-color: transparent;
}

.c-Btn--ghost {
  .l-ghost(@g-color_site_gray_dk; @g-color_asce_white; @g-color_site_gray_dk);
}

.c-Btn--ghostDark {
  .l-ghost(@g-color_asce_white; @g-color_site_gray_dk; @g-color_asce_white);
}


.c-Btn--drawer {
  padding: @g-boxpadd_micr;
  margin: @g-boxpadd_mill;
  color: inherit; // override `.c-Btn`
}

.c-Btn--drawer--close {
  position: absolute;
  top: 0; right: 0;
  z-index: 2; // over MenuUniversal
}
