
/*################################*\
    conf  |  _comp.MenuUniversal.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('__settings.less');


// Conference-wide navigation menu (both mobile and desktop)
// NOTE this is not a “universal menu;” this is simply
// a menu whose name happens to be “Universal.”
//
// ^subcomponents
// __Item - each item in the list
// __Link - each link inside an __Item in the menu
// __Link--current - link to the current convention (home) page
// ^author
// Chris Harvey
// ^updated
// 2016-03-04
.c-MenuUniversal {
  .flex-align-content(flex-start);
  margin-bottom: 0;
  @media screen and (max-width: 44.999em) {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    width: 10em;
    height: 100%;
    background-color: @g-color_site_secondary;
  }
  // @media screen and (min-width: 45em) {
  //   width: auto;
  // }
}
.c-MenuUniversal__Item {
  margin: @g-boxpadd_micr;
  @media screen and (min-width: 45em) {
    width: auto;
  }
}
.c-MenuUniversal__Link {
  padding: @g-boxpadd_micr;
  border: 1px solid transparent;
  border-radius: (0.25 * @g-vru);
  @media screen and (min-width: 45em) {
    &:hover {
      border-color: currentColor;
    }
  }
}
.c-MenuUniversal__Link--current {
  background-color: green; // TODO decide later
  color: white; // TODO decide later
}
