
/*################################*\
    conf  |  _comp.MenuStandard.less
\*################################*/
@import (reference) url('__settings.less');


// Top-level navigation for current year site.
//
// ^subcomponents
// __Item - each item in the list
// __Link - each link inside an __Item in the menu
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-MenuStandard {
  position: relative; // for the NavSubmenu positioning
  margin-bottom: 0; // override `ul`
}
.c-MenuStandard__Item {
  width: auto;
  margin: 0 @g-boxpadd_mill_h;
  &:hover,
  &:focus {
    // so when mouse cursor leaves link but enters submenu
    background-color: @g-color_asce_white;
    color: @g-color_site_primary;
  }
}
.c-MenuStandard__Link {
  padding: @g-boxpadd_micr;
  &:hover,
  &:focus {
    color: @g-color_asce_black;
  }
  &:active {
    color: inherit;
  }
}
