
/*################################*\
    conf  |  _comp.SiteTitle.less
\*################################*/
// @import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('__settings.less');


// Area containing the site logo, title, and tagline.
//
// ^subcomponents
// __Logo    - holds the conference logo or institute shield
// __Name    - the name of the entire site
// __Tagline - site tagline
// ^author
// Chris Harvey
// ^updated
// 2016-04-19
.c-SiteTitle {
  width: auto;
  @media screen and (min-width: 52em) {
    width: 50%;
  }
  a&:hover,
  a&:focus {
    color: inherit; // override `.c-Mast >> a`
  }
}

.c-SiteTitle__Logo {
  background-image: none; // change this on a site-to-site basis
  background-size: contain;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.c-SiteTitle__Name,
.c-SiteTitle__Tagline {
  padding-bottom: @g-vru;
  margin: 0;
  white-space: nowrap;
}
.c-SiteTitle__Name {
  text-align: inherit; // override h1 center
}
.c-SiteTitle__Tagline {
  @media screen and (max-width: 44.999em) {
    display: none;
  }
}
