
/*################################*\
    conf  |  _comp.Btn.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.module.fontsize.less');
@import (reference) url('__settings.less');


// Buttons.
// (e.g. Student, Speaker, Standard, etc.)
//
// ^subclasses
// --hero   - for action button(s) in hero section
// --hilite - for singular button in highlight block
// --inline - for buttons inline with text
// ^author
// Chris Harvey
// ^updated
// 2016-04-20


.c-Btn {
  display: inline-block;
  padding: @g-boxpadd_mill;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid;
  cursor: pointer;
}
a.c-Btn {
  opacity: 1; // HACK specificity
}

.c-Btn {
  color: @g-color_site_secondary;
  border-color: currentColor;
  background-color: @g-color_asce_white;
  &:hover,
  &:focus {
    color: @g-color_site_gray_dk;
    background-color: mix(@g-color_asce_white, @g-color_site_gray_lt);
  }
  &:active {
    color: @g-color_asce_black;
    background-color: @g-color_site_gray_lt;
  }
}

.c-Btn--hilite {
  padding: @g-boxpadd_norm_v @g-boxpadd_kilo_h;
  border-width: 2px;
  .font-size-block(1.5);
}

// .c-Btn--hero {
//   font-weight: bold;
//   color: @g-color_asce_white;
//   border-width: 2px;
//   border-color: @g-color_site_primary;
//   &,
//   &:hover,
//   &:focus,
//   &:active {
//     background-color: transparent; // override above
//   }
//   &:hover,
//   &:focus {
//     color: @g-color_site_primary;
//   }
//   &:active {
//     color: @g-color_asce_white;
//     border-color: currentColor;
//   }
// }

.c-Btn--hero {
  font-weight: bold;
  background: @g-color_site_primary;
  border: 0;
  color: @g-color_asce_white;
}

.c-Btn--inline {
  display: inline; // override .c-Btn
  line-height: 0;
  padding: 0 @g-boxpadd_micr_h;
  // border-radius: 0.25em;
}
