
/*################################*\
    conf  |  _comp.MenuUniversal.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('__settings.less');


// Conference-wide navigation menu (both mobile and desktop)
// NOTE this is not a “universal menu;” this is simply
// a menu whose name happens to be “Universal.”
//
// ^subcomponents
// __Item - each item in the list
// __Link - each link inside an __Item in the menu
// __Link--current - link to the current convention (home) page
// ^author
// Chris Harvey
// ^updated
// 2016-04-19
.c-MenuUniversal {
  .flex-align-content(flex-start); // override 'stretch'
  margin-bottom: 0;
  color: @g-color_asce_header_txt;
  @media screen and (max-width: 44.999em) {
    position: fixed;
    right: 0; top: 0;
    z-index: 10;
    width: 10em;
    height: 100%;
    background-color: @g-color_site_gray_lt;
  }
}
.c-MenuUniversal__Item {
  margin: @g-boxpadd_micr;
  @media screen and (min-width: 45em) {
    width: auto;
  }
}
.c-MenuUniversal__Link {
  padding: @g-boxpadd_mill;
  @media screen and (max-width: 44.999em) {
    &:hover,
    &:focus {
      background-color: #fff;
    }
    &:active {
      background-color: #fff;
      color: @g-color_site_gray_lt;
    }
  }
}
.c-MenuUniversal__Link--current {
  background-color: @g-color_site_primary;
  &:hover,
  &:focus,
  &:active {
    color: @g-color_asce_body_txt;
  }
}
