
/*################################*\
    conf  |  _comp.Mast.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.module.borders.less');
@import (reference) url('../node_modules/xmeter/src/__tool.module.fontsize.less');
@import (reference) url('__settings.less');


// Masthead header and footer banners across entire site.
//
// ^subclasses
// --copyright - the copyright footline
// --internal  - masthead for internal pages
// ^subcomponents
// __MenuButtonContainer - hamburger menu button
// ^author
// Chris Harvey
// ^updated
// 2016-04-27
.c-Mast {
  .font-size-mod(14/16);
  background-color: @g-color_site_gray_dk;
  color: @g-color_asce_white;
  h1,
  a:not(:hover):not(:focus):not(:active) {
    color: inherit;
  }
  .c-MenuUniversal,
  .c-MenuStandard,
  .c-MenuSub,
  .c-Sitemap,
  .c-Sitemap__SubList {
    // HACK override `.font-size-mod() >> h1` and `.font-size-mod() >> ul`
    margin-bottom: 0;
  }
}

// Copyright footline.
//
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-Mast--copyright {
  .border-vert(top; 2px);
  border-color: @g-color_site_primary;
  text-align: center;
  background-image: none; // this is the ASCE logo
}

// Masthead for internal pages
//
// ^author
// Chris Harvey
// ^updated
// 2016-04-24
.c-Mast--internal {
  background-color: @g-color_site_primary;
  a:not(:active) {
    &:hover,
    &:focus {
      color: @g-color_site_gray_dk;
    }
  }
}
