
/*################################*\
    conf  |  _comp.RegisterFinePrint.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
// @import (reference) url('../node_modules/xmeter/src/__tool.module.fontsize.less');
@import (reference) url('__settings.less');
// @import (reference) url('_dev.less');


// Fine print under passes in Registration section/page.
// Includes start and end dates of registration periods.
//
// ^subcomponents
// __Item   - an item in the list
// __Body   - pass body containing current registration period
// __Foot   - pass footer containing other registration periods
// __Hn     - name of pass type (e.g. "Standard Pass")
// __Desc   - description of pass type (e.g. "Undergraduates 18–24")
// __Fine   - fine print (additional to description)
// __Period - a registration period. see below.
// ^author
// Chris Harvey
// ^updated
// 2016-05-06
.c-RegisterFinePrint {
  border-style: solid;
  border-width: 1px 0;
}

.c-RegisterFinePrint__Item {
  padding: @g-boxpadd_norm;
  .material-icons {
    display: block;
    font-size: 2.25em;
  }
}
