
/*################################*\
    conf  |  _comp.MenuStandard.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.transition.less');
@import (reference) url('__settings.less');


// Top-level navigation for current year site.
//
// ^subcomponents
// __Item - each item in the list
// __Link - each link inside an __Item in the menu
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-MenuStandard {
  position: relative; // for the NavSubmenu positioning
  margin-bottom: 0; // override `ul`
  a {
    &:hover,
    &:focus {
      color: inherit;
    }
    &:active {
      color: @g-color_asce_black;
    }
  }
}
.c-MenuStandard__Item {
  @trans_dura: 125ms;
  .transition(background-color; @trans_dura);
  width: auto;
  margin: 0 @g-boxpadd_micr_h;
  &:hover,
  & .c-MenuSub {
    background-color: @g-color_site_gray_lt;
  }
  & .c-MenuSub {
    .transition(font-size, background-color; @trans_dura);
  }
  &:not(:hover) .c-MenuSub {
    font-size: 0;
    background-color: transparent;
  }
}
.c-MenuStandard__Link {
  padding: @g-boxpadd_mill;
}
