
/*################################*\
    conf  |  _comp.TimeBlock.less
\*################################*/
// @import (reference) url('../node_modules/xmeter/src/__tool.module.borders.less');
// @import (reference) url('../node_modules/xmeter/src/__tool.module.fontsize.less');


// A list of program events for a single day.
//
// ^subcomponents
// __Times - contains start and end times
// __Desc  - the description
// __Link  - link in the description, if any
// ^author
// Chris Harvey
// ^updated
// 2016-05-18
.c-TimeBlock {
  .flex-align-content(flex-start); // override `stretch`
}

.c-TimeBlock__Times,
.c-TimeBlock__Desc {
  position: relative;
  width: 50%;
  padding: 0.5em 2em;
}

.c-TimeBlock__Times {
  text-align: right;
  white-space: nowrap;
}

.c-TimeBlock__Desc {
}

.c-TimeBlock__Times:not(:last-of-type)::after,
.c-TimeBlock__Desc::before {
  content: '';
  display: block;
  position: absolute;
  box-shadow: 0 0 0 1em currentColor inset, 0 0 1em 0 currentColor;
  color: @g-color_site_primary;
}
.c-TimeBlock__Times:not(:last-of-type)::after {
  right: 0;
  top: 1.5em;
  width: 0;
  height: 100%;
  border-right: 1px solid;
}

.c-TimeBlock__Desc::before {
  @width: 1em;
  left: (-@width/2);
  top: (1.5em - @width/2);
  width:  @width;
  height: @width;
  border-radius: 100%;
}


.c-TimeBlock__Link {
  position: relative; // for icon in link
  .material-icons {
    position: absolute;
    right: 0;
  }
}
