
/*################################*\
    conf  |  _comp.Mast.less
\*################################*/
@import (reference) url('__settings.less');


// Masthead header and footer banners across entire site.
//
// ^subclasses
// --copyright - the copyright footline
// ^subcomponents
// __Link  - link in the mast head / foot
// __Title - title containing conference name and tagline
// __MenuButtonContainer - hamburger menu button
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-Mast {
  background-color: @g-color_site_gray_dk;
  color: @g-color_asce_white;
  h1,
  a {
    color: inherit;
  }
  a {
    &:hover,
    &:focus {
      color: @g-color_site_gray_lt;
    }
    &:active { color: inherit; } // duplicating due to :hover
  }
}

// Menu button masthead.
// Container contains the button
//
// ^subcomponents
// __Button - the actual button
// ^author
// Chris Harvey
// ^updated
// 2016-04-19
.c-Mast__MenuButtonContainer {
  @media screen and (min-width: 45em) {
    display: none;
  }
}
.c-Mast__MenuButtonContainer__Button {
}


// Copyright footline.
//
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-Mast--copyright {
  text-align: center;
  background-image: none; // this is the ASCE logo
}

// Sitemap
//
// ^author
// Chris Harvey
// ^updated
// 2016-04-20
.c-Mast--map {
  background-color: @g-color_site_primary;
  a {
    &:hover,
    &:focus {
      color: @g-color_site_gray_dk;
    }
    &:active { color: inherit; } // duplicating due to :hover
  }
}

// .c-Mast--copyright,
// .c-Mast--map {
//   & a {
//     &:hover,
//     &:focus {
//       color: @g-color_site_gray_lt;
//     }
//   }
// }
