
/*################################*\
    conf  |  _comp.Hero.less
\*################################*/


// Most prominent section or feature on a page.
//
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-Hero {
  margin-left: -@body_padding; margin-right: -@body_padding;
  padding: @boxpadding_T;
  text-align: center;
  background-color: #074d1c;
  background-image: none; // TODO add image
  color: @color_asce_header_txt;
}
