
/*################################*\
    conf  |  _comp.Banner.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.filter.less');
@import (reference) url('__settings.less');


// Any major section on any page with a full-width background image.
//
// ^subclasses
// --landing  - Hero section on the Landing page
// --home     - 〃 Home page
// --location - 〃 Hotel & Travel page
// --prev     - banner for previous year’s conference
// --next     - banner for next year’s conference
// ^subcomponents
// __Overlay  - an element with a translucent background color
// __Hn       - a heading inside a banner section
// __Title    - name and place of prev/next conferences
// __Desc     - small description of prev/next conferences
// ^author
// Chris Harvey
// ^updated
// 2016-04-04
.c-Banner {
  position: relative;
  text-align: center;
  color: @g-color_asce_header_txt;
  &::before {
    // need this for blur effect
    content: '';
    display: block;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
  }
}
.c-Banner--landing,
.c-Banner--home {
  &::before {
    .filter(blur(2px));
  }
}
.c-Banner--location {
  min-height: 9*@g-vru;
}

.c-Banner--prev,
.c-Banner--next {
  @media screen and (max-width: 29.999em) {
    padding: 0;
  }
  @media screen and (max-width: 44.999em) {
    .flex-direction(column);
    .flex-align-items(center);
  }
}

// set background-images in site-specific stylesheet
.c-Banner--landing::before {}
.c-Banner--home::before {}
.c-Banner--location::before {}
.c-Banner--prev::before {}
.c-Banner--next::before {}

.c-Banner__OtherYearDesc {
  @media screen and (max-width: 44.999em) {
    display: none;
  }
}

// Adds a background translucency to an element.
// Useful for when this element has text and is a child of
// another element that has a background image.
//
// ^author
// Chris Harvey
// ^updated
// 2016-04-06
.c-Banner__Overlay {
  padding: @g-boxpadd_micr;
  @media screen and (min-width: 30em) { padding: @g-boxpadd_mill; }
  @media screen and (min-width: 45em) { padding: @g-boxpadd_norm; }
  @media screen and (min-width: 60em) { padding: @g-boxpadd_kilo; }
  @media screen and (min-width: 75em) { padding: @g-boxpadd_mega; }
  @bgc: rgba(0,0,0,0.6);
  @bgc: rgba(255,255,255,0.6); color: initial;
  background-color: @bgc;
  .transition(padding, 250ms);
}

// On an interior page, a heading inside the banner section.
// Right now this is only used on the **Hotel & Travel** page.
//
// ^author
// Chris Harvey
// ^updated
// 2016-04-05
.c-Banner__Hn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: @g-vru 0;
  background-color: rgba(0,0,0,0.5);
}

// Title and Description of prev/next year conferences.
//
// ^author
// Chris Harvey
// ^updated
// 2016-04-06
.c-Banner__Title,
.c-Banner__Desc  { @media screen and (min-width: 30em) { width: 75%; } }
.c-Banner__Title { @media screen and (min-width: 45em) { width: 33.333%; } }
.c-Banner__Desc  { @media screen and (min-width: 45em) { width: 66.667%; } }

.mx-rr-left(@rr)   { border-radius: @rr 0   0   @rr; }
.mx-rr-right(@rr)  { border-radius: 0   @rr @rr 0  ; }
.mx-rr-top(@rr)    { border-radius: @rr @rr 0   0  ; }
.mx-rr-bottom(@rr) { border-radius: 0   0   @rr @rr; }
.c-Banner__Title {
  @media screen and (min-width: 30em) { .mx-rr-top(1rem); }
  @media screen and (min-width: 45em) { .mx-rr-left(1rem); }
  @media screen and (min-width: 60em) { .mx-rr-left(2rem); }
}
.c-Banner__Desc  {
  @media screen and (min-width: 30em) { .mx-rr-bottom(1rem); }
  @media screen and (min-width: 45em) { .mx-rr-right(1rem); }
  @media screen and (min-width: 60em) { .mx-rr-right(2rem); }
}

.c-Banner__Title {
  @media screen and (min-width: 45em) {
    position: relative;
    ::after {
      content: '';
      display: block;
      position: absolute;
      right: 0; top: 0; bottom: 0;
      border-right-width: 2px;
      margin: @g-vru 0;
      opacity: 0.5;
    }
  }
}
.c-Banner__Desc  {
  & > p:first-child {
    @media screen and (max-width: 44.999em) {
      display: none;
    }
  }
}
