
/*################################*\
    conf  |  _comp.PageHeader.less
\*################################*/
@import (reference) url('__settings.less');


// serves as the header of the entire page
//
// ^subclasses
// ^author
// Chris Harvey
// ^updated
// 2016-04-08
.c-PageHeader {
  @media screen and (min-width: 45em) { padding: @g-boxpadd_mega; }
  @media screen and (min-width: 60em) { padding: @g-boxpadd_giga; }

  background-color: @g-color_site_accent; // FIXME
  text-align: center;
  &,
  &:hover,
  &:focus {
    color: @g-color_asce_header_txt;
  }
}
