
/*################################*\
    conf  |  _comp.Hero.less
\*################################*/
@import (reference) url('__settings.less');


// Most prominent section or feature on a page.
//
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-Hero {
  padding: @g-boxpadd_giga;
  text-align: center;
  background-color: #074d1c;
  background-image: none; // TODO add image
  color: @g-color_asce_header_txt;
}
