
/*################################*\
    conf  |  _comp.Btn.less
\*################################*/
@import (reference) url('__settings.less');


// Buttons.
// (e.g. Student, Speaker, Standard, etc.)
//
// ^subclasses
// --hilite   - singular button in highlight block
// --inline   - buttons inline with text
// --hero     - for action button(s) in hero section
// --dominant - button for some other primary use
// --ghost    - ghost button (border and text only)
// --flat     - button element to look like a regular link
// --drawer   - structural styles for menu buttons in site masthead
// ^author
// Chris Harvey
// ^updated
// 2016-05-12
.c-Btn {
  display: inline-block;
  vertical-align: middle;
  padding: @g-boxpadd_mill;
  margin: 0; // override margin-top from xmeter
  font-weight: 700;
  border: 1px outset;
  cursor: pointer;
  a& {
    opacity: 1; // HACK specificity
  }
}
.c-Btn {
  color: @g-color_site_secondary;
  border-color: currentColor;
  background-color: @g-color_asce_white;
  &:hover,
  &:focus {
    color: @g-color_site_gray_dk;
    background-color: mix(@g-color_asce_white, @g-color_site_gray_lt);
  }
  &:active {
    color: @g-color_asce_black;
    background-color: @g-color_site_gray_lt;
    border-style: inset;
  }
}

.c-Btn--hilite {
  padding: @g-boxpadd_mill_v @g-boxpadd_kilo_h;
  border-width: 2px;
  font-size: 1.5em;
}

.c-Btn--inline {
  display: inline;
  padding: 0 @g-boxpadd_micr_h;
  font-size: 0.75em;
  line-height: 0;
  border-radius: 0.25em;
}

.c-Btn--hero {
  border: 0;
  background-color: @g-color_site_primary;
  border-color: @g-color_site_primary;
  color: @g-color_asce_white;
}

.c-Btn--dominant {
  color: @g-color_asce_white;
  background-color: @g-color_site_secondary;
  font-style: italic;
  &:hover {
    border-color: @g-color_asce_white;
  }
}

.c-Btn--ghost {
  &,
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
  }
}

.c-Btn--flat {
  // (mostly) copied from base `a` and adjusted slightly
  color: @g-color_site_secondary;
  text-transform: uppercase;
  font-size: 0.875em;
  &,
  &:hover,
  &:focus,
  &:active {
    background: none;
    border: 0;
  }
  &:hover,
  &:focus {
    color: @g-color_site_gray_lt;
  }
  &:active {
    color: inherit; // override `.c-Btn:active black`
  }
}

.c-Btn--drawer {
  padding: @g-boxpadd_micr;
  margin: @g-boxpadd_mill;
  color: inherit; // override `.c-Btn secondary`
}

.c-Btn--drawer--close {
  position: fixed;
  top: 0; right: 0;
  z-index: 2; // over MenuUniversal
}
