
/*################################*\
    conf  |  _comp.Program.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('../node_modules/xmeter/src/__tool.module.fontsize.less');


// A block containing the entire program.
//
// ^subcomponents
// __Hn       - heading for a date
// __Schedule - schedule for a date
// __Check    - a radio button selecting the desired date to view
// ^author
// Chris Harvey
// ^updated
// 2016-05-05
.c-Program {
  width: 100%; // override `.c-Overlay`
  .font-size-mod(14/16);
  .flex-align-items(flex-start);
  h1 {
    padding-top: 0;
    font-family: inherit;
    color: inherit;
  }
  dl {
    margin-bottom: 0; // HACK override `.c-Program >> dl`
  }
}

@p-transdura: 250ms;
.c-Program__Hn,
.c-Program__Schedule {
}
.c-Program__Hn {
  .font-size-el(1);
  white-space: nowrap;
  cursor: pointer;
  .transition(font-size, line-height; @p-transdura);
  @media screen and (min-width: 45em) {
    width: 25%; // FIXME depends on how many !!!
    .font-size-el(1.25);
  }
  label {
    line-height: 0;
    cursor: inherit;
  }
}

.c-Program__Schedule {
  height: 100%;
  overflow: hidden;
  .flex-order(1);
  .transition(width, height, font-size; @p-transdura);
}

.c-Program__Check {
  display: none;
  &:checked + .c-Program__Hn {
    .font-size-el(1.5);
  }
  &:not(:checked) + .c-Program__Hn {
    opacity: 0.5;
    & + .c-Program__Schedule {
      width: 0;
      height: 0;
      font-size: 0;
    }
  }
}
