
/*################################*\
    conf  |  _comp.Program.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('../node_modules/xmeter/src/__tool.module.fontsize.less');


// A block containing the entire program.
//
// ^subcomponents
// __Hn       - heading for a date
// __Schedule - schedule for a date
// ^author
// Chris Harvey
// ^updated
// 2016-05-05
.c-Program {
  width: 100%; // override `.c-Overlay`
  .font-size-mod(14/16);
  .flex-align-items(flex-start);
  h1 {
    color: inherit;
    font-family: inherit;
  }
}

.c-Program__Hn,
.c-Program__Schedule {
  overflow: hidden;
}
.c-Program__Hn {
  width: 25%;
  .font-size-el(1.5);
}

.c-Program__Schedule {
  .flex-order(1);
  &:not(:nth-of-type(1)) {
    width: 0; height: 0;
  }
}
