
/*################################*\
    conf  |  _comp.SiteTitle.less
\*################################*/
// @import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('__settings.less');


// Area containing the site logo, title, and tagline.
//
// ^subcomponents
// ^author
// Chris Harvey
// ^updated
// 2016-04-19
.c-SiteTitle {
  margin-left: 4rem; // TODO change this to fit the width of the logo
  background-image: none; // this is the conference logo (or institute shield)
  &,
  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}
