
/*################################*\
    conf  |  _comp.Pass.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('../node_modules/xmeter/src/__tool.module.fontsize.less');
@import (reference) url('../node_modules/xmeter/src/__tool.module.clearfix.less');
@import (reference) url('__settings.less');


// A listing of prices for one Pass Type
// (e.g. Student, Speaker, Standard, etc.)
//
// ^subcomponents
// __Hn              - name of pass type (e.g. "Standard Pass")
// __Period          - a registration period
//     ^subclasses
//     __Period--current - the current registration period
//     ^subcomponents
//     __Period__Hn      - the name of the registration period
// __Attendee        - attendee type (membership status)
// __Price           - any price for any pass
//     ^subcomponents
//     __Price--featured - highlighted price of some sort
// ^author
// Chris Harvey
// ^updated
// 2016-04-14
.c-Pass {
  text-align: center;
  background-color: @g-color_site_gray_dk;
  color: @g-color_asce_white;
}
.c-Pass__Hn,
.c-Pass__Period__Hn {
  color: inherit;
}
.c-Pass__Period {
  position: relative;
  padding: @g-boxpadd_mill;
  &:first-child::after {
    @rw: 1px;
    content: '';
    display: block;
    position: absolute;
    right: 0; top: 0; bottom: 0;
    margin: (@g-vru) 0;
    margin-right: 0.5rem;
    border-right-width: @rw;
    opacity: 0.5;
  }
}
.c-Pass__Period--current {
  background-color: @g-color_asce_white;
  color: @g-color_asce_black;
}
.c-Pass__Attendee,
.c-Pass__Price {
  display: inline;
}
.c-Pass__Attendee {
  &::after {
    content: ':\0020';
  }
}
.c-Pass__Price {
  .clearfix();
  .c-Pass__Period--current & {
    // color: @g-color_site_primary;
  }
}
.c-Pass__Price--featured {
  display: block;
  padding: (0.5*@g-vru) 0;
  color: @g-color_site_primary;
}
