
/*################################*\
    conf  |  _comp.Mast.less
\*################################*/
// @import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('__settings.less');


// Masthead header and footer banners across entire site.
//
// ^subcomponents
// __Link  - link in the mast head / foot
// __Title - title containing conference name and tagline
// __MenuButtonContainer - hamburger menu button
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-Mast {
  // .flex-justify-content(space-between);
  background-color: @g-color_asce_primary;
  color: @g-color_asce_header_txt;
}

.c-Mast__Link {
  color: inherit;
  &:hover,
  &:focus {
    color: darken(@g-color_asce_header_txt, 30%); // darken(inherit, 10%)
  }
}

// Menu button masthead.
// Container contains the button
//
// ^subcomponents
// __Button - the actual button
// ^author
// Chris Harvey
// ^updated
// 2016-04-19
.c-Mast__MenuButtonContainer {
  @media screen and (min-width: 45em) {
    display: none;
  }
}
.c-Mast__MenuButtonContainer__Button {
}
