
/*################################*\
    conf  |  _dev.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__settings.less');
@import (reference) url('__settings.less');

// DEV STYLESHEET. FOR FIXING IMPORTED PROJECTS.


// TODO remove on xmeter v4.3.0+
.transform-origin(@arg: 50% 50% 0) {
  -webkit-transform-origin: @arg;
     -moz-transform-origin: @arg;
      -ms-transform-origin: @arg;
       -o-transform-origin: @arg;
          transform-origin: @arg;
}


// FIXME for Google’s material icons
.material-icons {
  vertical-align: middle;
}
