
/*################################*\
    conf  |  _o-ListAction.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('__settings.less');


// An action list is a list of (typically 3 or less) actionable choices a user can make.
// Should also be a `.o-Grid` Object.
//
// ^subcomponents
// __Item - an item in the list
// ^author
// : Chris Harvey
// ^updated
// : 2016-07-12
.o-ListAction {
  text-align: center;
  margin-bottom: 0; // @g-vru moved to __Items
  .flex-justify-content(space-around);
  @media screen and (min-width: 45em) {
    .flex-wrap(nowrap);
  }
}

.o-ListAction__Item {
  margin-bottom: @g-vru;
  @media screen and (min-width: 45em) {
    .flex(1);
  }
}
