
/*################################*\
    conf  |  _o-SiteHead.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.transform.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.transform-origin.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.transition.less');
@import (reference) url('__settings.less');
@import (reference) url('_dev.less');


// Object in the top-most Masthead containing site title and navigation menu
//
// ^subcomponents
// __Title - area for title of site
// __Nav - pull-out navigation menu drawer
// ^author
// Chris Harvey
// ^updated
// 2016-06-29
.o-SiteHead {
  .flex-wrap(nowrap); // override `.o-GridFlex wrap`
  .flex-justify-content(space-between);
  .flex-align-items(center); // override `stretch` // for vertical alignment
}

.o-SiteHead__Title,
.o-SiteHead__Nav {
  width: 50%;
  white-space: nowrap;
}

.o-SiteHead__Title {
}

@trans_dura: 250ms;
.o-SiteHead__Nav {
  .transitions(@g-prefix_transform, opacity; @trans_dura);
  .transition-timing-function(@google-accel);
  // .transition-timing-function(@g-accel_hard);
  // .transition-timing-function(@g-accel_dram);
  // .transition-timing-function(@g-decel_extm);
  @media screen and (max-width: 44.999em) {
    @width: 12rem;
    position: fixed;
    right: -@width; top: 0;
    z-index: 2; // over hero and sub menus
    width: @width;
    height: 100%;
    background-color: @g-color_site_gray_lt;
    border-left: 1px solid currentColor;
    opacity: 0;
  }
}

#toggle-top-menu {
  & ~ label {
    width: 180px;
    height: 180px;
    background: #65eba2;
    border: 1px solid transparent;
    .icon {
      display: block;
      position: relative;
      z-index: 3; // over `.SiteHead__Nav`
      height: 70px;
      margin: 55px;
      & > span {
        display: block;
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 10px;
        background: #6d0083;
        .transitions(@g-prefix_transform; @trans_dura);
      }
      & > .o1 { .transform(translateY(10px)); }
      & > .o2 { .transform(translateY(30px)); }
      & > .o3 { .transform(translateY(50px)); }
    }
  }
  &:checked {
    & ~ label {
      .icon {
        & > .o1 { .transform(translateY(30px) rotate(45deg)); }
        & > .o2 { .transform(translateY(30px) scaleX(0.001)); }
        & > .o3 { .transform(translateY(30px) rotate(-45deg)); }
      }
    }
    & ~ .o-SiteHead__Nav {
      @media screen and (max-width: 44.999em) {
        .transform(translateX(-100%));
        opacity: 1;
        .transition-timing-function(@google-decel);
        // .transition-timing-function(@g-decel_hard);
        // .transition-timing-function(@g-decel_dram);
        // .transition-timing-function(@g-accel_extm);
      }
    }
  }
}

.o-SiteHead__Nav--open {
}
