
/*################################*\
    conf  |  _obj.SiteHead.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.transform.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.transform-origin.less');
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.transition.less');
@import (reference) url('__settings.less');
@import (reference) url('_dev.less');


// Object in the top-most Masthead containing site title and navigation menu
//
// ^subcomponents
// __Title - area for title of site
// __Nav - pull-out navigation menu drawer
// ^author
// Chris Harvey
// ^updated
// 2016-05-16
@p-mobilebp: 45em;
.o-SiteHead {
  .flex-wrap(nowrap); // override `.o-GridFlex wrap`
  .flex-justify-content(space-between);
  .flex-align-items(center); // override `stretch` // for vertical alignment
  .js-menubutton { // specificity HACK override .c-Btn
    @media screen and (min-width: @p-mobilebp) {
      display: none;
    }
  }
}

.o-SiteHead__Title,
.o-SiteHead__Nav {
  @media screen and (min-width: @p-mobilebp) {
    max-width: 50%;
  }
}

.o-SiteHead__Title {
}

.o-SiteHead__Nav {
  z-index: 2; // over hero and sub menus
  .transform-origin(right top);
  width: 12rem;
  .transitions(right, top, @g-prefix_transform, opacity; 125ms);
  .transition-timing-function(@google-decel);
  // .transition-timing-function(@g-decel_hard);
  // .transition-timing-function(@g-decel_dram);
  // .transition-timing-function(@g-accel_extm);

  @media screen and (max-width: (@p-mobilebp - 0.001em)) {
    position: fixed;
    right: 0; top: 0;
    height: 100%;
    &.js-universalnav { // specificity HACK
      .transform(translateX(100%));
      & {
        right: 20px; top: 26px; // FIXME fine-tuning: lined up with "open menu" button
        .transform(scale(0));
      }
      opacity: 0;
      .transition-timing-function(@google-accel);
      // .transition-timing-function(@g-accel_hard);
      // .transition-timing-function(@g-accel_dram);
      // .transition-timing-function(@g-decel_extm);
    }
  }
  @media screen and (min-width: @p-mobilebp) {
    width: auto;
  }
  .c-MenuUniversal {
    height: 100%; // HACK height dependent on fixed parent
  }
}
