
/*################################*\
    conf  |  _obj.ListSpeakers.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');


// A list of speaker profiles, each which has a background image.
//
// ^subcomponents
// __Item - an item in the list
// ^author
// Chris Harvey
// ^updated
// 2016-04-11
.o-ListSpeakers {
  .flex-justify-content(space-around);
}

.o-ListSpeakers__Item {
  margin-bottom: @g-vru; // vertical spacing
  @media screen and (min-width: 30em) {
    width: calc(100%/2~' - '0.5rem);
  }
  @media screen and (min-width: 45em) {
    width: calc(100%/3~' - '1rem);
  }
}
