@import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');

/*################################*\
    conf  |  _obj.ListSpeakers.less
\*################################*/


// A list of speaker profiles, each which has a background image.
//
// ^subcomponents
// __Item - an item in the list
// ^author
// Chris Harvey
// ^updated
// 2016-04-11


.dimensions(@x; @y) {
  width: @x;
  height: @y;
}

.o-ListSpeakers {
  .flex-justify-content(space-around);
  margin: 0;
}

.o-ListSpeakers__Item {
  position: relative;
  // width:  25vw;
  width: 33%;
  // height: 33vw;
  margin-bottom: @g-vru;
}
