
/*################################*\
    conf  |  _obj.GridFlex.less
\*################################*/


// Sets up a horizontal padding for all top-level elements,
// which are any elements directly nested inside <body>.
//
// ^variables
// @p-body_padding - the horizontal padding of the element
// ^author
// : Chris Harvey
// ^updated
// 2016-03-01
@p-body_padding: 1rem;
.o-BodyChild {
  padding-left:  @body_padding;
  padding-right: @body_padding;
}
