
/*################################*\
    conf  |  _obj.BodyChild.less
\*################################*/


// Sets up a horizontal padding for all "top-level" elements,
// which are any elements visually flush against the window.
//
// ^subcomponents
// __Inv - effectively undoes the padding of the BodyChild
// ^author
// : Chris Harvey
// ^updated
// 2016-04-01
.mx-bodychild(@padding) {
  .o-BodyChild {
    padding-left:  @padding;
    padding-right: @padding;
  }
  .o-BodyChild__Inv {
    width: calc(~'100% + ' (2*@padding)); // because can’t use `width: auto` for `GridFlex__Item` objects
    margin-left:  -@padding;
    margin-right: -@padding;
  }
}
@media all                          { .mx-bodychild(0.5rem); }
@media screen and (min-width: 45em) { .mx-bodychild(1rem); }
@media screen and (min-width: 75em) { .mx-bodychild(2rem); }
