
/*################################*\
    conf  |  _obj.Runner.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.transition.less');


// Similar to Highlight but different padding. used for <header> and <footer>.
//
// ^author
// : Chris Harvey
// ^updated
// 2016-04-13
.o-Runner {
  padding: @g-boxpadd_micr_v @g-boxpadd_micr_h 0;
  .transition(padding, 250ms);
  @media screen and (min-width: 30em) { padding: @g-boxpadd_mill_v @g-boxpadd_mill_h 0; }
  @media screen and (min-width: 45em) { padding: @g-boxpadd_norm_v @g-boxpadd_norm_h 0; }
  @media screen and (min-width: 60em) { padding: @g-boxpadd_kilo_v @g-boxpadd_kilo_h 0; }
  // HACK anomaly
  // not placed in `comp.Copyright.less` because of object-like styles
  // dependent on `.o-Runner`
  .c-Copyright {
    .mx-copyright(@padding_h) {
      width: calc(~'100% + ' (2*@padding_h)); // because can’t use `width: auto` for `GridFlex__Item` objects
      margin-left:  -@padding_h;
      margin-right: -@padding_h;
    }
    .mx-copyright(@g-boxpadd_micr_h);
    @media screen and (min-width: 30em) { .mx-copyright(@g-boxpadd_mill_h); }
    @media screen and (min-width: 45em) { .mx-copyright(@g-boxpadd_norm_h); }
    @media screen and (min-width: 60em) { .mx-copyright(@g-boxpadd_kilo_h); }
  }
}
