
/*################################*\
    conf  |  _shame.less
\*################################*/
@import (reference) url('__settings.less');


// THIS FILE IS A TEMPORARY FILE.
// ALL THE STYLES IN THIS FILE MUST BE MOVED TO ITS PROPER STYLESHEET
// AT SOME POINT IN TIME.

// TODO move these to component files
.c-TableStripe {
  tr:nth-child(even) {
    background-color: @g-color_asce_table_bground;
  }
}
.c-TableBorder {
  th,
  td {
    border-width: 1px;
  }
}

// Don’t know where to put this; using cosmetic styles on Object
.o-Drawer {
  @media screen and (max-width: 44.999em) {
    background-color: @g-color_site_gray_lt;
  }
}

// TODO move this to a component file
// A Label component adds a small inline-level tag to a span or block of text.
// This can be used to indicate a type of file linked, for example, a PDF or
// DOC. It could also be used to indicate an email link.
// Use the `<small>` element if necessary.
//
// ^examples
// : <a href="document.pdf">click here <small class="c-Label">PDF</small></a>
// : <a href="mailto:me@example.com">email me
// :   <small class="c-Label"><span class="octicon octicon-mail"></span></small></a>
// ^author
// : Chris Harvey
// ^updated
// : 2015-12-09
.c-Label {
  display: inline;
  margin-left: 0.5rem;
  padding: 4px 6px; // FIXME why these numbers?
  font-weight: 200;
  font-size: 0.75em;
  line-height: 0;
  white-space: nowrap;
  // background-color: @g-color_asce_label_bg;
  // color: @g-color_asce_label_txt;
}

.c-Toggle__Check ~ noscript {
  position: absolute;
  right: 0;
  top: 75px;
}
.c-Toggle__Check:not(:checked) ~ noscript {
  display: none;
}

.material-icons {
  vertical-align: middle; // fixes Google’s material icons
  .c-MenuTop & {
    margin-right: 1rem;
    @media screen and (min-width: 45em) {
      display: none;
    }
  }
  .c-MenuMain & {
    display: block;
    @media screen and (min-width: @g-bp_menu_main_normaltext) {
      display: none;
    }
    & + span {
      @media screen and (max-width: (@g-bp_menu_main_normaltext - 1)) {
        display: block;
        .font-size-el(0.75);
        font-weight: 400;
      }
      @media screen and (max-width: (@g-bp_menu_main_smalltext - 1)) {
        .font-size-el(0);
        line-height: 0; // override Infinity
      }
    }
  }
  .c-TimeBlock__Link &,
  .c-DateBlock__Link & {
    position: absolute;
    right: 0;
  }
  .c-DateBlock__Link & {
    top: -0.5em;
  }
  ._regLegend & {
    display: block;
    // line-height is determined in `.material-icons`
    font-size: 2.25em;
    @media screen and (max-width: 44.999em) {
      display: none;
    }
  }
  ._regLegend & + small {
    @media screen and (max-width: 44.999em) {
      font-size: 1rem;
    }
  }
}
