
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    conf
    Version: 0.2.0
    Licence: ?
    Repo   : https://github.com/asce-web/conf.git
    Author : ASCE web team (webteam@asce.org)
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    conf.less
\*================================*/


// This stylesheet is the master stylesheet for all conference sites.
// Each and every conference site imports this stylesheet, which
// determines all styles for all conference sites.
// Then each conference site imports an additional stylesheet
// specific to that conference, which determines the conference-specific
// styles such as colors.

/**
 * # TABLE OF CONTENTS
 *
 * settings.......................variables
 * conf-colors....................conference-specific, year-specific color schemes
 *
 * ## TOOLS
 * border-radius..................useful mixins for grouping border-radii
 *
 * ## BASE........................bare, unclassed elements
 *
 * ## OBJECTS
 * Block..........................a simple block object
 * Inline.........................a simple inline object
 * ListBare.......................plain, unstyled, blocky list
 * GridFlex.......................grid of items
 * GridFloat......................grid of items; legacy support
 * Highlight......................a main section of a page or repeatable aside block
 * Runner.........................header and footer
 * ListStacked....................row of stackable items
 * ListSponsors...................list of sponsor logos/links
 *
 * ## COMPONENTS
 * ### Block Section-y Components
 * Mast...........................masthead for the site
 * SiteTitle......................area containg logo and site title and tagline
 * MenuUniversal..................universal main navigation
 * SocialList.....................list of social media icons
 * MenuStandard...................top-level navigation for a conference
 * MenuSub........................secondary-level navigation for a conference
 * PageHeader.....................header for a page
 * Banner.........................highlighted feature with a background image
 * OtherYear......................advertisment for other year conference
 * Overlay........................a translucent slide inside a banner
 * SponsorBlock...................block containing one level of sponsors
 * Pass...........................a listing of prices for one Pass Type
 * Btn............................buttons
 * ### Typographical Components
 * ### User-Interactive Components
 *
 * ## TODO WORKS IN PROGRESS
 * ListSpeakers...................list of speaker profiles
 * ListPass.......................list of pass types
 * DateBlock......................list of important dates
 * Speaker........................(keynote) speaker profile
 *
 * ## ATOMS
 * atom...........................all uncategorized atoms
 *
 * ## SHAME
 * shame.less.....................hacks
 */

@import url('__settings.less');
@import url('__settings.conf-colors.less');

@import url('__tool.module.border-radius.less');

@import url('_base.less');

@import url('_obj.Block.less');
@import url('_obj.Inline.less');
@import url('_obj.ListBare.less');
@import url('_obj.GridFlex.less');
@import url('_obj.GridFloat.less');
@import url('_obj.Highlight.less');
@import url('_obj.Runner.less');
@import url('_obj.ListStacked.less');
@import url('_obj.ListSponsors.less');

@import url('_comp.Mast.less');
@import url('_comp.SiteTitle.less');
@import url('_comp.MenuUniversal.less');
@import url('_comp.SocialList.less');
@import url('_comp.MenuStandard.less');
@import url('_comp.MenuSub.less');
@import url('_comp.PageHeader.less');
@import url('_comp.Banner.less');
@import url('_comp.OtherYear.less');
@import url('_comp.Overlay.less');
@import url('_comp.SponsorBlock.less');
@import url('_comp.Pass.less');
@import url('_comp.Btn.less');

@import url('_obj.ListSpeakers.less');
@import url('_obj.ListPass.less');
@import url('_comp.DateBlock.less');
@import url('_comp.Speaker.less');

// @import url('_atom.less');

// @import url('_shame.less');

// // -------- HEADINGS -------- //
// // Name of entire conference
// .c-ConfName {}
// // Slogan for entire conference
// .c-ConfSlogan {}
// // Name of conference for this year
// .c-ConfNameCurrent {}
// // Location (City | Dates) of this year’s conference
// .c-ConfLocation {}
// // Tagline for this year’s conference
// .c-ConfTagline {}
// .c-ElevatorPitch {}
// // -------- LINKS AND BUTTONS -------- //
// .c-HeroButtonContainer,
// .c-ElevatorButtonContainer {
//   text-align: center;
//   @media screen and (min-width: 45em) {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     width: 80%;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
// .c-Button {
//   display: inline-block;
//   line-height: inherit;
// }
// .c-Button--hero {
//   @media screen and (min-width: 45em) {
//     width: 20%;
//     margin-left: 40%;
//     margin-right: 40%;
//   }
// }
// .c-LandingLinkList {
//   // text-align: center;
//   // font-size: 0.5rem;
//   // line-height: 2.5;
// }
// .c-LandingLink--home {
//   padding: 5px;
//   border: 1px solid #fff;
//   margin-left:10px;
//   margin-right: 10px;
//   // display: block;
//   // line-height: inherit;
//   // border: 1px solid black;
//   // width: 60%;
//   // margin: auto;
// }
// // -------- OTHER -------- //
// .c-ConfShield {}
//
// footer.copyright {
//   background-color: @g-color_asce_blue;
//   color: @g-color_asce_white;
// }
// .asce-logo {
//   display: inline-block;
//   width: 73px;  // magic nummmmmmmbers
//   height: 23px; // magic nummmmmmmbers
//   margin-right: 10px;
//   vertical-align: middle;
//   background-image: url('../img/asce-logo-footer-small.png');
//   @media screen and (min-width: 45em) {
//     width: 233px; // magic numberrrrrrrrrs
//     height: 30px; // magic numberrrrrrrrrs
//     background-image: url('../img/asce-logo-footer.png');
//   }
// }
//++++++++++++++++++++++++++++++++//
//    # DEBUGGING MICRODATA STYLES
//++++++++++++++++++++++++++++++++//
.t-md {
  [itemscope] {
    border: 2px solid #808080;
  }
  [itemtype$="Event"] {
    background-color: rgba(0,0,0,0.15) !important;
  }
  [itemprop] {
    border: 1px solid currentColor;
  }
  [itemprop="name"] {
    border-color: red;
  }
  [itemprop="description"] {
    border-color: yellow;
  }
  [itemprop="url"] {
    border-color: blue;
  }
  [itemprop="startDate"],
  [itemprop="endDate"] {
    border-color: orange;
  }
  [itemprop="location"] {
    border-color: #0c0;
  }
  [itemprop="addressLocality"] {
    border-color: #0c9;
  }
  [itemprop="addressRegion"] {
    border-color: #9c0;
  }
}
//++++ end # DEBUGGING MICRODATA STYLES ++++ //
