
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    conf
    Version: 0.2.0
    Licence: ?
    Repo   : https://github.com/asce-web/conf.git
    Author : ASCE web team (webteam@asce.org)
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    conf.less
\*================================*/


// This stylesheet is the master stylesheet for all conference sites.
// Each and every conference site imports this stylesheet, which
// determines all styles for all conference sites.
// Then each conference site imports an additional stylesheet
// specific to that conference, which determines the conference-specific
// styles such as colors.

/**
 * # TABLE OF CONTENTS
 *
 * settings.......................variables
 * conf-colors....................conference-specific, year-specific color schemes
 *
 * ## TOOLS
 *
 * base...........................bare, unclassed elements
 *
 * ## OBJECTS
 * Block..........................a simple block object
 * Inline.........................a simple inline object
 * ListBare.......................plain, unstyled, blocky list
 * GridFlex.......................grid of items
 * GridFloat......................grid of items; legacy support
 * BodyChild......................an element directly inside <body>
 *
 * ## ATOMS
 * atom...........................all uncategorized atoms
 *
 *
 * ## COMPONENTS
 *
 * ### Typographical Components
 *
 * ### User-Interactive Components
 *
 * ## SHAME
 * _shame.less....................
 */

@import url('__settings.less');
@import url('__settings.conf-colors.less');

@import url('_base.less');

@import url('_obj.Block.less');
@import url('_obj.Inline.less');
@import url('_obj.ListBare.less');
@import url('_obj.GridFlex.less');
@import url('_obj.GridFloat.less');

// Sets up all top-level components with a horizontal padding
@body_padding: 1rem;
.o-BodyChild {
  padding-left:  @body_padding;
  padding-right: @body_padding;
}



@import url('_atom.less');


// -------- SECTION COMPONENTS -------- //
// Masthead header banner across entire site.
//
// ^Subcomponents:
// __Title - title containing conference name and tagline
// __Nav   - conference-wide navigation
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-Mast {
  background-color: @color_site_primary;
  color: @color_asce_header_txt;
}
@import (reference) url('../node_modules/xmeter/src/__tool.fallback.flexbox.less');

// Linked block containing
// conference name and tagline
//
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-Mast__Title {
  background-image: none; // this is the conference logo (or institute shield)
  margin-left: 4rem; // TODO change this to fit the width of the logo
}

// Conference-wide navigation (both mobile and desktop)
//
// ^Subcomponents:
// __Hn   - the heading for the navigation
// __Menu - the actual list of navigation items
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-Mast__Nav {
  @media screen and (max-width: 44.999em) {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    background-color: @color_site_secondary;
  }
}
.c-Mast__Nav__Hn,
.c-Mast__Nav__Menu {
  @media screen and (max-width: 44.999em) {
    padding-left:  0.5rem;
    padding-right: 0.5rem;
  }
}
.c-Mast__Nav__Hn {
  @media screen and (max-width: 44.999em) {
    background-color: @color_site_accent;
  }
}

// Conference-wide menu (both mobile and desktop)
//
// ^Subcomponents:
// __Item - each item in the list
// __Link - each link in the menu
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-Mast__Nav__Menu {
}
.c-Mast__Nav__Menu__Item {
}
.c-Mast__Nav__Menu__Link {
}

// Top-level navigation for current year site.
//
// ^Subcomponents:
// __Item - each item in the list
// __Link - each link in the menu
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-NavMenu {
  position: relative; // for the NavSubmenu positioning
  background-color: @color_site_secondary;
}
.c-NavMenu__Item {
}
.c-NavMenu__Link {
  border: 1px outset transparent;
  @media screen and (min-width: 45em) {
    .c-NavMenu__Item:hover & {
      border-color: @color_site_accent;
      background-color: #fff;
    }
  }
}

// Secondary-level navigation components for current year site.
//
// ^Subcomponents:
// __Item - each item in the list
// __Link - each link in the menu
// ^author
// Chris Harvey
// ^updated
// 2016-03-02
.c-NavSubmenu {
  position: absolute; // inside the .c-NavMenu
  width: 20%; // FIXME
  background-color: #fff;
  @media screen and (max-width: 44.999em) {
    left:  1rem;
    right: 1rem;
    &:not(.c-NavSubmenu--active) {
      display: none;
    }
  }
  @media screen and (min-width: 45em) {
    border: 1px outset @color_site_accent;
    .c-NavMenu__Item:not(:hover) & {
      display: none;
    }
  }
}
.c-NavSubmenu__Item {
  @media screen and (max-width: 44.999em) {
    width: auto;
    text-decoration: underline;
    padding-right: 1em;
  }
}
.c-NavSubmenu__Link {
}

// Copyright footline.
//
// ^Subcomponents:
// __Link - entire thing with ASCE logo background image
// ^author
// Chris Harvey
// ^updated
// 2016-03-01
.c-Copyright {
  margin-left: -@body_padding; margin-right: -@body_padding;
  width: calc(~'100% + ' (2 * @body_padding)); // because can’t use width: auto
  text-align: center;
  background-color: @color_asce_primary;
  color: @color_asce_header_txt;
}
.c-Copyright__Link {
  background-image: none; // this is the ASCE logo
}

.c-Hero {
  margin-left: -@body_padding; margin-right: -@body_padding;
  text-align: center;
  background-color: #074d1c;
  background-image: none; // TODO add image
  color: @color_asce_header_txt;
}




// // -------- HEADINGS -------- //
// // Name of entire conference
// .c-ConfName {}
// // Slogan for entire conference
// .c-ConfSlogan {}
// // Name of conference for this year
// .c-ConfNameCurrent {}
// // Location (City | Dates) of this year’s conference
// .c-ConfLocation {}
// // Tagline for this year’s conference
// .c-ConfTagline {}
// .c-ElevatorPitch {}
// // -------- LINKS AND BUTTONS -------- //
// .c-HeroButtonContainer,
// .c-ElevatorButtonContainer {
//   text-align: center;
//   @media screen and (min-width: 45em) {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     width: 80%;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
// .c-Button {
//   display: inline-block;
//   line-height: inherit;
// }
// .c-Button--hero {
//   @media screen and (min-width: 45em) {
//     width: 20%;
//     margin-left: 40%;
//     margin-right: 40%;
//   }
// }
// .c-LandingLinkList {
//   // text-align: center;
//   // font-size: 0.5rem;
//   // line-height: 2.5;
// }
// .c-LandingLink--home {
//   padding: 5px;
//   border: 1px solid #fff;
//   margin-left:10px;
//   margin-right: 10px;
//   // display: block;
//   // line-height: inherit;
//   // border: 1px solid black;
//   // width: 60%;
//   // margin: auto;
// }
// // -------- OTHER -------- //
// .c-ConfShield {}
//
// footer.copyright {
//   background-color: @color_asce_primary;
//   color: @color_asce_header_txt;
// }
// .asce-logo {
//   display: inline-block;
//   width: 73px;  // magic nummmmmmmbers
//   height: 23px; // magic nummmmmmmbers
//   margin-right: 10px;
//   vertical-align: middle;
//   background-image: url('../img/asce-logo-footer-small.png');
//   @media screen and (min-width: 45em) {
//     width: 233px; // magic numberrrrrrrrrs
//     height: 30px; // magic numberrrrrrrrrs
//     background-image: url('../img/asce-logo-footer.png');
//   }
// }
