
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    conf
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    styleguide.less
\*================================*/


// This stylesheet is used on all styleguide files
// (except the sample conference site).

//Table Of Contents
//# DEV...........................development styles. fixes for imported css.
//# BASE
//# COMPONENTS
//  Fig............................a figure containing all demos
//  Code...........................any code, block or inline
//  Code--block....................block code (extends Code)
//# HACKS
//  _docmeta.......................a dictionary list containing document metadata


//++++++++++++++++++++++++++++++++//
//    # DEV
//++++++++++++++++++++++++++++++++//
//++++ end # DEV ++++ //


//++++++++++++++++++++++++++++++++//
//    # BASE
//++++++++++++++++++++++++++++++++//
body {
  margin: 0 1rem 1.5rem;
}
//++++ end # BASE ++++ //


//++++++++++++++++++++++++++++++++//
//    # COMPONENTS
//++++++++++++++++++++++++++++++++//
.sg-c-Fig {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5em;
  border: 1px solid #e5eaef;
  border-radius: 8px;
  position: relative; // for containing other relative things
  background: #f8fcff;
}
.sg-c-Code {
  padding: 1px 2px;
  border-radius: 3px;
  font-size: 0.75em;
  line-height: 0;
  background-color: #f8f4f0;
  color: #800020;
}
.sg-c-Code--block {
  font-size: 0.75rem;
  line-height: 2;
  padding: 0.75rem 1rem;
  border: 1px solid lighten(desaturate(#800020, 75%), 25%);
  border-radius: 4px
}
//++++ end # COMPONENTS ++++ //


//++++++++++++++++++++++++++++++++//
//    # HACKS
//++++++++++++++++++++++++++++++++//
._docmeta dt {
  font-weight: 700;
}
//++++ end # HACKS ++++ //
