
//- ///////////////////////////////////////////////////////////////////////////////
//- //
//- // This file holds 'local' data for the sample site.
//- // Each microsite should have a different instace of this file.
//- //
//- ///////////////////////////////////////////////////////////////////////////////


-
  var site = new Site({
    name     : 'An ASCE Event'
  , tagline  : 'Optional Brand Tagline'
  , keywords : ['ASCE', 'civil engineering', 'convention']
  , image    : 'img/site-logo-white.png'
  })

  site
    .setConference('2016', new Conference({
      name      : 'A 2016 Event'
    , theme     : 'Theme for the conference is optional.'
    , startDate : '2016-09-28'
    , endDate   : '2016-10-01'
    , url       : 'http://2016.asceconvention.org/'
    , city      : 'Portland'
    , state     : 'OR'
    })).setConference('2015', new Conference({
      name      : 'A 2015 Event'
    , theme     : ''
    , startDate : '2015-10-11'
    , endDate   : ''
    , url       : 'http://2015.asceconvention.org/'
    , city      : 'New York'
    , state     : 'NY'
    })).setConference('2017', new Conference({
      name      : 'A 2017 Event'
    , theme     : ''
    , startDate : '2017-10-04'
    , endDate   : ''
    , url       : 'http://2017.asceconvention.org/'
    , city      : 'Chicago'
    , state     : 'IL'
    }))

  site
    .setCurrentConference('2016')
    .setPrevConference('2015')
    .setNextConference('2017')

  site
    .addSupporterLevel(new SupporterLevel('Platinum' ).setClassname('c-SponsorBlock__Logo--lrg'))
    .addSupporterLevel(new SupporterLevel('Corporate').setClassname('c-SponsorBlock__Logo--med'))
    .addSupporterLevel(new SupporterLevel('Silver'   ).setClassname('c-SponsorBlock__Logo--med'))
    .addSupporterLevel(new SupporterLevel('Bronze'   ).setClassname('c-SponsorBlock__Logo--sml'))
    .addSupporterLevel(new SupporterLevel('Copper'   ).setClassname('c-SponsorBlock__Logo--sml'))

  site
    .addSupporter(new Supporter('ASCE Foundation')
      .setImg('http://2016.asceconvention.org/sites/default/files/asce-foundation-logo.png')
      .setURL('http://www.ascefoundation.org/')
      .setLevel(site.getSupporterLevel('Platinum'))
    ).addSupporter(new Supporter('Bentley')
      .setImg('http://2016.asceconvention.org/sites/default/files/bentley-logo.png')
      .setURL('https://www.bentley.com/')
      .setLevel(site.getSupporterLevel('Platinum'))
    ).addSupporter(new Supporter('Pennoni')
      .setImg('http://2016.asceconvention.org/sites/default/files/pennoni-50th-anniversary-logo.png')
      .setURL('https://www.pennoni.com/')
      .setLevel(site.getSupporterLevel('Silver'))
    ).addSupporter(new Supporter('Innovyze')
      .setImg('http://2016.asceconvention.org/sites/default/files/innovyze-logo.png')
      .setURL('http://www.innovyze.com/')
      .setLevel(site.getSupporterLevel('Silver'))
    ).addSupporter(new Supporter('Fasten Group')
      .setImg('http://2016.asceconvention.org/sites/default/files/fasten-group-logo.png')
      .setURL('http://www.chinafasten.com/')
      .setLevel(site.getSupporterLevel('Bronze'))
    ).addSupporter(new Supporter('David Evans and Associates, Inc.')
      .setImg('http://2016.asceconvention.org/sites/default/files/david-evans-associates-logo.png')
      .setURL('http://www.deainc.com/')
      .setLevel(site.getSupporterLevel('Bronze'))
    ).addSupporter(new Supporter('KCI Technologies')
      .setImg('http://2016.asceconvention.org/sites/default/files/kci-technologies-logo.png')
      .setURL('http://www.kci.com/')
      .setLevel(site.getSupporterLevel('Bronze'))
    ).addSupporter(new Supporter('McCormick & Taylor')
      .setImg('http://2016.asceconvention.org/sites/default/files/mccormick-taylor-logo.png')
      .setURL('http://www.mccormicktaylor.com/')
      .setLevel(site.getSupporterLevel('Bronze'))
    ).addSupporter(new Supporter('Rutgers Center for Advanced Infrastructure and Transportation')
      .setImg('http://2016.asceconvention.org/sites/default/files/rutgers-cait-logo.png')
      .setURL('http://cait.rutgers.edu/')
      .setLevel(site.getSupporterLevel('Copper'))
    ).addSupporter(new Supporter('Kimley-Horn')
      .setImg('http://2016.asceconvention.org/sites/default/files/kimley-horn-logo.png')
      .setURL('http://www.kimley-horn.com/')
      .setLevel(site.getSupporterLevel('Copper'))
    ).addSupporter(new Supporter('Christopher B. Burke Engineering, Ltd.')
      .setImg('http://2016.asceconvention.org/sites/default/files/christopher-b-burke-engineering-logo.png')
      .setURL('http://cbbel.com/')
      .setLevel(site.getSupporterLevel('Copper'))
    ).addSupporter(new Supporter('Bank of America')
      .setImg('http://2016.asceconvention.org/sites/default/files/bank-of-america-logo.jpg')
      .setURL('http://www.asce.org/member_advantages/#b')
      .setLevel(site.getSupporterLevel('Corporate'))
    ).addSupporter(new Supporter('Geico')
      .setImg('http://2016.asceconvention.org/sites/default/files/geico-logo.gif')
      .setURL('https://www.geico.com/landingpage/member-discount/?logo=00774')
      .setLevel(site.getSupporterLevel('Corporate'))
    ).addSupporter(new Supporter('Pearl Insurance')
      .setImg('http://2016.asceconvention.org/sites/default/files/pearl-insurance-logo.jpg')
      .setURL('http://asceinsurance.com/')
      .setLevel(site.getSupporterLevel('Corporate'))
    ).addSupporter(new Supporter('UPS')
      .setImg('http://2016.asceconvention.org/sites/default/files/ups-logo.jpg')
      .setURL('http://savewithups.com/asce/')
      .setLevel(site.getSupporterLevel('Corporate'))
    ).addSupporter(new Supporter('Keller North America')
      .setImg('http://2016.asceconvention.org/sites/default/files/keller-na-logo.png')
      .setURL('http://www.keller.co.uk/')
      .setLevel(site.getSupporterLevel('Corporate'))
    )

//- -
  site
    .addSubpage('about.html'       , new Page({name:'Cooperating Orgs'            , url:''}))
    .addSubpage('about.html'       , new Page({name:'Partnering Orgs '            , url:''}))
    .addSubpage('about.html'       , new Page({name:'Volunteer'                   , url:''}))
    .addSubpage('about.html'       , new Page({name:'Why Attend'                  , url:''}))
    .addSubpage('registration.html', new Page({name:'Why Attend'                  , url:''}))
    .addSubpage('registration.html', new Page({name:'Short Courses'               , url:''}))
    .addSubpage('registration.html', new Page({name:'Technical Tours'             , url:''}))
    .addSubpage('registration.html', new Page({name:'Optional Tours'              , url:''}))
    .addSubpage('program.html'     , new Page({name:'Events'                      , url:''}))
    .addSubpage('location.html'    , new Page({name:'International Travel'        , url:''}))
    .addSubpage('speakers.html'    , new Page({name:'Distinguished Lecture Series', url:''}))
    .addSubpage('speakers.html'    , new Page({name:'Exhibitor List'              , url:''}))

-
  site.getCurrentConference()
    .addRegistrationPeriod(new RegistrationPeriod({
      name      : 'Early Bird'
    , endDate   : '2016-07-28'
    }).setIcon('stars')).addRegistrationPeriod(new RegistrationPeriod({
      name      : 'Advance'
    , endDate   : '2016-08-25'
    }).setIcon('date_range')).addRegistrationPeriod(new RegistrationPeriod({
      name      : 'Onsite'
    , startDate : '2016-08-26'
    }).setIcon('account_balance'))

  site.getCurrentConference()
    .setCurrentRegistrationPeriod('Early Bird')

  site.getCurrentConference()
    .addPass(new Pass({
      name        : 'Standard Pass'
    , description : 'Members & Non-Members'
    }).addAttendeeType(new Pass.AttendeeType('Member', true))
      .addAttendeeType(new Pass.AttendeeType('Non-Member'))
    ).addPass(new Pass({
      name        : 'Speaker Pass'
    , description : 'Speakers and Presenters'
    }).addAttendeeType(new Pass.AttendeeType('Member', true))
      .addAttendeeType(new Pass.AttendeeType('Non-Member'))
    ).addPass(new Pass({
      name        : 'Moderator Pass'
    , description : 'Moderators'
    }).addAttendeeType(new Pass.AttendeeType('Member', true))
      .addAttendeeType(new Pass.AttendeeType('Non-Member'))
    ).addPass(new Pass({
      name        : 'Younger Member'
    , description : 'Members 18–35'
    }).addAttendeeType(new Pass.AttendeeType('Member/Non-Member', true))
    ).addPass(new Pass({
      name        : 'Student Pass'
    , description : 'Undergraduates 18–24'
    }).addAttendeeType(new Pass.AttendeeType('Member/Non-Member', true))
    ).addPass(new Pass({
      name        : 'Guest Pass'
    , description : 'Speaker and Moderator Guests'
    }).addAttendeeType(new Pass.AttendeeType('Member/Non-Member', true))
    ).addPass(new Pass({
      name        : 'Daily Pass'
    , description : 'For One Day Only'
    }).addAttendeeType(new Pass.AttendeeType('Member', true))
      .addAttendeeType(new Pass.AttendeeType('Non-Member'))
    )

//- -
  site.getCurrentConference()
    .setPrice('Early Bird', 'Standard Pass' , 'Member'    ,  745)
    .setPrice('Early Bird', 'Standard Pass' , 'Non-Member',  845)
    .setPrice('Advance'   , 'Standard Pass' , 'Member'    ,  845)
    .setPrice('Advance'   , 'Standard Pass' , 'Non-Member',  945)
    .setPrice('Onsite'    , 'Standard Pass' , 'Member'    ,  945)
    .setPrice('Onsite'    , 'Standard Pass' , 'Non-Member', 1045)

    .setPrice('Early Bird', 'Speaker Pass'  , 'Member'    ,  645)
    .setPrice('Early Bird', 'Speaker Pass'  , 'Non-Member',  745)
    .setPrice('Advance'   , 'Speaker Pass'  , 'Member'    ,  745)
    .setPrice('Advance'   , 'Speaker Pass'  , 'Non-Member',  845)
    .setPrice('Onsite'    , 'Speaker Pass'  , 'Member'    ,  945)
    .setPrice('Onsite'    , 'Speaker Pass'  , 'Non-Member',  945)

    .setPrice('Early Bird', 'Moderator Pass', 'Member'    ,  645)
    .setPrice('Early Bird', 'Moderator Pass', 'Non-Member',  745)
    .setPrice('Advance'   , 'Moderator Pass', 'Member'    ,  745)
    .setPrice('Advance'   , 'Moderator Pass', 'Non-Member',  845)
    .setPrice('Onsite'    , 'Moderator Pass', 'Member'    ,  945)
    .setPrice('Onsite'    , 'Moderator Pass', 'Non-Member',  945)

    .setPrice('Early Bird', 'Younger Member', 'Member/Non-Member',  645)
    .setPrice('Advance'   , 'Younger Member', 'Member/Non-Member',  745)
    .setPrice('Onsite'    , 'Younger Member', 'Member/Non-Member',  845)

    .setPrice('Early Bird', 'Student Pass'  , 'Member/Non-Member',  295)
    .setPrice('Advance'   , 'Student Pass'  , 'Member/Non-Member',  295)
    .setPrice('Onsite'    , 'Student Pass'  , 'Member/Non-Member',  395)

    .setPrice('Early Bird', 'Guest Pass'    , 'Member/Non-Member',  295)
    .setPrice('Advance'   , 'Guest Pass'    , 'Member/Non-Member',  320)
    .setPrice('Onsite'    , 'Guest Pass'    , 'Member/Non-Member',  395)

    .setPrice('Early Bird', 'Daily Pass'    , 'Member'    ,  495)
    .setPrice('Early Bird', 'Daily Pass'    , 'Non-Member',  595)
    .setPrice('Advance'   , 'Daily Pass'    , 'Member'    ,  545)
    .setPrice('Advance'   , 'Daily Pass'    , 'Non-Member',  645)
    .setPrice('Onsite'    , 'Daily Pass'    , 'Member'    ,  645)
    .setPrice('Onsite'    , 'Daily Pass'    , 'Non-Member',  745)

-
  site.getCurrentConference()
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-28 10:00', endDate:'2016-09-28 19:00', name:'Registration'                                                }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-28 10:30', endDate:'2016-09-28 16:30', name:'Technical Tours'                                             }).setURL('#0').setStar(true))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-28 13:00', endDate:'2016-09-28 17:00', name:'Short Courses'                                               }).setURL('#0').setStar(true))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-28 12:00', endDate:'2016-09-28 17:00', name:'Optional Tours'                                              }).setURL('#0').setStar(true))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-28 17:30', endDate:'2016-09-28 19:30', name:'Opening Welcome Reception'                                   }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-28 13:00', endDate:'2016-09-28 17:00', name:'Community Service Project'                                   }).setStar(true))

    .addProgramEvent(new ProgramEvent({startDate:'2016-09-29 07:00', endDate:'2016-09-29 16:30', name:'Registration'                                                }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-29 07:30', endDate:'2016-09-29 08:30', name:'Student & Emerging Leaders Welcome Breakfast and Orientation'}))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-29 08:30', endDate:'2016-09-29 10:00', name:'Opening Plenary Session'                                     }).setStar(true))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-29 09:30', endDate:'2016-09-29 15:30', name:'Guest Program Orientation & Tour'                            }).setStar(true))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-29 10:00', endDate:'2016-09-29 10:30', name:'Beverage Break'                                              }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-29 10:30', endDate:'2016-09-29 11:30', name:'Concurrent Sessions'                                         }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-29 11:45', endDate:'2016-09-29 13:45', name:'Celebration of Leaders Luncheon'                             }).setStar(true))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-29 14:00', endDate:'2016-09-29 15:30', name:'Concurrent Sessions'                                         }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-29 14:00', endDate:'2016-09-29 18:00', name:'Communities and Pavilion'                                    }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-29 15:30', endDate:'2016-09-29 16:00', name:'Beverage Break'                                              }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-29 16:00', endDate:'2016-09-29 17:30', name:'Concurrent Sessions'                                         }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-29 18:45', endDate:'2016-09-29 21:45', name:'Optional Tour'                                               }).setURL('#0').setStar(true))

    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 07:00', endDate:'2016-09-30 16:30', name:'Registration'                                                }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 07:30', endDate:'2016-09-30 08:30', name:'Leadership & Society Awards Breakfast'                       }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 08:30', endDate:'2016-09-30 17:00', name:'Communities and Pavilion'                                    }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 08:45', endDate:'2016-09-30 09:45', name:'ASCE Annual Business Meeting'                                }).setStar(true))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 09:45', endDate:'2016-09-30 10:15', name:'Beverage Break'                                              }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 10:15', endDate:'2016-09-30 11:45', name:'Concurrent Sessions'                                         }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 11:45', endDate:'2016-09-30 13:15', name:'Lunch on Your Own'                                           }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 11:45', endDate:'2016-09-30 13:15', name:'International Luncheon (ticketed)'                           }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 13:15', endDate:'2016-09-30 14:15', name:'Concurrent Sessions'                                         }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 13:00', endDate:'2016-09-30 17:15', name:'Optional Tour'                                               }).setURL('#0').setStar(true))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 14:30', endDate:'2016-09-30 16:00', name:'Industry Leaders Forum'                                      }).setStar(true))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 16:00', endDate:'2016-09-30 16:30', name:'Beverage Break'                                              }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 16:30', endDate:'2016-09-30 17:30', name:'Concurrent Sessions'                                         }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-09-30 18:30', endDate:'2016-09-30 21:30', name:'Theater Night Out'                                           }).setStar(true))

    .addProgramEvent(new ProgramEvent({startDate:'2016-10-01 07:00', endDate:'2016-10-01 14:30', name:'Registration'                                                }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-10-01 07:30', endDate:'2016-10-01 08:15', name:'Order of the Engineer Ceremony'                              }).setStar(true))
    .addProgramEvent(new ProgramEvent({startDate:'2016-10-01 08:45', endDate:'2016-10-01 11:45', name:'Optional Tour'                                               }).setURL('#0'))
    .addProgramEvent(new ProgramEvent({startDate:'2016-10-01 08:30', endDate:'2016-10-01 10:00', name:'Concurrent Sessions'                                         }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-10-01 08:30', endDate:'2016-10-01 14:00', name:'Communities and Pavilion'                                    }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-10-01 10:15', endDate:'2016-10-01 11:45', name:'Concurrent Sessions'                                         }))
    .addProgramEvent(new ProgramEvent({startDate:'2016-10-01 12:00', endDate:'2016-10-01 14:00', name:'ASCE Luncheon & Closing General Session'                     }).setStar(true))
    .addProgramEvent(new ProgramEvent({startDate:'2016-10-01 14:30', endDate:'2016-10-01 17:30', name:'Technical Tours'                                             }).setURL('#0'))

  site.getCurrentConference()
    .addImportantDate(new ImportantDate({startTime:'2015-10-12', name:'Optional Final Papers Due'     }))
    .addImportantDate(new ImportantDate({startTime:'2015-12-17', name:'Early-Bird Registration Closes'}).setURL('registration.html'))
    .addImportantDate(new ImportantDate({startTime:'2016-01-12', name:'Advance Registration Closes'   }).setURL('registration.html'))
    .addImportantDate(new ImportantDate({startTime:'2016-06-12', name:'Convention Begins'             }))
    .addImportantDate(new ImportantDate({startTime:'2016-06-15', name:'Convention Ends'               }).hide())

  site.rawdata = {
    comment: 'this is draft data that I don’t want to delete yet'
  , pass: {
      standard: {
        name: 'Standard Pass'
      , description: 'Members & Non-Members'
      , periods: [
          {
            name: 'Early Bird'
          , memberships: [
              { name: 'Member', price: 745, is_featured: true }
            , { name: 'Non-Member', price: 845 }
            ]
          }
        , {
            name: 'Advance'
          , memberships: [
              { name: 'Member', price: 845, is_featured: true }
            , { name: 'Non-Member', price: 945 }
            ]
          }
        , {
            name: 'Onsite'
          , memberships: [
              { name: 'Member', price: 945, is_featured: true }
            , { name: 'Non-Member', price: 1045 }
            ]
          }
        ]
      }
    , speaker: {
        name: 'Speaker Pass'
      , description: 'Speakers and Presenters'
      , periods: [
          {
            name: 'Early Bird'
          , memberships: [
              { name: 'Member', price: 645, is_featured: true }
            , { name: 'Non-Member', price: 745 }
            ]
          }
        , {
            name: 'Advance'
          , memberships: [
              { name: 'Member', price: 745, is_featured: true }
            , { name: 'Non-Member', price: 845 }
            ]
          }
        , {
            name: 'Onsite'
          , memberships: [
              { name: 'Member', price: 945, is_featured: true }
            , { name: 'Non-Member', price: 945 }
            ]
          }
        ]
      }
    , moderator: {
        name: 'Moderator Pass'
      , description: 'Moderators'
      , periods: [
          {
            name: 'Early Bird'
          , memberships: [
              { name: 'Member', price: 645, is_featured: true }
            , { name: 'Non-Member', price: 745 }
            ]
          }
        , {
            name: 'Advance'
          , memberships: [
              { name: 'Member', price: 745, is_featured: true }
            , { name: 'Non-Member', price: 845 }
            ]
          }
        , {
            name: 'Onsite'
          , memberships: [
              { name: 'Member', price: 845, is_featured: true }
            , { name: 'Non-Member', price: 945 }
            ]
          }
        ]
      }
    , ym: {
        name: 'Younger Member'
      , description: 'Members 18–35'
      , periods: [
          {
            name: 'Early Bird'
          , memberships: [
              { name: 'Member/Non-Member', price: 645, is_featured: true }
            ]
          }
        , {
            name: 'Advance'
          , memberships: [
              { name: 'Member/Non-Member', price: 745, is_featured: true }
            ]
          }
        , {
            name: 'Onsite'
          , memberships: [
              { name: 'Member/Non-Member', price: 845, is_featured: true }
            ]
          }
        ]
      }
    , student: {
        name: 'Student Pass'
      , description: 'Undergraduates 18–24'
      , fineprint: true
      , periods: [
          {
            name: 'Early Bird'
          , memberships: [
              { name: 'Member/Non-Member', price: 295, is_featured: true }
            ]
          }
        , {
            name: 'Advance'
          , memberships: [
              { name: 'Member/Non-Member', price: 295, is_featured: true }
            ]
          }
        , {
            name: 'Onsite'
          , memberships: [
              { name: 'Member/Non-Member', price: 395, is_featured: true }
            ]
          }
        ]
      }
    , guest: {
        name: 'Guest Pass'
      , description: 'Speaker and Moderator Guests'
      , periods: [
          {
            name: 'Early Bird'
          , memberships: [
              { name: 'Member/Non-Member', price: 295, is_featured: true }
            ]
          }
        , {
            name: 'Advance'
          , memberships: [
              { name: 'Member/Non-Member', price: 320, is_featured: true }
            ]
          }
        , {
            name: 'Onsite'
          , memberships: [
              { name: 'Member/Non-Member', price: 395, is_featured: true }
            ]
          }
        ]
      }
    , daily: {
        name: 'Daily Pass'
      , description: 'For One Day Only'
      , periods: [
          {
            name: 'Early Bird'
          , memberships: [
              { name: 'Member', price: 495, is_featured: true }
            , { name: 'Non-Member', price: 595 }
            ]
          }
        , {
            name: 'Advance'
          , memberships: [
              { name: 'Member', price: 545, is_featured: true }
            , { name: 'Non-Member', price: 645 }
            ]
          }
        , {
            name: 'Onsite'
          , memberships: [
              { name: 'Member', price: 645, is_featured: true }
            , { name: 'Non-Member', price: 745 }
            ]
          }
        ]
      }
    }
  }
  site.co_chairs = [
    new Person({name:{givenName:'Thomas',  additionalName:'J.', familyName:'McCollough', honorificSuffix:'P.E., M.ASCE'}})
  , new Person({name:{givenName:'Stephen', additionalName:'E.', familyName:'Dickenson',  honorificSuffix:'Ph.D., P.E., D.PE, M.ASCE'}})
  ]

mixin content_pass_student_fineprint()
  | Full-time students must show valid #[abbr(title="identification") ID] onsite at the registration desk when picking up name badge.

mixin minimal-text-block()
  div.o-Runner.o-Runner--highlight.minimal-text: div.o-ContentWrapper
    p.
      Join civil engineering professionals from around the world at
      this ASCE flagship event. Network with peers, earn PDHs, and
      expand your knowledge base.
    p #[a(href="") Lorem ipsum dolor sit amet], consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    ul
      li 3&frac12; days of premier educational and networking events
      li 15 tracks and 6 plenary sessions focusing on ...
      li Prestigious awards and keynote lecture presentations
      li Lively programs for studdnts and young professionals

mixin rich-text-block()
  div.o-Runner.o-Runner--highlight.rich-text: div.o-ContentWrapper
    h2 a heading
    p #[a(href="") Lorem ipsum dolor sit amet], consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    h3 another heading
    blockquote #[a(href="") Aenean euismod bibendum laoreet]. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
    ul
      li 3&frac12; days of premier educational and networking events
      li 15 tracks and 6 plenary sessions focusing on ...
      li Prestigious awards and keynote lecture presentations
      li Lively programs for studdnts and young professionals
    h2 a heading
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    h3 another heading
    blockquote Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
